Repository oharastream/ohara, pull requests merged in 2019-04, with the labels that each got.

#599 #598 Minor factor according to intellij's warnings
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHdfsSinkConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, connector, it, review

#602 #600 Add unit tests for ClusterCollie.verifyNode
  ohara-agent/src/main/scala/com/island/ohara/agent/Agent.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVetifyNode.scala
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/SshdServer.java
Labels: agent, review, testing, testing-util

#609 #607 update version of master branch to 0.4-SNAPSHOT
  README.md
  docker/backend.yml
  docker/build.yml
  docker/swagger/yamls/configurator.yaml
  gradle.properties
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: configurator, others, review

#604 #603 K8SClusterCollieImpl.toClusterDescription doesn't retrieve the o…
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, it, review

#611 #610 remove swagger
  docker/build.yml
  docker/swagger.dockerfile
  docker/swagger/README.md
  docker/swagger/dist/favicon-16x16.png
  docker/swagger/dist/favicon-32x32.png
  docker/swagger/dist/index.html
  docker/swagger/dist/oauth2-redirect.html
  docker/swagger/dist/swagger-ui-bundle.js
  docker/swagger/dist/swagger-ui-standalone-preset.js
  docker/swagger/dist/swagger-ui.css
  docker/swagger/dist/swagger-ui.js
  docker/swagger/generate_json.sh
  docker/swagger/nginx.conf
  docker/swagger/set_proxy.sh
  docker/swagger/yamls/configurator.yaml
  docker/swagger/yamls/swagger.yaml
Labels: others, review

#612 #610 fix some warnings
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkContext.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
Labels: kafka, review

#615 #614 fix some warnings
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkContext.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
Labels: kafka, review

#620 #619 update README.md to use maven repo
  README.md
Labels: others, review

#621 #605 update README.md to use maven repo
  README.md
Labels: others, review

#623 #622 update version of 0.3 branch to 0.3.0
  README.md
  docker/backend.yml
  docker/build.yml
  gradle.properties
Labels: others, review

#625 #624 Add a connector.name property in connector meta data
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: client, kafka, review

#634 #601 Enable JMX service on configurator
  README.md
  bin/ohara-env.sh
  bin/run_java.sh
  docker/backend.yml
Labels: others, review

#627 #626 Use the correct brand name in HTML page title
  ohara-manager/client/public/index.html
Labels: manager, review

#629 #628 Add an npm script to spin up cypress with chrome and fix some failing e2e tests
  ohara-manager/client/cypress/integration/nav.test.js
  ohara-manager/client/cypress/integration/pipelinePage.test.js
  ohara-manager/package.json
Labels: manager, review

#631 #630 Fix main navigation active state not properly showing up
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
Labels: manager, review

#635 #601 Port of RMI connector needs to be configured also
  bin/ohara-env.sh
Labels: others, review

#632 #585 Configurator 提供驗證 K8S 的 slave 是否有安裝的功能
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, review

#640 #626 Use the correct brand name in react components
  ohara-manager/client/src/constants/documentTitles.js
Labels: manager, review

#641 #638 The "name" of ConnectorDescription should be equal to "connector…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
Labels: client, review

#659 #658 Fix flaky TestConnectorValidator.nullSettings
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
Labels: client, review

#661 #660 Fix flaky TestTaskConfig.nullInput and TestTopicCreator.nullOptions
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, review

#665 #664 TestLoadCustomJarToWorkerCluster doesn't release created containers
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: review

#663 #637 Refactor CommonUtils.requireNonEmpty
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
Labels: agent, client, common, review

#662 #601 Enable JMX service on worker cluster
  docker/worker.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-assembly/build.gradle
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanChannel.java
Labels: agent, assembly, client, configurator, it, metrics, others, review

#668 #666 Remove swagger from ohara
  docker/build.yml
  docker/swagger.dockerfile
  docker/swagger/README.md
  docker/swagger/dist/favicon-16x16.png
  docker/swagger/dist/favicon-32x32.png
  docker/swagger/dist/index.html
  docker/swagger/dist/oauth2-redirect.html
  docker/swagger/dist/swagger-ui-bundle.js
  docker/swagger/dist/swagger-ui-standalone-preset.js
  docker/swagger/dist/swagger-ui.css
  docker/swagger/dist/swagger-ui.js
  docker/swagger/generate_json.sh
  docker/swagger/nginx.conf
  docker/swagger/set_proxy.sh
  docker/swagger/yamls/configurator.yaml
  docker/swagger/yamls/swagger.yaml
Labels: others, review

#670 #669 add apache license v2 badge
  README.md
Labels: others, review

#667 #601 add "unit" to Counter to show the meaning of value in Counter
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/TestBeanChannel.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounterBuilder.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounterMBean.java
Labels: metrics, review

#675 #601 add background metrics to row connector
  build.gradle
  ohara-kafka/build.gradle
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorUtils.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanChannel.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanObject.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/TestBeanChannel.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/TestBeanObject.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounterBuilder.java
Labels: kafka, metrics, others, review

#672 #671 Allow users to start custom connectors via UI
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/JdbcSource.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
Labels: manager, review

#679 #601 Add a helper method to create Counter quickly for custom connector
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/CounterBuilder.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestCounterBuilder.java
Labels: kafka, review

#677 #673 Custom connectors should have a default name when it's created
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
Labels: manager, review

#683 #264 Upgrade cypress to 3.2.0
  ohara-manager/client/cypress.json
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, review

#684 #601 Add metrics to /v0/connector
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
Labels: client, configurator, review

#687 #686 Replace complete by onSuccess
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarsRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
Labels: configurator, review

#691 Revert "#686 Replace complete by onSuccess (#687)"
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarsRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
Labels: configurator, review

#636 #584 使用 --k8s 啟動 ohara configurator 需要提供 --node 參數
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorArgument.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
Labels: configurator, review

#695 #693 dockerfile should copy script from git repo rather than local file
  docker/broker.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, review

#694 #686 Replace onSuccess() by complete()
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarsRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
Labels: configurator, review

#698 #697 "configs" in connector request doesn't work
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
Labels: client, configurator, review

#699 #697 "configs" in connector request doesn't work
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
Labels: client, configurator, review

#689 #680 Cypress e2e test broker with service page
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
  ohara-manager/client/src/constants/urls.js
Labels: manager, review

#700 #685 Add connectors info in the workers API
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ContainerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
Labels: client, configurator, it, review

#704 #701 add docs folder and initialize restful apis docs
  docs/README.md
  docs/rest_interface.md
Labels: others, review

#713 #701 add objects docs
  docs/rest_interface.md
Labels: others, review

#715 #714 move streamapp section from root/readme to docs/custom_streamapp.md
  README.md
  docs/README.md
  docs/custom_streamapp.md
Labels: others, review

#712 #708 Pipeline connectors' property form cannot be rendered
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, review

#709 #708 Pipeline connectors' property form cannot be rendered
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, review

#711 #710 Remove quick fill in link in JDBC connector config form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, review

#716 #701 add connector docs
  docs/README.md
  docs/custom_connector.md
  docs/rest_interface.md
Labels: others, review

#717 #701 add pipeline docs
  docs/custom_connector.md
  docs/rest_interface.md
Labels: others, review

#719 #718 add metrics test for Perf source
  ohara-connector/build.gradle
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceMetrics.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: connector, review

#722 #705 K8S 的 pod name 不支援大寫
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: common, configurator, review

#707 #639 修改 K8SClient 的 isK8SNode function name 為 checkNode
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, review

#724 #721 refactor the crane infrastructure
  ohara-agent/src/main/scala/com/island/ohara/agent/Crane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerCraneImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/StreamWarehouseImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Cargo.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Crane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/StreamWarehouse.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Warehouse.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/stream/StreamCargo.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/stream/StreamCrane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/stream/StreamWarehouse.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestStreamCraneWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/TestStreamWarehouse.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamCargo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamCrane.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamWarehouse.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, client, configurator, review

#725 #701 add cluster docs
  docs/rest_interface.md
Labels: others, review

#734 #727 修改 Configurator main function 的 precreate cluster name 為小寫
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorArgument.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
Labels: configurator, review

#732 #728 Add a new RESTful API to force remove services
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Parameters.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
Labels: agent, client, configurator, it, others, review

#737 #701 add validation docs
  docs/custom_connector.md
  docs/rest_interface.md
Labels: others, review

#730 #692 CI should pass necessary parameters to cypress when running tests
  ohara-manager/.gitignore
  ohara-manager/build.gradle
  ohara-manager/scripts/lib/waitOn.js
  ohara-manager/scripts/startAndTest.js
Labels: manager, review

#740 #690 Cypress e2e test connect with service page
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/fixtures/plugin/ohara-it-sink.jar
  ohara-manager/client/cypress/fixtures/plugin/ohara-it-source.jar
  ohara-manager/client/cypress/fixtures/streamApp/streamApp.jar
  ohara-manager/client/cypress/integration/connectPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
  ohara-manager/client/src/constants/urls.js
Labels: manager, review

#739 #701 add containers docs
  docs/rest_interface.md
Labels: others, review

#743 #701 add streamapp docs
  docs/rest_interface.md
Labels: others, review

#744 #701 add jars docs
  docs/rest_interface.md
Labels: others, review

#735 #733 Fix regressions causing by custom connector styles
  ohara-manager/client/src/components/common/Form/Label.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
Labels: manager, review

#748 #736 Disable new topic button when there's no broker cluster present
  ohara-manager/client/src/components/pages/Services/BrokerListPage/BrokerListPage.js
Labels: manager, review

#747 add logs docs
  docs/rest_interface.md
Labels: others, review

#750 #264 Add pipeline list e2e page tests
  ohara-manager/client/cypress/integration/pipeilneListPage.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: manager, review

#753 #264 Add e2e utils to facilitate writing tests
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/integration/pipeilneListPage.test.js
  ohara-manager/client/cypress/integration/pipelinePage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/cypress/support/utils.js
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, review

#760 #720 ohara connector overview
  docs/custom_connector.md
  docs/rest_interface.md
Labels: others, review

#755 #746 K8SClient seems always pull image from docker hub
  kubernetes/README.md
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, others, review

#754 #723 separate the docker client logic from stream router
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerCraneImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/StreamWarehouseImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/StreamWarehouse.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Warehouse.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestCraneWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/TestStreamWarehouse.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/streams/TestRunStreamApp.scala
Labels: agent, client, configurator, it, review

#764 #752 Refactor and clean up old frontend e2e test suites
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/connectPage.test.js
  ohara-manager/client/cypress/integration/homepage.test.js
  ohara-manager/client/cypress/integration/nav.test.js
  ohara-manager/client/cypress/integration/pipeilneListPage.test.js
  ohara-manager/client/cypress/integration/pipelinePage.test.js
  ohara-manager/client/cypress/integration/zookeeperPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Modal/InfoModal.js
  ohara-manager/client/src/components/pages/Services/BrokerListPage/BrokerListPage.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
  ohara-manager/client/src/components/pages/Services/ZookeeperListPage/ZookeeperListPage.js
  ohara-manager/client/src/constants/urls.js
  ohara-manager/client/yarn.lock
Labels: manager, review

#769 #761 Update streamApp docs
  docs/rest_interface.md
Labels: others, review

#763 #738 ZK & BK service info display is incomplete
  ohara-manager/client/src/components/pages/Services/BrokerListPage/BrokerListPage.js
  ohara-manager/client/src/components/pages/Services/ZookeeperListPage/ZookeeperListPage.js
  ohara-manager/client/src/components/pages/Services/ZookeeperListPage/styles.js
Labels: manager, review

#774 #773 add tests for RowSourceRecord.Builder
  ohara-client/src/test/scala/com/island/ohara/client/kafka/MyConnectorTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSourceRecord.java
Labels: client, connector, kafka, review

#768 #752 Add e2e tests to verify that users are able to add new topics into a pipeline graph
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
Labels: manager, review

#775 #720 [docs] custom source connector
  docs/custom_connector.md
Labels: others, review

#777 #752 Add e2e tests to verify that users are able to add new stream app into a pipeline graph
  ohara-manager/client/cypress/integration/connectPage.test.js
  ohara-manager/client/cypress/integration/pipeilneListPage.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: manager, review

#782 #779 Show the download icon of bintray repo
  README.md
Labels: others

#780 #762 pipeline id should not use in stream router url
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Parameters.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/streams/TestRunStreamApp.scala
Labels: client, configurator, it, others, review

#766 #765 修改 K8SClient#pullImagePolicy default value
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, review

#786 #781 StreamClusterInfo should use constant rather than variable
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
Labels: client, review

#787 #785 Error message in ConnectorDescription should be same as kafka's …
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
Labels: configurator, review

#788 #772 Cypress e2e test broker and zookeeper with service page
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/zookeeperPage.test.js
Labels: manager, review

#790 #783 Fix adding a new topic into pipeline graph e2e test
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
Labels: manager, review

#795 #794 A bit refactor for RowSinkRecord and TopicPartition
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/DataWriter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/TopicPartitionWriter.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkContext.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TimestampType.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TopicPartition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSinkRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestTopicPartition.java
Labels: connector, kafka, review

#791 #527 Add setting definitions to perf source
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
Labels: connector, review

#792 #789 streamApp list APIs will fail
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: configurator, review

#812 #799 JarStore should support to rename a jar
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarsRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestJarStore.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, common, configurator, it, others, review

#798 #796 the VersionUtils generated at runtime accept a env variable to c…
  ohara-common/build.gradle
Labels: common, review

#804 #803 Fix pipeline topic graph cannot be removed bug
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: manager, review

#800 #797 Change frontend's stream app API request body
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineToolbar.test.js
Labels: manager, review

#806 #752 Add e2e tests to verify that users can save graph after adding/removing new connectors
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
Labels: manager, review

#817 #816 Both of zk and bk image should display ohara's version when runn…
  docker/broker.dockerfile
  docker/broker.sh
  docker/worker.sh
  docker/zk.sh
  docker/zookeeper.dockerfile
Labels: others, review

#818 #807 Fix official connectors names not using the right response prop issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
Labels: manager, review

#815 #720 [docs] sink connector
  docs/custom_connector.md
Labels: others, review

#821 #814 RowSinkContext.offset should take primitive type.
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkContext.java
Labels: kafka, manager, others, review

#809 #751 change request body of stream APIs
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/StreamWarehouseImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, client, configurator, others, review

#823 #752 Add e2e tests to verify that users can see the correct relation between connectors in the pipeline graph
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
Labels: manager, review

#825 #822 Do not remove node_modules while using yarn clean command in manager
  ohara-manager/README.md
  ohara-manager/package.json
Labels: manager, review

#820 #525 Apply ohara Enum helper class to code base
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/NetworkDriver.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8sContainerState.scala
  ohara-client/src/main/scala/com/island/ohara/client/Enum.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FileType.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/CleanupPolicy.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusJson.scala
Labels: agent, client, it, review

#826 #720 [docs] version in custom connector
  docs/custom_connector.md
Labels: others, review

#828 #827 K8sClient.images doesn't show all images actually
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
Labels: agent, review

#793 #776 open jmx service of broker cluster
  docker/broker.sh
  docker/worker.sh
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreationRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, client, configurator, it, others, review

#830 #829 SettingDefinition.internal and SettingDefinition.tableKeys ought…
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
Labels: kafka, review

#837 #720 [docs] setting definition
  docs/custom_connector.md
Labels: others, review

#845 #843 Expose the internal setting "name"
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorCreator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara741.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara743.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBC2HDFS.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceMetrics.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Creation.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSink.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSource.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: client, configurator, connector, kafka, review

#844 #801 Stream app's prop form is not updating correctly
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/utils/generate.js
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, review

#850 #720 [docs] metrics
  docs/custom_connector.md
Labels: others, review

#824 #770 Change generated task of streamApp jar to ohara-it
  ohara-it/build.gradle
  ohara-it/src/main/scala/com/island/ohara/it/streamapp/DumbStreamApp.scala
  ohara-streams/build.gradle
Labels: it, review, streams

#842 #520 K8SClient class 的 function 需要修改成 future
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, review

#852 #720 [docs] add quick links
  docs/custom_connector.md
Labels: others, review

#856 #720 [docs] add dependencies description for custom connector
  docs/custom_connector.md
Labels: others, review

#854 #714 complete docs for gradle commands and ohara installation
  CONTRIBUTING.md
  README.md
Labels: others, review

#851 #841 ohara should add the default value to input configs if user don'…
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestTaskConfig.java
Labels: kafka

#839 #836 Add frontend code style checking and linting in the CI build step
  ohara-manager/build.gradle
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, review

#861 #847 Allow the custom connector to load topic list without the need of refreshing page
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/JdbcSource.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, review

#859 #840 Add tests for StreamApp APIs
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/data/Poneglyph.java
  ohara-streams/src/main/java/com/island/ohara/streams/data/Stele.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestOStream.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamAppTopology.java
Labels: review, streams

#868 #224 Supprt mutiple instance for streamApp router
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/StreamWarehouseImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestCraneWithoutDockerServer.scala
Labels: agent, review

#869 Fix fkaky TestPerfSourceProps.testEmptyTopics
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: connector, review

#863 #862 Change frontend service name validation rules for supporting k8s
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
Labels: manager, review

#877 #876 Revert "Fix fkaky TestPerfSourceProps.testEmptyTopics (#869)"
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: review

#858 #714 move installation section from root/readme to docs/user_guide
  README.md
  docs/README.md
  docs/user_guide.md
Labels: others, review

#880 #867 Fix flaky TestPerfSourceProps.testEmptyTopics
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: connector, review

#882 #881 Re-add the id for metrics counter
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounterBuilder.java
Labels: metrics, review

#879 #878 Fix flaky TestHDFSSinkConnector.testRunMiniClusterAndAssignConfig
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
Labels: connector, flaky, review

#871 #865 Allow users to start, stop and remove a custom connector with the UI
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
Labels: manager, review

#884 #838 K8sClient need add command and args arguments
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/build.gradle
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, configurator, review

#848 #833 The settings in PerfSource declares they have default value but…
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: connector, review

#872 #864 DataStore#exist() should return false if id not exist
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestDataStore.scala
Labels: configurator, review

#891 #887 Simplify the jsonformat of CreatePodContainer
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
Labels: agent, review

#888 #776 expose metrics of topics throught pipeline APIs
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/kafka/TopicMeter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/kafka/TestTopicMeter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/kafka/TestTopicMeterFromCluster.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Workers.java
Labels: agent, client, configurator, metrics, others, review, testing-util

#892 #875 Fix flaky TestFtpSourceTask.createTask
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
Labels: connector, review

#890 #889 Fix flaky TestCraneWithoutDockerServer.normalCase
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestCraneWithoutDockerServer.scala
Labels: agent, flaky, review

#903 #899 Create new service modal failed when submitting
  ohara-manager/client/src/components/common/Loader/TableLoader.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
  ohara-manager/client/src/components/pages/Services/__tests__/WorkerListPage.test.js
  ohara-manager/client/src/components/pages/Services/__tests__/WorkerNewModal.test.js
  ohara-manager/client/src/utils/testUtils.js
Labels: manager, review

#898 #874 Rename gradle properties for manager IT tests
  ohara-manager/build.gradle
Labels: manager, review

#902 #540 Add more tests for PerfConnector
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
Labels: connector, review

#906 #874 ohara-manager:it should depend on ohara-it:jar rather than ohara…
  ohara-manager/build.gradle
Labels: review

#896 #776 expose metrics of topics throught topic APIs
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/MetricsApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
Labels: client, configurator, others, review

#909 #908 BeanChannel always link to local jvm
  ohara-metrics/.attach_pid28510
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanChannel.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/TestBeanChannel.java
Labels: metrics, review

#914 Revert "841 remove optional type from FTP connector props if they hav…
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTaskProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTaskProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpProperties.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkTaskProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTaskProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara741.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara743.scala
Labels: review

#913 #860 [docs] User Guide - quick start
  docs/user_guide.md
Labels: others, review

#916 #886 Add custom check for Type.Table
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerJson.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Creation.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Validation.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCreation.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestValidation.java
Labels: client, configurator, kafka, review

#921 #853 add Type.Duration to connector
  docs/rest_interface.md
  ohara-client/src/test/scala/com/island/ohara/client/kafka/MyConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
Labels: client, kafka, others, review

#925 #924 Jmx port is not used by BrokerCollieImpl.doAddNode and K8SWorkerCollieImpl.doCreate
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
Labels: agent, review

#929 #928 [docs] typo on user_guide
  docs/user_guide.md
Labels: others

#930 #759 Add a final like hook in frontend e2e tests
  ohara-manager/.gitignore
  ohara-manager/build.gradle
  ohara-manager/package.json
  ohara-manager/scripts/cleanAllServices.js
  ohara-manager/scripts/createServices.js
  ohara-manager/utils/apiHandler.js
Labels: manager, review

#931 #853 add Type.Duration to perfSource
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: connector, review

#912 #900 Add it tests for streamApp
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/streams/TestRunStreamApp.scala
Labels: client, configurator, it, review

#934 #933 Enable custom checker for ohara connector
  docs/custom_connector.md
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestPropGroups.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
Labels: kafka, others, review
