Repository oharastream/ohara, pull requests merged in 2019-05, with the labels that each got.

#976 #972 Fix flaky TestMetrics.testConnector
  ohara-configurator/src/test/resources/log4j.properties
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
Labels: configurator, review

#977 #973 PropGroups.toColumn should accept upper case
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroups.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestPropGroups.java
Labels: kafka, review

#970 #969 Remove previous e2e report before creating a new one
  ohara-manager/scripts/mergeE2eReports.js
  ohara-manager/scripts/startAndTest.js
Labels: manager, review

#981 #893 Update sbt projects and dependencies
  build.sbt
  project/dependencies.scala
  project/plugins.sbt
Labels: others, review

#980 #979 add file helpers to CommonUtils
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Brokers.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Database.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/FtpServer.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Hdfs.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Zookeepers.java
  ohara-testing-util/src/test/java/com/island/ohara/testing/service/TestFtpServer.java
Labels: common, configurator, review, streams, testing-util

#949 #895 Fix frontend streamApp failing e2e tests
  ohara-manager/.gitignore
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/login.test.js
  ohara-manager/client/cypress/integration/nav.test.js
  ohara-manager/client/cypress/integration/nodePage.test.js
  ohara-manager/client/cypress/integration/pipelineListPage.test.js
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/integration/workerPage.test.js
  ohara-manager/client/cypress/integration/zookeeperPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/cypress/utils.js
Labels: manager, review

#967 #911 Add remove streamApp restful api
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: client, configurator, others, review

#985 #974 a generic cache implementation
  gradle/dependencies.gradle
  ohara-common/build.gradle
  ohara-common/src/main/java/com/island/ohara/common/cache/Cache.java
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
Labels: common, others, review

#983 #982 Fix frontend e2e failed build on CI
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/homepage.test.js
  ohara-manager/client/cypress/integration/pipelineListPage.test.js
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/package.json
  ohara-manager/scripts/cleanAllServices.js
  ohara-manager/scripts/createServices.js
  ohara-manager/scripts/handleServices.js
  ohara-manager/scripts/mergeE2eReports.js
  ohara-manager/scripts/startAndTest.js
  ohara-manager/yarn.lock
Labels: manager, review

#992 #974 apply cache to topic APIs
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
Labels: common, configurator, review

#990 #989 Custom connector config form should not render def that has an internal prop equal to true
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
Labels: manager, review

#994 #893 Update Sbt: generate VersionUtils.java dynamically
  build.sbt
  project/VersionUtilsGenerator.scala
Labels: others, review

#997 #974 apply cache to connector APIs
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
Labels: configurator, review

#1003 #974 apply cache to pipeline APIs
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
Labels: configurator, review

#999 #991 Do not run frontend format check against the generated json file
  ohara-manager/.prettierignore
Labels: manager, review

#1001 #1000 Clean up frontend's npm scripts
  ohara-manager/README.md
  ohara-manager/package.json
Labels: manager, review

#987 #895 Fix brokers, pipeline List page and workers pages flaky tests
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
Labels: manager, review

#1006 Revert "Clean up frontend's npm scripts (#1001)"
  ohara-manager/README.md
  ohara-manager/package.json
Labels: review

#1010 #1000 Clean up frontend's npm scripts
  ohara-manager/README.md
  ohara-manager/package.json
Labels: manager, review

#1014 #1013 Fix typo of checkYarnVersion.js
  ohara-manager/scripts/checkYarnVersion.js
Labels: manager, review

#1011 #244 Include how to switch node.js version in Manager README.md
  ohara-manager/README.md
Labels: manager, review

#1009 #1007 TestShabondiK8S doesn't check the existence of input argument
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
Labels: flaky, it, review

#1017 #1016 [docs] adding jar section example keyword should be "jar" but "filename"
  docs/rest_interface.md
Labels: others, review

#1004 #907 The return object of K8SClient#containerCreator() should not need wrap by Future
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8sStreamWarehouseImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
Labels: agent, configurator, it, review

#1015 #1012 Fix frontend pipeline new/edit page flaky e2e tests
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
Labels: manager, review

#996 #986 The jars upload to worker should be moved to libs folder rather …
  docker/worker.sh
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
Labels: agent, client, configurator, it, others, review

#1021 #1020 Fix flaky ZookeeperCollie.scala unsupported exception
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator, review

#1019 #974 apply cache to collie
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerCraneImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/Cache.java
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
Labels: agent, common, configurator, it, review

#1025 Revert "fix_1020 Remove unsupported exception to ZookeeperCollie interface (#1021)"
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator, review

#1029 #893 Update Sbt: add dependencies
  build.sbt
  project/dependencies.scala
Labels: others, review

#1032 #1030 Do not use any third party libs inside checkYarnVersion.js
  ohara-manager/scripts/checkYarnVersion.js
Labels: manager, review

#1033 #1027 add wait for zk creation when starting configurator
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: agent, common, configurator, review

#1031 #1020 Fix flaky ZookeeperCollie.scala unsupported exception
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator, review

#1037 #1034 Replace 0.4-SNAPSHOT with 0.5-SNAPSHOT in ohara codebase
  docker/backend.yml
  docker/build.yml
  docs/custom_connector.md
  docs/custom_streamapp.md
  docs/rest_interface.md
  docs/user_guide.md
  gradle.properties
  kubernetes/README.md
  ohara-manager/client/cypress/support/commands.js
Labels: manager, others, review

#1057 #1038 file operations should not use OS-dependent char
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, review

#1058 #1022 ContainerCollie should split removeNode to two phases. One is check the current status. Another is do the really action
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator, review

#1067 #1066 [docs] readme on validation node connection has wrong example request
  docs/rest_interface.md
Labels: others, review

#1064 #1022 ContainerCollie should split removeNode to two phases. One is check the current status. Another is do the really action
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator, review

#1065 #1055 Add the test connection function in custom connector
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/api/__tests__/authApi.test.js
  ohara-manager/client/src/api/__tests__/brokerApi.test.js
  ohara-manager/client/src/api/__tests__/configurationApi.test.js
  ohara-manager/client/src/api/__tests__/connectorApi.test.js
  ohara-manager/client/src/api/__tests__/infoApi.test.js
  ohara-manager/client/src/api/__tests__/jarApi.test.js
  ohara-manager/client/src/api/__tests__/log.test.js
  ohara-manager/client/src/api/__tests__/nodeApi.test.js
  ohara-manager/client/src/api/__tests__/pipelineApi.test.js
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/__tests__/topicApi.test.js
  ohara-manager/client/src/api/__tests__/validateApi.test.js
  ohara-manager/client/src/api/__tests__/workerApi.test.js
  ohara-manager/client/src/api/__tests__/zookeeperApi.test.js
  ohara-manager/client/src/api/apiUtils.js
  ohara-manager/client/src/api/authApi.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/configurationApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/infoApi.js
  ohara-manager/client/src/api/jarApi.js
  ohara-manager/client/src/api/logApi.js
  ohara-manager/client/src/api/nodeApi.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/validateApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/__tests__/customConnectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/__tests__/LogoutPage.test.js
  ohara-manager/client/src/utils/__tests__/apiHelpers.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, review

#1005 #963 Complete the java doc in streamApp java api
  ohara-streams/src/main/java/com/island/ohara/streams/OGroupedStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/OTable.java
  ohara-streams/src/main/java/com/island/ohara/streams/data/Poneglyph.java
  ohara-streams/src/main/java/com/island/ohara/streams/data/Stele.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/KeyValue.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/KeyValueMapper.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OGroupedStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Predicate.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Reducer.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/ValueMapper.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamAppTopology.java
Labels: review, streams

#1072 #1045 Fix flaky BasicTests4Collie
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, client, common, configurator, it, others, review

#1046 #1045 Fix flaky BasicTests4Collie
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, client, common, configurator, it, others, review

#1075 #1071 Remove the support for other kafka env in streamApp java api
  docs/custom_streamapp.md
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/DataImporter.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForExternalEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestOStream.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/DataUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamAppTopology.java
Labels: others, streams

#1084 #993 Add template for umbrella issue
  .github/ISSUE_TEMPLATE/umbrella-issue.md
Labels: others

#1088 #1087 Cannot run streamApp normally in pipeline
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
Labels: others, streams

#1090 #1087 Cannot run streamApp normally in pipeline (backport to 0.4)
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
Labels: others, streams

#1094 #1092 Cannot stop streamApp normally in pipeline
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8sStreamWarehouseImpl.scala
Labels: agent, others

#1095 #1092 Cannot stop streamApp normally in pipeline (backport to 0.4)
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8sStreamWarehouseImpl.scala
Labels: agent, others

#1099 #1052 As a Frontend dev, we should stabilize flaky end-to-end tests
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/workerPage.test.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/WorkerListPage.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
  ohara-manager/client/src/components/pages/Services/__tests__/WorkerListPage.test.js
  ohara-manager/client/src/components/pages/Services/__tests__/WorkerNewModal.test.js
Labels: manager, others

#1085 #1039 idempotent delete for data object
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarsRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/Store.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestDataStore.scala
Labels: client, configurator, others

#1117 #1080 Remove ID from Topic APIs
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: client, configurator, others

#1113 #1109 Remove get table button from jdbc config form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, others

#1122 #1109 Remove get table button from jdbc config form (backport to 0.4)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, others

#1119 #918 [docs] Configurator introduction
  docs/configurator_arch.jpg
  docs/user_guide.md
Labels: others

#1123 #1124 Update version of 0.4 branch to 0.4.0
  docker/backend.yml
  docker/build.yml
  docs/custom_connector.md
  docs/custom_streamapp.md
  docs/rest_interface.md
  docs/user_guide.md
  gradle.properties
  kubernetes/README.md
  ohara-manager/client/cypress/support/commands.js
Labels: manager, others

#1130 #1077 Change the streamApp java api generic type <K, V> to Row
  ohara-it/src/main/scala/com/island/ohara/it/streamapp/DumbStreamApp.scala
  ohara-streams/src/main/java/com/island/ohara/streams/OGroupedStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/OTable.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/AbstractStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Conditions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/ForeachAction.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/KeyValue.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/KeyValueMapper.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OGroupedStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OTableImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Predicate.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Reducer.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamPartitioner.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamsConfig.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/ValueMapper.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Valuejoiner.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForOharaEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamAppTopology.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Brokers.java
Labels: it, others, streams, testing-util

#1126 #731 add UT for K8sClient.images
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/SimpleServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, others

#1140 #1139 The ID is removed from Topic APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
Labels: client, others

#1138 #1107 enable Validator connector to fetch table
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/DatabaseClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestDatabaseClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, others

#1144 #1107 QueryRoute should fetch table via Validator connector
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/DatabaseClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestDatabaseClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, others

#1146 #1107 remove postgresql driver from Configurator image
  ohara-assembly/build.gradle
Labels: assembly, others

#1145 #1107 add JDBC_TABLE type to connector setting
  docs/custom_connector.md
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinitions.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
Labels: connector, kafka, others

#1143 #518 Cleanup unused fields from InfoRoute
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
Labels: client, configurator, others

#1141 #1125 Add delete function in streamApp config form
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
Labels: manager, others

#1152 #1135 Add POST restful api of streamApp property
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
Labels: client, configurator, it, others

#1150 #918 [docs] zookeeper introduction
  docs/user_guide.md
Labels: others

#1155 #1070 Fix material UI warning in the browser console
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, others

#1159 #1158 add test of checking data miss in RefreshableCache
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
Labels: common, others

#1156 #1114 Implement Pair class to ohara
  ohara-common/src/main/java/com/island/ohara/common/data/Pair.java
  ohara-common/src/test/java/com/island/ohara/common/data/TestPair.java
Labels: common, others

#1165 #1164 Move all toXXXCluster from ClusterCollie to XXXCollie
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
Labels: agent, it, others

#1160 #1101 add more tests for StreamApp java api
  ohara-streams/build.gradle
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
Labels: others, streams

#1163 #1162 change the streamApp doc to fit the streamApp java api changes
  docs/custom_streamapp.md
Labels: others

#1161 #731 K8SClient#testPolicyIsIfNotPresent methods of K8sClient by unit tests
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, others

#1142 #1104 ContainerCollie 需要做到 addNode 的 check
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
Labels: agent, configurator, others

#1170 #1089 Add CommonUtils.downloadUrl function
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
Labels: common, others, streams

#1181 #1180 Unify the user name in all ohara images
  docker/broker.dockerfile
  docker/prometheus.dockerfile
  docker/zookeeper.dockerfile
Labels: others

#1184 #1173 SshBuilder should have a default pool to execute cache update
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Crane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerCraneImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestCraneWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVetifyNode.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, configurator, it, others

#1182 #918 [docs] broker introduction
  docs/user_guide.md
Labels: others

#1183 #918 [docs] trouble-shutting for configurator
  docs/user_guide.md
Labels: others

#1191 #918 [docs] worker introduction
  docs/user_guide.md
Labels: others

#1189 #1153 Replace Pair class of stream java api to ohara class
  ohara-streams/build.gradle
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Conditions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamAppTopology.java
Labels: others, streams

#1192 #1171 Rename TestVetifyNode to TestVerifyNode
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
Labels: agent

#1197 #1167 Update manager to use the new response data coming from stream APIs
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
Labels: manager

#1178 #1093 Add tests if the cluster is not exist in stream route
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
Labels: client, configurator, it

#1195 #1194 update gradle to 5.4.1
  docker/build.yml
  docker/deps.dockerfile
  docker/streamapp.dockerfile
Labels: others

#1166 #185 Introduce RocksDB Store
  docs/user_guide.md
  gradle/dependencies.gradle
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarsRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/UrlGenerator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MemoryStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/RocksStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/Store.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/BasicTestStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestDataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestInMemoryStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestStoreBuilder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, configurator, it, others

#1200 #1196 Fix flaky TestK8SSimple.testK8SImages
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
Labels: it

#1202 #1186 Refactor TestK8SStreamApp and TestSshStreamApp
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
Labels: configurator, it

#1203 #1121 Display the URL on Jar APIs
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/UrlGenerator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
Labels: client, configurator, others

#1206 #873 Incorrect serialization in creating connector on kafka
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleServer.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/Test873.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
Labels: client, configurator

#1207 #185 [docs] usage of RocksDB
  docs/configurator_arch.jpg
  docs/user_guide.md
Labels: others

#1193 #1179 Fix frontend flaky e2e tests
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/integration/workerPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/scripts/handleServices.js
  ohara-manager/scripts/startAndTest.js
Labels: manager

#1205 #1121 Worker APIs should show the details of Jar
  docker/worker.sh
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/UrlGenerator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: agent, client, configurator, others

#1204 #1198 add metrics interface into streamApp module
  ohara-streams/build.gradle
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/AbstractStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestSimpleStreamCounter.java
Labels: streams

#1217 #1216 Multiple zookeepers and multiple brokers cause topic can't create
  ohara-manager/client/src/api/__tests__/topicApi.test.js
  ohara-manager/client/src/api/__tests__/workerApi.test.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/workerApi.js
Labels: manager

#1222 #1221 Upload metrics jar to maven repo
  ohara-metrics/build.gradle
Labels: metrics

#1219 #1218 Auto-fill the "tasks.max" field for connector
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
Labels: client, configurator

#1228 #1176 Fix flaky TestDataTransmissionOnCluster.testRowProducer2RowCons…
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
Labels: client

#1231 #1230 Update docker image version in ohara codebase from 0.4.0 to 0.4.1
  docker/backend.yml
  docker/build.yml
  docs/custom_connector.md
  docs/custom_streamapp.md
  docs/rest_interface.md
  docs/user_guide.md
  gradle.properties
  kubernetes/README.md
  ohara-manager/client/cypress/support/commands.js
Labels: manager, others

#1223 #1221 Upload metrics jar to maven repo (backport to 0.4)
  ohara-metrics/build.gradle
Labels: metrics

#1212 #904 Refactor crane to collie
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Crane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerCraneImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/StreamWarehouseImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8sCraneImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/Cache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Warehouse.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestCraneWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestCache.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeClusterCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
Labels: agent, client, configurator, it

#1215 #1201 UI cannot update stream app property form as jar id is missing
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/components/common/FormFields/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
Labels: manager

#1199 #651 K8S and SSH ZookeeperCollie#creator common code move to ContainerCollie
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator

#1238 #1044 Update sbt build: license check & code style check
  build.sbt
  project/VersionUtilsGenerator.scala
  project/dependencies.scala
  project/plugins.sbt
Labels: others

#1236 #1234 remove the file size limit for streamApp jar
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator

#1235 #1234 remove the file size limit for streamApp jar
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: configurator

#1243 #1242 Update sbt build: license check & code style check
  build.sbt
  project/VersionUtilsGenerator.scala
  project/dependencies.scala
  project/plugins.sbt
Labels: others

#1232 #1026 Enable configurator image to show the revision
  docker/configurator.dockerfile
  docker/configurator.sh
Labels: others

#1248 918 [docs] docker introuduction
  docs/user_guide.md
Labels: others

#1239 #1237 Modify K8S install README.md file
  docs/user_guide.md
  kubernetes/README.md
Labels: others

#1226 #1224 The scala module's source jar is not uploaded to our repo center
  build.gradle
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-common/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-kafka/build.gradle
  ohara-shabondi/build.gradle
  ohara-streams/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, client, common, configurator, connector, kafka, others, shabondi, streams, testing-util

#1177 #1168 Rewrite ftp source connector component and use the new API
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/UtilsTabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/__tests__/customConnectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/JdbcSource.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
Labels: manager

#1225 #1224 The scala module's source jar is not uploaded to our repo center
  build.gradle
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-common/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-kafka/build.gradle
  ohara-shabondi/build.gradle
  ohara-streams/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, client, common, configurator, connector, kafka, others, shabondi, streams, testing-util

#1255 #1254 Remove ClusterInfo from ClusterCache and MeterCache
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
Labels: agent, configurator

#1246 #1245 clusterCache has no effect for streamApp
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: agent, configurator, it

#1244 #651 Move zkCreator function from ContainerCollie to ZookeeperCollie class
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
Labels: agent, configurator

#1263 #1254 Remove ClusterInfo from ClusterCache and MeterCache
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
Labels: agent, configurator

#1264 #1262 Both TestDockerClient and TestPrometheus should take node info …
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: it

#1260 #483 Upgrade frontend dependencies to get rid of vulnerability warnings
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager

#1265 #1258 Ohara Configurator should return the link to docs instead of un…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ErrorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
Labels: client, configurator

#1269 Revert "#651 Move zkCreator functin from ContainerCollie to ZookeeperCollie class (#1244)"
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
Labels: agent, configurator

#1271 Revert "#651 K8S and SSH ZookeeperCollie#creator common code move to ContainerCollie (#1199)"
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator

#1233 #1106 Use wk as the connect worker name will produce a different name
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
Labels: agent

#1273 #1270 K8S and SSH ZookeeperCollie#creator common code move to ZookeeperCollie
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
Labels: agent, configurator

#1250 #1213 enable streamApp image using jmx
  docker/streamapp.dockerfile
  docker/streamapp.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, client, configurator, others

#1275 #1026 Enable streamApp image to show the revision
  docker/streamapp.sh
Labels: others

#1276 #518 remove parameter clusterName from URL
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
Labels: configurator

#1280 #1279 Fix flaky TestValidationOfHdfs
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
Labels: configurator

#1274 #1097 Refactor hdfs sink connector to use the new metadata API
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/TestConnectionBtn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/hdfsSinkUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/hdfsSinkUtils.js
  ohara-manager/client/src/propTypes/pipeline.js
  ohara-manager/client/src/utils/generate.js
Labels: manager

#1285 #1266 Update the user guide for the common network problems
  docs/user_guide.md
Labels: others

#1290 #175 Upgrade kafka version from 1.0.2 to 2.2.0
  docker/broker.dockerfile
  docker/build.yml
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  gradle/dependencies.gradle
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Consumed.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestDataImporter.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Brokers.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Workers.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Zookeepers.java
  project/dependencies.scala
Labels: client, configurator, kafka, others, streams, testing-util

#1292 #1291 validation of node should check topic name manually
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Validation.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestValidation.java
Labels: client, configurator, kafka

#1294 #1293 remove in-memory store
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MemoryStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/Store.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestInMemoryStore.scala
Labels: configurator

#1297 #1097 Wrap hdfs sink connector with final form
  ohara-manager/client/src/components/common/FormFields/InputField.js
  ohara-manager/client/src/components/common/FormFields/SelectField.js
  ohara-manager/client/src/components/common/FormFields/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: manager

#1277 #1253 Add more different samples (at least three) for streamApp
  ohara-streams/src/main/java/com/island/ohara/streams/OGroupedStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OGroupedStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Reducer.java
  ohara-streams/src/test/java/com/island/ohara/streams/StreamTestUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/SumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/WordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
Labels: streams

#1296 #968 Refactor stream route to be more tidy
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: client, configurator

#1300 #1283 Add streamApp development document
  docs/custom_streamapp.md
  ohara-streams/src/main/java/com/island/ohara/streams/OGroupedStream.java
Labels: others, streams

#1303 #1168 Wrap ftp source connector metadata table type with final form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/NewRowModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomFinalForm.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
Labels: manager

#1311 #1309 Move AdminCleaner to Configurator
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/AdminCleaner.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestAdminCleaner.scala
Labels: configurator

#1310 #1302 Increase file size limit in JarRoute and StreamRoute
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: client, configurator

#1308 #1307 Metadata table sort fail
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomFinalForm.js
Labels: manager

#1278 #1137 Implement abstract source connector for csv file
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextFileSystem.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextSourceConverter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextSourceConverterFactory.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/CsvOffsetCache.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/CsvSourceConverter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/CsvSourceConverterFactory.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/OffsetCache.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/StreamUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/text/csv/TestCsvOffsetCache.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/text/csv/TestCsvSourceConvertFactory.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/text/csv/TestCsvSourceConverter.java
Labels: connector, kafka

#1295 #918 k8s introduction
  docs/user_guide.md
Labels: others

#1316 #1306 Upgrade all connectors with the new meta data API
  ohara-manager/client/src/components/common/Tabs/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/Select.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/UtilsTabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/__tests__/customConnectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/customConnectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FinalFormWrapper.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/commonUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
  ohara-manager/client/src/constants/pipelines.js
Labels: manager

#1325 #1179 Upgrade Cypress to 3.3.0 and fix some streamApp e2e test bug
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/integration/zookeeperPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager

#1321 Rename Valuejoiner to Value"J"oiner
  docs/custom_streamapp.md
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/ValueJoiner.java
Labels: others, streams

#1323 #1306 Upgrade mui and use mui tab in our component system
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Mui/Form/Button.js
  ohara-manager/client/src/components/common/Tabs/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/TestConfigBtn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/TestConnectionBtn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
  ohara-manager/client/src/theme/globalStyle.js
  ohara-manager/client/yarn.lock
Labels: manager

#1327 #1326 add timestamp and timestampType to Record
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TimestampType.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSinkRecord.java
Labels: kafka

#1328 #1312 Fix flaky TestPageViewRegionExample
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
  ohara-streams/src/test/java/com/island/ohara/streams/StreamTestUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
Labels: streams

#1324 #918 UI introduction
  docs/configurator_arch.jpg
  docs/user_guide.md
Labels: others
