Repository oharastream/ohara, pull requests merged in 2019-11, with the labels that each got.

#3146 #3145 Fail to generate nested cell
  ohara-common/src/main/java/com/island/ohara/common/data/DataType.java
  ohara-common/src/main/java/com/island/ohara/common/data/Serializer.java
  ohara-common/src/test/java/com/island/ohara/common/data/TestSerializer.java
Labels: common, v0.9.0

#3154 #3152 Definitions have some wrong settings
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
Labels: client, v0.9.0

#3153 #2115 Change stream api prefix from stream to streams
  docs/src/custom_streamapp.rst
  docs/src/rest/index.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-streams.rst
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
Labels: client, configurator, docs, v0.9.0

#3147 #3135 convert ohara.Row to json representation completely
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPackage.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JioData.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonIn.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonOut.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioData.scala
Labels: client, configurator, connector, v0.9.0

#3163 #3144 Remove sbt build configuration
  build.sbt
  project/VersionUtilsGenerator.scala
  project/build.properties
  project/dependencies.scala
  project/plugins.sbt
Labels: others, v0.9.0

#3140 #3125 Added time frequence argument for JDBC source connector
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnectorConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/ResultSetDataConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
Labels: connector, v0.9.0

#3143 #3121 Manager API adds definition support
  ohara-manager/client/src/api/body/brokerBody.js
  ohara-manager/client/src/api/body/connectorBody.js
  ohara-manager/client/src/api/body/streamAppBody.js
  ohara-manager/client/src/api/body/topicBody.js
  ohara-manager/client/src/api/body/workerBody.js
  ohara-manager/client/src/api/body/zookeeperBody.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/infoApi.js
  ohara-manager/client/src/api/streamAppApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/api/utils/validation.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
Labels: manager, v0.9.0

#3175 #3139 [Manager] Ensure that the test connection behaves correctly
  ohara-manager/client/src/components/Node/AddNodeDialog.js
Labels: manager, v0.9.0

#3177 #3164 remove Query APIs
  docs/src/rest/index.rst
  docs/src/rest/rest-query.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestQueryTopicByDeprecatedApis.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
Labels: client, configurator, docs, v0.9.0

#3176 #3174 [Manager] Restyle from inputs according to the new design mock
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Pipeline/PipelineNavigator.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.9.0

#3179 #3028 Add connector, pipeline API tests
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/configs/cypress.api.json
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/src/api/body/connectorBody.js
  ohara-manager/client/src/api/body/pipelineBody.js
  ohara-manager/client/src/api/body/workerBody.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/api/streamAppApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/api/utils/waitUtils.js
  ohara-manager/client/src/api/workerApi.js
Labels: manager, v0.9.0

#3183 #3166 remove deprecated field "required" from definition
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
Labels: common, v0.9.0

#3178 #3150 Added K8S namespace argument for K8SClient and configurator service
  docs/src/user_guide.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
Labels: agent, configurator, docs, it, v0.9.0

#3182 #3162 the type of default value should be equal to DataType.value
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/TestConnectors.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioSettings.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, common, configurator, connector, docs, kafka, streams, v0.9.0

#3188 #3187 Remove duplicate rules on node names
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: client, configurator, v0.9.0

#3192 #3191 [Manager] Add tests of log for stream
  ohara-manager/client/cypress/api/logApi.test.js
Labels: manager, v0.9.0

#3195 #3184 Refactor and add the ability to toggle the toolbox
  ohara-manager/client/src/components/Layout/Styles.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Styles.js
  ohara-manager/client/src/components/Pipeline/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Styles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/index.js
Labels: manager, v0.9.0

#3196 #3193 the jmx port of zookeeper is not used and shown
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestServiceCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreation.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#3190 #3189 Modify K8S install user guide document for Configurator request API format and URL location
  docs/src/user_guide.rst
Labels: docs, v0.9.0

#3200 #3198 Enable Inspect APIs to fetch static and dynamic definitions
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-workers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ReflectionUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestInspectTopic.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestInspectWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOfficialConnectorsDefinition.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOrderInGroup.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/TestConnectors.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, client, configurator, connector, docs, it, v0.9.0

#3203 #3202 Refactor DockerClientImpl
  ohara-agent/src/main/scala/com/island/ohara/agent/Agent.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestServiceCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/WithRemoteConfigurator.scala
Labels: agent, client, configurator, it, v0.9.0

#3209 #3206 apply akka default value rule to all routes
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ContainerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: configurator, v0.9.0

#3210 #3148 add new field "resources" to Node APIs
  docs/src/rest/rest-nodes.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#3208 #3207 fix flaky TestWorkerRoute
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
Labels: configurator, v0.9.0

#3211 #3148 enable ssh mode to offer resources to Node APIs
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Resources.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestNodeResourcesOnSsh.scala
Labels: agent, client, it, v0.9.0

#3204 #3184 Load list data into the toolbox
  ohara-manager/client/package.json
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Pipeline/Graph.js
  ohara-manager/client/src/components/Pipeline/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/AddTopicDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Styles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Dialog/DrabblePaper.js
  ohara-manager/client/src/context/PipelineContext.js
  ohara-manager/client/src/context/TopicContext.js
  ohara-manager/client/src/context/WorkspaceContext.js
Labels: manager, v0.9.0

#3217 #3199 move info API to inspect API
  ohara-manager/client/cypress/api/infoApi.test.js
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/src/api/body/inspectConfiguratorBody.js
  ohara-manager/client/src/api/body/inspectFileBody.js
  ohara-manager/client/src/api/body/inspectRdbBody.js
  ohara-manager/client/src/api/body/inspectServiceBody.js
  ohara-manager/client/src/api/body/inspectTopicBody.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/infoApi.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/utils/url.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
Labels: manager, v0.9.0

#3218 #3184 Use the correct button component for toolbar
  ohara-manager/client/src/components/Pipeline/Toolbar.js
Labels: manager, v0.9.0

#3216 #3214 fix flaky TestPipelineRoute.testFlowAndObjects
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, v0.9.0

#3228 #3226 Create edit workspace modal
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Navigator.js
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/index.js
  ohara-manager/client/src/context/EditWorkspaceContext.js
Labels: manager, v0.9.0

#3221 #3212 Remove FtpInfo, JdbcInfo and HdfsInfo APIs
  docs/src/rest/index.rst
  docs/src/rest/rest-ftp.rst
  docs/src/rest/rest-hdfs.rst
  docs/src/rest/rest-jdbc.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHdfsInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcInfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
Labels: client, configurator, docs, v0.9.0

#3223 #3222 remove Configurator.DATA_SERIALIZER
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator, v0.9.0

#3229 #3225 the in-complete object key is not converted to complete object …
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
Labels: client, v0.9.0

#3234 #3224 the images checker should not assume all nodes have required im…
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
Labels: agent, configurator, v0.9.0

#3238 #3237 the POSITIVE_XXXs are not applied to kafka validation
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
Labels: common, v0.9.0

#3240 #3239 Correct the error message of DeserializationException for empty…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: configurator, v0.9.0

#3242 #3241 Fail to wait the response of creating connector
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
Labels: configurator, v0.9.0

#3233 #3184 Refactor and wire up basic pipeline graph
  ohara-manager/client/package.json
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/Pipeline/Graph.js
  ohara-manager/client/src/components/Pipeline/Toolbox/AddTopicDialog.js
  ohara-manager/client/src/components/common/Form/InputField.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3219 #3199 refactor definitions fetching from object API to inspect API
  ohara-manager/client/src/api/body/brokerBody.js
  ohara-manager/client/src/api/body/connectorBody.js
  ohara-manager/client/src/api/body/streamBody.js
  ohara-manager/client/src/api/body/topicBody.js
  ohara-manager/client/src/api/body/workerBody.js
  ohara-manager/client/src/api/body/zookeeperBody.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/api/utils/waitUtils.js
  ohara-manager/client/src/api/workerApi.js
Labels: manager, v0.9.0

#3235 #3230 Create edit workspace tabs
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Styles.js
Labels: manager, v0.9.0

#3252 #3251 [Manager] Wrong usage in check configurator
  ohara-manager/utils/configHelpers.js
Labels: manager, v0.9.0

#3250 #3245 fix flaky stream api tests
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/streamApi.js
Labels: manager, v0.9.0

#3249 #3164 remove Info APIs
  docs/src/rest/index.rst
  docs/src/rest/rest-info.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
Labels: client, configurator, docs, v0.9.0

#3254 #3246 Create list topics grid
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Navigator.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/index.js
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/TopicsTab/Styles.js
  ohara-manager/client/src/components/Workspace/TopicsTab/TopicsTab.js
  ohara-manager/client/src/components/Workspace/TopicsTab/index.js
Labels: manager, v0.9.0

#3197 #582 Added list all K8S nodes for configurator /v0/nodes API
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
Labels: agent, configurator, v0.9.0

#3256 #3253 [Manager] Using a better way to check configurator is available
  ohara-manager/utils/configHelpers.js
Labels: manager, v0.9.0

#3261 #3258 limit parameter seems not working as expected in inspecting top…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestInspectTopic.scala
Labels: configurator, v0.9.0

#3262 #3255 Displaying the definitions of connectors on the Inspect APIs
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/WithDefinitions.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
Labels: agent, client, common, configurator, kafka, v0.9.0

#3264 #3201 Remove connectorDefinitions from WorkerClusterInfo
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
Labels: agent, client, configurator, v0.9.0

#3274 #3270 Set the version definition to READONLY in zookeeper, broker and…
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
Labels: agent, client, configurator, it, v0.9.0

#3275 #3272 Json refiner should remove the readonly value from json request
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, streams, v0.9.0

#3273 #3236 enable stream collie to inspect all stream classes
  gradle/dependencies.gradle
  ohara-agent/build.gradle
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ReflectionUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioSettings.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/WithDefinitions.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamsConfig.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefUtils.java
Labels: agent, client, configurator, connector, it, kafka, others, streams, v0.9.0

#3281 #3277 啟動 configurator 服務時 --k8s 參數沒有放在最後面會出錯誤
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: configurator, v0.9.0

#3286 #3276 Added install K8S metrics server document for user_guide.rst file
  docs/src/user_guide.rst
Labels: docs, v0.9.0

#3282 #995 Move the plugins, which are deployed to worker, to plugins folder
  docker/worker.sh
  docs/src/rest/rest-workers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-manager/client/cypress/api/workerApi.test.js
Labels: agent, client, configurator, docs, it, manager, others, v0.9.0

#3284 #3248 Create topic page to view and delete a topic
  ohara-manager/client/package.json
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Topic/ViewTopicDialogStyles.js
  ohara-manager/client/src/context/ViewTopicContext.js
  ohara-manager/client/src/theme/muiTheme.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3279 #3236 add new field "className" to StreamCluster info
  docker/streamapp.dockerfile
  docker/streamapp.sh
  docker/worker.dockerfile
  docs/src/rest/rest-streams.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefUtils.java
  ohara-testing-util/src/test/java/com/island/ohara/testing/service/TestFtpServer.java
Labels: agent, client, common, configurator, docs, others, streams, testing-util, v0.9.0

#3232 #3157 New workspace quick mode
  ohara-manager/client/cypress/configs/cypress.api.json
  ohara-manager/client/package.json
  ohara-manager/client/src/api/fileApi.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Workspace/Card/FileCard.js
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
  ohara-manager/client/src/components/Workspace/Card/WorkspaceCard.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
  ohara-manager/client/src/components/common/Progress/Prcentage.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
  ohara-manager/client/src/components/common/Table/index.js
  ohara-manager/client/src/context/NodeDialogContext.js
  ohara-manager/client/src/utils/__tests__/validate.test.js
  ohara-manager/client/src/utils/validate.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3295 #3283 remove unused helpers from CommonUtils
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, v0.9.0

#3294 #3285 Inspect the uploaded file rather than stored file
  docs/src/rest/rest-inspect.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFileInfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
Labels: agent, client, configurator, docs, v0.9.0

#3297 #3280 rename the docker image from oharastream/streampp to oharastrea…
  docker/build.yml
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-nodes.rst
  docs/src/rest/rest-streams.rst
  docs/src/user_guide.rst
  docs/testcase/ohara-installation.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, docs, others, streams, v0.9.0

#3291 #3290 Added resource info to FakeServiceCollie implement
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
Labels: common, configurator, v0.9.0

#3298 #3236 demand the definitions from Stream implementation
  docs/src/custom_stream.rst
  docs/testcase/pipeline-ftp-topic-stream-hdfs.md
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-it/src/main/scala/com/island/ohara/it/stream/DumbStream.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/Stream.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamSetting.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForOharaEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStream.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/SumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/WordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestSimpleStreamCounter.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamTopology.java
Labels: agent, client, docs, it, kafka, streams, v0.9.0

#3260 #3181 Implement the topic tab of Developer dialog layout and logic
  ohara-manager/client/src/App.js
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Developer/DevToolDialog.js
  ohara-manager/client/src/components/Developer/Styles.js
  ohara-manager/client/src/components/Developer/TopicDataTable.js
  ohara-manager/client/src/components/Developer/TopicDataWindow.js
  ohara-manager/client/src/components/Developer/index.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/common/Table/Table.js
  ohara-manager/client/src/context/DevToolDialogContext.js
  ohara-manager/utils/configHelpers.js
Labels: manager, v0.9.0

#3259 #3184 Add the ability to drag and drop a component
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Pipeline/Graph.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Styles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
  ohara-manager/client/src/components/common/Form/Button.js
  ohara-manager/client/src/components/common/Form/Label.js
  ohara-manager/client/src/components/common/Layout/Container.js
  ohara-manager/client/src/components/common/Table/Table.js
  ohara-manager/client/src/context/EditWorkspaceContext.js
  ohara-manager/client/src/context/NewWorkspaceContext.js
  ohara-manager/client/src/context/NodeDialogContext.js
  ohara-manager/client/src/context/PipelineContext.js
  ohara-manager/client/src/context/SnackbarContext.js
  ohara-manager/client/src/context/TopicContext.js
  ohara-manager/client/src/context/WorkspaceContext.js
  ohara-manager/client/src/utils/__tests__/validate.test.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#3289 #3287 K8S Metrics Server API 的 resource usage 單位有可能變化
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, v0.9.0

#3300 #3184 Reset pipeline states when switching between different pipelines
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Graph/index.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Navigator/NavigatorStyles.js
  ohara-manager/client/src/components/Pipeline/Navigator/index.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/AddGraphDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/common/Icon/AddPublicTopicIcon.js
  ohara-manager/client/src/components/common/Icon/index.js
  ohara-manager/client/src/utils/hooks.js
Labels: manager, v0.9.0

#3303 #3280 Rename streamApp to stream in the UI
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-nodes.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/cypress/api/logApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/fixtures/plugin/ohara-it-sink.jar
  ohara-manager/client/cypress/fixtures/plugin/ohara-it-source.jar
  ohara-manager/client/cypress/fixtures/streamApp/ohara-streamapp.jar
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/scripts/copyJars.js
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, configurator, docs, manager, streams, v0.9.0

#3304 #3151 [Manager] Remove the click state that sometimes appears in pipeline navigator
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Navigator/NavigatorStyles.js
Labels: manager, v0.9.0

#3307 #3268 Add the relationship files in the pipelines API
  docs/src/rest/rest-pipelines.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, docs, v0.9.0

#3313 #3312 upgrade the base OS from CentOS 7.6 to CentOS 7.7
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.9.0

#3310 #3302 Use the useReducer hook to rewrite the TopicContext
  ohara-manager/client/package.json
  ohara-manager/client/src/App.js
  ohara-manager/client/src/actions/topic.js
  ohara-manager/client/src/components/Developer/DevToolDialog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/context/TopicContext.js
  ohara-manager/client/src/context/WorkspaceContext.js
  ohara-manager/client/src/reducers/topic.js
  ohara-manager/client/src/routines/topic.js
  ohara-manager/client/src/routines/workspace.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3314 Revert "#3312 upgrade the base OS from CentOS 7.6 to CentOS 7.7 (#3313)"
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.9.0

#3315 #3312 upgrade the base OS from CentOS 7.6 to CentOS 7.7
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.9.0

#3308 #1888 Generate ohara version info as a json file for manager to consume
  build.gradle
  docs/src/contrib-docs/_include/RowSourceConnector.java
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestInspectApi.scala
  ohara-common/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sCollieGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sConfiguratorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sConnectorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/SshCollieGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/SshConfiguratorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/SshConnectorGroup.java
Labels: client, common, docs, it, others, v0.9.0

#3306 #3184 Tweak add connector dialog when drag and drop from Toolbox
  ohara-manager/client/src/actions/topic.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbox/AddGraphDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Icon/AddPublicTopicIcon.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
  ohara-manager/client/src/components/common/Progress/index.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
Labels: manager, v0.9.0

#3323 #3318 Introducing stack dialogs
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/actions/dialog.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/constants/dialog.js
  ohara-manager/client/src/context/AddTopicContext.js
  ohara-manager/client/src/context/DialogContext.js
  ohara-manager/client/src/context/EditWorkspaceContext.js
  ohara-manager/client/src/context/ViewTopicContext.js
  ohara-manager/client/src/reducers/dialog.js
  ohara-manager/client/src/routines/dialog.js
Labels: manager, v0.9.0

#3327 #3220 [Manager] Apply positive number type for definition
  ohara-manager/client/src/api/utils/__tests__/definitionsUtils.test.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/api/utils/validation.js
Labels: manager, v0.9.0

#3324 #3316 [Manager] Refactor /inspect/file to /inspect/files API
  ohara-manager/client/cypress/api/fileApi.test.js
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/cypress/api/logApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/fixtures/plugin/ohara-it-sink.jar
  ohara-manager/client/cypress/fixtures/plugin/ohara-it-source.jar
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/api/body/fileBody.js
  ohara-manager/client/src/api/body/inspectFileBody.js
  ohara-manager/client/src/api/fileApi.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/streamApi.js
Labels: manager, v0.9.0

#3329 #3328 refactor Context, Reducers, Actions and Routines
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Developer/DevToolDialog.js
  ohara-manager/client/src/components/Developer/TopicDataWindow.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogActions.js
  ohara-manager/client/src/context/dialog/dialogNames.js
  ohara-manager/client/src/context/dialog/dialogReducer.js
  ohara-manager/client/src/context/dialog/dialogRoutines.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/topic/TopicContext.js
  ohara-manager/client/src/context/topic/topicActions.js
  ohara-manager/client/src/context/topic/topicReducer.js
  ohara-manager/client/src/context/topic/topicRoutines.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/context/workspace/workspaceRoutines.js
Labels: manager, v0.9.0

#3326 #3325 Added PENDING status to the toStatus function for ZookeeperCollie, BrokerCollie and WorkerCollie
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerState.scala
Labels: agent, v0.9.0

#3335 #3293 remove inspect/file API
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
Labels: configurator, v0.9.0

#3337 #3336 remove K8SClient.removeNode
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
Labels: agent, v0.9.0

#3319 #3317 add "sinceSeconds" to Log APIs to fetch logs since relative time
  docs/src/rest/rest-logs.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Log.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/Test4LogViaDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#3333 #3168 apply the positive number to Zookeeper, Broker, Worker, Stream,…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: client, common, kafka, v0.9.0

#3341 #3339 move ContainerName from ohara-configurator to ohara-agent
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/container/ContainerName.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
Labels: agent, client, configurator, v0.9.0

#3330 #3184 Enable searching in the toolbox
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxSearch.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/common/Icon/AddPublicTopicIcon.js
  ohara-manager/client/src/utils/hooks.js
Labels: manager, v0.9.0

#3350 #3349 add config to trigger Github Action for PostCommit
  .github/workflows/PostCommit.yml
  README.md
Labels: others, v0.9.0

#3346 #3334 remove validationReport from Node APIs
  docs/src/rest/rest-validation.rst
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestNodeValidation.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Stream.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestNodeResourcesOnK8S.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestNodeResourcesOnSsh.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnK8s.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnSsh.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#3347 #3345 [Manager] Support sinceSeconds for log API
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/logApi.js
  ohara-manager/client/src/api/utils/__tests__/url.test.js
  ohara-manager/client/src/api/utils/url.js
  ohara-manager/client/src/api/validateApi.js
Labels: manager, v0.9.0

#3352 #3342 Provide the status of node from Node API
  docs/src/rest/rest-nodes.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/Enum.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#3340 #3338 Modify build pattern for K8SClient create the object
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/package.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
Labels: agent, configurator, it, v0.9.0

#3359 #3087 Implement Shabondi source routes
  gradle/dependencies.gradle
  ohara-shabondi/build.gradle
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/AbstractWebServer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Boot.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Model.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/ServerStarter.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SinkRoute.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SourceRoute.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Utils.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
  ohara-shabondi/src/test/resources/application.conf
  ohara-shabondi/src/test/resources/log4j.properties
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestConfig.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestKafkaClient.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRowData.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestSourceRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamFlow.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestWebServer.scala
Labels: others, shabondi, v0.9.0

#3362 #3360 Simplify the verification of node for ssh mode
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
Labels: agent, v0.9.0

#3364 #3363 Reorganize the catalog for IT tests
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/category/ClientGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/CollieGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/ConnectorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sCollieGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sConnectorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/StreamGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/client/BasicTests4NodeResources.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestListNode.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestNodeResourcesOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestNodeResourcesOnK8S.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/BasicTests4Log.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestCollieOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestCollieOnK8s.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestLogOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnK8s.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/TestJsonInOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/TestJsonInOnK8s.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/TestJsonOutOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/TestJsonOutOnK8s.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/stream/BasicTests4Stream.scala
  ohara-it/src/test/scala/com/island/ohara/it/stream/TestStreamOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/stream/TestStreamOnK8s.scala
Labels: it, v0.9.0

#3355 #3354 the "remove node" produces null check error since we try to gen…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DataCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestServiceCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestServiceCache.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterStatus.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ContainerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestListCluster.scala
Labels: agent, client, configurator, it, v0.9.0

#3367 #3366 fix flaky TestVerifyNode
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
Labels: agent, v0.9.0

#3343 #3339 DockerClient/K8SClient should ignore the containers created by other one
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/package.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
Labels: agent, configurator, it, v0.9.0

#3370 #3369 Increasing the timeout of Node APIs for IT
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
Labels: it, v0.9.0

#3358 #3356 Tweak the styles for quick create workspace mode
  ohara-manager/client/package.json
  ohara-manager/client/src/api/utils/validation.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/Workspace/Card/FileCard.js
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
  ohara-manager/client/src/components/Workspace/Card/WorkspaceCard.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
  ohara-manager/client/src/components/common/Icon/AddPublicTopicIcon.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.9.0

#3375 #3180 Set up 404 and 500 routes and error pages
  ohara-manager/client/src/App.js
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/ErrorPages/ErrorBoundary.js
  ohara-manager/client/src/components/ErrorPages/ErrorPageStyles.js
  ohara-manager/client/src/components/ErrorPages/NotFoundPage.js
  ohara-manager/client/src/components/ErrorPages/NotImplementedPage.js
  ohara-manager/client/src/components/ErrorPages/index.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/images/error-boundary.svg
  ohara-manager/client/src/images/not-implemented.svg
  ohara-manager/client/src/images/page-not-found.svg
Labels: manager, v0.9.0

#3373 #3371 fix flaky testRunSimpleStream
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
Labels: agent, configurator, v0.9.0

#3376 #3348 implement file list, upload, download and delete
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Workspace/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/EditWorkspaceStyles.js
  ohara-manager/client/src/components/Workspace/File/FileActionsMenu.js
  ohara-manager/client/src/components/Workspace/File/FileDownload.js
  ohara-manager/client/src/components/Workspace/File/FileTable.js
  ohara-manager/client/src/components/Workspace/File/FileTableStyles.js
  ohara-manager/client/src/components/Workspace/File/FileUpload.js
  ohara-manager/client/src/components/Workspace/File/FilesTab.js
  ohara-manager/client/src/components/Workspace/File/index.js
  ohara-manager/client/src/components/common/Search/QuickSearch.js
  ohara-manager/client/src/components/common/Search/index.js
  ohara-manager/client/src/components/common/Search/search.js
  ohara-manager/client/src/context/file/FileContext.js
  ohara-manager/client/src/context/file/fileActions.js
  ohara-manager/client/src/context/file/fileReducer.js
  ohara-manager/client/src/context/file/fileRoutines.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/utils/date.js
Labels: manager, v0.9.0

#3379 #3331 Create Toolbar layout and add necessary components
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbar/index.js
  ohara-manager/client/src/context/PipelineContext.js
Labels: manager, v0.9.0

#3332 #3292 Create pipeline graphs (connector,stream)
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/styles.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
Labels: manager, v0.9.0

#3386 #3339 change the "ssh" to "docker"
  docs/src/rest/rest-containers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ServiceCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/package.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestServiceCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestVerifyNode.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestNodeResourcesOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestCollieOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestLogOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/stream/TestStreamOnDocker.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#3388 #1832 Fix flaky TestCache.getNonBlockingOnGet
  ohara-common/src/main/java/com/island/ohara/common/cache/Cache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestCache.java
Labels: common, v0.9.0

#3384 #3383 [Manager] remove unused validation APIs - ftp, jdbc, node and hdfs
  ohara-manager/client/cypress/api/nodeApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/src/api/body/nodeBody.js
  ohara-manager/client/src/api/body/validateBody.js
  ohara-manager/client/src/api/body/validateRdbBody.js
  ohara-manager/client/src/api/nodeApi.js
  ohara-manager/client/src/api/validateApi.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
Labels: manager, v0.9.0

#3385 #3339 document the specific label which is added to the container cre…
  docs/src/user_guide.rst
Labels: docs, v0.9.0

#3389 #3357 remove Topic definitions from Broker APIs
  docs/src/rest/rest-brokers.rst
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
Labels: agent, client, configurator, docs, v0.9.0

#3395 #3391 refact the EditWorkspace to look concisely
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspaceStyles.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileActionsMenu.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileDownload.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTableStyles.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileUpload.js
  ohara-manager/client/src/components/Workspace/Edit/File/index.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/SettingsMenu.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/SettingsMenuStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/index.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/FilesTab.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/SettingsTab.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TabPanel.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TopicsTab.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TopicsTabStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/index.js
  ohara-manager/client/src/components/Workspace/Edit/index.js
  ohara-manager/client/src/components/Workspace/index.js
Labels: manager, v0.9.0

#3390 #3339 remove flag "removeContainerOnExit" since we need to trace the …
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
Labels: agent, it, v0.9.0

#3381 #3351 remove unused validation APIs - ftp, jdbc and hdfs
  docs/src/rest/rest-validation.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/database/DatabaseClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/WithConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/GenericDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/MySQLDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/OracleDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/PostgresqlDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/RDBDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/QueryResultIterator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/ResultSetDataConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/Validator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/datatype/TestMySQLDataTypeConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/datatype/TestOracleDataTypeConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/datatype/TestPostgresqlDataTypeConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: client, configurator, connector, docs, v0.9.0

#3403 #3402 reduce the max number of test processes in parallel when runnin…
  .github/workflows/PostCommit.yml
Labels: others, v0.9.0

#3399 #3351 remove unused validation APIs - node
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
Labels: client, configurator, v0.9.0

#3398 #3396 fix the port conflict happening in the tests
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, v0.9.0

#3401 #3339 Disable DockerClient/K8SClient to remove/stop containers unrela…
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
Labels: agent, configurator, it, v0.9.0

#3405 3339 remove network bridge and volume mapping from DockerClient
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/NetworkDriver.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
Labels: agent, v0.9.0

#3406 #3400 K8sClient.removePod does not wait the thread to complete
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, v0.9.0

#3410 #3409 Apply the socket binding to find out the available port
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
Labels: common, v0.9.0

#3397 #3331 Implement zoom in/out and fit feature
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/styles.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/theme/globalStyle.js
Labels: manager, v0.9.0

#3412 #3411 Unify the form of url resource for Zookeeper, Broker, Worker an…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InspectApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInspectRoute.scala
Labels: client, configurator, v0.9.0

#3404 #3372 The loop of updating k8s nodes swallow all resources of thread pool
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator, v0.9.0

#3414 #3441 [Manager] Adapt the new inspect API structure
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/src/api/inspectApi.js
Labels: manager, v0.9.0

#3263 #3170 Extend type assertion of API tests to be more informative
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/configs/cypress.api.json
  ohara-manager/client/cypress/support/index.js
Labels: manager, v0.9.0

#3419 Revert "#3391_2 Add the worker, broker and zookeeper reducer (#3418)"
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/context/broker/BrokerContext.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/broker/brokerReducer.js
  ohara-manager/client/src/context/broker/brokerRoutines.js
  ohara-manager/client/src/context/file/FileContext.js
  ohara-manager/client/src/context/file/fileReducer.js
  ohara-manager/client/src/context/file/fileRoutines.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/topic/TopicContext.js
  ohara-manager/client/src/context/topic/topicReducer.js
  ohara-manager/client/src/context/topic/topicRoutines.js
  ohara-manager/client/src/context/worker/WorkerContext.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/worker/workerReducer.js
  ohara-manager/client/src/context/worker/workerRoutines.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/context/workspace/workspaceRoutines.js
  ohara-manager/client/src/context/zookeeper/ZookeeperContext.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperReducer.js
Labels: manager, v0.9.0

#3416 #3087 Shabondi minor refactor
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SinkRoute.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SourceRoute.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/StreamGraph.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Utils.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
  ohara-shabondi/src/test/resources/log4j.properties
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestConfig.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestKafkaClient.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRowData.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestSourceRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamFlow.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamGraph.scala
Labels: shabondi, v0.9.0

#3415 3331 Fix fit to content feature in Toolbar
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
Labels: manager, v0.9.0

#3426 #3423 An new gradle task used to generate a file containing version d…
  ohara-common/build.gradle
Labels: common, v0.9.0

#3427 #2373 convert the value of duration to "number unit" for setting defi…
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSettingDef.scala
Labels: common, connector, v0.9.0

#3435 #3434 verify the dialog box must be opened before data setting
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogActions.js
  ohara-manager/client/src/context/dialog/dialogReducer.js
Labels: manager, v0.9.0

#3432 #3431 remove unused injected trait from ValidationRoute and Connector…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
Labels: configurator, v0.9.0

#3437 #3424 Added --since argument for the DockerClient#log
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/BasicTests4Log.scala
Labels: agent, it, v0.9.0

#3430 #3428 fix flaky TestConfigurator.testK8SNodes
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator, v0.9.0
