Repository oharastream/ohara, pull requests merged in 2019-06, with the labels that each got.

#1338 #1333 Pipeline graph is not updating correctly when making changes in the config form
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/common/Mui/Form/Select.js
  ohara-manager/client/src/components/common/Mui/Form/Tooltip.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/NewRowModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/Table.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FinalFormWrapper.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/yarn.lock
Labels: manager

#1355 #1353 The double quotes is disallowed in Linux env so the json string…
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, it

#1314 #1313 Fix unstable k8s IT tests
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: it

#1365 #1363 Replace 0.5-SNAPSHOT with 0.6-SNAPSHOT in ohara codebase
  docker/backend.yml
  docker/build.yml
  docs/custom_connector.md
  docs/custom_streamapp.md
  docs/rest_interface.md
  docs/user_guide.md
  gradle.properties
  ohara-manager/client/cypress/support/commands.js
Labels: manager, others

#1366 #1354 Fix pipeline new page and worker page e2e test fails
  ohara-manager/client/cypress/integration/homepage.test.js
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/integration/workerPage.test.js
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
  ohara-manager/client/yarn.lock
Labels: manager

#1361 #1359 Add more tests for custom connector's utility functions
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager

#1288 #1360 K8S and SSH BrokerCollie#creator common code move to BrokerCollie
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, configurator, it

#1383 #1214 Add folder label in JarStore info
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/Cache.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
Labels: agent, client, common, configurator

#1384 #1379 Do not run frontend e2e tests if create services failed
  ohara-manager/package.json
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/handleServices.js
  ohara-manager/scripts/lib/waitOn.js
  ohara-manager/scripts/runE2eTests.js
  ohara-manager/utils/apiHandler.js
Labels: manager

#1315 #1259 Add metrics data into stream route api
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/main/scala/com/island/ohara/it/streamapp/DumbStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
Labels: agent, client, configurator, it, metrics, streams

#1398 #1396 ConnectorRoute ought to check the existence of connector before…
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
Labels: client, configurator

#1390 #1388 Cannot run FtpSinkConnector normally in pipeline
  ohara-manager/client/src/api/apiUtils.js
  ohara-manager/client/src/components/common/Mui/Form/Checkbox.js
  ohara-manager/client/src/components/common/Mui/Form/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/constants/messages.js
Labels: manager

#1405 #1404 Remove Git merge conflict markers from the docs
  docs/rest_interface.md
Labels: others

#1410 #1409 add "--folder" to runConfigurator
  ohara-configurator/build.gradle
Labels: configurator

#1401 #1396 ConnectorRoute ought to check the existence of connector before…
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
Labels: client, configurator

#1395 #1394 Fix frontend vulnerabilities
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/index.js
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager

#1406 #1399 Cannot start the JdbcSourceConnector normally in the pipeline
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager

#1415 #1413 The metrics from cache is not serializable
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator

#1416 #1413 The metrics from cache is not serializable
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator

#1412 #1367 Fix flaky test of TestPageViewRegionExample
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/resources/log4j.properties
Labels: streams

#1419 #1418 Create an new topic if the updated topic does not exist
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHadoopApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara764.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara786.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: client, configurator, it, others

#1407 #1399 Cannot start the JdbcSourceConnector normally in the pipeline (backport to 0.5)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager

#1402 #1388 Cannot run FtpSinkConnector normally in pipeline (backport to 0.5)
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/api/apiUtils.js
  ohara-manager/client/src/components/common/Mui/Form/Checkbox.js
  ohara-manager/client/src/components/common/Mui/Form/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/constants/messages.js
Labels: manager

#1408 #1331 Add metrics document for streamApp
  docs/custom_streamapp.md
  docs/rest_interface.md
Labels: others

#1411 #1397 StreamRoute should return last modified jars from stream api
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator

#1374 #1370 Use cypress test RESTful APIs with services and nodes page
  ohara-manager/client/cypress/API/API.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/Services/PluginSelectModal/PluginSelectModal.js
Labels: manager

#1389 #1360 K8S and SSH Worker#creator common code move to WorkerCollie
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, configurator, it

#1424 #1286 remove id from pipeline
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/package.scala
Labels: client, configurator, others

#1427 #1252 Add same operation of streamRoute to JarRoute
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, configurator, it, others

#1434 #1298 remove stale Connector APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
Labels: client, configurator

#1442 #1435 Make sure all inner objects in ConfiguratorBuilder are closed
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara786.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
Labels: agent, configurator, it

#1437 #1430 Update of Node APIs does not auto-create object for nonexistent…
  docs/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1255.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestRouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
Labels: client, configurator, it, others

#1444 #1370 Expose a fake mode configurator for frontend
  docs/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
Labels: agent, client, configurator, others

#1450 #1449 Fix flaky TestWorkerClient.testStatusOrNone
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
Labels: client

#1452 #1451 New nodeApi will break some IT tests in k8s environment
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
Labels: it

#1443 #1252 Apply same rule from streamRoute to jarRoute
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
Labels: configurator

#1441 #1385 Integrate Sphinx & Read the Docs
  .readthedocs.yml
  README.md
  docs/Makefile
  docs/README.md
  docs/requirements.txt
  docs/src/conf.py
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/images/broker.png
  docs/src/images/configurator_arch.jpg
  docs/src/images/connect_worker.png
  docs/src/images/connect_worker_new.png
  docs/src/images/nodes.png
  docs/src/images/pipeline_list.png
  docs/src/images/pipeline_new.png
  docs/src/images/zookeeper.png
  docs/src/index.rst
  docs/src/rest_interface.md
  docs/src/user_guide.md
Labels: others

#1351 #1350 Cannot remove exited containers of a cluster in docker environment
  ohara-agent/src/main/scala/com/island/ohara/agent/Agent.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
Labels: agent, configurator, it

#1454 #1439 Cannot create a new pipeline due to configurator API changes
  ohara-manager/client/cypress/integration/pipelineListPage.test.js
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/src/components/common/Messages/Warning.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
Labels: manager

#1458 #1385 Integrate Sphinx & Read the Docs
  CONTRIBUTING.md
  README.md
  docs/src/contributing.md
  docs/src/docker.md
  docs/src/how_to_build.md
  docs/src/index.rst
  docs/src/integration_test.md
  docs/src/ohara_manager_development_guideline.md
  docs/src/user_guide.md
  kubernetes/README.md
Labels: it, manager, others

#1446 #1436 Remove the limit of node name in K8S implementation
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, configurator, it

#1459 #1385 Docs: Change theme to sphinx_rtd_theme
  docs/requirements.txt
  docs/src/conf.py
  docs/src/custom_streamapp.md
  docs/src/images/ohara-logo.png
  docs/src/index.rst
Labels: others

#1433 #1282 Add a command to clean up docker network setting if it exists in k8s-pre-install.sh
  kubernetes/distribute/k8s-pre-install.sh
Labels: others

#1463 #1385 Docs: Fix broken links
  docs/src/index.rst
Labels: others

#1457 #1453 Add configurator mode in ohara version modal
  ohara-manager/client/cypress/integration/nav.test.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
Labels: manager

#1471 #1470 Fix flaky start configurator service pre-create broker error
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator

#1473 #1462 Cannot create a new connector due to connector API changes
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
  ohara-manager/client/src/propTypes/pipeline.js
Labels: manager

#1478 #1385 Docs: Fix broken links
  docs/src/custom_streamapp.md
  docs/src/ohara_manager_development_guideline.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
Labels: others

#1461 #1460 UI cannot fetch jars via /v0/jars
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
Labels: configurator

#1483 #1482 Fix manager's clean process script
  docs/src/ohara_manager_development_guideline.md
  ohara-assembly/build.gradle
  ohara-manager/build.gradle
  ohara-manager/package.json
  ohara-manager/scripts/cleanAllProcesses.js
  ohara-manager/scripts/runE2eTests.js
  ohara-manager/start.js
Labels: assembly, manager, others

#1476 #1474 K8sClient is not closed in closing configurator
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator

#1487 #1382 Enable streamApp IT test for k8s environment after k8s get stable
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
Labels: agent, configurator, it

#1485 #1477 Make sure all in-flight requests are closed
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/RocksDataStore.scala
Labels: configurator

#1481 #1480 Modify K8S install shell script to assignment K8S version
  docs/src/how_to_build.md
  kubernetes/distribute/k8s-master-install.sh
  kubernetes/distribute/k8s-pre-install.sh
  kubernetes/distribute/k8s-worker-install.sh
Labels: others

#1494 #1493 Update manager.sh's js filename
  bin/start-service.sh
Labels: others

#1489 #1488 Update the docs URL in the API response body
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator

#1495 #1492 Change test manager-api gradle keys
  ohara-manager/build.gradle
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/runApiTests.js
  ohara-manager/scripts/runE2eTests.js
  ohara-manager/utils/configHelpers.js
Labels: manager

#1497 #1447 Refactor Validation client to follow fluent pattern
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestNodeValidation.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector

#1491 #1490 Test manager-api in jenkins
  ohara-manager/client/cypress/api/api.test.js
Labels: manager

#1496 #1472 HDFSSinkConnector some fields are not displayed
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager

#1504 #1503 The link to contributing document is broken
  CONTRIBUTING.md
Labels: others

#1508 #1505 Add new QA commands to our contributing document
  docs/src/contributing.md
Labels: others

#1501 #1466 Add more arguments check for Agent and DockerClient
  ohara-agent/src/main/scala/com/island/ohara/agent/Agent.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestAgent.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-common/src/main/java/com/island/ohara/common/Builder.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, common, configurator, it

#1507 #1469 Wire up routes and basic page structure for workspace
  ohara-manager/client/src/App.js
  ohara-manager/client/src/__tests__/App.test.js
  ohara-manager/client/src/components/common/Mui/Typography/PageTitle.js
  ohara-manager/client/src/components/common/Mui/Typography/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkerDetailPage/WorkerDetailPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkerDetailPage/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/ZookeeperListPage/ZookeeperListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/ZookeeperListPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/styles.js
  ohara-manager/client/src/constants/documentTitles.js
Labels: manager

#1502 #1445 Do not remove jss inject point comment from the html in ohara manager's build step
  ohara-manager/client/public/index.html
  ohara-manager/client/src/App.js
Labels: manager

#1515 #1514 Bump version from 0.6-SNAPSHOT to 0.6.0-SNAPSHOT
  docker/backend.yml
  docker/build.yml
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
  gradle.properties
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: v0.6.0

#1510 #1509 Fix TestResponseFromUnsupportedApis class' flaky tests
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
Labels: configurator

#1513 #1500 Add explicit check for all builder
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-assembly/build.gradle
  ohara-assembly/src/test/scala/com/island/ohara/TestTestCases.scala
  ohara-assembly/src/test/scala/com/island/ohara/assembly/ListTestCases.scala
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestBuilderForm.scala
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestTestCases.scala
  ohara-assembly/src/test/scala/com/island/ohara/assembly/package.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/Cache.java
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/MeterCache.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorVersion.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/CounterBuilder.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/CsvSourceConverter.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanChannel.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanObject.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Database.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/FtpServer.java
Labels: agent, assembly, client, common, configurator, it, kafka, metrics, testing-util, v0.6.0

#1516 #1499 Move c.i.o.c.DatabaseClient to c.i.o.c.database.DatabaseClient
  ohara-client/src/main/scala/com/island/ohara/client/DatabaseClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/database/DatabaseClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestDatabaseClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBC2HDFS.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
Labels: client, configurator, connector, v0.6.0

#1512 #1469 Add sorting function in table component
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/common/Mui/Table/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
Labels: manager, v0.6.0

#1511 #1362 Implement exactly once for streamApp
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamsConfig.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/resources/log4j.properties
Labels: agent, client, configurator, streams, v0.6.0

#1518 #1517 Reduce the wait time of terminating configurator
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator, v0.6.0

#1522 #1521 Add more close check to RocksDataStore
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/RocksDataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksDataStore.scala
Labels: configurator, v0.6.0

#1533 #1525 Get topic API should use name instead of ID in docs
  docs/src/rest_interface.md
Labels: others, v0.6.0

#1529 #1528 Shutdown ActorMaterializer manually
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/HttpExecutor.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: agent, client, configurator, v0.6.0

#1520 #1484 Check if the build dir is exist when running end-to-end tests
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/runApiTests.js
  ohara-manager/scripts/runE2eTests.js
  ohara-manager/scripts/scriptsUtils.js
  ohara-manager/utils/commonUtils.js
Labels: manager, v0.6.0

#1530 #1469 Implement topics page
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/support/apiTest.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/package.json
  ohara-manager/client/src/App.js
  ohara-manager/client/src/__tests__/App.test.js
  ohara-manager/client/src/api/__tests__/containerApi.test.js
  ohara-manager/client/src/api/__tests__/topicApi.test.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/components/common/Mui/Table/Table.js
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/FtpConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/HdfsConfiguration.js
  ohara-manager/client/src/components/pages/ConfigurationModal.js
  ohara-manager/client/src/components/pages/HomePage.js
  ohara-manager/client/src/components/pages/MonitoringPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodesPage.js
  ohara-manager/client/src/components/pages/NotFoundPage.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/HdfsQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
  ohara-manager/client/src/components/pages/WorkspacesPage/BrokerListPage/BrokerListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/BrokerListPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
  ohara-manager/client/src/components/pages/__tests__/HomePage.test.js
  ohara-manager/client/src/utils/hooks.js
Labels: manager, v0.6.0

#1536 #1534 Refactor Query API to follow fluent pattern
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
Labels: client, configurator, v0.6.0

#1535 #1498 Add global rule to all JSON unmarshalling and apply it to Ftp APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/SimpleData.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
Labels: client, v0.6.0

#1541 #1498 apply global JSON unmarshalling to Query APis
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
Labels: client, v0.6.0

#1526 #1524 Source connector cannot test config in UI
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.6.0

#1542 #1469 Implement stream apps page
  ohara-manager/client/src/components/common/Mui/Form/Button.js
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
Labels: manager, v0.6.0

#1543 #1498 apply global JSON unmarshalling to Topic APis
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
Labels: client, configurator, v0.6.0

#1523 #1106 Use wk as the connect worker name will produce a different name
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/FakeK8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
Labels: agent, v0.6.0

#1545 #1438 Support dead cluster concept
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: agent, client, configurator, it, others, v0.6.0

#1555 #1550 Update prettier package to leverage the new feature
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.6.0

#1558 #1469 Implement nodes page
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
Labels: manager, v0.6.0

#1563 #1562 Adding a nodename to broker and worker should use PUT than POST
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
Labels: client, configurator, others, v0.6.0

#1552 #1498 Apply global JSON unmarshalling to JDBC APis
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcApi.scala
Labels: client, v0.6.0

#1559 #1498 apply global JSON unmarshalling to Connector APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: client, configurator, it, v0.6.0

#1539 #1498 Apply global JSON unmarshalling to HDFS APis
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHadoopApi.scala
Labels: client, v0.6.0

#1568 #1498 apply global JSON unmarshalling to Pipeline APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/SimpleData2.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, v0.6.0

#1570 #1565 Run yarn setup command prior to the yarn prepush
  ohara-manager/package.json
Labels: manager, v0.6.0

#1548 #1547 Refactor manager's handle service script
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/runApiTests.js
  ohara-manager/scripts/runE2eTests.js
  ohara-manager/utils/__tests__/commonUtils.test.js
Labels: manager, v0.6.0

#1575 #1574 Remove runOhara command from contributing.md
  docs/src/contributing.md
Labels: docs, v0.6.0

#1573 #1571 Move all client's dependencies into dependencies section of its package.json
  ohara-manager/client/package.json
Labels: manager, v0.6.0

#1577 #1576 enable to use gradle command to execute fake configurator
  ohara-configurator/build.gradle
Labels: configurator, v0.6.0

#1580 #1579 ValidationUtils neglects to release consumer after receiving re…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
Labels: configurator, v0.6.0

#1569 #1498 apply global JSON unmarshalling to Zookeeper APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, configurator, it, v0.6.0

#1585 #1286 remove id from SimpleData
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/SimpleData.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksDataStore.scala
Labels: configurator, v0.6.0

#1587 #1498 apply global JSON unmarshalling to Validation APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, v0.6.0

#1586 #1286 remove id from Object
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
Labels: client, configurator, v0.6.0

#1578 #1506 JDBC Source Connector need to provide jdbcFetchSize config setting
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnectorConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
Labels: connector, v0.6.0

#1582 #1538 Add topic page end-to-end tests
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/common/FormFields/InputField.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewConnectors.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.6.0

#1588 #1498 apply global JSON unmarshalling to Broker APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, configurator, it, v0.6.0

#1584 #1286 remove id from Shabondi
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestShabondiApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
Labels: client, configurator, v0.6.0

#1591 #1342 Add test for StreamUtils
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/text/csv/TestStreamUtils.java
Labels: kafka, v0.6.0

#1596 #1595 The name in metadata should NOT be declared to be internal
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: kafka, v0.6.0

#1589 #1538 Fix overview page layout
  ohara-manager/client/src/components/common/Mui/Layout/Container.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/Overview.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewConnectors.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/styles.js
Labels: manager, v0.6.0

#1592 #1527 Stop a connector with UI freezes its config form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.6.0

#1598 #1597 The connector used to validate ftp/jdbc/hdfs is not closed totally
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
Labels: configurator, v0.6.0

#1583 #1581 Connection Definitions disappear in fake configurator
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/WithDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: configurator, kafka, v0.6.0

#1590 #1538 Use the same table style throughout the service tabs
  ohara-manager/client/src/components/pages/WorkspacesPage/TopicNewModal/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/Overview.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/styles.js
Labels: manager, v0.6.0

#1602 #1298 remove sources and sinks from Worker APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
Labels: client, v0.6.0

#1557 #1498 Apply global JSON unmarshalling to Node APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
Labels: client, configurator, it, v0.6.0

#1556 #1438 (fix compile error) support deadNodes field in clusterInfo
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: agent, client, configurator, docs, it, v0.6.0

#1611 #1610 Slowly reflection of loading connectors in fake configurator
  bin/run_java.sh
  docker/configurator.sh
  docker/manager.sh
Labels: others, v0.6.0

#1613 #1612 Exclude the useless SLF4J Binding
  ohara-agent/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, testing-util, v0.6.0

#1564 #1549 The default acks of Producer should be 1 than zero
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
Labels: kafka, v0.6.0

#1605 #1603 Validate connector API returns an empty message when invalid re…
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Validation.java
Labels: kafka, v0.6.0

#1600 #1599 Refactor WorkerClient
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/FtpUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/PerfUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, client, configurator, connector, it, v0.6.0

#1608 #1498 apply global JSON unmarshalling to Worker APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, configurator, it, v0.6.0

#1617 #1616 NullPointException in retrieving metrics from kafka topic
  ohara-metrics/src/main/java/com/island/ohara/metrics/kafka/TopicMeter.java
Labels: metrics, v0.6.0

#1604 #1428 Manager is not properly handling new node modal's test connection response
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/api/apiUtils.js
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
Labels: manager, v0.6.0

#1618 #1615 Refactor Client APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access2.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHadoopApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
Labels: client, configurator, it, v0.6.0

#1624 #1538 Use the metrics data in topics list
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPageUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/WorkspacesDetailPageUtils.test.js
Labels: manager, v0.6.0

#1623 #1538 Do not display PerSource connector in the overview page for now
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewConnectors.js
Labels: manager, v0.6.0

#1540 #1286 Remove id from jar APIs
  docs/src/rest_interface.md
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Parameters.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJarApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/support/apiTest.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/PluginSelectModal/PluginSelectModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
  ohara-testing-util/src/test/java/com/island/ohara/testing/service/TestFtpServer.java
Labels: agent, client, common, configurator, docs, it, manager, streams, testing-util, v0.6.0

#1626 #1625 Fix manager IT failed tests
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
Labels: manager, v0.6.0

#1622 #1593 Connector validation fails with a missing name field error
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.6.0

#1627 #1538 Replace the old delete modal with Mui dialogs
  ohara-manager/client/src/components/common/Mui/Dialog/AlertDialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPageUtils.js
Labels: manager, v0.6.0

#1634 #1538 Support multiple nodes when creating a workspace
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.6.0

#1630 #1498 Apply global JSON unmarshalling to Streamapp APIs
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreationRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/CreationRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeClusterCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/support/apiTest.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/api/__tests__/jarApi.test.js
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/jarApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPageUtils.js
Labels: agent, client, configurator, docs, it, manager, v0.6.0

#1640 #1601 Remove stale com.island.ohara.client.configurator.v0.Access
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access2.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
Labels: client, v0.6.0

#1641 #1639 Remove RouteUtils.basicRoute
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
Labels: configurator, v0.6.0

#1642 #1629 Enable dockerfile to switch to other repo/branch with rebase fr…
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.6.0

#1638 #1637 Fix new pipeline modal's link to workspaces
  ohara-manager/client/src/components/common/Messages/Warning.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/styles.js
Labels: manager, v0.6.0

#1649 #1648 Add stream app file size column in overview page
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
Labels: manager, v0.6.0

#1645 #1619 add string restriction to JsonRefiner
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/OharaJsonFormat.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestRouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, client, common, configurator, v0.6.0
