Repository oharastream/ohara, pull requests merged in 2019-10, with the labels that each got.

#2847 #2731 remove brokerClusterName from Worker APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
Labels: client, v0.8.0

#2845 #2731 remove zookeeperClusterName from Broker APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
Labels: client, v0.8.0

#2854 #2852 [Manager] removing a broker cluster used by a running stream ap…
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/src/api/streamApi.js
Labels: manager, v0.8.0

#2853 #2833 replace TOPIC_KEYS by OBJECT_KEYS and reference: TOPIC
  docs/src/rest/rest-workers.rst
  docs/src/setting_definition.rst
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: common, docs, kafka, streams, v0.8.0

#2860 #2859 Rename "Cluster"XXX to "Service"XXX
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestServiceCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ContainerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, configurator, it, v0.8.0

#2848 #2843 [Manager] Use cluster keys instead of cluster names
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/logApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/Overview.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.8.0

#2866 #2865 Update master branch's SNAPSHOT version to 0.9.0-SNAPSHOT
  docker/backend.yml
  docker/build.yml
  docs/src/rest/rest-workers.rst
  gradle.properties
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-manager/client/cypress/api/connectorApi.test.js
Labels: agent, docs, manager, others, v0.9.0

#2851 #2849 [Manager] Prevent stream app from adding into pipeline graph if it doesn't contain any definitions
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.9.0

#2870 #2843 [Manager] Use cluster keys instead of cluster names (backport to 0.8)
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/logApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/Overview.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.8.0

#2871 #2849 [Manager] Prevent stream app from adding into pipeline graph if it doesn't contain any definitions (backport to 0.8)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.8.0

#2878 #2828 Failed to parse container name in ssh mode when there are non-h…
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
Labels: agent, v0.8.0

#2877 #2828 Failed to parse container name in ssh mode when there are non-h…
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
Labels: agent, v0.9.0

#2873 #2872 [Manager] Fix stream app delete and start issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Operate.js
Labels: manager, v0.9.0

#2876 #2875 [Manager] Do not count topic state in pipeline list page
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/pipelineListPageUtils.js
Labels: manager, v0.9.0

#2880 #2872 [Manager] Fix stream app delete and start issue (backport to 0.8)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Operate.js
Labels: manager, v0.8.0

#2868 #2865 0.8 branch should point to its branch name as the version instead of using latest
  README.md
Labels: others, v0.8.0

#2879 #2856 Log APIs should be able to show the logs of Manager and Configu…
  docs/src/rest/rest-info.rst
  docs/src/rest/rest-logs.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
Labels: agent, client, configurator, docs, it, v0.9.0

#2883 #2882 Update UI test case 1
  docs/testcase/pipeline-ftp-topic-streamapp-hdfs.md
Labels: docs, v0.9.0

#2884 #2278 Change branch and docs versions from 0.8 to 0.8.x
  README.md
  gradle.properties
Labels: others, v0.8.0

#2881 #2656 introduce docker volume to support add config operations
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
Labels: agent, it, v0.9.0

#2887 #2886 Remove column definition from JsonIn and JsonOut
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonOut.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioSettings.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/WithDefinitions.java
Labels: connector, kafka, v0.9.0

#2889 #2888 Topic APIs should prevent users from inputting negative number …
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
Labels: client, v0.9.0

#2892 #2891 [Manager] Don't update a connector when it's running
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.9.0

#2890 #2886 Remove column definition from JsonIn and JsonOut
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonOut.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioSettings.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/WithDefinitions.java
Labels: connector, kafka, v0.8.0

#2896 #2894 [Manager] Don't start a topic if it's failed in the creation phase
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#2898 #2888 Topic APIs should prevent users from inputting negative number to partitions and replications (backport to 0.8)
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
Labels: client, v0.8.0

#2885 #2656 add config operation for k8s
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
Labels: agent, it, v0.9.0

#2897 #2894 [Manager] Don't start a topic if it's failed in the creation ph…
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.8.0

#2905 #2904 fix weird warnings "Check docer version" from k8s-pre-install.sh
  kubernetes/distribute/k8s-pre-install.sh
Labels: others, v0.8.0

#2893 #2891 [Manager] Don't update a connector when it's running (backport to 0.8)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2903 #2882 Update UI test case 2
  docs/testcase/pipeline-jdbc-topic-ftp.md
Labels: docs, v0.9.0

#2909 #2901 [Manager] Connector should display the node it contains instead…
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/NodeNames.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
Labels: manager, v0.9.0

#2906 #2902 [Manager] Prevent UI from breaking when connector's column table has wrong inputs
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/NewRowModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.9.0

#2912 #2904 fix weird warnings "Check docer version" from k8s-pre-install.s…
  kubernetes/distribute/k8s-pre-install.sh
Labels: others, v0.9.0

#2911 #2901 [Manager] Connector should display the node it contains instead…
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/NodeNames.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
Labels: manager, v0.8.0

#2915 #2914 Fail to validate Ftp, hdfs and Rdb when the request carries the…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/Validator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, v0.9.0

#2916 #2914 Fail to validate Ftp, hdfs and Rdb when the request carries the…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/Validator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, v0.8.0

#2918 #2917 the consumer used to receive validation reports is closed too e…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
Labels: configurator, v0.9.0

#2899 #2882 Update UI test case and installation docs
  docs/testcase/ohara-installation.md
  docs/testcase/pipeline-ftp-topic-streamapp-hdfs.md
  docs/testcase/pipeline-jdbc-topic-ftp.md
Labels: docs, v0.9.0

#2907 #2902 [Manager] Prevent UI from breaking when connector's column table has wrong inputs (backport to 0.8)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/NewRowModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2922 #2920 Validation APIs does not return error report when we define the…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, v0.9.0

#2927 #2924 [Manager] Don't create a graph if the new connector's name is already taken in the pipeline
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/NodeNames.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.9.0

#2929 #2924 [Manager] Don't create a graph if the new connector's name is already taken in the pipelin (backport to 0.8)
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/NodeNames.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.8.0

#2932 #2930 [Manager] The stream jars link is broken in workspace overview's stream jars section (backport to 0.8)
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
Labels: manager, v0.8.0

#2925 #2920 Validation APIs does not return error report when we define the…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, v0.8.0

#2919 #2917 the consumer used to receive validation reports is closed too e…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
Labels: configurator, v0.8.0

#2931 #2930 [Manager] The stream jars link is broken in workspace overview's stream jars section
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
Labels: manager, v0.9.0

#2928 #2812 remove the auto-completed cluster field from Validation APIs
  docs/src/rest/rest-validation.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/WithConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
Labels: client, configurator, docs, v0.9.0

#2936 #2910 Update manager's development docs
  docs/src/manager_dev_guide.rst
Labels: docs, v0.9.0

#2908 #251 Enable Ohara manager windows support
  ohara-manager/client/cypress/support/retryOnFail.js
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.9.0

#2941 #2933 [Manager] Text content inside Material UI modals cannot be copied
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/styles.js
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
Labels: manager, v0.9.0

#2952 #2951 Fix the broken links in pull request template
  .github/pull_request_template.md
Labels: others, v0.9.0

#2953 #2951 Fix the broken links in pull request template
  .github/pull_request_template.md
Labels: others, v0.8.0

#2939 #2938 JsonIn should use java.BigDecimal rather than scala.BigDecimal
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JioData.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioData.scala
Labels: connector, v0.9.0

#2944 #2942 [Manager] Should handle topic starting error
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#2947 #2942 [Manager] Should handle topic starting error (backport to 0.8)
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.8.0

#2945 #2943 [Manager] Disable column table when the connector is running
  ohara-manager/client/src/components/common/Form/LinkButton.js
  ohara-manager/client/src/components/common/Mui/Form/Button.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/Table.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.9.0

#2940 #2938 JsonIn should use java.BigDecimal rather than scala.BigDecimal
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JioData.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioData.scala
Labels: connector, v0.8.0

#2948 #2888 The number of partitions/replications can't be zero
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
Labels: client, v0.9.0

#2946 #2943 [Manager] Disable column table when the connector is running (backport to 0.8)
  ohara-manager/client/src/components/common/Form/LinkButton.js
  ohara-manager/client/src/components/common/Mui/Form/Button.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/Table.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2956 #2954 [Manager] Display connector running state without a page refresh (backport to 0.8)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2949 #2888 The number of partitions/replications can't be zero
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
Labels: client, v0.8.0

#2955 #2954 [Manager] Display connector running state without a page refresh
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.9.0

#2961 #2958 [Manager] Only display topics that are belong to the current workspace in overview page (backport to 0.8)
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
Labels: manager, v0.8.0

#2965 #2964 Failed to get/list Connector/Topic if it count on a non-running…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.9.0

#2966 #2964 Failed to get/list Connector/Topic if it count on a non-running…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.8.0

#2962 #2926 Modify document to solve configurator permission issue and describe install K8S use the root permission
  docs/src/user_guide.rst
  kubernetes/distribute/k8s-pre-install.sh
Labels: docs, others, v0.9.0

#2950 #2656 adding config operation to zookeeper
  docker/zk.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: agent, client, configurator, others, v0.9.0

#2974 #757 Enable to filter the topics via query parameters
  docs/src/rest/rest-topics.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/QueryRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicQuery.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: client, configurator, docs, v0.9.0

#2960 #2958 [Manager] Only display topics that are belong to the current workspace in overview page
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
Labels: manager, v0.9.0

#2978 #2970 the length of container host name is too long
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, v0.9.0

#2982 #2981 the client IT don't apply CluserNameHolder
  ohara-it/src/test/scala/com/island/ohara/it/client/WithRemoteConfigurator.scala
Labels: it, v0.9.0

#2983 #757 Enable to filter the connectors via query parameters
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicQuery.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksDataStore.scala
Labels: client, configurator, docs, v0.9.0

#2984 #757 Enable to filter the pipelines via query parameters
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-topics.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, docs, v0.9.0

#2987 #2986 the key is missed in updating topic, zookeeper, broker, worker …
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, v0.9.0

#2988 #2986 the key is missed in updating topic, zookeeper, broker, worker …
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, v0.8.0

#2975 #2024 Test running multiple JDBC source connector to confirm data row count
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestMultipleJDBCSourceConnector.scala
Labels: connector, v0.9.0

#2989 #2985 Refactor c.i.o.c.c.v.Access
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
Labels: client, configurator, v0.9.0

#2990 #757 Enable to filter the zookeepers via query parameters
  docs/src/rest/rest-zookeepers.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: client, configurator, docs, v0.9.0

#2991 #757 Enable to filter the brokers via query parameters
  docs/src/rest/rest-brokers.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
Labels: client, configurator, docs, v0.9.0

#2977 #2976 Update 0.8.x branch's SNAPSHOT version to 0.8.0
  docker/backend.yml
  docker/build.yml
  docs/src/rest/rest-workers.rst
  gradle.properties
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, docs, others, v0.8.0

#2992 #757 Enable to filter the streamapp via query parameters
  docs/src/rest/rest-stream.rst
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator, docs, v0.9.0

#2993 #757 Enable to filter the workers via query parameters
  docs/src/rest/rest-workers.rst
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: configurator, docs, v0.9.0

#3002 #3001 Update the Quickstart link in the README.md
  README.md
Labels: others, v0.9.0

#2855 #2802 remove stale group, name, numberOfPartitions, numberOfReplicati…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/utils/generate.js
Labels: client, manager, v0.9.0

#3005 #2959 StreamApp should wrap the value from env
  docs/src/custom_streamapp.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
Labels: agent, docs, streams, v0.9.0

#3011 #3010 Bump snapshot version to 0.8.1-SNAPSHOT
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-manager/client/cypress/api/connectorApi.test.js
Labels: agent, manager, others, v0.8.1

#2963 #2812 remove the auto-completed cluster field from Topic APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-manager/client/src/api/topicApi.js
Labels: client, configurator, manager, v0.9.0

#3004 #3003 the Configurator service show in every nodes
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
Labels: agent, v0.9.0

#3009 #2842 Failed to catch the binding error in building embedded worker s…
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Workers.java
Labels: testing-util, v0.9.0

#3014 #3013 k8s collie does not define the correct host name
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, v0.9.0

#3016 #3015 make quick failure if Configurator receives an illegal k8s URL
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
Labels: configurator, v0.9.0

#3008 #1157 Some of the connector definitions in workers API do not have th…
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOrderInGroup.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSourceTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnectorDefinitions.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvSinkConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/CsvSinkTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestCsvDataWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestTopicPartitionWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/CsvSourceTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/WithFakeStorage.java
Labels: configurator, connector, it, kafka, v0.9.0

#3017 #2259 throw exception directly if failing to read the definitions fro…
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: agent, client, configurator, it, v0.9.0

#3020 #2998 [Manager] Fix connector update issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.1

#3023 #729 Added test code to test K8SClient configmap
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
Labels: agent, v0.9.0

#3027 #2812 remove the auto-completed cluster field from Connector APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
Labels: client, configurator, v0.9.0

#3033 #2863 Remove name from Log APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestLogApi.scala
Labels: client, v0.9.0

#3036 #3035 the response entity doesn't release correctly
  ohara-client/src/main/scala/com/island/ohara/client/HttpExecutor.scala
Labels: client, v0.9.0

#3037 #3035 the response entity doesn't release correctly
  ohara-client/src/main/scala/com/island/ohara/client/HttpExecutor.scala
Labels: client, v0.8.1

#3034 #2864 Remove name and clusterNames from Node APIs
  docs/src/rest/rest-nodes.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
Labels: client, docs, v0.9.0

#3029 #2812 remove the auto-completed cluster field from Query APIs
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
Labels: client, configurator, docs, kafka, v0.9.0

#3040 #1892 [Manager] Remove manager's --version option from CLI
  ohara-manager/utils/configHelpers.js
  ohara-manager/utils/getProjectVersion.js
Labels: manager, v0.9.0

#3039 #2994 Create Mui color theme for the new UI
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/Theme.js
  ohara-manager/client/src/components/common/Form/Button.js
  ohara-manager/client/src/index.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.9.0

#3042 #3041 Refactor routes base
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookBeforeDelete.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfAction.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfCreation.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfGet.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfList.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfSubName.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfUpdating.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
Labels: configurator, v0.9.0

#3044 #3043 Make sure PUT request to cluster APIs pass the check of resourc…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfAction.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator, v0.9.0

#3046 #2812 add a object checker to make sure all required objects exist
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
Labels: agent, configurator, v0.9.0

#3045 #2994 Update manager's development guideline
  docs/src/manager_dev_guide.rst
Labels: docs, v0.9.0

#3048 #3047 Unify the check rules of JsonRefiner
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/OharaJsonFormat.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: client, v0.9.0

#3052 #3051 [Manager] Fix test config button disabled state
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.1

#3049 #3028 Add node API tests
  ohara-manager/client/cypress/api/nodes.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/package.json
  ohara-manager/client/src/api/apiUtils.js
  ohara-manager/client/src/api/nodeApi.js
  ohara-manager/client/src/utils/__tests__/commonUtils.test.js
  ohara-manager/client/src/utils/commonUtils.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.9.0

#3056 #3055 Update 0.8.x branch's SNAPSHOT version to 0.8.1
  README.md
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-manager/client/cypress/api/connectorApi.test.js
Labels: agent, manager, others, v0.8.1

#3050 #2659 [Manager] Save API tests video in another directory
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/configs/cypress.api.json
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/cypress/plugins/index.js
  ohara-manager/client/package.json
  ohara-manager/scripts/mergeReports.js
  ohara-manager/scripts/runApiTests.js
  ohara-manager/scripts/runE2eTests.js
Labels: manager, v0.9.0

#3060 #3059 Bump 0.8.x branch's snapshot version to 0.8.2-SNAPSHOT
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-manager/client/cypress/api/connectorApi.test.js
Labels: agent, manager, others, v0.8.2

#3054 #2812 remove the auto-completed cluster field from Stream APIs
  docs/src/custom_streamapp.rst
  docs/src/rest/rest-stream.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: agent, client, configurator, docs, it, streams, v0.9.0

#3063 #3062 Integrate FileStore with Store
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFileInfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStoreBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
Labels: agent, client, configurator, v0.9.0

#3064 #2812 remove the auto-completed cluster field from Worker APIs
  docs/src/rest/rest-workers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
Labels: agent, client, configurator, docs, v0.9.0

#3067 #3053 修改安裝 K8S 的文件
  docs/src/user_guide.rst
Labels: docs, v0.9.0

#3065 #3043 Make sure PUT request to cluster APIs pass the check of resourc…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: configurator, v0.9.0

#3073 #3072 fix flaky TestTopicRoute.stopTopicFromNonexistentBrokerCluster
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: configurator, v0.9.0

#3076 #3075 fix flaky TestPipelineRoute.configurator.serviceCollie
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, v0.9.0

#3071 #3068 the incremented node is not stored by fake Configurator
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
Labels: configurator, v0.9.0

#3078 #2994 Add snackbar context into the new UI
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/context/SnackbarContext.js
  ohara-manager/client/src/index.js
Labels: manager, v0.9.0

#3077 #2656 adding config operation to broker
  docker/broker.sh
  docker/zk.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/ArgumentsBuilder.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, client, common, configurator, it, others, v0.9.0

#3080 #3074 Show the successful containers even if the collie says this clu…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
Labels: agent, v0.9.0

#3083 #3081 Upgrade gradle from 5.4.1 to 5.6.3
  docker/build.yml
  docker/deps.dockerfile
  docker/streamapp.dockerfile
Labels: others, v0.9.0

#3086 #3069 Remove exporter from broker cluster
  docker/broker.dockerfile
  docker/broker.sh
  docker/prometheus.dockerfile
  docker/prometheus/exporter.config.yml
  docker/prometheus/prometheus.yml
  docker/prometheus/target.sh
  docker/prometheus/targets.json
  docs/src/rest/rest-brokers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusConfigUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusJson.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, docs, it, others, v0.9.0

#3088 #3082 streamapp image should be based on deps image
  bin/ohara-env.sh
  docker/streamapp.dockerfile
  docker/streamapp.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-streams/build.gradle
Labels: agent, configurator, others, streams, v0.9.0

#3085 #2994 Add an E2E test case to guard against 404 page
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/package.json
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/Styles.js
  ohara-manager/client/src/index.js
  ohara-manager/client/src/theme/globalStyle.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3089 #2656 adding config operation to worker
  docker/worker.sh
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/ArgumentsBuilder.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
Labels: agent, client, configurator, docs, it, others, v0.9.0

#3090 #2957 Refactor dockerfile to use dynamic commands instead of immutabl…
  docker/broker.sh
  docker/worker.sh
  docker/zk.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/ArgumentsBuilder.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
Labels: agent, configurator, others, v0.9.0

#3092 #3091 add Definition APIs
  docs/src/rest/rest-info.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
Labels: client, configurator, docs, v0.9.0

#3095 #3094 add the default value to custom settings for all cluster services
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: client, v0.9.0

#3096 #2994 Display a workspace automatically if there's an existing one
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/Workspace.js
  ohara-manager/client/src/context/WorkspaceConetxt.js
  ohara-manager/client/src/index.js
Labels: manager, v0.9.0

#3098 #3084 Added autostart service for the Kubernetes API proxy server
  docs/src/user_guide.rst
  kubernetes/k8sproxyserver.service
Labels: docs, others, v0.9.0

#3101 #3100 Move the definition from StreamClusterInfo to Info APIs
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, client, configurator, v0.9.0

#3104 #3102 remove Private APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/ConfiguratorApiInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
Labels: client, configurator, v0.9.0

#3109 #3099 Unify the naming for all Definition-related classes
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-info.rst
  docs/src/rest/rest-stream.rst
  docs/src/setting_definition.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Definition.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOrderInGroup.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/TestConnectors.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefUtils.java
Labels: agent, client, common, configurator, connector, docs, kafka, streams, v0.9.0

#3106 #3097 Add pipeline navigator UI
  ohara-manager/.gitignore
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/src/App.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/PipelineNavigator.js
  ohara-manager/client/src/components/Pipeline/Styles.js
  ohara-manager/client/src/components/Workspace.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Form/Button.js
  ohara-manager/client/src/components/common/Progress/Progress.js
  ohara-manager/client/src/components/common/Progress/index.js
  ohara-manager/client/src/context/WorkspaceConetxt.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#3110 #3093 add tests for zookeeper, broker, worker and configurator
  docs/src/rest/rest-info.rst
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-manager/client/cypress/api/info.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/api/infoApi.js
  ohara-manager/utils/configHelpers.js
Labels: configurator, docs, manager, v0.9.0

#3118 #3117 [Manager] Downgrade Cypress to 3.4.1
  ohara-manager/.gitignore
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3116 #3103 enable Query APIs to fetch topic data
  docs/src/rest/rest-query.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestQueryTopic.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
Labels: client, configurator, docs, kafka, v0.9.0

#3113 #3112 The cluster key should be required for stream cluster and conne…
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
Labels: agent, client, configurator, connector, it, kafka, v0.9.0

#3111 #3108 Delete the WorkerClient after JDBC source connector test complete
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDataType.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestMultipleJDBCSourceConnector.scala
Labels: connector, v0.9.0

#3119 #3097 Add validation logic for new pipeline form
  ohara-manager/client/cypress/api/fileApi.test.js
  ohara-manager/client/cypress/api/nodes.test.js
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Pipeline/PipelineNavigator.js
  ohara-manager/client/src/utils/__tests__/validate.test.js
  ohara-manager/client/src/utils/generate.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#3122 #3114 disable user to use "double underscore" in definition key
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
Labels: common, v0.9.0

#3127 #3123 enable Configurator to fetch the necessary classes name from sp…
  docs/src/rest/rest-query.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ReflectionUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOrderInGroup.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestQueryTopic.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: client, common, configurator, docs, v0.9.0

#3129 #3128 Introduce strict checks for connector data according to schema
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceMetrics.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskSetting.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorUtils.java
Labels: common, connector, kafka, v0.9.0

#3126 #3097 Add pipeline route logic
  ohara-manager/client/src/App.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/utils/url.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/PipelineGraph.js
  ohara-manager/client/src/components/Pipeline/PipelineNavigator.js
  ohara-manager/client/src/components/Pipeline/Styles.js
  ohara-manager/client/src/context/PipelineContext.js
  ohara-manager/client/src/context/WorkspaceContext.js
  ohara-manager/client/src/index.js
Labels: manager, v0.9.0

#3131 #3130 Enable Configurator to recognize the source of topic data
  docs/src/rest/rest-query.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestQueryTopic.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Header.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskSetting.java
Labels: client, configurator, docs, kafka, v0.9.0
