Repository oharastream/ohara, pull requests merged in 2019-08, with the labels that each got.

#2071 #1734 add group to stream route
  docs/src/rest_interface.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
Labels: client, docs, v0.7.0

#2035 #1873 Remove enzyme lib from pipeline list page
  ohara-manager/client/src/components/common/Messages/Warning.js
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/commonUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineListPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineListPageUtils.js
Labels: manager, v0.7.0

#2078 #2072 fix flaky test TestConfiguratorBuilder.testFakeCluster
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: configurator, v0.7.0

#2036 #2027 Ohara 的 Consumer class 需要增加取得 offset 的方法
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
Labels: kafka, v0.7.0

#2077 #1734 The Client APIs should substitute Key for name
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Access.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFileInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHdfsInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
Labels: client, configurator, v0.7.0

#2037 #1730 Update unit test with new api and snackbar
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/__tests__/NodeListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Nodes.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.7.0

#2080 #2046 Refactor manager's new workspace modal
  ohara-manager/client/src/components/controller/index.js
  ohara-manager/client/src/components/controller/useGetApi.js
  ohara-manager/client/src/components/controller/usePutApi.js
  ohara-manager/client/src/components/controller/useValidationApi.js
  ohara-manager/client/src/components/controller/useWaitApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/useCreateServices.js
Labels: manager, v0.7.0

#2083 #2082 The IT source/sink jar neglect to include package.class
  ohara-it/build.gradle
Labels: it, v0.7.0

#2019 #1136 Implement an abstract class from HDFSSinkTask
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestTestCases.scala
  ohara-common/src/main/java/com/island/ohara/common/annotations/IgnoreNamingRule.java
  ohara-common/src/main/java/com/island/ohara/common/util/StreamUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestStreamUtils.java
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSinkConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSStorage.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSStorage.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/DataWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/RecordWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/RecordWriterProvider.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvDataWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvRecordWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvRecordWriterProvider.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/FileUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/RecordUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/TopicPartitionWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/storage/Storage.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/CsvSourceConverter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/CsvSinkTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/WithMockStorage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestCsvDataWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestTopicPartitionWriter.java
Labels: assembly, common, connector, kafka, v0.7.0

#2086 #2085 Fix unit test with workerspace page
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
Labels: manager, v0.7.0

#2087 #1644 remove parameter from Log APIs
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
Labels: configurator, v0.7.0

#2089 #2088 Change worker api properties jars to jarKeys with manager
  ohara-manager/client/cypress/api/workerApi.js
  ohara-manager/client/cypress/support/apiTest.js
  ohara-manager/client/src/api/__tests__/jarApi.test.js
  ohara-manager/client/src/api/jarApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#2096 #1734 add group to Object APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
Labels: client, configurator, v0.7.0

#2094 #2091 Move all constants from Data to v0.package
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterJsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHdfsInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestKeyApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/RocksDataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/SimpleData.scala
Labels: agent, client, configurator, v0.7.0

#2097 #2093 Delete topic api is not really working
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: client, configurator, v0.7.0

#2099 #1730 Refactor new topic modal with a better form validation feedback
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
Labels: manager, v0.7.0

#2100 #2098 Substitute TopicKey for name of topicAdmin
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: client, configurator, v0.7.0

#2102 #2095 Break down rest-api document to small parts, part1
  docs/src/index.rst
  docs/src/rest/index.rst
  docs/src/rest/rest-files.rst
  docs/src/rest/rest-info.rst
  docs/src/rest/rest-logs.rst
  docs/src/rest/rest-query.rst
  docs/src/rest_interface.rst
Labels: docs, v0.7.0

#2104 #2095 Break down rest-api document to small parts, part2
  docs/src/custom_connector.rst
  docs/src/rest/index.rst
  docs/src/rest/rest-container.rst
  docs/src/rest/rest-streamapp.rst
  docs/src/rest/rest-validation.rst
  docs/src/rest/rest-worker.rst
  docs/src/rest_interface.rst
Labels: docs, v0.7.0

#2081 #1873 Migrate pipeline new/edit page to use react testing library
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
Labels: manager, v0.7.0

#2105 #2095 Break down rest-api document to small parts, part3
  docs/src/custom_connector.rst
  docs/src/custom_streamapp.rst
  docs/src/rest/index.rst
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-containers.rst
  docs/src/rest/rest-files.rst
  docs/src/rest/rest-nodes.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-query.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-validation.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  docs/src/rest_interface.rst
  docs/src/user_guide.rst
Labels: docs, v0.7.0

#2111 #2095 Break down rest-api document to small parts, part4
  docs/src/index.rst
  docs/src/rest/index.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-containers.rst
  docs/src/rest/rest-ftp.rst
  docs/src/rest/rest-hdfs.rst
  docs/src/rest/rest-info.rst
  docs/src/rest/rest-jdbc.rst
  docs/src/rest/rest-logs.rst
  docs/src/rest/rest-nodes.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-query.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-topics.rst
  docs/src/rest/rest-version.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  docs/src/rest_interface.rst
  docs/src/user_guide.rst
Labels: docs, v0.7.0

#2108 #2106 Remove prop type warning in manager unit test runner's console
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
Labels: manager, v0.7.0

#2103 #2005 move auto filled behavior to creation phase in connector
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
Labels: client, configurator, v0.7.0

#2101 #1972 Apply "start" and "stop" action to Topic API with Ohara Manager
  ohara-manager/client/cypress/api/topicApi.js
  ohara-manager/client/cypress/support/apiTest.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
Labels: manager, v0.7.0

#2109 #1873 Remove enzyme package and its settings from manager
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineGraph.test.js
  ohara-manager/client/src/setupTests.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.7.0

#2114 #2113 Add list api of stream in document
  docs/src/rest/rest-stream.rst
Labels: docs, v0.7.0

#2110 #1749 Refactor stream and jar API tests
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/api/brokerApi.js
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/containerApi.js
  ohara-manager/client/cypress/api/jarApi.js
  ohara-manager/client/cypress/api/logApi.js
  ohara-manager/client/cypress/api/nodeApi.js
  ohara-manager/client/cypress/api/pipelineApi.js
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/api/topicApi.js
  ohara-manager/client/cypress/api/workerApi.js
  ohara-manager/client/cypress/api/zookeeperApi.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/scripts/mergeE2eReports.js
Labels: manager, v0.7.0

#2120 #1730 Refactor node page so it's consistent with others Mui components
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/NodePage/__tests__/NodeListPage.test.js
  ohara-manager/client/src/components/pages/NodePage/styles.js
Labels: manager, v0.7.0

#2117 #2112 Add more message when rejecting deletion to a used file
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
Labels: configurator, v0.7.0

#2118 #2116 Remove deprecated HDFSSinkConnector
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/DataWriter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnectorConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HadoopConfigurationConstants.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/TopicPartitionWriter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/creator/HDFSStorageCreator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/creator/StorageCreator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSinkConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/text/CSVRecordWriterOutput.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/text/RecordWriterOutput.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestDataWriter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHdfsSinkConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestTopicPartitionWriter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/creator/LocalHDFSStorageCreator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/text/TestCSVRecordWriterOutput.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBC2HDFS.scala
  ohara-manager/client/cypress/e2e/pipelineNewPage.test.js
  ohara-manager/client/src/constants/pipelines.js
Labels: connector, manager, v0.7.0

#2084 #1997 Enable BrokerCluster to show the available configs of topic
  docs/src/custom_connector.rst
  docs/src/rest/rest-brokers.rst
  ohara-agent/build.gradle
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
Labels: agent, client, common, configurator, docs, v0.7.0

#2129 #2123 Connector APIs does not parse connector.key
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.7.0

#2134 #1972 creating/updating properties don't touch running topic anymore
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: configurator, v0.7.0

#2135 #2132 Forbid user to delete properties of a running connector
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
Labels: configurator, v0.7.0

#2128 #2107 Add dialog component unit test
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/__tests__/Dialog.test.js
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#2119 #1777 Use flows field instead of rules field in pipeline API
  ohara-manager/client/cypress/api/pipelineApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/Metrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
  ohara-manager/client/src/propTypes/pipeline.js
Labels: manager, v0.7.0

#2126 #2005 move auto filled behavior to creation phase in broker
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, client, configurator, it, v0.7.0

#2143 #2139 make the connector object carry the class name even if fail to …
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, v0.7.0

#2140 #2107 Add delete dialog component unit tests
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/__tests__/DeleteDialog.test.js
Labels: manager, v0.7.0

#2141 #1777 Fix cannot start/stop a connector from pipeline issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, v0.7.0

#2142 #2092 Implement FtpStorage to extend com/island/ohara/kafka/connector/storage/Storage
  ohara-common/src/main/java/com/island/ohara/common/exception/OharaFileAlreadyExistsException.java
  ohara-connector/build.gradle
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpStorage.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSStorage.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpStorage.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSStorage.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvRecordWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/storage/Storage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/WithMockStorage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/storage/StorageTestBase.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Hdfs.java
Labels: common, connector, kafka, testing-util, v0.7.0

#2146 #2107 Add button component unit tests
  ohara-manager/client/src/components/common/Mui/Form/__tests__/Button.test.js
Labels: manager, v0.7.0

#2136 #1777 Use the correct topic keys in connectors
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.7.0

#2153 #1644 remove rules from pipeline
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
Labels: client, v0.7.0

#2131 #2130 add helper method to RouteUtils to accept custom action
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-topics.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
Labels: client, configurator, docs, it, v0.7.0

#2154 #2090 an new Pipeline API used to cleanup nonexistent object from flows
  docs/src/rest/rest-pipelines.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, docs, v0.7.0

#2155 #2130 a bit refactor for RouteUtils
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
Labels: configurator, v0.7.0

#2157 #2156 apply ObjectKey to FileStore
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
Labels: configurator, v0.7.0

#2162 #2159 The update to running zookeeper cluster and broker cluster shou…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: configurator, v0.7.0

#2164 #2149 Remove unused dialog title component
  ohara-manager/client/src/components/common/Mui/Dialog/DialogTitle.js
  ohara-manager/client/src/components/common/Mui/Dialog/index.js
Labels: manager, v0.7.0

#2152 #2107 Add checkbox unit tests
  ohara-manager/client/src/components/common/Mui/Form/Checkbox.js
  ohara-manager/client/src/components/common/Mui/Form/__tests__/Checkbox.test.js
Labels: manager, v0.7.0

#2148 #1777 Fix pipeline graph not updating issue when switching between the same type of connector
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
Labels: manager, v0.7.0

#2165 #271 Implement perf source connector property form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/PerfSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/SidebarRoutes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/constants/pipelines.js
Labels: manager, v0.7.0

#2171 #2170 Remove unused code from WorkerJson
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerJson.scala
Labels: client, v0.7.0

#2175 #2174 explicitly add ohara-connector to configurator dependency
  ohara-configurator/build.gradle
Labels: configurator, v0.7.0

#2177 #2176 Reject the start request of connector if the input topics are s…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, v0.7.0

#2180 #2173 Put all default value of topic configs to SettingDef
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.7.0

#2172 #2156 have file url end with jar name so as to make downloaded file h…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: configurator, it, v0.7.0

#2169 #2107 Add input field component unit tests
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/common/Mui/Form/__tests__/InputField.test.js
Labels: manager, v0.7.0

#2182 #2181 Use SettingDef to represent group, name, brokerClusterName, num…
  docs/src/rest/rest-topics.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, docs, v0.7.0

#2147 #1730 Refactor pipeline list page with Mui
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/pipelineNewPage.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/__tests__/DeleteDialog.test.js
  ohara-manager/client/src/components/common/Mui/Form/Button.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
Labels: manager, v0.7.0

#2188 #2137 Clean up manager's test utility
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
  ohara-manager/client/src/utils/testUtils.js
Labels: manager, v0.7.0

#2190 #2107 Add select component unit tests
  ohara-manager/client/src/components/common/Mui/Form/__tests__/Select.test.js
Labels: manager, v0.7.0

#2075 #1732 JDBC Source Connector 要做到 offset recovery 的功能
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
Labels: connector, v0.7.0

#1929 #810 Support custom config for stream API
  docs/src/custom_streamapp.rst
  docs/src/rest/rest-stream.rst
  docs/src/sample.rst
  ohara-agent/build.gradle
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/build.gradle
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Definition.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefinitions.java
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/pipelineGraphUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/SidebarRoutes.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/commonUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Conditions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamsConfig.java
  ohara-streams/src/test/java/com/island/ohara/streams/StreamTestUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefinitions.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamAppTopology.java
Labels: agent, client, common, configurator, docs, it, kafka, manager, streams, v0.7.0

#2194 #2192 Cleanup manager codebase
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/public/manifest.json
  ohara-manager/client/src/components/context/Snackbar/SnackbarProvider.js
  ohara-manager/client/src/components/controller/url.js
  ohara-manager/client/src/components/controller/useFetchApi.js
  ohara-manager/client/src/components/controller/useValidationApi.js
  ohara-manager/client/src/components/controller/useWaitApi.js
  ohara-manager/client/src/constants/cypress.js
Labels: manager, v0.7.0

#2195 #1730 Replace all tooltips with Mui's tooltip component
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Form/Label.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.7.0

#2199 #2178 Reject the start request of streamapp if the input topics are s…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator, v0.7.0

#2186 #1897 Remove "workerClusterName" from Pipeline with manager
  ohara-manager/client/cypress/api/pipelineApi.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
Labels: manager, v0.7.0

#2203 #2202 fix flaky TestTopicAdmin.testExist
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
Labels: client, v0.7.0

#2205 #1897 Remove workerClusterName from Pipeline
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, v0.7.0

#2168 #1777 Fix pipeline connector deletion
  ohara-manager/client/cypress/e2e/pipelineNewPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
Labels: manager, v0.7.0

#2211 #2079 refactor FtpSinkTask to extend CsvSinkTask
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/ftp/TestFtpClient.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpStorage.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpStorage.scala
Labels: client, connector, v0.7.0

#2208 #2207 emove manifest.json from manager's index.html file
  ohara-manager/client/public/index.html
Labels: manager, v0.7.0

#2217 #2214 StreamApp could not parse url
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
Labels: agent, streams, v0.7.0

#2220 #2218 Fix boolean value is not properly handled in the connector renderer issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.7.0

#2224 #2049 Add a tags definition in dumb source and sink connectors
  ohara-it/src/main/scala/com/island/ohara/it/connector/package.scala
Labels: it, v0.7.0

#2215 #2184 Introduce ConsoleSink
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSinkTask.scala
Labels: connector, v0.7.0

#2226 #2223 enable Duration type to accept singular unit
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, v0.7.0

#2230 #2179 Remove unused instance in FakeWorkerClient
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
Labels: configurator, v0.7.0

#2234 #2233 fix ConsoleSink
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSinkTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSinkTask.scala
Labels: connector, v0.7.0

#2225 #2049 Render valueType TAGS as an text field
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/SidebarRoutes.js
Labels: manager, v0.7.0

#2228 #2213 Pipeline list page should display the workspace name in the list
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: manager, v0.7.0

#2232 #2231 Get definition of streamApp should skip quote of url also
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: agent, it, v0.7.0

#2144 #1544 Separate cluster creation of worker
  docs/src/rest/rest-workers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/resources/log4j.properties
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/containerApi.js
  ohara-manager/client/cypress/api/logApi.js
  ohara-manager/client/cypress/api/validateApi.js
  ohara-manager/client/cypress/api/workerApi.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/useCreateServices.js
Labels: agent, client, configurator, docs, it, manager, v0.7.0

#2240 #2161 Remove trait "ClusterJsonRefiner"
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterJsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
Labels: client, v0.7.0

#2237 #2235 Stream API could not update from or to field to empty
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: client, configurator, v0.7.0

#2248 #2231 use URI constructor instead of URL for parsing url to server
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: agent, configurator, v0.7.0

#2260 #2255 Update version of master branch to 0.8.0-SNAPSHOT
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/validateApi.js
Labels: manager, others, v0.8.0

#2265 #2262 Docs: remove hard code version value
  docs/src/contrib-docs/build_docs.rst
  docs/src/index.rst
  docs/src/user_guide.rst
Labels: docs, v0.8.0

#2266 #2262 Docs: remove hard code version value
  docs/src/contrib-docs/build_docs.rst
  docs/src/index.rst
  docs/src/user_guide.rst
Labels: docs, v0.7.0

#2252 #2251 Worker should update the fetch connector list
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-it/src/test/resources/log4j.properties
Labels: configurator, it, v0.8.0

#2247 #2242 FakeStreamCollie fails to honor the input configs
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/package.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestEnvConversion.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
Labels: agent, client, configurator, it, streams, v0.8.0

#2258 #2256 Hide consoleSink connector from the UI
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/constants/pipelines.js
Labels: manager, v0.8.0

#2271 #2256 Hide consoleSink connector from the UI (backport to 0.7)
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/constants/pipelines.js
Labels: manager, v0.7.0

#2270 #2251 Worker should update the fetch connector list (backport to 0.7)
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-it/src/test/resources/log4j.properties
Labels: configurator, it, v0.7.0

#2272 #2242 FakeStreamCollie fails to honor the input configs
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/package.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestEnvConversion.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
Labels: agent, client, configurator, it, streams, v0.7.0

#2280 #2241 Refactor the updateState for all cluster routes
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookBeforeDelete.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfAction.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfCreation.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfGet.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfGroup.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfList.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfSubName.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfUpdate.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
Labels: agent, client, configurator, v0.8.0

#2264 #2245 Stream APIs take multiples from/to topics but the streamapp ta…
  docs/src/rest/rest-stream.rst
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator, docs, v0.8.0

#2273 #2245 Stream APIs take multiples from/to topics but the streamapp tak… (backport to 0.7)
  docs/src/rest/rest-stream.rst
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator, docs, v0.7.0

#2281 #2241 Refactor the updateState for all cluster routes
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookBeforeDelete.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfAction.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfCreation.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfGet.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfGroup.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfList.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfSubName.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfUpdate.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
Labels: agent, client, configurator, v0.7.0

#2284 #2283 Tweak some UI metadata behavior of streamApp
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
Labels: streams, v0.8.0

#2285 #2283 Tweak some UI metadata behavior of streamApp (backport to 0.7)
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
Labels: streams, v0.7.0

#2196 #2189 Add more e2e test with perf connector and metrics
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/e2e/pipelineNewPage.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/pipelineGraphUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/MetricsListItem.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/TopicMetrics.js
Labels: manager, v0.8.0

#2269 #2267 Refactor result type of list() to java.nio.file.Path in Storage
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpStorage.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSStorage.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/storage/Storage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/WithMockStorage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestTopicPartitionWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/storage/StorageTestBase.java
Labels: connector, kafka, v0.8.0

#2290 #2286 StreamApp should use the runtime nodeNames to create cluster (backport to 0.7)
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: agent, configurator, v0.7.0

#2292 #2287 StreamApp could not parse url in k8s mode (backport to 0.7)
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
Labels: agent, v0.7.0

#2289 #2286 StreamApp should use the runtime nodeNames to create cluster
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: agent, configurator, v0.8.0

#2291 #2287 StreamApp could not parse url in k8s mode
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
Labels: agent, v0.8.0

#2295 #2150 Remove API unit tests from manager
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/api/__tests__/brokerApi.test.js
  ohara-manager/client/src/api/__tests__/connectorApi.test.js
  ohara-manager/client/src/api/__tests__/containerApi.test.js
  ohara-manager/client/src/api/__tests__/infoApi.test.js
  ohara-manager/client/src/api/__tests__/jarApi.test.js
  ohara-manager/client/src/api/__tests__/log.test.js
  ohara-manager/client/src/api/__tests__/nodeApi.test.js
  ohara-manager/client/src/api/__tests__/pipelineApi.test.js
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/__tests__/topicApi.test.js
  ohara-manager/client/src/api/__tests__/validateApi.test.js
  ohara-manager/client/src/api/__tests__/workerApi.test.js
  ohara-manager/client/src/api/__tests__/zookeeperApi.test.js
Labels: manager, v0.8.0

#2253 #2183 Add table and sort table components unit tests
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/common/Mui/Table/__tests__/SortTable.test.js
  ohara-manager/client/src/components/common/Mui/Table/__tests__/Table.test.js
Labels: manager, v0.8.0

#2294 #2209 Use metadata API to render stream app property form
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FinalFormWrapper.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: manager, v0.8.0

#2279 #273 Connectors are not displayed immediately after a workspace is created
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/useCreateServices.js
Labels: manager, v0.8.0

#2296 #2257 Disable the connector if the connector is active
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/PerfSource.js
Labels: manager, v0.8.0

#2303 #2302 Prevent the UI from breaking when stream app name is too long
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
Labels: manager, v0.8.0

#2309 #2246 JAR_KEY_DEFINITION should not be mapped to different field
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
Labels: agent, streams, v0.8.0

#2299 #2209 Use metadata API to render stream app property form (backport to 0.7)
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FinalFormWrapper.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: manager, v0.7.0

#2304 #2145 Don't allow users to add a new connector without a valid connector name
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.8.0

#2305 #2221 Update ohara version modal to use Mui's dialog
  ohara-manager/client/cypress/e2e/nav.test.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
  ohara-manager/client/src/components/common/Modal/InfoModal.js
  ohara-manager/client/src/components/common/Modal/index.js
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/__tests__/Dialog.test.js
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.8.0

#2313 Enable cypress to record the videos
  ohara-manager/client/cypress.json
Labels: manager, v0.8.0

#2322 #2316 Pipeline API should summarize the metrics of streamApp (backport to 0.7)
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/resources/log4j.properties
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
Labels: configurator, streams, v0.7.0

#2320 #2316 Pipeline API should summarize the metrics of streamApp
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/resources/log4j.properties
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
Labels: configurator, streams, v0.8.0

#2300 #2257 Disable the connector if the connector is active (backport to 0.7)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/PerfSource.js
Labels: manager, v0.7.0

#2323 #2307 Typo in the user interface
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/NodePage/__tests__/NodeListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
Labels: manager, v0.8.0

#2332 #2330 Reject to delete file if the file is used by worker cluster
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
Labels: configurator, v0.8.0

#2327 #2209 Fix start and stop stream app from pipeline (backport to 0.7)
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/common/Mui/Form/Select.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: manager, v0.7.0

#2329 #2328 Remove container API from manager
  ohara-manager/client/cypress/api/containerApi.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/src/api/containerApi.js
Labels: manager, v0.8.0

#2338 #2210 Reuse generate utility from client source in cypress tests
  ohara-manager/client/cypress/api/brokerApi.js
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/logApi.js
  ohara-manager/client/cypress/api/nodeApi.js
  ohara-manager/client/cypress/api/pipelineApi.js
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/api/topicApi.js
  ohara-manager/client/cypress/api/validateApi.js
  ohara-manager/client/cypress/api/workerApi.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/pipelineNewPage.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.8.0

#2336 #2333 Connector client does not package the group to creation request
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.7.0

#2335 #2333 Connector client does not package the group to creation request
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.8.0

#2340 #2339 Remove the unused generic type from collie
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
Labels: agent, configurator, v0.8.0

#2337 #2325 Rename Stream Apps to Stream Jar with workspaces page
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
Labels: manager, v0.8.0

#2308 #2250 Implement console sink connector with manager
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ConsoleSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/SidebarRoutes.js
  ohara-manager/client/src/constants/pipelines.js
Labels: manager, v0.8.0

#2343 #2341 Add non-technical sentences to catch users
  README.md
  images/pipeline_screenshot.jpg
Labels: others, v0.8.0

#2315 #2244 StreamDefinitions should be immutable since it is a json object
  docs/src/user_guide.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestStreamDefUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
Labels: agent, client, configurator, docs, streams, v0.8.0

#2331 #2219 Complete setting definition of docs
  docs/src/custom_connector.rst
  docs/src/custom_streamapp.rst
  docs/src/index.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-validation.rst
  docs/src/rest/rest-workers.rst
  docs/src/setting_definition.rst
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
Labels: common, docs, v0.8.0

#2345 #2245 add missing annotate test
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: configurator, v0.8.0

#2239 #2236 Manager's E2E cleanup script fails to do the cleanup
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/scriptsUtils.js
Labels: manager, v0.8.0

#2353 #2347 Pipeline graph failed icon link to logs page url workers is undefined (backport to 0.7)
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
Labels: manager, v0.7.0

#2352 #2347 Pipeline graph failed icon link to logs page url workers is undefined
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
Labels: manager, v0.8.0

#2344 #2151 add explicit argument - broker name - to Stream APIs
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
Labels: agent, client, configurator, it, manager, v0.8.0

#2351 #2346 Cluster showing failed at first fetch by api (backport to 0.7)
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
Labels: agent, configurator, v0.7.0

#2326 #2209 Fix start and stop stream app from pipeline
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/pipelineNewPage.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/common/Mui/Form/Select.js
  ohara-manager/client/src/components/common/Mui/Form/__tests__/InputField.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: manager, v0.8.0

#2349 #2346 Cluster showing failed at first fetch by api
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
Labels: agent, configurator, v0.8.0

#2366 #2365 Defining the k8s client in building configurator may invoke dup…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: configurator, v0.8.0

#2362 #2298 Add checking for streamApp environment variables
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestCodePattern.scala
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/AbstractStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/test/java/com/island/ohara/streams/StreamTestUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestOStreamBuilder.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestSimpleStreamCounter.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamAppTopology.java
Labels: assembly, streams, v0.8.0

#2371 #2370 the port generated by CommonUtils.availablePort() may be smalle…
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, v0.8.0

#2374 #2073 Docs: A quick example for rst document writing
  build.gradle
  docs/src/conf.py
  docs/src/contrib-docs/_include/RowSourceConnector.java
  docs/src/contrib-docs/_include/sample.json
  docs/src/contrib-docs/build_docs.rst
  docs/src/contrib-docs/index.rst
  docs/src/contrib-docs/quick_example.rst
  docs/src/sample.rst
Labels: v0.8.0

#2372 #2370 the port generated by CommonUtils.availablePort() may be smalle…
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
Labels: common, v0.7.0
