Repository oharastream/ohara, pull requests merged in 2019-12, with the labels that each got.

#3433 #3331 Fix various paper scale related bugs
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/common/Icon/PrivateTopicIcon.js
  ohara-manager/client/src/components/common/Icon/PublicTopicIcon.js
  ohara-manager/client/src/context/PipelineContext.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/pipeline/pipelineRoutines.js
  ohara-manager/client/src/context/topic/TopicContext.js
Labels: manager, v0.9.0

#3440 #3030 add an new filed "megabytesOfInputData" to control the size of …
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4JsonOut.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4PerfSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Topic.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerSender.java
Labels: it, kafka, v0.9.0

#3425 #3180 Create 501 error page
  bin/ohara-env.sh
  ohara-manager/build.gradle
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/src/api/body/inspectManagerBody.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/components/ErrorPages/ErrorBoundary.js
  ohara-manager/client/src/components/ErrorPages/ErrorPageStyles.js
  ohara-manager/client/src/components/ErrorPages/NotFoundPage.js
  ohara-manager/client/src/components/ErrorPages/NotImplementedPage.js
  ohara-manager/package.json
  ohara-manager/routes/inspectRoute.js
  ohara-manager/start.js
Labels: manager, others, v0.9.0

#3417 #3030 Write the script of building a min hdfs cluster
  ohara-it/docker/README.md
  ohara-it/docker/core-site.sh
  ohara-it/docker/datanode.dockerfile
  ohara-it/docker/datanode.sh
  ohara-it/docker/hdfs-container.sh
  ohara-it/docker/hdfs-site.sh
  ohara-it/docker/namenode.dockerfile
  ohara-it/docker/namenode.sh
Labels: it, v0.9.0

#3443 #3442 the state of node is always unavailable since we don't update t…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/BasicTests4Node.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestNodeOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestNodeOnK8S.scala
Labels: configurator, it, v0.9.0

#3445 #3439 Increase sleep seconds for the TestQueryConfiguratorLog test
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
Labels: it, v0.9.0

#3448 #3030 add the routes to Configurator in order to avoid UnknownHostExc…
  ohara-it/src/test/scala/com/island/ohara/it/WithRemoteConfigurator.scala
Labels: it, v0.9.0

#3451 #3058 [Manager] Enable windows support for build.gradle
  ohara-manager/build.gradle
  ohara-manager/scripts/cleanAllProcesses.js
Labels: manager, v0.9.0

#3450 #3331 Implement centering a graph feature
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphHooks.js
  ohara-manager/client/src/components/Pipeline/Graph/graphUtils.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
Labels: manager, v0.9.0

#3453 #3452 Introduce new Object APIs enabling Manager to temporarily store…
  docs/src/rest/index.rst
  docs/src/rest/rest-objects.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestObjectApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfUpdating.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
Labels: client, configurator, docs, v0.9.0

#3449 #3030 Introduce performance test for HDFSSink
  ohara-it/build.gradle
  ohara-it/docker/hdfs-container.sh
  ohara-it/docker/namenode.dockerfile
  ohara-it/docker/namenode.sh
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Hdfs.scala
Labels: it, v0.9.0

#3464 #3030 add prefix "ohara.it.performance" to all setting keys
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Hdfs.scala
Labels: it, v0.9.0

#3468 #3455 [Manager] Fix drag and drop bug when different scaling is applied
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphHooks.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
Labels: manager, v0.9.0

#3469 #3465 add an new filed "routes" to all cluster services
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicCreation.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreation.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterUpdating.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: agent, client, configurator, streams, v0.9.0

#3472 #3471 Duration in definitions requires a unified unit string millisec…
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
Labels: common, v0.9.0

#3470 #3466 add an new flag "updatable" to definition to protect the value
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestRouteUtils.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, common, configurator, docs, kafka, streams, v0.9.0

#3473 #3457 rename "topics.dir" to "output.folder"
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Hdfs.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnectorDefinitions.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvSinkConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/TopicPartitionWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestCsvDataWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestTopicPartitionWriter.java
Labels: connector, it, kafka, v0.9.0

#3475 #3474 [Manager] Fix pipeline routing issue
  ohara-manager/client/public/fontawesome.v5.6.3.min.css
  ohara-manager/client/public/index.html
  ohara-manager/client/public/webfonts/fa-brands-400.eot
  ohara-manager/client/public/webfonts/fa-brands-400.svg
  ohara-manager/client/public/webfonts/fa-brands-400.ttf
  ohara-manager/client/public/webfonts/fa-brands-400.woff
  ohara-manager/client/public/webfonts/fa-brands-400.woff2
  ohara-manager/client/public/webfonts/fa-regular-400.eot
  ohara-manager/client/public/webfonts/fa-regular-400.svg
  ohara-manager/client/public/webfonts/fa-regular-400.ttf
  ohara-manager/client/public/webfonts/fa-regular-400.woff
  ohara-manager/client/public/webfonts/fa-regular-400.woff2
  ohara-manager/client/public/webfonts/fa-solid-900.eot
  ohara-manager/client/public/webfonts/fa-solid-900.svg
  ohara-manager/client/public/webfonts/fa-solid-900.ttf
  ohara-manager/client/public/webfonts/fa-solid-900.woff
  ohara-manager/client/public/webfonts/fa-solid-900.woff2
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
Labels: manager, v0.9.0

#3476 #3467 add query parameter "tag" to find out the object according to a…
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-streams.rst
  docs/src/rest/rest-topics.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicQuery.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: client, configurator, docs, v0.9.0

#3479 #3477 Failed to inspect the topic due to incorrect object key
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/resources/log4j.properties
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestInspectTopic.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskSetting.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorFormatter.java
Labels: client, configurator, connector, kafka, v0.9.0

#3481 #3478 the default value of internal definition is not appended to set…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamSetting.java
Labels: client, streams, v0.9.0

#3482 #3480 Introduce permission field - it consists of READ_ONLY, CREATE_O…
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestRouteUtils.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, common, configurator, docs, kafka, streams, v0.9.0

#3483 #2546 avoid redundant boxing for primitive type
  ohara-common/src/main/java/com/island/ohara/common/setting/PropGroup.java
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskSetting.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/SumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/FtpServer.java
Labels: common, kafka, streams, testing-util, v0.9.0

#3460 #3030 Write the script of building a single oracle database
  ohara-it/docker/README.md
  ohara-it/docker/oracle-container.sh
Labels: it, v0.9.0

#3484 #3331 Refactor paper zooming function
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphHooks.js
Labels: manager, v0.9.0

#3488 #3485 Tweak pipeline paper configurations and cell styles
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/styles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
Labels: manager, v0.9.0

#3489 #3378 Shabondi sink routes(part 1)
  ohara-shabondi/build.gradle
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Boot.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/RowQueueProducer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SinkRoute.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SinkRouteHandler.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/SourceRouteHandler.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/StreamGraph.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Utils.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
  ohara-shabondi/src/test/resources/log4j.properties
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestConfig.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestKafkaClient.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestKit.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRowData.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRowQueueProducer.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestSourceRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamFlow.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamGraph.scala
Labels: shabondi, v0.9.0

#3495 3492 Refactor CsvSourceConfig to avoid too many pack
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvDataReader.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvSourceConfig.java
Labels: kafka, v0.9.0

#3496 #3494 rename TableColumn.string to TableColumn.type
  ohara-common/src/main/java/com/island/ohara/common/setting/TableColumn.java
Labels: common, v0.9.0

#3499 #3498 Refactor CsvSinkConfig to avoid too many pack
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvRecordWriter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvSinkConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/CsvSinkTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestCsvSinkConfig.java
Labels: kafka, v0.9.0

#3501 #3456 The error folder of csv connector should be optional so users a…
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnectorDefinitions.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvSourceConfig.java
Labels: connector, kafka, v0.9.0

#3503 #3502 the setting definitions from dumb source/sink should include al…
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestSettingDefInDumbConnector.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-it/src/main/scala/com/island/ohara/it/connector/package.scala
Labels: assembly, common, it, v0.9.0

#3505 #3378 Minor refactor for Shabondi sink
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/RowQueueProducer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/source/StreamGraph.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestConfig.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestRowQueueProducer.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/source/TestStreamGraph.scala
Labels: shabondi, v0.9.0

#3500 #3485 Apply each connector's connection logic
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
Labels: manager, v0.9.0

#3508 #3030 Write the script of building a single ftp server
  ohara-it/docker/README.md
  ohara-it/docker/ftp-container.sh
  ohara-it/docker/ftp.dockerfile
  ohara-it/docker/ftpd.sh
Labels: it, v0.9.0

#3518 #3502 rename TestSettingDefInDumbConnector to TestSettingDefinitionsO…
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestSettingDefinitionsOfDumbConnector.scala
Labels: assembly, v0.9.0

#3521 #3519 the configurator service does not show by Node APIs
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestConfiguratorServiceFromNodeApi.scala
Labels: configurator, it, v0.9.0

#3517 #3516 Fix some bug in create workspace
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/components/Pipeline/SettingDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/dialog/dialogReducer.js
Labels: manager, v0.9.0

#3490 #3125 Modify the JDBC preparedstatement to a global variable to avoid opening many statements
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
Labels: connector, v0.9.0

#3528 #3526 Explicitly expose the regex via definition so Ohara Manager is …
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestInspectApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestObjectApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestPropGroup.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorUtils.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounterBuilder.java
Labels: agent, client, common, configurator, kafka, metrics, v0.9.0

#3529 #3428 fix flaky TestConfigurator.testK8SNodes
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfigurator.scala
Labels: configurator, v0.9.0

#3532 #3531 Correct the kind for all services
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
Labels: client, v0.9.0

#3527 #3485 Add hover and active state to links
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
Labels: manager, v0.9.0

#3533 #3530 Introduce Pipeline.Endpoints
  docs/src/rest/rest-pipelines.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, docs, v0.9.0

#3535 #3523 create a workspace object to hold workspace info
  ohara-manager/client/src/api/objectApi.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/context/workspace/workspaceActions.js
  ohara-manager/client/src/context/workspace/workspaceReducer.js
  ohara-manager/client/src/context/workspace/workspaceRoutines.js
  ohara-manager/client/src/utils/object.js
Labels: manager, v0.9.0

#3540 #3539 Use the SHA-256 algorithm to calculate the group field of topic
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/context/topic/topicActions.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/utils/object.js
  ohara-manager/client/src/utils/sha.js
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.9.0

#3536 #3378 Shabondi sink routes(part 2)
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/RowQueueProducer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/test/resources/log4j.properties
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestConfig.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestDataGroups.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestRowQueueProducer.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestSinkRoute.scala
Labels: shabondi, v0.9.0

#3538 #3537 Refactor pipeline structure and getting rid of unnecessary API calls
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
Labels: manager, v0.9.0

#3543 #3542 [Manager] Create the staging object of zookeeper, broker and worker when …
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/broker/brokerReducer.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/worker/workerReducer.js
  ohara-manager/client/src/context/workspace/workspaceActions.js
  ohara-manager/client/src/context/workspace/workspaceReducer.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperReducer.js
Labels: manager, v0.9.0

#3547 #3546 show the reason why the test case fails
  build.gradle
Labels: others, v0.9.0

#3549 #3428 swallow the exception generated by addK8SNodes since the data c…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator, v0.9.0

#3550 #3548 fix flaky testJsonStringFromVersionUtils
  ohara-common/build.gradle
Labels: common, v0.9.0

#3555 #3554 reduce the noise from Configurator log output
  conf/application.conf
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
Labels: configurator, it, others, v0.9.0

#3553 #3485 Add a new private topic when two connectors are connected
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/pipeline/pipelineRoutines.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
Labels: manager, v0.9.0

#3557 #3552 Node/Log APIs don't work for the Configurator which is not on c…
  .gitignore
  conf/log4j.properties
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/AdvertisedInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
Labels: agent, configurator, it, others, v0.9.0

#3544 #3541 performance test 使用的 ftp docker image 修改成 apache ftpserver
  ohara-it/docker/ftp-container.sh
  ohara-it/docker/ftp.dockerfile
  ohara-it/docker/ftp.sh
  ohara-it/docker/ftpd.sh
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
Labels: it, v0.9.0

#3559 #3139 [Backend] provide default resources (CPU, Memory) in node api
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
Labels: agent, client, configurator, v0.9.0

#3561 #3560 fix flaky TestQueryConfiguratorLog
  ohara-it/src/test/scala/com/island/ohara/it/client/TestQueryConfiguratorLog.scala
Labels: it, v0.9.0

#3551 #3139 Implement node detail page
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/components/DevTool/Body/DataTable.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/common/Table/Table.js
  ohara-manager/client/src/context/configurator/ConfiguratorContext.js
  ohara-manager/client/src/context/configurator/configuratorActions.js
  ohara-manager/client/src/context/configurator/configuratorReducer.js
  ohara-manager/client/src/context/configurator/configuratorRoutines.js
  ohara-manager/client/src/context/index.js
Labels: manager, v0.9.0

#3569 #3563 Support to setup the memory parameters for all jvm-based services
  bin/ohara-env.sh
  bin/run_java.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreation.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/Test873.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerJson.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: agent, client, common, configurator, others, streams, v0.9.0

#3564 #3466 Add new flag "updatable" and regular to manager
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/SettingDefinitions.js
  ohara-manager/client/src/components/common/Definitions/ArrayDef.js
  ohara-manager/client/src/components/common/Definitions/BindingPort.js
  ohara-manager/client/src/components/common/Definitions/BooleanDef.js
  ohara-manager/client/src/components/common/Definitions/ClassDef.js
  ohara-manager/client/src/components/common/Definitions/Double.js
  ohara-manager/client/src/components/common/Definitions/Duration.js
  ohara-manager/client/src/components/common/Definitions/IntDef.js
  ohara-manager/client/src/components/common/Definitions/JdbcTable.js
  ohara-manager/client/src/components/common/Definitions/Long.js
  ohara-manager/client/src/components/common/Definitions/Password.js
  ohara-manager/client/src/components/common/Definitions/Permission.js
  ohara-manager/client/src/components/common/Definitions/Port.js
  ohara-manager/client/src/components/common/Definitions/PositiveDouble.js
  ohara-manager/client/src/components/common/Definitions/PositiveInt.js
  ohara-manager/client/src/components/common/Definitions/PositiveLong.js
  ohara-manager/client/src/components/common/Definitions/PositiveShort.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinitions.js
  ohara-manager/client/src/components/common/Definitions/Short.js
  ohara-manager/client/src/components/common/Definitions/StringDef.js
  ohara-manager/client/src/components/common/Definitions/Tags.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#3575 #3520 [Manager] refactor the data structure of worker, broker and zoo…
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ServiceSwitch.js
  ohara-manager/client/src/context/broker/BrokerContext.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/broker/brokerReducer.js
  ohara-manager/client/src/context/broker/brokerRoutines.js
  ohara-manager/client/src/context/worker/WorkerContext.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/worker/workerReducer.js
  ohara-manager/client/src/context/worker/workerRoutines.js
  ohara-manager/client/src/context/zookeeper/ZookeeperContext.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperReducer.js
  ohara-manager/client/src/context/zookeeper/zookeeperRoutines.js
  ohara-manager/client/src/utils/object.js
Labels: manager, v0.9.0

#3579 #3480 remove "editable" field
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
Labels: client, common, connector, v0.9.0

#3578 #3139 Add the ability to filter node list
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/context/node/nodeActions.js
Labels: manager, v0.9.0

#3562 #3485 Refactor Pipeline graph and toolbox
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/graphUtils.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/common/Icon/AddPublicTopicIcon.js
  ohara-manager/client/src/components/common/Icon/PrivateTopicIcon.js
  ohara-manager/client/src/components/common/Icon/PublicTopicIcon.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/pipeline/pipelineRoutines.js
Labels: manager, v0.9.0

#3581 #3574 flatter cluster settings and keep the deprecated "settings"
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-streams.rst
  docs/src/rest/rest-topics.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: client, docs, v0.9.0

#3582 #3139 Implement edit and delete node dialog
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/nodeApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/EditNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogNames.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/node/nodeActions.js
  ohara-manager/client/src/context/node/nodeReducer.js
Labels: manager, v0.9.0

#3577 #3573 Return unreachable host data instead of exception stack in node…
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestVerifyNode.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestDockerClient.scala
Labels: agent, it, v0.9.0

#3586 #3585 [Manager] Refactor workspace and pipeline default routes and fix React warning
  ohara-manager/client/src/components/Pipeline/Pipeline.js
Labels: manager, v0.9.0

#3486 #3030 Introduce performance test for JDBCSourceConnector
  ohara-it/docker/oracle-container.sh
  ohara-it/src/test/scala/com/island/ohara/it/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/WithRemoteWorkers.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Jdbc.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Oracle.scala
Labels: it, v0.9.0

#3590 #3321 [Manager] Display a scrollbar for Toolbox component when necessary
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/theme/globalStyle.js
Labels: manager, v0.9.0

#3592 #3588 apply the custom definitions for connector in creating
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestDefaultValuesAutoComplete.scala
Labels: configurator, v0.9.0

#3587 #3030 expose the init heap and max heap
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/WithRemoteWorkers.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Jdbc.scala
Labels: client, configurator, it, v0.9.0

#3589 #3378 Shabondi sink(part3): Release data group resource automatically
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Boot.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/test/resources/log4j.properties
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestSinkDataGroups.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestSinkRoute.scala
Labels: shabondi, v0.9.0

#3596 #3595 Preventing serializing the object key to jackson string in poll…
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
Labels: kafka, v0.9.0

#3583 #3030 Write the script of building a single smb server
  ohara-it/docker/README.md
  ohara-it/docker/samba-container.sh
  ohara-it/docker/samba.dockerfile
  ohara-it/docker/samba.sh
Labels: it, v0.9.0

#3599 #3597 nodenames in streamApi should support empty array
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, common, configurator, streams, v0.9.0

#3604 #3584 [Manager] The configurator service should be filter out in node…
  ohara-manager/client/src/components/Node/NodeDialog.js
Labels: manager, v0.9.0

#3602 #3600 enable PerfSource to produce larger cell
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestDefaultValuesAutoComplete.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceMetrics.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
Labels: configurator, connector, v0.9.0

#3610 #3609 [Manager] use react context to wrap the apis
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/utils.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/context/index.js
Labels: manager, v0.9.0

#3608 #3530 remove Pipeline.Flow
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, v0.9.0

#3614 #3613 Refactor the WorkspaceContext, PipelineContext and AppBar
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/context/workspace/workspaceActions.js
  ohara-manager/client/src/context/workspace/workspaceReducer.js
  ohara-manager/client/src/context/workspace/workspaceRoutines.js
Labels: manager, v0.9.0

#3618 #3617 [Manager] Redirect to settings/plugins once a file is upload via Toolbox
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUploadButton.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/index.js
Labels: manager, v0.9.0

#3620 #3619 [Manager] create workerApi, brokerApi and zookeeperApi for ApiC…
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/brokerApi.js
  ohara-manager/client/src/context/api/index.js
  ohara-manager/client/src/context/api/utils.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/api/zookeeperApi.js
  ohara-manager/client/src/context/broker/BrokerContext.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/broker/brokerReducer.js
  ohara-manager/client/src/context/broker/brokerRoutines.js
  ohara-manager/client/src/context/worker/WorkerContext.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/worker/workerReducer.js
  ohara-manager/client/src/context/worker/workerRoutines.js
  ohara-manager/client/src/context/workspace/workspaceActions.js
  ohara-manager/client/src/context/zookeeper/ZookeeperContext.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperReducer.js
  ohara-manager/client/src/context/zookeeper/zookeeperRoutines.js
Labels: manager, v0.9.0

#3622 #3611 support to filter Connector status
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicQuery.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/SimpleData.scala
Labels: client, configurator, docs, v0.9.0

#3624 #3606 fix flaky TestSinkRoute.testSinkFreeIdleGroup
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestSinkRoute.scala
Labels: shabondi, v0.9.0

#3625 #3623 [Manager] Wrap the fileApi, refactor the FileContent
  ohara-manager/client/src/components/Workspace/Edit/File/FileUpload.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/fileApi.js
  ohara-manager/client/src/context/file/FileContext.js
  ohara-manager/client/src/context/file/fileActions.js
  ohara-manager/client/src/context/file/fileReducer.js
  ohara-manager/client/src/context/file/fileRoutines.js
  ohara-manager/client/src/utils/sha.js
Labels: manager, v0.9.0

#3615 #3030 Introduce performance test for FtpSink
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4HdfsSink.scala
Labels: client, it, v0.9.0

#3627 #3626 [Manager] Wrap the topicApi, refactor the TopicContext
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/topicApi.js
  ohara-manager/client/src/context/api/utils.js
  ohara-manager/client/src/context/topic/TopicContext.js
  ohara-manager/client/src/context/topic/topicActions.js
  ohara-manager/client/src/context/topic/topicReducer.js
  ohara-manager/client/src/context/topic/topicRoutines.js
Labels: manager, v0.9.0

#3629 #3628 [Manager] Wrap the nodeApi, refactor the NodeContext
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/nodeApi.js
  ohara-manager/client/src/context/node/NodeContext.js
  ohara-manager/client/src/context/node/nodeActions.js
  ohara-manager/client/src/context/node/nodeReducer.js
  ohara-manager/client/src/context/node/nodeRoutines.js
Labels: manager, v0.9.0

#3632 #3609 [Manager] Wrap the logApi, refactor the LogContext
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/logApi.js
  ohara-manager/client/src/context/log/LogContext.js
  ohara-manager/client/src/context/log/logActions.js
  ohara-manager/client/src/context/log/logReducer.js
  ohara-manager/client/src/context/log/logRoutines.js
Labels: manager, v0.9.0

#3635 #3609 [Manager] Wrap the pipelineApi, refactor the PipelineContext
  ohara-manager/client/src/api/body/pipelineBody.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/pipelineApi.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/pipeline/pipelineRoutines.js
Labels: manager, v0.9.0

#3639 #3638 [Manager] Refactor the actions to return necessary info
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/connector/connectorActions.js
  ohara-manager/client/src/context/file/fileActions.js
  ohara-manager/client/src/context/log/logActions.js
  ohara-manager/client/src/context/node/nodeActions.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/topic/topicActions.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/workspace/workspaceActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
  ohara-manager/client/src/utils/action.js
Labels: manager, v0.9.0

#3637 #3609 [Manager] Wrap the streamApi, refactor the StreamContext
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/stream/StreamContext.js
  ohara-manager/client/src/context/stream/streamActions.js
  ohara-manager/client/src/context/stream/streamReducer.js
  ohara-manager/client/src/context/stream/streamRoutines.js
Labels: manager, v0.9.0

#3644 #3643 [Manager] Refactor the RenderDefinition & RenderDefinitions
  ohara-manager/client/src/components/Pipeline/SettingDialog.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Settings.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinitions.js
  ohara-manager/client/src/components/common/Definitions/index.js
Labels: manager, v0.9.0

#3646 #3574 [Manager] removing settings in all api tests
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/api/zookeeperApi.test.js
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/src/api/utils/waitUtils.js
Labels: manager, v0.9.0

#3634 #3331 Implement pipeline start/delete/remove actions
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/AppBarStyles.js
  ohara-manager/client/src/components/Layout/Styles.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/graphUtils.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarUtils.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/pipeline/pipelineRoutines.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
Labels: manager, v0.9.0

#3648 #3621 [Manager] Remove status of connector api
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/src/api/body/brokerBody.js
  ohara-manager/client/src/api/body/connectorBody.js
  ohara-manager/client/src/api/body/streamBody.js
  ohara-manager/client/src/api/body/topicBody.js
  ohara-manager/client/src/api/body/workerBody.js
  ohara-manager/client/src/api/body/zookeeperBody.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/utils/waitUtils.js
Labels: manager, v0.9.0

#3645 #3572 Save graph in pipeline
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/SettingDefinitions.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/start.js
Labels: manager, v0.9.0

#3651 #3650 Remove hard coded props from RenderDefinition's TextField
  ohara-manager/client/src/components/Pipeline/SettingDefinitions.js
  ohara-manager/client/src/components/Pipeline/SettingDialog.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Settings.js
  ohara-manager/client/src/components/common/Definitions/ArrayDef.js
  ohara-manager/client/src/components/common/Definitions/BindingPort.js
  ohara-manager/client/src/components/common/Definitions/ClassDef.js
  ohara-manager/client/src/components/common/Definitions/Double.js
  ohara-manager/client/src/components/common/Definitions/Duration.js
  ohara-manager/client/src/components/common/Definitions/IntDef.js
  ohara-manager/client/src/components/common/Definitions/JdbcTable.js
  ohara-manager/client/src/components/common/Definitions/Long.js
  ohara-manager/client/src/components/common/Definitions/ObjectKey.js
  ohara-manager/client/src/components/common/Definitions/Password.js
  ohara-manager/client/src/components/common/Definitions/Port.js
  ohara-manager/client/src/components/common/Definitions/PositiveDouble.js
  ohara-manager/client/src/components/common/Definitions/PositiveInt.js
  ohara-manager/client/src/components/common/Definitions/PositiveLong.js
  ohara-manager/client/src/components/common/Definitions/PositiveShort.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinitions.js
  ohara-manager/client/src/components/common/Definitions/Short.js
  ohara-manager/client/src/components/common/Definitions/StringDef.js
  ohara-manager/client/src/components/common/Form/InputField.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.9.0

#3647 #3574 remove "settings" from all json response
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: client, v0.9.0

#3652 #3609 remove group dependency by component in update of pipeline
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
  ohara-manager/client/src/context/api/fileApi.js
  ohara-manager/client/src/context/api/pipelineApi.js
  ohara-manager/client/src/context/api/topicApi.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/utils/__tests__/sha.test.js
  ohara-manager/client/src/utils/sha.js
Labels: manager, v0.9.0

#3655 #3654 [Manager] Change the topic type from 'public' to 'shared'
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/TopicTableStyles.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginList.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ServiceSwitch.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/context/api/brokerApi.js
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/fileApi.js
  ohara-manager/client/src/context/api/pipelineApi.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/api/zookeeperApi.js
  ohara-manager/client/src/context/node/nodeReducer.js
  ohara-manager/client/src/context/workspace/EditWorkspaceContext.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/utils/sha.js
Labels: manager, v0.9.0

#3659 #3658 [Manager] fix plugins - save to the right target
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginCard.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginList.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginSelector.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/context/api/brokerApi.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/api/zookeeperApi.js
  ohara-manager/client/src/context/broker/brokerReducer.js
  ohara-manager/client/src/context/worker/workerReducer.js
  ohara-manager/client/src/context/workspace/workspaceReducer.js
  ohara-manager/client/src/context/zookeeper/zookeeperReducer.js
  ohara-manager/client/src/utils/object.js
Labels: manager, v0.9.0

#3657 #3331 Fix group issue in pipeline
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarUtils.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/topic/topicActions.js
  ohara-manager/client/src/context/topic/topicRoutines.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
Labels: manager, v0.9.0
