Repository oharastream/ohara, pull requests merged in 2019-03, with the labels that each got.

#342 OHARA-1629 Postgresql 的 docker image 整入 backend.yml
  docker/README.md
  docker/backend.dockerfile
  docker/backend.yml
  ohara-testing-util/build.gradle
  ohara-testing-util/src/main/java/com/island/ohara/integration/Database.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestDatabase.java
Labels: others, review, testing-util

#344 OHARA-1634 Fix flaky TestPrometheus.testExporter
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
Labels: flaky, it, review

#345 OHARA-1632 Enable to change home folder of ftp server
  docker/backend.yml
  ohara-testing-util/build.gradle
  ohara-testing-util/src/main/java/com/island/ohara/integration/FtpServer.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestFtpServer.java
Labels: improvement, others, review, testing-util

#347 OHARA-1636 Potential NPE in HDFSSinkTask
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/DataWriter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
Labels: connector, review

#348 OHARA-1637 Fix timeout of ohara-it
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtil.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/streams/TestRunStreamApp.scala
Labels: flaky, it, review

#341 OHARA-1623 On FTP connector, drop down list default value should be handled
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
Labels: manager, review

#350 OHARA-1639 Fail to start backend due to lack of mysql libraries
  docker/backend.dockerfile
Labels: bug, others, review

#353 OHARA-1646 Fix FTP schema table is not updating properly after a page…
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
Labels: bug, manager, review

#351 OHARA-1574 Add tests for rest of the client APIs
  ohara-manager/client/src/api/__tests__/authApi.test.js
  ohara-manager/client/src/api/__tests__/connectorApi.test.js
  ohara-manager/client/src/api/__tests__/infoApi.test.js
  ohara-manager/client/src/api/__tests__/log.test.js
  ohara-manager/client/src/api/__tests__/pipelineApi.test.js
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/__tests__/validateApi.test.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
Labels: manager, review, testing

#354 OHARA-1647 Disabled test connection buttons can still be clicked
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/FtpConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/HdfsConfiguration.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
Labels: bug, manager, review

#356 OHARA-1645 README.md 修改啟動 ftp container 的 port mapping
  README.md
Labels: others, review

#355 OHARA-1640 Fix slow tests in ohara-it
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-configurator/src/main/resources/log4j.properties
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, configurator, improvement, it, review

#352 OHARA-1643 Improve Ohara README.md
  README.md
Labels: others, review

#358 OHARA-1651 Add UCP requires IPv4 IP Forwarding for docker into the README.md
  docker/README.md
Labels: others, review

#359 OHARA-1648 StreamApp default serialize should as same as other connector
  ohara-streams/src/main/java/com/island/ohara/streams/OStream.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/BytesDeserializer.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/BytesSerializer.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Serdes.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForExternalEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForOharaEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
Labels: review, streamapp, streams

#361 OHARA-1652 Fix flaky TestListCluster
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
Labels: flaky, it, review

#357 OHARA-1649 Reset selected topic when closing the modal
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
Labels: bug, manager, review

#362 OHARA-1654 啟動 Postgresql DataBase 的 container 指令放到 README.md 的檔案裡
  README.md
Labels: others, review

#367 OHARA-1663 Worker API should return the correct sink list data
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
Labels: agent, bug, review

#363 OHARA-1655 Stream app running status is not removed from pipeline API…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: api, bug, configurator, review

#364 OHARA-1661 Configurator should expose bound hostname and port by default
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: bug, configurator, review

#368 OHARA-1664 add more tests for FtpClientBuilder
  ohara-client/src/main/scala/com/island/ohara/client/FtpClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FileType.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestFtpClientBuilder.scala
  ohara-client/src/test/scala/com/island/ohara/client/ftp/TestFtpClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/ftp/TestFtpClientBuilder.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtil.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara741.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara743.scala
Labels: client, common, configurator, connector, review

#366 OHARA-1657 Make disabled inputs' background color more subtle
  ohara-manager/client/src/components/common/Form/Input.js
Labels: bug, manager, review

#360 OHARA-1650 Start pipeline action should return correct messages
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
Labels: bug, manager, review

#365 OHARA-1656 Fix pipeline status is not correctly displaying bug
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/commonUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineListPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineListPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: bug, manager, review

#369 OHARA-1644 Validation of FTP should check the permission of input acc…
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/ftp/TestFtpClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/ftp/TestIllegalFtpClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidationOfRdb.scala
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/FtpServer.java
Labels: bug, client, configurator, review, testing-util

#371 OHARA-1660 Remove unused database select component in JDBC connector
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: manager, review

#370 OHARA-1665 Fix Manager's linter and test warnings
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
Labels: bug, manager, review

#372 OHARA-1666 Too many connections are used by ssh collie
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
Labels: agent, improvement, review

#375 OHARA-1668 deps.dockerfile is broken since TestDatabaseClient was mov…
  docker/deps.dockerfile
Labels: bug, others, review

#377 OHARA-1671 Remove unused database select component in DB config modal
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
Labels: manager, review

#374 OHARA-1667 StreamApp could not resolve hostname
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: client, configurator, review

#379 OHARA-1672 Fix edit node modal's test connection button can still be clicked even when it's disabled
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
Labels: bug, manager, review

#380 OHARA-1669 Address odd UI behaviors while in slow Internet connection
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
  ohara-manager/client/src/components/common/Modal/ConfirmModal.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
Labels: bug, manager, review

#385 OHARA-1674 README.md 加上 Postgresql 的 POSTGRES_USER 環境變數, 不能設定成 user 字串
  README.md
Labels: others, review

#382 OHARA-1659 Fix wordings in notification and connector forms
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/FtpConfiguration.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/constants/messages.js
Labels: bug, manager, review

#384 OHARA-1673 Add a loading indicator in add a new connector modal
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
Labels: bug, manager, review

#386 OHARA-1675 Remove unused files and dead code from Manager
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/constants/messages.js
  ohara-manager/package.json
  ohara-manager/utils/__tests__/helpers.test.js
  ohara-manager/utils/configHelpers.js
  ohara-manager/utils/helpers.js
  ohara-manager/yarn.lock
Labels: manager, review

#392 #390 Add your name in the Authors section of README.md
  README.md
Labels: others, review

#389 #182 Remove demo module
  README.md
  bin/start-service.sh
  docker/backend.dockerfile
  ohara-assembly/build.gradle
  ohara-demo/build.gradle
  ohara-demo/src/main/resources/log4j.properties
  ohara-demo/src/main/scala/com/island/ohara/demo/Backend.scala
  ohara-demo/src/test/resources/log4j.properties
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendArguments.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendConfigurator.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendCreation.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendServicesOnDefaultPorts.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendServicesOnSpecifiedPorts.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestRunBackendWithTtl.scala
  ohara-testing-util/build.gradle
  settings.gradle
Labels: assembly, demo, improvement, others, review, testing-util

#388 #387 Implement a simple cache to speed up ssh collie
  conf/log4j.properties
  gradle/dependencies.gradle
  ohara-agent/build.gradle
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/NodeCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/Cache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestCache.scala
  ohara-it/build.gradle
  ohara-it/src/test/resources/log4j.properties
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
  ohara-testing-util/build.gradle
Labels: agent, improvement, it, others, review, testing-util

#397 #395 Remove unused dependencies from ohara-kafka
  ohara-client/build.gradle
  ohara-client/src/test/scala/com/island/ohara/client/kafka/BrokenConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/BrokenConnectorTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/MyConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/MyConnectorTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSinkConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSinkTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSourceConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/package.scala
  ohara-kafka/build.gradle
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestDataTransmissionOnCluster.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestWorkerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/SimpleRowSinkConnector.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/SimpleRowSinkTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/SimpleRowSourceConnector.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/SimpleRowSourceTask.java
Labels: client, kafka, review

#404 #403 Cluster cache should update content after completing modificatio…
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, improvement, it, review

#394 #181 Instead of putting all module into single assembly, we should ge…
  docker/worker.dockerfile
  ohara-connector/build.gradle
Labels: connector, improvement, others, review

#401 #400 Apply com.island.ohara.common.annotations.Optional to Consumer.B…
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/test/java/TestConsumerBuilder.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
Labels: client, configurator, connector, it, kafka, review, streams

#406 #402 Swallow InterruptedException caused by closing cluster cache
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/Cache.scala
Labels: agent, review

#408 #407 Disable TestK8sClusterCollie
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8sClusterCollie.scala
Labels: flaky, it, review

#409 #400 Apply com.island.ohara.common.annotations.Optional to Producer.B…
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSinkTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
Labels: client, connector, improvement, it, kafka, review, streams

#410 #400 Apply com.island.ohara.common.annotations.Optional to TopicCreator
  ohara-common/src/main/java/com/island/ohara/common/annotations/VisibleForTesting.java
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicCreator.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestConsumerBuilder.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerBuilder.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerSender.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestTopicCreator.java
Labels: common, improvement, kafka, review

#399 #398 add PR template
  pull_request_template.md
Labels: improvement, others, review

#415 #413 Improve javadoc of ohara
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-common/src/main/java/com/island/ohara/common/data/Data.java
  ohara-common/src/main/java/com/island/ohara/common/data/Serializer.java
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicCreator.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicDescription.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicOption.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceContext.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/CheckedExceptionUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/ExceptionHandler.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/OharaTestUtil.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/FtpServer.java
Labels: common, kafka, review, testing-util

#436 #434 Remove type from CreateConnectorResponse
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestOhara770.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
Labels: client, configurator, review

#432 #431 add task of publishing artifacts to jfrog
  README.md
  gradle.properties
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-common/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-kafka/build.gradle
  ohara-shabondi/build.gradle
  ohara-streams/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, client, common, configurator, connector, kafka, others, review, shabondi, streams, testing-util

#439 #438 Improve Ohara README.md and Manager README.md
  README.md
  ohara-manager/README.md
Labels: manager, others, review

#442 #435 Enable WorkerClient to validate connector
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/resources/log4j.properties
  ohara-client/src/test/scala/com/island/ohara/client/TestOhara770.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorCreator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerJson.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBC2HDFS.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
Labels: client, configurator, connector, review

#447 #443 Add route of validating connector
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestOhara770.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorCreator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerJson.scala
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidationOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
Labels: client, common, configurator, improvement, kafka, review

#451 #450 Fail to start configurator by docker-compose
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: configurator, review

#457 #297 Metadata of custom connector
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestConfiguratorJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorCreator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerJson.scala
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtil.java
  ohara-common/src/test/java/com/island/ohara/common/data/TestColumn.java
  ohara-common/src/test/java/com/island/ohara/common/rule/OharaTest.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/text/CSVRecordWriterOutput.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHdfsDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/text/TestCSVRecordWriterOutput.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJdbcDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/Definition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSink.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSource.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnector.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestDefinition.java
Labels: client, common, configurator, connector, kafka, review

#458 #456 Update pull request template
  pull_request_template.md
Labels: others, review

#462 #460 Backport #413 to 0.2.1
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-common/src/main/java/com/island/ohara/common/data/Data.java
  ohara-common/src/main/java/com/island/ohara/common/data/Serializer.java
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicDescription.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicOption.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceContext.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/CheckedExceptionUtil.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/ExceptionHandler.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/OharaTestUtil.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/FtpServer.java
Labels: common, kafka, review, testing-util

#440 #303 refactor docker client
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestDockerClientWithoutDockerServer.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeDockerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusConfigUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, configurator, it, review

#470 #303 Refactor ContainerCreator
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeDockerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
Labels: agent, configurator, it, review

#472 #303 add tests for ContainerCreator
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
Labels: agent, review

#468 #469 Create issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/regular-issue.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: others, review

#466 #461 Backport #431 to 0.2.1
  README.md
  gradle.properties
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-common/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-kafka/build.gradle
  ohara-shabondi/build.gradle
  ohara-streams/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, client, common, configurator, connector, kafka, others, review, shabondi, streams, testing-util

#479 #469 Fix wrong template folder
  .github/pull_request_template.md
Labels: others, review

#478 Backport #477 to 0.2.1
  README.md
Labels: others, review

#477 #476 update readme.md for bintray
  README.md
Labels: others, review

#467 #238 Create a npm script to audit known vulnerabilities via yarn
  README.md
  docker/deps.dockerfile
  docker/manager.dockerfile
  ohara-manager/.gitignore
  ohara-manager/.yarnrc
  ohara-manager/README.md
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/checkYarnVersion.js
  ohara-manager/yarn.lock
Labels: manager, others, review

#486 Update logs, pipeline, and work list page APIs
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/api/__tests__/log.test.js
  ohara-manager/client/src/api/__tests__/pipelineApi.test.js
  ohara-manager/client/src/api/logApi.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/components/pages/LogsPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/Services/ServicesPage.js
  ohara-manager/client/src/components/pages/Services/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/WorkerListPage.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
Labels: manager, review

#494 #491 worker image doesn't package ohara.validator jar
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/Validator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
  ohara-manager/client/src/constants/pipelines.js
Labels: client, configurator, connector, manager, review

#488 #298 Remove config modals
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
Labels: manager, review

#497 #495 display the number of test cases
  ohara-assembly/build.gradle
  ohara-assembly/src/test/scala/com/island/ohara/TestTestCases.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkTask.scala
Labels: assembly, connector, review

#498 #493 SettingDefinition.Builder.internal should be package-private
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
Labels: kafka, review

#501 #500 Validation of connector should accept only class name in request
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Setting.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingValue.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/StringList.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSink.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSource.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingInfo.java
Labels: client, configurator, connector, kafka, review

#505 #504 Correct the error message when failing to verify the hdfs connec…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
Labels: configurator, kafka, review

#508 #506 add type name to metadata of connector
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: configurator, kafka, review

#489 #298 Add test connection button in HDFS sink prop form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/HdfsQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/styles.js
Labels: manager, review

#503 #245 Start Configurator before running e2e tests on CI
  ohara-manager/build.gradle
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/startAndTest.js
  ohara-manager/utils/configHelpers.js
  ohara-manager/yarn.lock
Labels: manager

#499 #393 Fix flaky TestK8sClusterCollie
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8sClusterCollie.scala
Labels: it, review

#516 #515 hot fix for broken build
  ohara-manager/scripts/startAndTest.js
Labels: manager, review

#514 #513 Update spotless from 3.15.0 to 3.20.0
  build.gradle
  ohara-common/src/main/java/com/island/ohara/common/data/Row.java
  ohara-common/src/main/java/com/island/ohara/common/data/Serializer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/BrokerClient.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicCreator.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkContext.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Creation.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroup.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestBrokerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Brokers.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/SshdServer.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Workers.java
Labels: common, kafka, others, review, streams, testing-util

#519 #509 List connector details in Worker APIs
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/WorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorCreator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara764.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHdfsDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJdbcDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinitions.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorConfigDef.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingInfo.java
Labels: agent, client, configurator, connector, kafka, review

#485 #329 The state should be consistent between all components
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/Enum.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestContainerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-common/src/main/java/com/island/ohara/common/data/ConnectorState.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/FtpUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/PerfUtils.scala
Labels: agent, client, common, configurator, connector, review

#524 #510 Replace kind property value in pipelines API
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
Labels: client, configurator, connector, kafka, review

#530 #529 Keep ohara-manager ci image to speed up the QA
  docker/backend.dockerfile
  docker/ci.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/worker.dockerfile
  gradle.properties
Labels: others, review

#532 #531 Rename "newBuilder" to "builder" since the later is used frequen…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-common/src/test/java/com/island/ohara/common/data/TestColumn.java
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/text/CSVRecordWriterOutput.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/text/TestCSVRecordWriterOutput.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceProps.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroup.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSink.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/DumbSource.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestPropGroup.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingInfo.java
Labels: client, common, configurator, connector, kafka, review

#533 #523 [Pipeline] extract key of rules to a individual field
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestPipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, review

#536 #534 add new type for connector version
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorVersion.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorVersion.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: connector, kafka, review

#539 #538 Return empty object instead of null for json reponse
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestPipelineApi.scala
Labels: client, review

#537 #507 add more test jars to it module
  ohara-it/build.gradle
  ohara-it/src/main/scala/com/island/ohara/it/connector/DumbSinkConnector.scala
  ohara-it/src/main/scala/com/island/ohara/it/connector/DumbSinkTask.scala
  ohara-it/src/main/scala/com/island/ohara/it/connector/DumbSourceConnector.scala
  ohara-it/src/main/scala/com/island/ohara/it/connector/DumbSourceTask.scala
  ohara-it/src/test/resources/ItConnector.jar
  ohara-it/src/test/resources/ItConnector2.jar
  ohara-it/src/test/resources/README.md
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: it, review

#543 #102 CI Status on Readme
  README.md
Labels: others

#544 #527 add setting definitions to FTP source
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
Labels: connector, review

#547 #527 add setting definitions to FTP sink
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
Labels: connector, review

#549 #548 add tests for TaskConfig
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTaskProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTaskProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkTaskProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTaskProps.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestTaskConfig.java
Labels: client, connector, kafka, review

#551 #546 Prohibit "unknown id" in pipeline request
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, review

#555 #553 Fails to generate previous response of Connector API
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestConnectorApi.scala
Labels: client, review

#556 #554 Connecot API take incorrect old key of "class name"
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestContainerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
Labels: client, review

#558 #557 Correct the jdk version in prerequisites
  README.md
Labels: others, review

#560 #200 Some UI minor fixes
  README.md
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: manager, others, review

#512 #195 把 ohara-agent 實作 K8S 版本, 整合到ohara-configurator 的 module 裡
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SJson.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeDockerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeDockerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
Labels: agent, client, configurator, it, review

#561 #550 Topics are not showing up in the connector property forms
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/commonUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
Labels: manager, review

#559 #405 Fix flaky TestDockerClient.testPortMapping
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
Labels: it, review

#541 #430 Implement container cluster : Crane
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerCreator.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/NetworkDriver.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/package.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Cargo.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Crane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/Warehouse.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/stream/StreamCargo.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/stream/StreamCrane.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/wharf/stream/StreamWarehouse.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestContainerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamCargo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamCrane.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamWarehouse.scala
Labels: agent, configurator, review

#566 #565 add description of Type.Table
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroup.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: client, kafka, review

#563 #527 JDBC/HDFS connectors should get to write their setting definitions
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnectorConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHdfsDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHdfsSinkConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJdbcDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinitions.scala
Labels: connector

#571 #570 add test of sending/receiving data with idle timeout
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/BrokerClient.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicCreator.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestBrokerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestTopicCreator.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestDataImporter.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestOStream.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
Labels: client, connector, it, kafka, review, streams

#572 #526 Refactor ObjectState/ConnectorState/ContainerState/ObjectState
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8sContainerState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ContainerState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeDockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/wharf/stream/TestStreamCargo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestContainerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/streams/TestRunStreamApp.scala
Labels: agent, client, configurator, it, review

#569 #568 Synchronized the project description
  README.md
Labels: others, review

#574 #573 Refactor PropGroups
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroup.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroups.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestTaskConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestPropGroup.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestPropGroups.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: client, kafka, review

#579 #578 Rename "propKeys" to "tableKeys"
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: client, kafka, review

#581 #580 Change the kafka link from ftp.twaren.net to archive.apache.org
  docker/broker.dockerfile
  docker/prometheus.dockerfile
  docker/zookeeper.dockerfile
Labels: others, review

#588 #577 CI dockerfile should include RUN which has command to sync sourc…
  docker/ci.dockerfile
Labels: others, review

#589 #575 Use ImmutableMap instead of instantiating HashMap
  ohara-kafka/src/main/java/com/island/ohara/kafka/BrokerClient.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Creation.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroups.java
Labels: kafka, review

#592 #583 add more info when parsing non-ohara connector
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
Labels: kafka, review

#576 #562 TestK8SClusterCollieByConfigurator skipTest 會出錯誤
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SClusterCollieByConfigurator.scala
Labels: it, review

#593 #484 Ftp sink connector will fail after expired some time
  ohara-client/src/main/scala/com/island/ohara/client/ftp/FtpClient.scala
Labels: client, review

#590 #586 Fix connector config cannot be saved with the new API issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/constants/pipelines.js
Labels: manager, review

#595 #594 "oharastream/connect-worker -v" should print the version of oh…
  docker/worker.dockerfile
  docker/worker.sh
Labels: others, review

#596 #552 Naming a k8s package
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8sContainerState.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
Labels: agent, configurator, it, review

#597 #585 move the validation from route to collie. Each collie is able to…
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClusterCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeClusterCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
Labels: agent, configurator, review
