Repository oharastream/ohara, pull requests merged in 2019-02, with the labels that each got.

#112 OHARA-1473 Connector should not connect to a topic when entering a co…
  ohara-manager/client/src/components/common/Form/Select.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/JdbcSource.js
Labels: manager

#116 OHARA-1467 Remove unused line in shell script
  bin/ohara.sh
  bin/run_java.sh
  bin/stop-service.sh
  ohara-agent/kubernetes/distribute/k8s-master-install.sh
  ohara-agent/kubernetes/distribute/k8s-worker-install.sh
Labels: agent, infra

#114 OHARA-1475 Set a maximum length for cluster name
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Form/Label.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
  ohara-manager/client/yarn.lock
Labels: manager

#120 OHARA-1482 The new cluster button in services page should be disabled on page load
  ohara-manager/client/src/components/pages/Services/WorkerListPage/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/WorkerListPage.js
  ohara-manager/client/src/components/pages/Services/__tests__/WorkerListPage.test.js
Labels: manager

#113 OHARA-1293 Create dockerfile for Shabondi module
  bin/start-service.sh
  docker/build.yml
  docker/shabondi.dockerfile
  ohara-assembly/build.gradle
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/WebServer.scala
Labels: infra, shabondi

#118 OHARA-1481 Fix flaky TestDockerClient.testCleanup
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
Labels: agent, bug

#117 OHARA-1480 add variable to tag of build.yml (docker-compose file)
  README.md
  docker/backend.yml
  docker/build.yml
Labels: infra

#119 OHARA-1465 Support delete function in pipeline topic graph
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Topic.js
  ohara-manager/client/src/constants/messages.js
Labels: manager

#122 OHARA-1485 Fix pipeline title is not correctly updating issue
  ohara-manager/client/src/utils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/utils/pipelineNewPageUtils.js
Labels: bug, manager

#124 OHARA-1488 Cleanup OharaTest - remove random() and pre-created log in…
  ohara-assembly/build.gradle
  ohara-assembly/src/test/scala/com/island/ohara/TestTestCases.scala
  ohara-common/src/test/java/com/island/ohara/common/rule/OharaTest.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestOStream.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
Labels: common

#123 OHARA-1487 We should handle exception occurred on accessing invalid node
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodesRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtil.scala
Labels: agent, configurator

#126 OHARA-1464 Clean up sink connectors relation in graph
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/JdbcSource.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: bug, manager

#128 OHARA-1491 move prometheus tests from c.i.o.prometheus to c.i.o.i.pro…
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusConfigUtil.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusJson.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
Labels: it

#127 OHARA-1490 Refactor BasicTestsOfCollie
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfSshCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshBrokerCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshWorkerCollie.scala
Labels: it

#129 OHARA-689 Use styled-component theme provider to simplify the CSS color variables sharing
  ohara-manager/client/src/components/common/Form/Button.js
  ohara-manager/client/src/components/common/Form/Input.js
  ohara-manager/client/src/components/common/Form/Label.js
  ohara-manager/client/src/components/common/Form/Select.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Layout/AppWrapper.js
  ohara-manager/client/src/components/common/Layout/Box.js
  ohara-manager/client/src/components/common/Messages/Warning.js
  ohara-manager/client/src/components/common/Modal/ConfirmModal.js
  ohara-manager/client/src/components/common/Modal/InfoModal.js
  ohara-manager/client/src/components/common/Modal/Modal.js
  ohara-manager/client/src/components/common/Table/DataTable.js
  ohara-manager/client/src/components/common/Table/ListTable.js
  ohara-manager/client/src/components/common/Table/SchemaTable.js
  ohara-manager/client/src/components/common/Tabs/Tabs.js
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/FtpConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/HdfsConfiguration.js
  ohara-manager/client/src/components/pages/ConfigurationModal.js
  ohara-manager/client/src/components/pages/HomePage.js
  ohara-manager/client/src/components/pages/LoginPage.js
  ohara-manager/client/src/components/pages/NodePage/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Modal.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar.js
  ohara-manager/client/src/components/pages/Services/BrokerListPage/Styles.js
  ohara-manager/client/src/components/pages/Services/NodeSelectModal/Styles.js
  ohara-manager/client/src/components/pages/Services/PluginSelectModal/Styles.js
  ohara-manager/client/src/components/pages/Services/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerDetailPage/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerEditPage/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/Styles.js
  ohara-manager/client/src/index.js
Labels: manager

#130 OHARA-1492 Fix button disable state css styles
  ohara-manager/client/src/components/common/Form/Button.js
Labels: manager

#131 OHARA-1466 Remove connector property form when a connector is deleted…
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/JdbcSource.test.js
Labels: manager

#132 OHARA-1493 Refactor Ohara manager's client API
  ohara-manager/client/src/api/__tests__/authApi.test.js
  ohara-manager/client/src/api/__tests__/clusterApi.test.js
  ohara-manager/client/src/api/authApi.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/clusterApi.js
  ohara-manager/client/src/api/configurationApi.js
  ohara-manager/client/src/api/jarApi.js
  ohara-manager/client/src/api/nodeApi.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/api/streamAppApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/validateApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
  ohara-manager/client/src/apis/axios/index.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/FtpConfiguration.js
  ohara-manager/client/src/components/pages/Configuration/HdfsConfiguration.js
  ohara-manager/client/src/components/pages/LoginPage.js
  ohara-manager/client/src/components/pages/LogoutPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/Services/BrokerListPage/BrokerListPage.js
  ohara-manager/client/src/components/pages/Services/NodeSelectModal/NodeSelectModal.js
  ohara-manager/client/src/components/pages/Services/PluginSelectModal/PluginSelectModal.js
  ohara-manager/client/src/components/pages/Services/ServicesPage.js
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
  ohara-manager/client/src/components/pages/Services/ZookeeperListPage/ZookeeperListPage.js
  ohara-manager/client/src/components/pages/__tests__/LoginPage.test.js
  ohara-manager/client/src/components/pages/__tests__/LogoutPage.test.js
  ohara-manager/client/src/utils/apiUtils.js
Labels: manager

#133 OHARA-1495 Remove unused dependencies from Manager
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager

#134 OHARA-1496 DockerClient.run still fetch all containers from remote node
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
Labels: agent, bug

#135 OHARA-1498 Terminate Configurator graceful
  ohara-client/src/main/scala/com/island/ohara/client/HttpExecutor.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
Labels: bug, configurator

#137 OHARA-1501 add test of running multi zk clusters on single node
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshBrokerCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshWorkerCollie.scala
Labels: agent

#138 OHARA-1503 add test of running multi wk clusters on single node
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
Labels: agent, it

#139 OHARA-1500 Fix topic list is not showing up in FTP sink connector bug
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
Labels: bug, manager, review

#136 OHARA-1499 Update contributing guide
  CONTRIBUTING.md
Labels: infra, review

#115 OHARA-1450 實作 ohara-agent 的 BrokerCollieImpl#doAddNode 方法需要能夠設定 exporterPort
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
Labels: Review, agent, bug, it

#140 OHARA-1505 TopicAdmin is not released if request is interrupted
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestAdminCleaner.scala
  ohara-demo/src/main/scala/com/island/ohara/demo/Backend.scala
Labels: Review, Review🔍, bug, configurator

#142 OHARA-1479 Quickly fill in the configuration for HDFS source connector from
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/HdfsQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/hdfsSinkUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/hdfsSinkUtils.js
Labels: Review, manager

#83 OHARA-1307 撰寫 K8S 整合 ohara agent 的測試程式
  ohara-agent/kubernetes/dns-service.yaml
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SJson.scala
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
Labels: Review, agent, it

#141 OHARA-1506 Fix flaky TestListCluster
  ohara-agent/src/main/scala/com/island/ohara/agent/Agent.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
Labels: Review, agent

#146 OHARA-1507 Remove topology button from stream app property form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Styles.js
Labels: Review, manager

#148 OHARA-1511 Disable fill-in button when no items are selected
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/HdfsQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
Labels: Review, bug, manager

#147 OHARA-1452 Pipelines page cannot show the new pipeline name after cha…
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
Labels: bug, manager

#149 OHARA-1513 JDBC connector is missing a handler in its property form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
Labels: Review, bug

#145 OHARA-1510 Update the docker version to 18.09
  README.md
  docker/README.md
Labels: infra

#150 OHARA-866 Fix the failing unit tests of pipeline new/edit page
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
Labels: Review, manager

#151 OHARA-1502 add test of running multi bk clusters on single node
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestNameLimitOfCluster.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-it/src/test/resources/log4j.properties
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestLoadCustomJarToWorkerCluster.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/BrokerClient.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestBrokerClient.java
Labels: Review, agent, bug, it

#152 OHARA-1514 Fail to remove topic from configurator if the broker clust…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: Review, configurator

#31 OHARA-1145 : Update StreamApp Action API of Swagger Doc and Add Inter…
  docker/swagger/yamls/configurator.yaml
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestStream.scala
Labels: Review, client, configurator, infra, streams

#153 OHARA-1515 Disable user to create multi broker clusters on same zooke…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: Review, bug, configurator

#158 OHARA-1519 Enable to remove connector/pipeline from deleted wk cluster
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/NoSuchClusterException.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: Review, agent, configurator

#156 OHARA-1518 Pipeline topic graph is not displaying its name
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph.js
Labels: Review, bug, manager

#159 OHARA-1520 Fix Manager's failing e2e tests
  ohara-manager/client/cypress/integration/pipelinePage.test.js
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: Review, bug, manager

#162 OHARA-1521 Fix the visual defect of connector tabs
  ohara-manager/client/src/components/common/Tabs/Tabs.js
Labels: Review, bug, manager

#163 OHARA-1522 在 Pipeline 裡，Connectors 之間的切換，不要跳出 "離開頁面" 提醒
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
Labels: Review, bug, manager

#165 OHARA-1525 add test of staring connector without topic
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
Labels: Review, testing

#157 OHARA-1363 StreamApp API : Start / Stop Actions Refactor and Add Tests
  docker/build.yml
  docker/streamapp.dockerfile
  ohara-client/src/main/scala/com/island/ohara/client/StreamClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestStream.scala
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/TestRunStreamApp.scala
  ohara-streams/build.gradle
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamBuilder.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamsConfig.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForOharaEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPurchaseAnalysis.java
Labels: Review, client, configurator, it, others, streams

#166 OHARA-1526 Cleanup OharaTest
  ohara-common/src/test/java/com/island/ohara/common/data/TestData.java
  ohara-common/src/test/java/com/island/ohara/common/rule/OharaTest.java
  ohara-common/src/test/java/com/island/ohara/common/rule/TestOharaTest.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestBrokerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestDataTransmissionOnCluster.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestWorkerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnector.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSinkRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSourceRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/exception/TestCheckedExceptionUtil.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestBrokers.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestDatabase.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestFtpServer.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestHDFS.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestWorkers.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestZookeepers.java
Labels: common, improvement, kafka, review, testing-util

#167 OHARA-1509 Connect stream app with topics in pipeline graph
  ohara-manager/client/src/components/common/FormFields/AutoSave.js
  ohara-manager/client/src/components/common/FormFields/InputField.js
  ohara-manager/client/src/components/common/FormFields/SelectField.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: manager, review

#169 OHARA-1494 繼承 BasicTestsOfCollie 實作測試 K8S 的版本
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SJson.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
Labels: agent, it, review

#172 OHARA-1530 StreamApp Property API could Remove Request Validation
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestStream.scala
Labels: bug, configurator, review

#173 OHARA-1504 Sink connectors should not connect to a topic when entering a connector form the first time
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: manager, review

#177 OHARA-1528 StreamApp Action Refactor Use DockerClient
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-streams/build.gradle
Labels: client, configurator, improvement, review, streams

#178 OHARA-1512 Start and stop stream app connector with real stream app APIs
  ohara-manager/client/src/api/streamAppApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
Labels: manager, review

#180 OHARA-1532 Start pipeline button should also include stream apps
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: manager, review

#188 OHARA-1537 修改 TestK8SSimple 測試程式 hard code
  ohara-it/src/test/scala/com/island/ohara/it/TestK8SSimple.scala
Labels: it, review

#189 OHARA-1539 Update Version to 0.3-SNAPSHOT in Master Branch
  README.md
  docker/backend.yml
  docker/build.yml
  docker/swagger/yamls/configurator.yaml
  gradle.properties
Labels: others, review

#191 OHARA-1537 Modify hard code for docker image name
  ohara-it/src/test/scala/com/island/ohara/it/TestK8SSimple.scala
Labels: it, review

#179 OHARA-1533 Rename exists to exist
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/NodeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/TopicPartitionWriter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/storage/HDFSStorage.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/storage/Storage.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestTopicPartitionWriter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/storage/TestHDFSStorage.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/text/TestCSVRecordWriterOutput.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
Labels: agent, configurator, connector, it, review

#187 OHARA-1536 Stream app is not updating correctly in graph
  ohara-manager/client/src/components/common/FormFields/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
Labels: bug, manager, review

#192 OHARA-1534 Add more tests to pipeline new/edit page utils
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineNewPageUtils.js
Labels: manager, review

#196 OHARA-1544 Add more tests in pipeline common utils
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/__tests__/commonUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
Labels: manager, review

#197 OHARA- 1547 Update Ohara manager README.md
  ohara-manager/README.md
Labels: manager, review

#204 OHARA-1551 Fix configuration modal tooltip typo
  ohara-manager/client/src/components/common/Header/Header.js
Labels: bug, manager

#207 OHARA-1550 Remove kafka link from configuration modal
  ohara-manager/client/src/components/pages/ConfigurationModal.js
Labels: bug, manager, review

#215 OHARA-1552 Use the correct placeholder name for topic creation modal
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
Labels: bug, manager, review

#209 OHARA-1556 Connectors should use the same icon style like the rest of UI
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Styles.js
Labels: bug, manager, review

#210 OHARA-1558 Fix the wrong font size of the include header checkbox lab…
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
Labels: bug, manager, review

#211 OHARA-1546 Add e2e tests for create node of UI
  ohara-manager/client/cypress/integration/nodePage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
Labels: manager, review, testing

#176 OHARA-1527 add E2E tests for collie
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/HttpExecutor.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara786.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-demo/src/main/scala/com/island/ohara/demo/Backend.scala
  ohara-it/src/test/resources/application.conf
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestRunStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollieByConfigurator.scala
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestDataTransmissionOnCluster.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestWorkerClient.java
Labels: agent, client, configurator, demo, it, kafka, review

#221 OHARA-1549 Fix validate node api in fake mode
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeClusterCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeNode.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperClusterInfo.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtil.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8sClusterCollie.scala
Labels: agent, client, configurator, it, review

#213 OHARA-1559 Add tests for client broker and zookeeper APIs
  ohara-manager/client/src/api/__tests__/brokerApi.test.js
  ohara-manager/client/src/api/__tests__/clusterApi.test.js
  ohara-manager/client/src/api/__tests__/zookeeperApi.test.js
Labels: manager, review, testing

#222 OHARA-1553 Nonexistent jar id doesn't encounter exception
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/LocalJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestJarStore.scala
Labels: bug, configurator, review

#219 OHARA-1560 Add tests for client worker and topic APIs
  ohara-manager/client/src/api/__tests__/topicApi.test.js
  ohara-manager/client/src/api/__tests__/workerApi.test.js
  ohara-manager/client/src/api/workerApi.js
Labels: manager, review, testing

#220 OHARA-1557 Disable flaky tests of Manager
  ohara-manager/utils/__tests__/configHelpers.test.js
Labels: flaky, manager, review

#208 OHARA-1554 Select options are not displaying properly in Chrome on both Linux and Windows
  ohara-manager/client/src/components/common/Form/Input.js
  ohara-manager/client/src/components/common/Form/Select.js
  ohara-manager/client/src/components/common/Form/__tests__/Input.test.js
Labels: bug, manager, review

#270 OHARA-1568 Fix timeout of TestSshClusterCollieByConfigurator
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollieByConfigurator.scala
Labels: flaky, it, review

#278 OHARA-1561 Prevent the same topic from adding into the pipeline graph…
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewTopic.js
  ohara-manager/client/src/constants/messages.js
Labels: bug, manager, review

#281 OHARA-1565 We should check the port conflict before doing create cluster
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestNameLimitOfCluster.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreationRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestVersion.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtil.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
Labels: agent, client, configurator, improvement, it, review

#283 OHARA-1570 Pre-check the conflict of topic names before creating work…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: configurator, improvement, review

#279 OHARA-1569 Cluster modal should display a loading indicator
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
Labels: bug, manager, review

#280 OHARA-1571 Remove unused modal from pipeline page
  ohara-manager/client/src/components/pages/PipelinePage/Modal.js
Labels: manager, review

#282 OHARA-1567 Ohara StreamApp cannot start normally
  docker/streamapp.dockerfile
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-streams/build.gradle
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
Labels: configurator, others, review, streams

#223 OHARA-1555 Change README.md to fit the latest Ohara start logic
  README.md
Labels: improvement, others, review

#287 OHARA-1577 Disable user to remove a node executing services
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
Labels: configurator, improvement, review

#295 OHARA-1585 Disable user to remove cluster which is used by another cl…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: configurator, improvement

#286 OHARA-1575 Replace the favicon with the new ohara logo
  ohara-manager/client/public/favicon.ico
Labels: manager, review

#300 OHARA-1583 Disable the add button if no stream app item is selected in stream app modal
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar.js
Labels: bug, manager, review

#285 OHARA-1212 Remove "cluster" APIs
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-manager/build.gradle
  ohara-manager/client/src/api/__tests__/infoApi.test.js
  ohara-manager/client/src/api/infoApi.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/common/Header/__tests__/Header.test.js
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineToolbar.test.js
  ohara-manager/utils/configHelpers.js
Labels: configurator, improvement, manager, review

#296 OHARA-1578 StreamApp should own appId internal instead of using name
  ohara-client/src/main/scala/com/island/ohara/client/StreamClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestStream.scala
Labels: client, configurator, improvement, review

#308 OHARA-1592 Check the image before creating cluster
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreationRequest.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeClusterCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestSshClusterCollie.scala
Labels: agent, client, configurator, improvement, it, review

#304 OHARA-1588 Fix flaky TestK8SSimpleCollie
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestK8SSimpleCollie.scala
Labels: flaky, it, review

#305 OHARA-1590 Database configuration modal is not able to render
  ohara-manager/client/src/components/pages/Configuration/DbConfiguration.js
Labels: bug, manager, review

#299 OHARA-975 Add stream app modal e2e tests
  ohara-manager/client/cypress/fixtures/streamApp.jar
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewStream.js
Labels: manager, review

#306 OHARA-1508 StreamApp List Page API Should Contain "name" parameter
  docker/swagger/yamls/configurator.yaml
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestStream.scala
Labels: client, configurator, improvement, others, review

#315 OHARA-1581 Steam app property form should update its topic list when the list updates
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
Labels: bug, manager, review

#312 OHARA-1580 Fix FTP validation failure
  ohara-manager/client/src/components/pages/Configuration/FtpConfiguration.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
Labels: bug, manager, review

#319 OHARA-1601 Pipeline route seek clusters repeatedly
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, improvement, review

#316 OHARA-1591 Add watchman as a required dependency for dev setup into t…
  ohara-manager/README.md
Labels: manager, review

#317 OHARA-1586 Disable pipeline toolbar modals' submit button when there's no data in the modal list
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/index.js
Labels: bug, manager, review

#309 OHARA-1593 ClusterCollieImpl should add --network=host to worker cluster by default
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/NetworkDriver.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
Labels: agent, improvement, it, review

#314 OHARA-1596 Edit message of StreamApp api to be more clarified
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: client, configurator, review

#320 OHARA-378 Implement new APIs which can list objects stored by configu…
  ohara-client/src/main/scala/com/island/ohara/client/HttpExecutor.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
Labels: client, configurator, improvement, review

#323 OHARA-1602 add broker cluster name to TopicCreationRequest
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara764.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara786.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestRunStreamApp.scala
Labels: client, configurator, improvement, it, review

#325 OHARA-1606 Remove useless "sources" and "sinks" APIs
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
Labels: configurator, improvement, review

#327 OHARA-1607 add worker cluster name to ConnectorCreationRequest
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara764.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
Labels: client, configurator, improvement, it

#322 OHARA-1597 StreamApp Action response should be idempotent
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: bug, client, configurator, review

#328 OHARA-1615 Log APIs should use url-path to replace query parameter
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/api/__tests__/log.test.js
  ohara-manager/client/src/api/logApi.js
  ohara-manager/client/src/api/pipelineApi.js
Labels: client, configurator, improvement, manager, review

#324 OHARA-1600 HDFS Sink Connector flsuh size 設定成 1 時會有問題
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/TopicPartitionWriter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestTopicPartitionWriter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/storage/TestHDFSStorage.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestJDBC2HDFS.scala
Labels: connector, it, review

#334 OHARA-1614 Remove AccessWithCluster
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/AccessWithCluster.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, improvement, review

#335 OHARA-1621 The response of adding partitions is incorrect
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
Labels: bug, client, review

#333 OHARA-1620 ClusterCollieImpl should reuse clusters in creating service
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: agent, configurator, improvement, review

#330 OHARA-1616 Validation APIs should use request body to replace query p…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
Labels: client, configurator, improvement, review

#337 OHARA-1626 FtpServer is bound on local hostname so we can't access it if ftp server is running on container
  docker/backend.yml
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara741.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestOhara743.scala
  ohara-demo/src/main/scala/com/island/ohara/demo/Backend.scala
  ohara-testing-util/build.gradle
  ohara-testing-util/src/main/java/com/island/ohara/integration/FtpServer.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestFtpServer.java
Labels: bug, connector, demo, others, review, testing-util

#332 OHARA-1605 JDBC Source Connector 的 timestamp column 需要判斷是否為空值
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/JDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBCSourceConnector.scala
Labels: connector, review

#336 OHARA-1604 HDFS Sink Connector 需要判斷 tmp dir 和 data dir 不能設定相同的資料夾路徑
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/HDFSSinkConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnectorConfig.scala
Labels: connector, review

#340 OHARA-1631 Pipeline APIs try to fetch status of stopped connectors
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, improvement, review

#338 OHARA-1627 Configurator should check docker on remote node when handl…
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtil.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
Labels: agent, configurator, improvement, it, review

#339 OHARA-1624 [Configurator] On FTP connector, empty properties should b…
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTaskProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTaskProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpProperties.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
Labels: connect, connector, review

#343 OHARA-1633 Add more tests about argument checks for collie
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtil.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-testing-util/src/main/java/com/island/ohara/integration/FtpServer.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestDatabase.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestFtpServer.java
Labels: agent, client, common, configurator, improvement, review, testing-util
