Repository oharastream/ohara, pull requests merged in 2019-09, with the labels that each got.

#2514 #2501 Ensure boolean value type is handled properly in manager (backport to 0.7)
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.7.1

#2513 #2501 Ensure boolean value type is handled properly in manager
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2494 #2229 Address unnecessary requests that are made in react hooks based…
  ohara-manager/client/cypress/api/brokerApi.js
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/jarApi.js
  ohara-manager/client/cypress/api/streamApi.js
  ohara-manager/client/cypress/api/topicApi.js
  ohara-manager/client/cypress/api/workerApi.js
  ohara-manager/client/cypress/api/zookeeperApi.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/controller/useFetchApi.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/Overview.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/useCreateServices.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
Labels: manager, v0.8.0

#2510 #2412 refactor TextSource to CsvSource
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTaskProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTaskProps.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvOffsetCache.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvRecordConverter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/DataReader.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/OffsetCache.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/RecordConverter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextFileSystem.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextSourceConverterFactory.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/TextSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/text/csv/CsvSourceConverterFactory.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/CsvSourceTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/FakeSourceContext.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvDataReader.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvOffsetCache.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvRecordConverter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/WithFakeStorage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/storage/LocalStorage.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/text/csv/TestCsvSourceConvertFactory.java
  ohara-manager/client/cypress/api/validateApi.js
Labels: connector, kafka, manager, v0.8.0

#2497 #2193 ohara consumer 程式要支援 offset reset 的方法
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
Labels: connector, kafka, v0.8.0

#2521 #2438 move nodeNames to settings for StreamClusterInfo
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: agent, client, common, configurator, streams, v0.8.0

#2524 #2383 Support long, double and short value type
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2522 #1969 Support all the official connectors listed in the worker API
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/NewRowModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/Table.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Connector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ConsoleSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/PerfSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/SidebarRoutes.js
  ohara-manager/client/src/propTypes/pipeline.js
Labels: manager, v0.8.0

#2529 #1047 Upgrade manager's node.js version to 10.x
  docker/deps.dockerfile
  docker/manager.dockerfile
  docs/src/manager_dev_guide.rst
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/package.json
Labels: v0.8.0

#2535 #2532 Fix flaky TestConfiguratorBuilder.TestConfiguratorBuilder
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: configurator, v0.8.0

#2540 #2536 Cleanup Topic APIs
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.8.0

#2539 #2489 FakeWorkerClient.localConnectorDefinitions should not instantia…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
Labels: configurator, v0.8.0

#2533 #2527 Cleanup Connector APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorFormatter.java
  ohara-manager/client/cypress/api/connectorApi.js
Labels: client, configurator, kafka, manager, v0.8.0

#2541 #2243 redefine the nodeNames and deadNodes for Worker cluster. the no…
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
Labels: agent, v0.8.0

#2544 #2527 update the definitions for Connector APIs
  docs/src/rest/rest-connectors.rst
Labels: docs, v0.8.0

#2537 #2212 Rename pipeline new page to pipeline edit page
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/e2e/pipelineEditPage.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Metrics/ConnectorMetrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Metrics/Metrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Metrics/MetricsListItem.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Metrics/TopicMetrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Metrics/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Metrics/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/SidebarRoutes.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/__tests__/pipelineEditPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/pipelineEditPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineEditPage.test.js
  ohara-manager/client/src/constants/documentTitles.js
Labels: manager, v0.8.0

#2534 #1047 Upgrade manager's node.js version to 10.x (backport to 0.7)
  docker/deps.dockerfile
  docker/manager.dockerfile
  docs/src/manager_dev_guide.rst
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/package.json
Labels: docs, manager, others, v0.7.1

#2508 #2183 Add workspace overview unit tests
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewConnectors.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewNodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.8.0

#2528 #2526 Perf connector config form not updating when switching between two Perf connectors
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/PerfSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
Labels: manager, v0.7.1

#2548 #2502 add new type BINDING_PORT to definition
  docs/src/setting_definition.rst
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorConfigDef.java
Labels: common, docs, kafka, v0.8.0

#2531 #2191 Support settings field for zookeeper
  docker/zk.sh
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
Labels: agent, client, common, configurator, docs, it, others, v0.8.0

#2550 #2191 Support settings field for broker
  docker/broker.sh
  docs/src/rest/rest-brokers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
Labels: agent, client, configurator, docs, it, others, v0.8.0

#2553 #2243 redefine the nodeNames and deadNodes for Zookeeper cluster
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
Labels: agent, v0.8.0

#2554 #2243 redefine the nodeNames and deadNodes for Broker cluster
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
Labels: agent, v0.8.0

#2556 #2543 Correct the document about the location of assembly file
  docs/src/how_to_build.rst
Labels: docs, v0.8.0

#2545 #2502 add freePorts to WorkerClusterInfo
  docs/src/rest/rest-workers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
Labels: agent, client, docs, v0.8.0

#2559 #2555 add nodeName and task details to Connector APIs
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/FtpUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/PerfUtils.scala
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Workers.java
Labels: client, configurator, connector, docs, testing-util, v0.8.0

#2552 #2438 move nodeNames to settings for ZookeeperClusterInfo
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: agent, client, configurator, v0.8.0

#2568 #2564 The group name in connector API won't be updated with the request
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.8.0

#2569 #2502 tweak the document style for freePorts
  docs/src/rest/rest-workers.rst
Labels: docs, v0.8.0

#2574 #2573 document the permission issue caused by UID
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
Labels: configurator, v0.8.0

#2575 #2438 move nodeNames to settings for BrokerClusterInfo
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
Labels: agent, client, configurator, v0.8.0

#2558 #2557 The nodeNames of temporary cluster generated by collie should honor the nodeNames from creation
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, client, configurator, it, v0.8.0

#2567 #1717 Add React error boundaries to provide a nicer error message for users
  ohara-manager/client/src/components/common/ErrorBoundary/ErrorBoundary.js
  ohara-manager/client/src/components/common/ErrorBoundary/index.js
  ohara-manager/client/src/index.js
Labels: manager, v0.8.0

#2579 #2578 Update version of 0.7 branch to 0.7.1
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/validateApi.js
Labels: v0.7.1

#2581 #2457 Add group support in pipeline
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/infoApi.test.js
  ohara-manager/client/cypress/api/jarApi.test.js
  ohara-manager/client/cypress/api/logApi.test.js
  ohara-manager/client/cypress/api/nodeApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/api/zookeeperApi.test.js
  ohara-manager/client/cypress/e2e/pipelineEditPage.test.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/App.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/pipelineApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/SidebarRoutes.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/__tests__/pipelineEditPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/pipelineEditPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineEditPage.test.js
Labels: manager, v0.8.0

#2584 #2560 Get services that are genereted during an E2E test run from nodes API
  ohara-manager/.gitignore
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/package.json
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.8.0

#2577 #2576 Group all ITs by type so as to test them group by group
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sCollieGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sConfiguratorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/K8sConnectorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/SshCollieGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/SshConfiguratorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/category/SshConnectorGroup.java
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshPostgresqlJDBCSourceConnector.scala
Labels: it, v0.8.0

#2585 #2393 disable all connector ITs
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshPostgresqlJDBCSourceConnector.scala
Labels: it, v0.8.0

#2586 #2393 move the public port and public hostname to IntegratedIT interface
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: it, v0.8.0

#2587 #2580 Update version of 0.7 branch to 0.7.2-SNAPSHOT
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/cypress/api/connectorApi.js
  ohara-manager/client/cypress/api/validateApi.js
Labels: v0.7.2

#2583 #2570 Apply group concept for zookeeper
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
Labels: agent, client, configurator, docs, it, v0.8.0

#2597 #2576 the generated jars are not trigger by ohara-it:test task
  ohara-it/build.gradle
Labels: it, v0.8.0

#2589 #2469 Prevent user from reusing a topic in pipeline
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/src/components/common/Form/Select.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
Labels: manager, v0.8.0

#2599 #2393 fix flaky TestSshStreamApp.testDeadNodes
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/DockerClientImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
Labels: agent, v0.8.0

#2604 #2603 Doucment vscode settings related to recent eslint upgrade
  docs/src/manager_dev_guide.rst
Labels: docs, v0.8.0

#2592 #2440 Introduce Quickstart VM
  .gitignore
  docs/src/build_quickstart_vm.rst
  docs/src/index.rst
  vms/quickstart/Makefile
  vms/quickstart/http/preseed.cfg
  vms/quickstart/packer-quickstart.json
  vms/quickstart/scripts/cleanup.sh
  vms/quickstart/scripts/init.sh
  vms/quickstart/scripts/setup-docker.sh
  vms/quickstart/scripts/upload/ohara-configurator.sh
  vms/quickstart/scripts/upload/ohara-manager.sh
  vms/quickstart/scripts/upload/setup-ohara.sh
Labels: docs, others, v0.8.0

#2610 #2440 Docs: improve build_quickstart_vm
  docs/src/build_quickstart_vm.rst
Labels: docs, v0.8.0

#2596 #2483 Upgrade workspace with updated plugins
  ohara-manager/client/src/components/common/Mui/Feedback/Progress.js
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/common/Mui/Table/TableToolbar.js
  ohara-manager/client/src/components/controller/useFetchApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPage.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.8.0

#2613 #2605 the testing-purposed connectors are inaccessible to Kafka broker
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/SinkWithNullableSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/SourceWithNullableSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: kafka, v0.8.0

#2616 #2614 lazy evaluation to type of Producer/Consumer
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSinkTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationUtils.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestJDBCSourceConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
Labels: client, configurator, connector, it, kafka, v0.8.0

#2611 #2393 updating metrics cache may be blocked by the non-connectable se…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: configurator, it, v0.8.0

#2609 #2608 Allow table component to accept same name item in the table
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
Labels: manager, v0.8.0

#2620 #2619 Use the same primary theme color throuthout the UI
  ohara-manager/client/src/components/common/Header/styles.js
Labels: manager, v0.8.0

#2617 #2393 the nodeNames is out-of-date after updating cache since the set…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, it, v0.8.0

#2612 #2484 Restore workspace if the upgrade failed
  ohara-manager/client/src/components/common/Mui/Feedback/Progress.js
  ohara-manager/client/src/components/common/Mui/Table/TableToolbar.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/usePlugin.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/theme/muiTheme.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.8.0

#2602 #2570 Apply group concept for stream
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: agent, client, configurator, docs, it, streams, v0.8.0

#2624 #2570 Apply group concept for broker
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, docs, it, v0.8.0

#2626 #2547 introduce JsonIn connector
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-connector/build.gradle
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JioData.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JioProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonInTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ConnectorTestUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioData.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioSettings.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJsonIn.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
Labels: client, configurator, connector, kafka, v0.8.0

#2640 #2637 Both creation and update objects in all cluster-related APIs sh…
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: agent, client, configurator, it, v0.8.0

#2638 #2547 add more unit tests for both JsonIn and JsonOut
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJsonIn.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJsonOut.scala
Labels: connector, v0.8.0

#2643 #2641 eliminate the warnings from TestSmbFileSystem and FileSystemTes…
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/FileSystem.scala
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/ftp/TestFtpFileSystem.scala
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/ftp/TestFtpFileSystemBuilder.scala
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/ftp/TestIllegalFtpFileSystem.scala
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/hdfs/TestHdfsFileSystem.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSinkTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbFileSystem.scala
Labels: client, connector, it, v0.8.0

#2645 #2644 Make all ITs reuse the env parser
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
Labels: it, v0.8.0

#2647 #2646 Remove FtpUtils
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/FtpUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
Labels: connector, v0.8.0

#2633 #2570 Refactor collie.creator infra to benefit the api.request
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
Labels: agent, client, v0.8.0

#2600 #2542 Manager's E2E test should give the cluster name a prefix
  ohara-manager/build.gradle
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/logApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/api/zookeeperApi.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/cypress/support/retryOnFail.js
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/runE2eTests.js
Labels: manager, v0.8.0

#2628 #2625 Remove nodename in hostname label of k8s
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, v0.8.0

#2658 #2648 [Manager] Prevent test keyword "only" from getting into the source code
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Mui/Form/__tests__/InputField.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/connectorUtils.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.8.0

#2663 #2661 eliminate the empty traits like HdfsFileSystem, FtpFileSystem a…
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-client/src/main/scala/com/island/ohara/client/filesystem/smb/SmbFileSystem.scala
Labels: client, v0.8.0

#2668 #2666 Refactor CsvSourceTestBase
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSourceTestBase.scala
Labels: connector, v0.8.0

#2671 #2670 add Test annotation to testFailedClusterRemoveGracefully and te…
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: it, v0.8.0

#2673 #2672 add test to find out the test cases having no test annotation
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestTestCases.scala
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/hdfs/TestHdfsFileSystem.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: assembly, client, it, v0.8.0

#2674 #2669 Remove methodName() from OharaTest
  ohara-agent/src/test/scala/com/island/ohara/agent/docker/TestDockerClientWithoutDockerServer.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/fake/TestFakeDockerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestDatabaseClient.scala
  ohara-common/src/test/java/com/island/ohara/common/rule/OharaTest.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksDataStore.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestBrokerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSinkRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSourceRecord.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
Labels: agent, client, common, configurator, it, kafka, streams, v0.8.0

#2675 #2667 Fix flaky TestK8SSimpleCollie
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: it, v0.8.0

#2665 #2664 Resolving jar hostname to woker
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
Labels: agent, v0.8.0

#2630 #2378 Refactor manager with React Hooks
  ohara-manager/client/cypress.json
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/e2e/pipelineEditPage.test.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/pages/LogsPage.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/ColumnTable/NewRowModal.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/pipelineEditPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/utils/generate.js
  ohara-manager/client/src/utils/hooks.js
Labels: manager, v0.8.0

#2680 #2679 refactor the definitions of csv connectors
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSinkProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSourceProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSinkProps.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSourceTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceProps.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/sink/CsvSinkConfig.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/CsvSinkTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestCsvDataWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/sink/TestTopicPartitionWriter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/CsvSourceTestBase.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/WithFakeStorage.java
Labels: connector, it, kafka, v0.8.0

#2631 #2622 Add e2e and unit tests with plugins
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/usePlugin.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Plugins.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/validate.js
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.8.0

#2681 #2678 Fix flaky TestK8sClusterCollie#testWorker
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: it, v0.8.0

#2632 #2222 Create a Base Class for CsvSink Tests
  ohara-client/src/test/scala/com/island/ohara/client/filesystem/hdfs/TestHdfsFileSystem.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSink.scala
Labels: client, connector, v0.8.0

#2690 #2687 ZookeeperRoute, BrokerRoute and WorkerRoute don't take all sett…
  docker/worker.sh
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, others, v0.8.0

#2698 Revert "#2687 ZookeeperRoute, BrokerRoute and WorkerRoute don't take …
  docker/worker.sh
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, others, v0.8.0

#2699 #2687 ZookeeperRoute, BrokerRoute and WorkerRoute don't take all sett…
  docker/worker.sh
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, others, v0.8.0

#2697 #2038 load offset from kafka IF NEED
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvOffsetCache.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/OffsetCache.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/csv/source/TestCsvRecordConverter.java
Labels: kafka, v0.8.0

#2700 #2685 [Manager] Delete a pipeline from pipeline list page could sometimes fail
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
Labels: manager, v0.8.0

#2702 #2221 [Manager] Use snackbar to display notification
  ohara-manager/client/package.json
  ohara-manager/client/src/__mocks__/toastr.js
  ohara-manager/client/src/api/apiUtils.js
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/context/Snackbar/SnackbarProvider.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Connector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/index.js
  ohara-manager/client/src/theme/globalStyle.js
  ohara-manager/client/src/toastrConfigs.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.8.0

#2701 #2682 the sum of name and group length should less or equal than 100 in clusters
  docs/src/rest/rest-stream.rst
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/CreationRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/SimpleData.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, client, docs, it, v0.8.0

#2704 #2691 fix the incorrect rule of junit
  ohara-it/src/test/scala/com/island/ohara/it/IntegrationTest.scala
Labels: it, v0.8.0

#2653 #2593 重構 JDBC Source connector 的整合測試程式
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestK8sPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/TestSshPostgresqlJDBCSourceConnector.scala
Labels: it, v0.8.0

#2694 #2693 provides the missing connector version info
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonOut.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSource.scala
Labels: connector, v0.8.0

#2703 #2547 Ohara manager support JsonIn and JsonOut
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Connector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/pipelineGraphUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.8.0

#2707 #2688 rename CreationRequest to BasicCreation; Update to Updating; Cr…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicCreation.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterCreation.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterUpdating.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHdfsInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfCreation.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfUpdating.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
Labels: client, configurator, connector, v0.8.0

#2706 #2705 fix the SMB_PASSWORD_DEFINITION to correct type
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/package.scala
Labels: connector, v0.8.0

#2696 #2695 [Manager] Assign broker cluster name to stream application
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.8.0

#2683 #2383 [Manager] Add Jar key and connector key support
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.8.0

#2684 #2438 Ohara Manager should fetch the object data from settings
  ohara-manager/client/cypress/api/brokerApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/api/zookeeperApi.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage/PipelineListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/Overview.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewNodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/usePlugin.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Nodes.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Plugins.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.8.0

#2716 #2708 Verify the version of all official connectors
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/TestConnectors.scala
Labels: configurator, connector, v0.8.0

#2717 #2151 check the jar key for both creation request and update request
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: agent, client, configurator, v0.8.0

#2710 #2688 Collie.Creator should reuse the API.Request to fill all fields
  docker/worker.sh
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, it, others, v0.8.0

#2660 #2542 Add prefix to the services that are started from the UI
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.8.0

#2725 #2723 [Manager] Remove duplicate Mui package warning
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: manager, v0.8.0

#2729 #2728 Remove the useless node from TestJDBCSourceConnectorRecovery
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
Labels: connector, v0.8.0

#2730 #2727 The creation/updating in Connector/Topic should be normal class…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
Labels: client, configurator, v0.8.0

#2733 #2732 BrokerCollie.zookeeperClusters incorrectly return all clusters …
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BrokerCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
Labels: agent, configurator, v0.8.0

#2734 #2688 substitute Collie.create for Collie.addNode
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/BasicCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, client, configurator, it, v0.8.0

#2737 #2151 Update docs to fit the new rules for stream
  docs/src/rest/rest-stream.rst
Labels: docs, v0.8.0

#2721 #2720 [Manager] Fix pipeline graph's state update logic
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Connector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/__tests__/pipelineEditPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/pipelineEditPageUtils.js
Labels: manager, v0.8.0

#2736 #2151 Give up to take worker cluster from jar's group
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: client, configurator, v0.8.0

#2739 #2438 remove stale fields for StreamClusterInfo
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
Labels: client, v0.8.0

#2752 #2677 remove collie IT since they are covered by other IT
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
Labels: it, v0.8.0

#2748 #2221 [Manager] All Mui buttons should use uppercase letters
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/e2e/pipelineEditPage.test.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/streamApp.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/__tests__/DeleteDialog.test.js
  ohara-manager/client/src/components/common/Mui/Dialog/__tests__/Dialog.test.js
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/NodePage/__tests__/NodeListPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Node/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Nodes.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
Labels: manager, v0.8.0

#2753 #2688 Collie.create ought to return nothing since it is an async call…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, configurator, it, v0.8.0

#2751 #2719 Adjust the display mode of JsonIn and JsonOut in graph
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/NodeNameList.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/NodeNames.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/NodeNames/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/pipelineGraphUtils.js
Labels: manager, v0.8.0

#2754 #2731 unify default group for all objects
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHdfsInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookOfGroup.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, it, v0.8.0

#2759 #2757 Increase waiting time for workspace creation
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/useCreateServices.js
Labels: manager, v0.8.0

#2760 #2677 keep the alive nodes rather than dead nodes because the former …
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeClusterInfo.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestClusterCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/FakeClusterInfo.scala
Labels: agent, client, configurator, docs, v0.8.0

#2764 #2731 enable json parser of key to accept following type: {"group": "…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestKeyApi.scala
Labels: client, v0.8.0

#2765 #2677 WorkerCollie.workerClient(string) should be moved to Route's he…
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
Labels: agent, client, configurator, v0.8.0

#2740 #2438 remove stale fields for ZookeeperClusterInfo
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-manager/client/cypress/support/apiCommands.js
Labels: client, manager, v0.8.0

#2767 #2766 Add default value to the keys 'task.total', 'task.hash' of CsvSourceConfig
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
Labels: it, kafka, v0.8.0

#2773 #2677 BrokerCollie.topicAdmin(string) should be moved to Route's help…
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
Labels: agent, configurator, v0.8.0

#2771 #2770 (Worker APIs) Updating.jarKeys fails to accept string array
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/ConnectorKey.java
  ohara-common/src/main/java/com/island/ohara/common/setting/ObjectKey.java
  ohara-common/src/main/java/com/island/ohara/common/setting/TopicKey.java
Labels: client, common, v0.8.0

#2763 #2762 Updating plugins sometimes results in abnormal display and errors
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
Labels: manager, v0.8.0

#2774 #2769 Connector APIs should honor the key rather than name
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: client, common, configurator, connector, docs, kafka, v0.8.0

#2756 #2438 remove stale fields for WorkerClusterInfo
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-manager/client/cypress/api/workerApi.test.js
Labels: client, manager, v0.8.0

#2755 #2438 remove stale fields for BrokerClusterInfo
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
Labels: client, v0.8.0

#2783 Revert "#2766 Add default value to the keys 'task.total', 'task.hash'…
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/source/CsvSourceConfig.java
Labels: it, kafka, v0.8.0

#2786 #2438 update docs to remove stale fields for clusters
  docs/src/rest/rest-stream.rst
Labels: docs, v0.8.0

#2784 #2769 Query APIs should honor the key rather than name
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-query.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
Labels: client, configurator, docs, v0.8.0

#2782 #2781 Failure to establish workspace correctly
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/useCreateServices.js
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.8.0

#2777 #2775 Cannot to start smb source connector because some keys cannot t…
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/smb/TestSmbSource.scala
Labels: connector, it, v0.8.0

#2788 #2769 Topic APIs should honor the key rather than name
  docs/src/rest/rest-topics.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: client, common, configurator, docs, it, v0.8.0

#2789 #2769 Container APIs should honor the key rather than name
  docs/src/rest/rest-containers.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
Labels: client, configurator, docs, it, v0.8.0

#2790 #2769 Validation APIs should honor the key rather than name
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
Labels: client, configurator, v0.8.0

#2793 #2791 fix flaky TestConfiguratorBuilder.testFakeCluster
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: configurator, v0.8.0

#2792 #2772 remove stale group, name, state and error from Connector APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.8.0

#2794 #2769 remove clusterName from Validation APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/QueryRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfFtp.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfHdfs.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfRdb.scala
Labels: client, configurator, v0.8.0

#2797 #2769 remove workerClusterName from Connector APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.8.0

#2722 #2682 apply name and group rules to objects of UI used
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HdfsInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcInfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHdfsInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/api/workerApi.test.js
  ohara-manager/client/cypress/e2e/pipelineEditPage.test.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/apiCommands.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/pipelineEditPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineEditPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewPlugin.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/usePlugin.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Plugins.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/utils/generate.js
Labels: client, configurator, manager, v0.8.0

#2798 #2769 remove workerClusterName from Query APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/QueryApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestQueryApi.scala
Labels: client, v0.8.0

#2796 #2769 Log APIs should honor the key rather than name
  docs/src/rest/rest-logs.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestLogApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: client, configurator, docs, it, v0.8.0

#2801 #2799 [Manager] Fix unstable E2E tests
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/Plugins.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Plugins/usePlugin.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.8.0

#2803 #2769 remove brokerClusterName from Topic APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
Labels: client, v0.8.0

#2804 #2682 fix the illegal object name in IT tests
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
Labels: it, v0.8.0

#2807 #2806 fix flaky TestListCluster
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
Labels: it, v0.8.0

#2814 #2813 the error message in parsing ObjectKey is unclear
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestKeyApi.scala
Labels: client, v0.8.0

#2718 #2686 [Manager] Prevent connector from making an unneccesary put request when switching between connectors
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/AutoSave.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Connector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/scripts/runE2eTests.js
Labels: manager, v0.8.0

#2800 #2731 Stream APIs should honor cluster key
  docs/src/rest/rest-stream.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestStreamCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: agent, client, configurator, docs, it, streams, v0.8.0

#2822 #2820 [Manager] Fix flakey End to End tests
  ohara-manager/client/cypress/api/connectorApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/cypress/api/streamApi.test.js
  ohara-manager/client/cypress/api/topicApi.test.js
  ohara-manager/client/cypress/api/validateApi.test.js
  ohara-manager/client/cypress/e2e/pipelineListPage.test.js
  ohara-manager/client/cypress/e2e/workspacesPage.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineEditPage/PipelineEditPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/TopicNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/WorkspacesDetailPageUtils.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.8.0

#2825 #2795 add global flag "ohara.it.keep.containers" to ClusterNameHolder…
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
Labels: it, v0.8.0
