Repository oharastream/ohara, pull requests merged in 2019-01, with the labels that each got.

#62 OHARA-1422 Use statusText as default when not found APIs error message
  ohara-manager/client/src/apis/axios/index.js
Labels: manager

#65 OHARA-1425 Merge ftp and mysql process into backend image
  bin/start-service.sh
  docker/backend.snapshot.dockerfile
  docker/docker-compose/backend.yml
  docker/ftp.snapshot.dockerfile
  docker/mysql.snapshot.dockerfile
Labels: infra

#67 OHARA-1428 Worker image miss wget package
  docker/worker.release.dockerfile
Labels: infra

#68 OHARA-1403 Remove all connectors connected to a deleted pipeline
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerJson.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlSink.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlSource.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara734.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara764.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorsRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestDataTransmissionOnCluster.java
Labels: configurator

#66 OHARA-1426 Complete the fake configurator - add fake nodes
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1255.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodesRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
Labels: configurator

#69 OHARA-1429 ohara is not compatible to scala 2.12
  gradle/dependencies.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
Labels: configurator, infra

#70 OHARA-1430 Introduce async TopicAdmin
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-client/build.gradle
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidator.scala
Labels: client, configurator

#73 OHARA-1431 CD build doesn't not include manager node_modules
  docker/manager.snapshot.dockerfile
Labels: infra

#74 OHARA-1423 Configurator create topic API is very slow
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: agent, configurator

#71 OHARA-1405 Display cluster name in pipeline new/edit page
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
Labels: manager

#75 OHARA-1434 Use the correct topic name instead of class name for a topic graph
  ohara-manager/client/src/utils/pipelineToolbarUtils.js
Labels: manager

#77 OHARA-1473 Add tooltips for control buttons and toolbar items
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/Header/Header.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar.js
  ohara-manager/client/yarn.lock
Labels: manager

#76 OHARA-1433 Introduce async WorkerClient
  ohara-client/src/main/scala/com/island/ohara/client/kafka/CleanupPolicy.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/ConnectorCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/TestOhara770.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/endpoint/Validator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlSink.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlSource.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/endpoint/TestValidator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/FtpUtil.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/PerfUtil.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestFtp2Ftp.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestJDBC2HDFS.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestLoadCustomJarToWorkerCluster.scala
  ohara-kafka/src/test/java/com/island/ohara/kafka/MyConnectorTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestDataTransmissionOnCluster.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestWorkerClient.java
Labels: configurator

#79 OHARA-1439 Display connector information in WORKER APIs
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/K8SClusterCollieImpl.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: configurator

#80 OHARA-1440 Deprecate ohara-demo and then move all useful servers to o…
  docker/docker-compose/backend.yml
  docker/ohara.backend.dockerfile
  ohara-demo/build.gradle
  ohara-demo/src/main/scala/com/island/ohara/demo/Backend.scala
  ohara-demo/src/main/scala/com/island/ohara/demo/Ftp.scala
  ohara-demo/src/main/scala/com/island/ohara/demo/MySql.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendArguments.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendConfigurator.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendCreation.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendServicesOnDefaultPorts.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestBackendServicesOnSpecifiedPorts.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestFtp.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestMySql.scala
  ohara-demo/src/test/scala/com/island/ohara/demo/TestRunBackendWithTtl.scala
  ohara-testing-util/build.gradle
  ohara-testing-util/src/main/java/com/island/ohara/integration/Database.java
  ohara-testing-util/src/main/java/com/island/ohara/integration/FtpServer.java
  ohara-testing-util/src/main/java/com/island/ohara/integration/OharaTestUtil.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestDatabase.java
  ohara-testing-util/src/test/java/com/island/ohara/integration/TestFtpServer.java
Labels: demo, testing-util

#78 Ohara-1438 Remove inconsistent wording, button styles and some animation in UI
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/Services/Styles.js
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/WorkerListPage.js
Labels: manager

#48 OHARA-1400 Refactor pipeline connectors styles (move streamapp to connectors folder)
  ohara-manager/client/src/components/common/FormFields/InputField.js
  ohara-manager/client/src/components/common/FormFields/index.js
  ohara-manager/client/src/components/common/Tabs/Tabs.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/index.js
  ohara-manager/client/src/components/pages/PipelinePage/streamapp/index.js
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
Labels: manager

#84 OHARA-1443 Fix - Module not found: Can't resolve '../../NodePage/InputField'
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/Services/TopicNewModal/TopicNewModal.js
Labels: manager

#86 OHARA-1445 Pipeline should not keep rule that has UNKNOWN from and UN…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator

#92 OHARA-1455 Extend pipeline API so it can accept an array of connector…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator

#91 OHARA-1451 NPE happens on receiving row data from connector
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/TestHDFSSinkConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConsumerAndProducer.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestDataTransmissionOnCluster.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestWorkerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/SimpleRowSinkTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/SimpleRowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSinkRecord.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSourceRecord.java
Labels: kafka

#93 OHARA-1454 Disable new cluster button if there is an existing cluster…
  ohara-manager/client/src/components/pages/Services/WorkerListPage/Styles.js
  ohara-manager/client/src/components/pages/Services/WorkerListPage/WorkerListPage.js
Labels: manager

#89 OHARA-1446 Collie should not show return dead clusters
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
Labels: agent

#90 OHARA-1449 Limit the port range for worker service, from 5000 to 65535
  ohara-manager/client/src/components/pages/Services/WorkerNewModal/WorkerNewModal.js
Labels: manager

#87 OHARA-1387 Delete individual connector from pipeline
  ohara-manager/client/src/apis/pipelinesApis.js
  ohara-manager/client/src/apis/streamAppApis.js
  ohara-manager/client/src/components/common/Tabs/Tabs.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Controller/Styles.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Controller/index.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/Styles.js
  ohara-manager/client/src/constants/messages.js
Labels: manager

#94 OHARA-1456 Fix TestConfigurator.testRunFtpSource
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtil.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlSource.scala
Labels: configurator

#97 OHARA-1458 add default setting to numberOfReplications and numberOfPa…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1403.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara1415.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara450.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara764.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOhara786.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestPipelineRule.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/TestConfigurator.scala
Labels: client, configurator

#98 OHARA-1459 Support to build ohara's image on specified commit
  docker/README.md
  docker/backend.dockerfile
  docker/backend.yml
  docker/broker.dockerfile
  docker/build.yml
  docker/ci.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/manager.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: infra

#100 OHARA-1462 Use multi-threads to fetch state of pipeline's objects
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
Labels: configurator

#99 OHARA-1385 Support multiple sink connectors in pipeline graph
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/__tests__/JdbcSource.test.js
  ohara-manager/client/src/utils/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/utils/pipelineNewPageUtils.js
  ohara-manager/client/src/utils/pipelineToolbarUtils.js
  ohara-manager/client/src/utils/pipelineUtils.js
Labels: manager

#101 OHARA-1463 The message got printed is incorrect when there is no default cluster
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/CollieUtils.scala
Labels: configurator

#45 OHARA-1395 撰寫 ohara it 部署到 QA 的 README 文件
  ohara-it/README.md
Labels: infra, it

#106 OHARA-1472 Correct output of TopicOption.toString
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicOption.java
Labels: kafka

#103 OHARA-1461 Quickly fill in the configuration settings for all connector from
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/QuicklyFillIn/FtpQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/QuicklyFillIn/JdbcQuicklyFillIn.js
  ohara-manager/client/src/components/pages/PipelinePage/connectors/QuicklyFillIn/index.js
Labels: manager

#104 OHARA-1467 Remove unused line in start-service.sh
  bin/start-service.sh
Labels: infra

#107 OHARA-1474 Use Properties.setProperty to replace Properties.put
  ohara-kafka/src/main/java/com/island/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
Labels: kafka, testing-util

#82 OHARA-1442 Update backend image starting command in README.md
  README.md
Labels: infra

#109 OHARA-1469 Remove uuid wording from Ohara manager codebase
  ohara-manager/client/src/components/common/Form/Select.js
Labels: manager

#111 OHARA-1471 Remove HDFS configuration page
  ohara-manager/client/cypress/integration/cnofigurationPage.test.js
  ohara-manager/client/src/App.js
  ohara-manager/client/src/__tests__/App.test.js
  ohara-manager/client/src/components/pages/ConfigurationPage.js
  ohara-manager/client/src/components/pages/__tests__/ConfigurationPage.test.js
Labels: manager

#108 OHARA-1476 Collie should limit the length of cluster name
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestNameLimitOfCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
Labels: agent

#110 OHARA-1432 修改 BrokerCollieImpl 丟 Exception 的錯字
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
Labels: agent

#105 OHARA-1470 ClusterCollieImpl should add prefix to all hosted containers
  ohara-agent/src/main/scala/com/island/ohara/agent/Agent.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/DockerClientImpl.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/Store.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTestsOfCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestLoadCustomJarToWorkerCluster.scala
Labels: agent
