Repository oharastream/ohara, pull requests merged in 2019-07, with the labels that each got.

#1633 #1615 Refactor client of jar APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJarApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, configurator, it, v0.6.0

#1647 #1646 Add file size in streamApp page
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
Labels: manager, v0.6.0

#1654 #1653 Pipeline APIs does not work with objects having identical name
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, v0.6.0

#1650 #1635 Stabilize manager's end-to-end tests
  ohara-manager/client/cypress/integration/brokerPage.test.js
  ohara-manager/client/cypress/integration/nodePage.test.js
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.6.0

#1664 #1385 Docs: rename docs-site domain to `https://ohara.readthedocs.io`
  CONTRIBUTING.md
  README.md
  kubernetes/README.md
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
Labels: configurator, others, v0.6.0

#1665 #1663 Fix pipeline streamApp modal can add space list
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/WorkspacesPage/PluginSelectModal/PluginSelectModal.js
Labels: manager, v0.6.0

#1669 #1662 Replace 0.6.0-SNAPSHOT with 0.7.0-SNAPSHOT in Ohara codebase
  docker/backend.yml
  docker/build.yml
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
  gradle.properties
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: docs, manager, others, v0.6.0, v0.7.0

#1668 #1666 Fix create e2e services wait containers failed
  ohara-manager/scripts/handleE2eServices.js
Labels: manager, v0.7.0

#1661 #1628 Better user feedback in new node modal when there's no available node in the list
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
Labels: manager, v0.7.0

#1684 #1683 the upstream of rebase should be on official repository than co…
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.7.0

#1685 #1683 the upstream of rebase should be on official repository than co…
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.6.0

#1688 #1683 (addendum) fix broken dockerfile - miss a quotation mark
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: v0.7.0

#1690 #1683 (addendum) fix broken dockerfile - miss a quotation mark
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: v0.6.0

#1667 #1628 Add workspaces page unit tests
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
Labels: manager, v0.7.0

#1677 #1674 the generated default value from JsonRefiner is constant than r…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
Labels: client, v0.6.0

#1675 #1674 the generated default value from JsonRefiner is constant than r…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
Labels: client, v0.7.0

#1682 #1672 Add a link back to workspace's topics tab in pipeline's new topic modal
  ohara-manager/client/src/components/common/Messages/Warning.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/pipelineToolbarUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/styles.js
Labels: manager, v0.7.0

#1697 #1696 Enable dockerfile to run custom command before building ohara code
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.7.0

#1698 #1696 Enable dockerfile to run custom command before building ohara code
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/streamapp.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.6.0

#1679 #1676 Update 0.6 branch's docs version to 0.6
  CONTRIBUTING.md
  README.md
  kubernetes/README.md
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
Labels: configurator, others, v0.6.0

#1657 #1341 JDBC Source Connector 增加 flush size 設定, 避免 OutOfMemory
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/RDBDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnectorConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/QueryResultIterator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/ResultSetDataConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.6.0, v0.7.0

#1701 #1531 add type "port" to metadata APIs
  docs/src/custom_connector.md
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinition.java
Labels: common, connector, docs, kafka, v0.7.0

#1708 #1673 auto-generate name for all objects
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHadoopApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: client, v0.7.0

#1686 #1628 Refactor sort table component making it more reusable
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
Labels: manager, v0.7.0

#1704 #1341 JDBC Source Connector 增加 flush size 設定, 避免 OutOfMemory
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/RDBDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnectorConfig.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/QueryResultIterator.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/ResultSetDataConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorConfig.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.6.0

#1710 #1709 Remove unused file in ohara-metrics
  .gitignore
  ohara-metrics/.attach_pid28510
Labels: metrics, others, v0.7.0

#1716 #1707 Upgrade react-testing-library to testing-library/react
  ohara-manager/client/cypress/integration/pipelineListPage.test.js
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Tabs.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesNewModal.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
  ohara-manager/client/src/utils/testUtils.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.7.0

#1721 #1720 streamapp.dockerfile does not support /bin/bash command
  docker/streamapp.dockerfile
Labels: others, v0.7.0

#1724 #1720 streamapp.dockerfile does not support /bin/bash command
  docker/streamapp.dockerfile
Labels: v0.6.0

#1715 #1656 Replace JsArray() by JsArray.empty
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
Labels: client, v0.7.0

#1744 #1729 Replace the table column name from cluster to workspace
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
Labels: manager, v0.7.0

#1722 #1691 JDBC Source Connector Timestamp 欄位小數點轉換錯誤
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.7.0

#1745 #1729 Replace the table column name from cluster to workspace (backport to 0.6.0)
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
Labels: manager, v0.6.0

#1706 #1628 Refactor new workspace modal and fix some minor issues
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/src/api/jarApi.js
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/common/Mui/Form/Tooltip.js
  ohara-manager/client/src/components/pages/WorkspacesPage/NodeSelectModal/NodeSelectModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/NodeSelectModal/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/NodeSelectModal/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/PluginSelectModal/PluginSelectModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/PluginSelectModal/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/PluginSelectModal/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/styles.js
Labels: manager, v0.7.0

#1727 #1723 Move FakeK8SClient to the agent module
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/FakeK8SClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
Labels: agent, it, v0.7.0

#1747 #1691 JDBC Source Connector Timestamp 欄位小數點轉換錯誤
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.6.0

#1751 Revert "fix_1691 Modify timestamp offset to string (#1747)"
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.6.0

#1746 #1628 Add more end-to-end tests
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewConnectors.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewNodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
Labels: manager, v0.7.0

#1754 #1691 JDBC Source Connector Timestamp 欄位小數點轉換錯誤
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.6.0

#1758 #1128 Prevent users from editing a streamApp property form while the streamApp is running
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
Labels: manager, v0.7.0

#1757 #1687 Update new stream app modal in pipeline
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewStream.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewTopic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/pipelineToolbarUtils.js
Labels: manager, v0.7.0

#1756 #1742 The topic list displayed in a workspace should belong to its broker cluster in pipeline
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
Labels: manager, v0.7.0

#1755 #1725 Properly handle validation API error message and show it to the users
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/api/apiUtils.js
Labels: manager, v0.7.0

#1764 #1759 Missing port error when verifying Ftp source connector config
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/common/Mui/Form/Tooltip.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: manager, v0.7.0

#1768 #1766 Fix client's empty coverage report issue
  ohara-manager/client/package.json
Labels: manager, v0.7.0

#1761 #1753 修改所有文件連結的副檔名為 .html
  docs/src/contributing.md
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/how_to_build.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
Labels: docs, v0.7.0

#1762 #1753 修改所有文件連結的副檔名為 .html
  docs/src/contributing.md
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/how_to_build.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
Labels: docs, v0.6.0

#1760 #1742 The topic list displayed in a workspace should belong to its broker cluster in pipeline (backport to 0.6)
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
Labels: manager, v0.6.0

#1770 #1702 Create new workspace modal thrown an error after successfully created the workspace (backport to 0.6)
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.6.0

#1771 #1702 Create new workspace modal thrown an error after successfully created the workspace
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#1774 #1703 Add a clean option when running yarn prepush script
  ohara-manager/package.json
Labels: manager, v0.7.0

#1773 #1767 Add unit test to brokerApi
  ohara-manager/client/src/api/__tests__/brokerApi.test.js
Labels: manager, v0.7.0

#1784 #1767 Fix streamApi unit test
  ohara-manager/client/src/api/__tests__/streamApi.test.js
Labels: manager, v0.7.0

#1782 #1781 Remove unused stream app props from its config form
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
Labels: manager, v0.7.0

#1752 #1750 Expose API test command in manager's yarn command
  ohara-manager/build.gradle
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/runApiTests.js
  ohara-manager/scripts/runE2eTests.js
Labels: manager, v0.7.0

#1788 #1713 Refactor ExceptionHandler
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestCodePattern.scala
  ohara-common/src/main/java/com/island/ohara/common/exception/ExceptionHandler.java
  ohara-common/src/main/java/com/island/ohara/common/exception/OharaException.java
  ohara-common/src/main/java/com/island/ohara/common/exception/OharaExecutionException.java
  ohara-common/src/main/java/com/island/ohara/common/exception/OharaInterruptedException.java
  ohara-common/src/main/java/com/island/ohara/common/exception/OharaTimeoutException.java
  ohara-common/src/test/java/com/island/ohara/common/exception/TestExceptionHandler.java
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/BrokerClient.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/CheckedExceptionWrapper.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/CheckedExceptionWrapperReturn.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/ExceptionHandler.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/exception/OharaTimeoutException.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestBrokerClient.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/exception/TestCheckedExceptionUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/Topology.java
Labels: assembly, common, it, kafka, streams, v0.7.0

#1790 #1767 Add workerApi unit test
  ohara-manager/client/src/api/__tests__/workerApi.test.js
  ohara-manager/client/src/api/workerApi.js
Labels: manager, v0.7.0

#1772 #1763 修改 JDBC Source Connector 資料為 NULL 時 Cell 的 value
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/RDBDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/ResultSetDataConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.7.0

#1726 #810 Support custom configs for streamApp
  docker/streamapp.dockerfile
  gradle/dependencies.gradle
  ohara-common/build.gradle
  ohara-common/src/main/java/com/island/ohara/common/json/JsonObject.java
  ohara-common/src/main/java/com/island/ohara/common/json/JsonUtils.java
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-it/src/main/scala/com/island/ohara/it/streamapp/DumbStreamApp.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Creation.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/KafkaJsonUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroups.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Setting.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingValue.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/StringList.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/Validation.java
  ohara-streams/build.gradle
  ohara-streams/src/main/java/com/island/ohara/streams/StreamApp.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/ConfigDef.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/LaunchImpl.java
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/StreamsConfig.java
  ohara-streams/src/test/java/com/island/ohara/streams/SimpleApplicationForOharaEnv.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestStreamApp.java
  ohara-streams/src/test/java/com/island/ohara/streams/config/TestConfig.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/SumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/WordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestSimpleStreamCounter.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestStreamAppTopology.java
Labels: common, it, kafka, others, streams, v0.7.0

#1796 #1780 Fix cypress is not correctly waiting for creating worker API issue
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/cypress/support/commands.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewNodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
Labels: manager, v0.7.0

#1793 #1767 Add validateApi unit test
  ohara-manager/client/src/api/__tests__/validateApi.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.7.0

#1792 #1763 修改 JDBC Source Connector 資料為 NULL 時 Cell 的 value
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/datatype/RDBDataTypeConverter.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/ResultSetDataConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: connector, v0.6.0

#1814 #1776 Cannot deploy broker when add a new node into workspace (backport to 0.6)
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
Labels: manager, v0.6.0

#1778 #1700 Abandon all the services if an error occurs while creating a workspace
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#1812 #1776 Cannot deploy broker when add a new node into workspace
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
Labels: manager, v0.7.0

#1818 #1813 the implementation of ClusterCollie.verifyNode should be moved …
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
Labels: agent, v0.7.0

#1821 #1795 Disable fluent pattern to have method name starting with "set",…
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterCache.scala
  ohara-assembly/src/test/scala/com/island/ohara/assembly/TestCodePattern.scala
  ohara-common/src/main/java/com/island/ohara/common/cache/RefreshableCache.java
  ohara-common/src/test/java/com/island/ohara/common/cache/TestRefreshableCache.java
Labels: agent, assembly, common, v0.7.0

#1819 #1810 Add template for testing report issue
  .github/ISSUE_TEMPLATE/testing-report-issue.md
Labels: others, v0.7.0

#1823 #1822 Fix flaky TestMetrics.testTopicMeterInPerfSource
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
Labels: configurator, v0.7.0

#1824 #1820 rename "nodename" to "nodeName"
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SBrokerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SStreamCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SWorkerCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SZookeeperCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
Labels: agent, configurator, it, v0.7.0

#1827 #1776 Cannot deploy broker when add a new node into workspace (backport to 0.6)
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
Labels: manager, v0.6.0

#1817 #1809 add "hostname" to node APIs
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/StreamCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, docs, it, v0.7.0

#1811 #1628 Add nodes tab unit tests
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Table/SortTable.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Nodes.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.7.0

#1826 #1748 refactor gradle task "runFtp"
  ohara-testing-util/build.gradle
Labels: testing-util, v0.7.0

#1829 #1776 Cannot deploy broker when add a new node into workspace
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
Labels: manager, v0.7.0

#1831 #1830 Don't remove node_modules in yarn clean script
  ohara-manager/package.json
Labels: manager, v0.7.0

#1779 #1775 Merge AccessOfProperty and ActionAccess class of StreamApi
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-manager/client/src/api/__tests__/streamApi.test.js
  ohara-manager/client/src/api/streamApi.js
Labels: client, configurator, docs, it, manager, v0.7.0

#1838 #1836 simplify the build phase of deps.dockerfile
  docker/deps.dockerfile
Labels: others, v0.7.0

#1834 #1833 Update version of 0.6 branch to 0.6.0
  docker/backend.yml
  docker/build.yml
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
  gradle.properties
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: docs, manager, others, v0.6.0

#1835 #1809 remove "--node" from Configurator
  docker/backend.yml
  docs/src/user_guide.md
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorArgument.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorMain.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConfigurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestListManyPipelines.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMixedFakeCollie.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestNodeValidation.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestObjectRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestQueryRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshStreamApp.scala
Labels: configurator, docs, it, others, v0.7.0

#1839 #1837 Update 0.6 branch's docs link version to 0.6.0
  CONTRIBUTING.md
  README.md
  kubernetes/README.md
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
Labels: configurator, others, v0.6.0

#1841 #1767 Add Logs page unit test
  ohara-manager/client/src/components/pages/LogsPage.js
  ohara-manager/client/src/components/pages/__tests__/LogsPage.test.js
Labels: manager, v0.7.0

#1847 #1802 刪除確認提示，應該要明確指出欲刪除對象
  ohara-manager/client/src/components/common/Mui/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Mui/Dialog/index.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Controller/Controller.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/ColumnTable/ColumnTable.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/StreamApp.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Topics/Topics.js
Labels: manager, v0.7.0

#1848 #1628 Add overview page unit tests
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.7.0

#1846 #1844 Get a set of assigned TopicPartitions for this task from the Ro…
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkContext.java
Labels: kafka, v0.7.0

#1842 #1711 change tags format from string array to json object
  docs/src/rest_interface.md
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/CreationRequest.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/SimpleData.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHadoopApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/SimpleData.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
Labels: agent, client, common, configurator, docs, it, v0.7.0

#1851 #1807 表單：沒有修改任何欄位內容，按鈕應該 disable
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
Labels: manager, v0.7.0

#1852 #1797 Remove unused validate API functions in manager
  ohara-manager/client/src/api/__tests__/validateApi.test.js
  ohara-manager/client/src/api/validateApi.js
Labels: manager, v0.7.0

#1859 #1809 k8s mode should be able to ignore user name and password
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/ClusterCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ssh/DockerClientCache.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala.rej
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestValidationApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ClusterNameHolder.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/TestDockerClient.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestListCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestSshClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/PrometheusServer.scala
  ohara-it/src/test/scala/com/island/ohara/it/prometheus/TestPrometheus.scala
Labels: agent, client, configurator, it, v0.7.0

#1858 #1840 Docs: read version from gradle.properties
  .readthedocs.yml
  docs/src/conf.py
  docs/src/sample.rst
Labels: docs, others, v0.7.0

#1860 #1798 Remove render props pattern from manager
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Table/Table.js
  ohara-manager/client/src/components/common/Table/ListTable.js
  ohara-manager/client/src/components/common/Table/SchemaTable.js
  ohara-manager/client/src/components/common/Table/index.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewConnectors.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewNodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewStreamApps.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTable.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Overview/OverviewTopics.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#1850 #1805 無法有效識別 Nodes 頁面的 SERVICES 欄位資訊
  ohara-manager/client/src/components/common/Mui/Form/InputField.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#1862 #1861 Refactor and cleanup workspace components
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkerEditPage/WorkerEditPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkerEditPage/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkerEditPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/Nodes/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/WorkspacesListPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesListPage/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/styles.js
Labels: manager, v0.7.0

#1854 #1767 Add validate unit test
  ohara-manager/client/src/components/pages/NodePage/__tests__/validate.test.js
Labels: manager, v0.7.0

#1857 #1853 把 0.6 branch 所有程式和文件的版本號修改成 0.6.1-SNAPSHOT
  CONTRIBUTING.md
  README.md
  docker/backend.yml
  docker/build.yml
  docs/src/custom_connector.md
  docs/src/custom_streamapp.md
  docs/src/rest_interface.md
  docs/src/user_guide.md
  gradle.properties
  kubernetes/README.md
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
  ohara-manager/client/cypress/api/api.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: configurator, docs, manager, others, v0.6.1

#1864 #1110 Refactor workspaces unit tests
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesPage.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesListPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesNewModal.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
  ohara-manager/client/src/utils/generate.js
Labels: manager, v0.7.0

#1863 #1369 Change connector definition's prop from list to array
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/connectorUtils.js
Labels: kafka, manager, v0.7.0

#1870 #1780 Fix flaky tests in workspaces
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/cypress/support/commands.js
Labels: manager, v0.7.0

#1874 #1866 Update jest-dom to scoped package
  ohara-manager/client/package.json
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Nodes.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Overview.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/StreamApp.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/__tests__/Topics.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesNewModal.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
  ohara-manager/client/src/components/pages/__tests__/LogsPage.test.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.7.0

#1876 #1808 新增 Workspace 時，發現沒有任何一個 Node 可用，應該要引導使用者先去新增 Node
  ohara-manager/client/src/components/common/Messages/Warning.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/styles.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesNewModal.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/__tests__/WorkspacesPage.test.js
Labels: manager, v0.7.0

#1883 #1867 Provide branch name in gradle.properties
  docs/src/conf.py
  gradle.properties
  ohara-common/build.gradle
  ohara-common/src/test/java/com/island/ohara/common/util/TestVersionUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestResponseFromUnsupportedApis.scala
Labels: common, configurator, docs, others, v0.7.0

#1889 #1865 Remove and ignore git merge reject files
  .gitignore
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala.rej
Labels: client, others, v0.7.0

#1882 #1884 Add .rst & .py file licenseApply support
  build.gradle
  docs/src/conf.py
  docs/src/index.rst
  docs/src/sample.rst
Labels: docs, others, v0.7.0

#1887 #1849 Make sure new node modal's test connection is returning the right message for users
  ohara-manager/client/src/api/__tests__/apiUtils.test.js
  ohara-manager/client/src/api/apiUtils.js
Labels: manager, v0.7.0

#1878 #1711 add tags to Jars and refactor jars apis
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JarApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFileApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJarApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/com/island/ohara/common/util/TestCommonUtils.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/jar/JarStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JarRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStoreBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/jar/TestJarStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJarRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimple.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, client, common, configurator, docs, it, v0.7.0

#1877 #1840 Convert format from md to rst: contributing, how_to_build
  build.gradle
  docs/src/contributing.md
  docs/src/contributing.rst
  docs/src/how_to_build.md
  docs/src/how_to_build.rst
Labels: docs, others, v0.7.0

#1890 #1455 Node APIs should record the last time of validating
  docs/src/rest_interface.md
  ohara-agent/src/test/scala/com/island/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/TestZookeeperCreator.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/ssh/TestVerifyNode.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestValidationRoute.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/validation/ValidatorTask.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/CollieTestUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SSimpleCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8SStreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/k8s/TestK8sClusterCollie.scala
Labels: agent, client, configurator, connector, docs, it, v0.7.0

#1875 #1856 Add a loading progress bar to better inform users about the progress of a certain action
  ohara-manager/client/src/components/common/Mui/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Mui/Feedback/Progress.js
  ohara-manager/client/src/components/common/Mui/Feedback/index.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesNewModal/WorkspacesNewModal.js
Labels: manager, v0.7.0

#1891 #1741 Upgrade manager's dependencies to fix the vulnerability
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.7.0

#1896 #1735 Add metrics data in the pipeline graph
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/pipelineGraphUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/pipelineGraphUtils.js
  ohara-manager/client/src/propTypes/pipeline.js
Labels: manager, v0.7.0

#1895 #1738 FakeContainerCollie should use completed Future than invoking an new thread to complete work
  ohara-agent/src/main/scala/com/island/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeBrokerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeContainerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeWorkerCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/FakeZookeeperCollie.scala
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SBasicCollieImpl.scala
Labels: agent, v0.7.0

#1904 #1903 fix typo in testing Database
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Database.java
Labels: testing-util, v0.7.0

#1894 #1767 Add node list page unit test
  ohara-manager/client/src/components/pages/NodePage/NodeEditModal.js
  ohara-manager/client/src/components/pages/NodePage/NodeListPage.js
  ohara-manager/client/src/components/pages/NodePage/NodeNewModal.js
  ohara-manager/client/src/components/pages/NodePage/__tests__/NodeListPage.test.js
Labels: manager, v0.7.0

#1909 #1908 Tags type in connector should be String than Array
  ohara-configurator/src/test/scala/com/island/ohara/configurator/validation/TestValidationOfConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinitions.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingDefinitions.java
Labels: configurator, kafka, v0.7.0

#1906 #1901 Remove editable label component from manager
  ohara-manager/client/src/components/pages/PipelinePage/Editable.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/Editable.test.js
Labels: manager, v0.7.0

#1913 #1867 Add branch name into InfoApi
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestInfoRoute.scala
Labels: client, configurator, docs, v0.7.0

#1918 #1914 Remove WorkerClusterInfo.sources and WorkerClusterInfo.sinks
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFetchConnectorsFromDynamicWorkerCluster.scala
Labels: client, configurator, v0.7.0

#1923 #1840 Convert format from md to rst: docker, integration_test, user_guide
  docs/src/docker.md
  docs/src/docker.rst
  docs/src/integration_test.md
  docs/src/integration_test.rst
  docs/src/user_guide.md
  docs/src/user_guide.rst
Labels: docs, v0.7.0

#1921 #1920 Fix topic graph not able to be switched issue
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/Topic.js
Labels: manager, v0.7.0

#1898 #1655 Remove too strict checks from PipelineRoute
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/InfoApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/WorkerClient.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerClient.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
Labels: agent, client, configurator, connector, docs, it, v0.7.0

#1927 #1734 enable DataStore to save group and name
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Parameters.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/RocksDataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/SimpleData.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestDataStoreBuilder.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksDataStore.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
Labels: client, configurator, kafka, v0.7.0

#1919 #1912 Support timestamp in metrics
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/MetricsApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanChannel.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanObject.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/kafka/TopicMeter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/kafka/TestTopicMeter.java
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
Labels: client, configurator, docs, metrics, streams, v0.7.0

#1917 #1911 Fix manager's end-to-end test script
  ohara-manager/client/cypress/integration/pipelineNewPage.test.js
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/scriptsUtils.js
Labels: manager, v0.7.0

#1926 #1925 Provide a simple and better description in the README.md
  CONTRIBUTING.md
  README.md
Labels: others, v0.7.0

#1932 #1931 the newName is replaced by name if we call newName() before nam…
  ohara-common/src/main/java/com/island/ohara/common/data/Column.java
  ohara-common/src/test/java/com/island/ohara/common/data/TestColumn.java
Labels: common, v0.7.0

#1933 #1881 Prevent overriding existing jar from the UI
  ohara-manager/client/cypress/integration/streamApp.test.js
  ohara-manager/client/cypress/integration/workspacesPage.test.js
  ohara-manager/client/src/components/pages/WorkspacesPage/WorkspacesDetailPage/StreamApp.js
Labels: manager, v0.7.0

#1940 #1938 Remove duplicate checks from FtpRoute
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
Labels: configurator, v0.7.0

#1928 #1734 rename "FileKey" to "DataKey"
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/DataKey.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestDataKey.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/file/FileStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FileRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/file/TestFileStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFileRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: client, configurator, it, v0.7.0

#1947 #1946 Remove duplicate checks from NodeRoute
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
Labels: configurator, v0.7.0

#1945 #1941 Remove duplicate checks from JdbcRoute
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
Labels: configurator, v0.7.0

#1936 #1930 Check of column should be placed at API parser rather than route
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/PropGroups.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestPropGroups.java
Labels: client, configurator, kafka, v0.7.0

#1948 #1734 replace RocksDataStore.Key by DataKey
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Data.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/DataKey.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestDataKey.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/store/RocksDataStore.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestRocksDataStore.scala
Labels: client, configurator, v0.7.0

#1949 #1735 Refactor pipeline new/edit page
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Operate.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/SidebarRoutes.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/pipelineNewPage.test.js
  ohara-manager/client/src/components/pages/PipelinePage/pipelineUtils/commonUtils.js
  ohara-manager/client/src/constants/messages.js
Labels: manager, v0.7.0

#1950 #1734 add basic group handle to basic route
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestStreamRoute.scala
Labels: client, configurator, v0.7.0

#1952 #1734 add group to ftp route
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFtpApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestFtpInfoRoute.scala
Labels: client, configurator, v0.7.0

#1953 #1734 add group to hdfs route
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestHadoopApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestHdfsInfoRoute.scala
Labels: client, configurator, docs, v0.7.0

#1916 #1915 Should separate collie creation to two stages also
  ohara-agent/src/main/scala/com/island/ohara/agent/ContainerCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4StreamApp.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
Labels: agent, it, v0.7.0

#1962 #1734 add group to jdbc route
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/BasicAccess.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FtpApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestJdbcInfoRoute.scala
Labels: client, configurator, docs, v0.7.0

#1965 #1734 add group to response of topic
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestTopicApi.scala
Labels: client, docs, v0.7.0

#1964 #1734 add group to pipeline route
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/HadoopApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JdbcApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJdbcApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestPipelineApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: client, configurator, v0.7.0

#1960 #1735 Display metrics with mui's expansion panel
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/ConnectorMetrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/Metrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/MetricsListItem.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/TopicMetrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/index.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/MetricsSidebar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
Labels: manager, v0.7.0

#1963 #1840 Convert format from md to rst: custom_connector, custom_streamapp
  docs/src/conf.py
  docs/src/custom_connector.md
  docs/src/custom_connector.rst
  docs/src/custom_streamapp.md
  docs/src/custom_streamapp.rst
  docs/src/sample.rst
  docs/src/user_guide.rst
Labels: docs, v0.7.0

#1959 #1943 Topic timestamp of metrics should be different from BeanObject.…
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/MetricsApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanChannel.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/BeanObject.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/kafka/TopicMeter.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/TestBeanObject.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounter.java
Labels: client, configurator, docs, metrics, v0.7.0

#1935 #1905 Zookeeper start should be idempotent
  docs/src/rest_interface.md
  ohara-agent/src/main/scala/com/island/ohara/agent/ClusterState.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ZookeeperCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4ClusterCollieByConfigurator.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/agent/ssh/TestLoadCustomJarToWorkerCluster.scala
  ohara-manager/client/cypress/api/api.test.js
Labels: agent, client, configurator, docs, it, manager, v0.7.0

#1937 #1873 Add PipelineToolbar unit test
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineNewConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/PipelineToolbar.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineToolbar/__tests__/PipelineToolbar.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineGraph.test.js
  ohara-manager/client/src/components/pages/PipelinePage/__tests__/PipelineToolbar.test.js
Labels: v0.7.0

#1966 #1734 add group to response of connector
  docs/src/rest_interface.md
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/Data.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingDefinition.java
Labels: client, docs, kafka, v0.7.0

#1975 #1974 HookBeforeDelete should return Future[Unit]. Otherwise, the key…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, v0.7.0

#1970 #1735 Add an active state to the graph
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/CustomConnector/CustomConnector.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FinalFormWrapper.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/FtpSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/HdfsSink.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/JdbcSource.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/HdfsSink.test.js
  ohara-manager/client/src/components/pages/PipelinePage/Connectors/__tests__/JdbcSource.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/PipelineGraph.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/pipelineGraphUtils.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineGraph/styles.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/ConnectorMetrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/Metrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/Metrics/TopicMetrics.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/PipelineNewPage.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/__tests__/pipelineNewPageUtils.test.js
  ohara-manager/client/src/components/pages/PipelinePage/PipelineNewPage/pipelineNewPageUtils.js
Labels: manager, v0.7.0

#1976 #1973 add helper method to generate route consisting of "start", "sto…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/FtpInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/HdfsInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/JdbcInfoRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ZookeeperRoute.scala
Labels: configurator, v0.7.0

#1979 #1840 Convert format from md to rst: rest_interface, manager_dev_guide
  docs/src/conf.py
  docs/src/custom_connector.rst
  docs/src/custom_streamapp.rst
  docs/src/index.rst
  docs/src/manager_dev_guide.rst
  docs/src/ohara_manager_development_guideline.md
  docs/src/rest_interface.md
  docs/src/rest_interface.rst
  docs/src/sample.rst
  docs/src/user_guide.rst
Labels: docs, v0.7.0
