Repository oharastream/ohara, pull requests merged in 2020-09, with the labels that each got.

#5606 #5587 exclude 426 error code when closing ftp inputstream
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/ftp/TestFtpFileSystem.scala
Labels: client, v0.12.0

#5611 #5610 [Manager] Provide a better visual clue for users when an action…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
Labels: manager, v0.12.0

#5612 #5543 [Manager] Simplify styled components' props omitting by leverag…
  ohara-manager/client/src/components/Workspace/Card/FileCard.js
  ohara-manager/client/src/components/Workspace/Card/WorkspaceCard.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsStyles.js
Labels: manager, v0.12.0

#5609 #5607 Remove serviceKeyHolder from WithPerformanceRemoteConfigurator
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteWorkers.scala
Labels: it, v0.12.0

#5614 #5587 exclude 426 error code when closing ftp inputstream
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/ftp/TestFtpFileSystem.scala
Labels: client, v0.11.1

#5615 #5377 [Manager] Associate field label and input and for better access…
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/EventLog/EventLogSettings.js
  ohara-manager/client/src/components/Layout/Navigator/AddPipelineDialog.js
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
  ohara-manager/client/src/components/Node/NodeEditorDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarStyles.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupVolumeForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/common/Definitions/ArrayDef.js
  ohara-manager/client/src/components/common/Definitions/BindingPort.js
  ohara-manager/client/src/components/common/Definitions/BooleanDef.js
  ohara-manager/client/src/components/common/Definitions/Chooser.js
  ohara-manager/client/src/components/common/Definitions/ClassDef.js
  ohara-manager/client/src/components/common/Definitions/Double.js
  ohara-manager/client/src/components/common/Definitions/Duration.js
  ohara-manager/client/src/components/common/Definitions/IntDef.js
  ohara-manager/client/src/components/common/Definitions/JdbcTable.js
  ohara-manager/client/src/components/common/Definitions/Long.js
  ohara-manager/client/src/components/common/Definitions/ObjectKey.js
  ohara-manager/client/src/components/common/Definitions/Password.js
  ohara-manager/client/src/components/common/Definitions/PositiveDouble.js
  ohara-manager/client/src/components/common/Definitions/PositiveInt.js
  ohara-manager/client/src/components/common/Definitions/PositiveLong.js
  ohara-manager/client/src/components/common/Definitions/PositiveShort.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/components/common/Definitions/RemotePort.js
  ohara-manager/client/src/components/common/Definitions/Short.js
  ohara-manager/client/src/components/common/Definitions/StringDef.js
  ohara-manager/client/src/components/common/Definitions/Tags.js
  ohara-manager/client/src/components/common/Form/AutoComplete.js
  ohara-manager/client/src/components/common/Form/Checkbox.js
  ohara-manager/client/src/components/common/Form/InputField.js
  ohara-manager/client/src/components/common/Form/Select.js
  ohara-manager/client/src/components/common/Form/ValidateInputField.js
Labels: manager, v0.12.0

#5618 #5617 Change 0.11.1-SNAPSHOT to 0.11.1 for 0.11.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.11.1

#5616 #5188 [Manager] Replace Event log and devTools loading SVG with Mui's…
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/List/VirtualizedList.js
  ohara-manager/client/src/components/common/Loader/TableLoader.js
  ohara-manager/client/src/components/common/Loader/index.js
  ohara-manager/client/src/components/common/Table/Table.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5621 #5619 Change 0.11.1 to 0.11.2-SNAPSHOT for 0.11.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.11.2

#5624 #5622 Perf connector supports to output different keys
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestConnectorRoute.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/perf/PerfSourceProps.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/perf/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfDefinition.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfSourceProps.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfSourceTask.scala
Labels: configurator, connector, v0.12.0

#5623 #4375 [Manager] Fix the security alert coming from minimist
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.12.0

#5620 #5613 [Manager] Schema table data are not correctly saved
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialogStyles.js
  ohara-manager/client/src/components/common/Definitions/Table.js
Labels: manager, v0.12.0

#5628 #5625 remove custom container platform (ohara.it.configurator)
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
Labels: it, v0.12.0

#5604 #5434 Added increment setting to the JDBC source connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceConnectorConfig.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorConfig.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskOffset.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
Labels: connector, v0.12.0

#5630 #5629 Support to configure JVM options for broker and worker
  ohara-agent/src/main/scala/oharastream/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestWorkerRoute.scala
Labels: agent, client, configurator, v0.12.0

#5627 #5626 [Manager] Bump create-react-app to fix security issue of yargs-…
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5633 #5632 Update junit from 5.6.2 to 5.7.0
  gradle/dependencies.gradle
Labels: others, v0.12.0

#5635 #5634 Enable to configure OS version for both of custom broker and cu…
  docker/custom_broker.dockerfile
  docker/custom_worker.dockerfile
Labels: others, v0.12.0

#5637 #5636 [Manager] Include node-fetch in yarn's resolution to fix the se…
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5631 #5434 Refactor JDBC source task for the timestamp mode
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/BaseQueryHandler.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCOffsetCache.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/TimestampQueryHandler.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampQueryHandler.scala
Labels: connector, v0.12.0

#5639 #5638 PerfTask should sleep to avoid busy loop
  ohara-connector/src/main/scala/oharastream/ohara/connector/perf/PerfSourceTask.scala
Labels: connector, v0.12.0

#5642 #5434 Support Increment+timestamp qury for the exactly once
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/TimestampIncrementQueryHandler.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampIncrementQueryHandler.scala
Labels: connector, v0.12.0

#5645 #5644 Enable to control the retention of topic data
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestTopicRoute.scala
Labels: client, configurator, v0.12.0

#5651 #5650 the build OS used by custom dockerfile should be configurable
  docker/custom_broker.dockerfile
  docker/custom_worker.dockerfile
Labels: others, v0.12.0
