Repository oharastream/ohara, pull requests merged in 2020-05, with the labels that each got.

#4704 #4508 writing tests for pipelineEpics
  ohara-manager/client/src/api/__mocks__/pipelineApi.ts
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/src/api/apiInterface/pipelineInterface.ts
  ohara-manager/client/src/store/epics/__tests__/pipeline/createPipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/switchPipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/updateWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/createPipelineEpic.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelineEpic.js
  ohara-manager/client/src/store/epics/pipeline/switchPipelineEpic.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineEpic.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: manager, v0.10.0

#4710 #4706 Change branch versions from master to 0.10.x
  gradle.properties
Labels: others, v0.10.0

#4709 #4708 Change 0.10.0-SNAPSHOT to 0.11.0-SHAPSHOT for master branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/api/__mocks__/workerApi.ts
Labels: manager, others, v0.11.0

#4720 #4719 [Node Dialog] could not add node in Docker mode when creating workspace
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
Labels: manager, v0.11.0

#4721 #4719 [Node Dialog] could not add node in Docker mode when creating workspace
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
Labels: manager, v0.10.0

#4712 #4685 [Manager] Unable to delete and rename default workspace name in quick create workspace
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/hooks/createWorkspaceHooks.js
Labels: manager, v0.11.0

#4713 #4685 [Manager] Unable to delete and rename default workspace name in quick create workspace
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/hooks/createWorkspaceHooks.js
Labels: manager, v0.10.0

#4723 #4714 [Manager] Fix various bugs in property view
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/NodePanel.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/deleteShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/deleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/connector/deleteConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/deleteShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/topic/createTopicEpic.js
  ohara-manager/client/src/store/epics/topic/deleteTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.11.0

#4724 #4714 [Manager] Fix various bugs in property view
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/NodePanel.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/deleteShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/deleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/connector/deleteConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/deleteShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/topic/createTopicEpic.js
  ohara-manager/client/src/store/epics/topic/deleteTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.10.0

#4733 #4519 [Manager] Quick create workspace's node section doesn't block u…
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupNodesForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/validate.js
Labels: manager, v0.10.0

#4734 #4519 [Manager] Quick create workspace's node section doesn't block u…
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupNodesForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/validate.js
Labels: manager, v0.11.0

#4728 #4727 [Manager] A snackbar is showing up while encountering a bug and will keep showing up every few seconds
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: manager, v0.11.0

#4730 #4727 [Manager] A snackbar is showing up while encountering a bug and will keep showing up every few seconds
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: manager, others, v0.10.0, v0.11.0

#4746 Revert "Stop the metrics requeset from updating (#4730)"
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: v0.10.0

#4740 #4738 Logs API for Shabondi source and sink
  docs/src/rest/rest-logs.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestLogRoute.scala
Labels: client, configurator, docs, v0.11.0

#4753 #4737 update gradle from 6.3 to 6.4
  docker/build.yml
  docker/deps.dockerfile
  docs/src/how_to_build.rst
  gradle/wrapper/gradle-wrapper.properties
Labels: docs, others, v0.11.0

#4752 #4748 fix missing shabondi state in the Pipeline API
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestPipelineRoute.scala
Labels: agent, configurator, v0.11.0

#4750 #4727 [Manager] A snackbar is showing up while encountering a bug and will keep showing up every few seconds
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: manager, v0.10.0

#4743 #4742 [Manager] Delete a pipeline with complex graph could fail to delete the pipeline (The components are deleted though)
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelineEpic.js
Labels: manager, v0.11.0

#4751 #4738 Logs API for Shabondi source and sink
  docs/src/rest/rest-logs.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestLogRoute.scala
Labels: client, configurator, docs, v0.10.0

#4744 #4742 [Manager] Delete a pipeline with complex graph could fail to delete the pipeline (The components are deleted though)
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelineEpic.js
Labels: manager, v0.10.0

#4755 #4737 update gradle from 6.3 to 6.4 (#4753)
  docker/build.yml
  docker/deps.dockerfile
  docs/src/how_to_build.rst
  gradle/wrapper/gradle-wrapper.properties
Labels: docs, others, v0.10.0

#4761 #4735 [Manager] Support querying Shabondi logs
  ohara-manager/client/src/api/__mocks__/logApi.ts
  ohara-manager/client/src/api/apiInterface/logInterface.ts
  ohara-manager/client/src/api/logApi.ts
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/hooks/devToolHooks.js
  ohara-manager/client/src/store/epics/__tests__/devTool/fetchLogEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/devTool/fetchTopicDataEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/devTool/setDevToolLogQueryParamsEpic.test.js
  ohara-manager/client/src/store/epics/devTool/fetchLogEpic.js
  ohara-manager/client/src/store/epics/devTool/setDevToolLogQueryParamsEpic.js
  ohara-manager/client/src/store/reducers/entities/index.js
  ohara-manager/client/src/store/reducers/ui/devTool.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/selectors/devToolSelector.js
Labels: manager, v0.11.0

#4766 #4735 [Manager] Support querying Shabondi logs
  ohara-manager/client/src/api/__mocks__/logApi.ts
  ohara-manager/client/src/api/apiInterface/logInterface.ts
  ohara-manager/client/src/api/logApi.ts
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/hooks/devToolHooks.js
  ohara-manager/client/src/store/epics/__tests__/devTool/fetchLogEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/devTool/fetchTopicDataEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/devTool/setDevToolLogQueryParamsEpic.test.js
  ohara-manager/client/src/store/epics/devTool/fetchLogEpic.js
  ohara-manager/client/src/store/epics/devTool/setDevToolLogQueryParamsEpic.js
  ohara-manager/client/src/store/reducers/entities/index.js
  ohara-manager/client/src/store/reducers/ui/devTool.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/selectors/devToolSelector.js
Labels: manager, v0.10.0

#4756 #4745 [Manager] Address various bugs in Paper
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/store/epics/__tests__/connector/updateConnectorEpic.test.js
  ohara-manager/client/src/store/epics/connector/removeSourceLinkEpic.js
  ohara-manager/client/src/store/epics/connector/updateConnectorEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/selectors/connectorSelector.js
Labels: manager, v0.11.0

#4768 #4764 [Manager] Jumping between settings pages are very slow
  ohara-manager/client/src/components/Workspace/Settings/SectionComponent.js
  ohara-manager/client/src/components/Workspace/Settings/SectionList.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.11.0

#4759 #4758 [Manager] Invalid name is not blocked by our UI and so users ca…
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
Labels: manager, v0.11.0

#4762 #4729 建立兩個 pipelines，分別加入一些元件後，反覆切換兩個 pipeline，會導致 pipeline 的元件錯亂
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.11.0

#4769 #4764 [Manager] Jumping between settings pages are very slow
  ohara-manager/client/src/components/Workspace/Settings/SectionComponent.js
  ohara-manager/client/src/components/Workspace/Settings/SectionList.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.10.0

#4760 #4758 [Manager] Invalid name is not blocked by our UI and so users ca…
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
Labels: manager, v0.10.0

#4763 #4729 建立兩個 pipelines，分別加入一些元件後，反覆切換兩個 pipeline，會導致 pipeline 的元件錯亂
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.10.0

#4771 #4770 [Manager] Toolbox items are sometimes not properly loaded
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/store/epics/__tests__/worker/fetchWorkerEpic.test.js
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
Labels: manager, v0.11.0

#4773 #4770 [Manager] Toolbox items are sometimes not properly loaded
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/store/epics/__tests__/worker/fetchWorkerEpic.test.js
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
Labels: manager, v0.10.0

#4757 #4745 [Manager] Address various bugs in Paper
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/store/epics/__tests__/connector/updateConnectorEpic.test.js
  ohara-manager/client/src/store/epics/connector/removeSourceLinkEpic.js
  ohara-manager/client/src/store/epics/connector/updateConnectorEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/selectors/connectorSelector.js
Labels: manager, v0.10.0

#4754 #4699 change the return type of TaskSetting#topicNames from List to Set
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/MyConnectorTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/TaskSetting.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvRecordConverter.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/Validation.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvRecordConverter.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvSourceConfig.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/json/TestValidation.java
Labels: client, connector, kafka, v0.11.0

#4749 #4741 [Manager] Fix related bugs in restart and delete dialogs
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
  ohara-manager/client/src/store/reducers/ui/deleteWorkspace.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
Labels: manager, v0.11.0

#4747 #4741 [Manager] Fix related bugs in restart and delete dialogs
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
  ohara-manager/client/src/store/reducers/ui/deleteWorkspace.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
Labels: manager, v0.10.0

#4779 #4777 Fix flaky TestContainerClient.testVolume
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: it, v0.11.0

#4778 #4699 change the return type of TaskSetting#topicNames from List to S…
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/MyConnectorTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/TaskSetting.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvRecordConverter.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/Validation.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvRecordConverter.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvSourceConfig.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/json/TestValidation.java
Labels: client, connector, kafka, v0.10.0

#4772 #4736 Shabondi nodeNames definition use reference setting
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
Labels: common, shabondi, v0.11.0

#4788 #4781 [Manager] Topic selection region problem in Toolbox
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.11.0

#4785 #4736 Shabondi nodeNames definition use reference setting
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
Labels: common, shabondi, v0.10.0

#4794 #4793 Fix flaky TestJDBCSourceConnectorExactlyOnce
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
Labels: connector, v0.11.0

#4789 #4781 [Manager] Topic selection region problem in Toolbox
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.10.0

#4784 #4777 Fix flaky TestContainerClient.testVolume (#4779)
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: it, v0.10.0

#4797 #4795 The BINDING_PORT and REMOTE_PORT should be Integer rather than …
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
Labels: client, common, v0.11.0

#4776 #4775 add reference check to ObjectChecker
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestShabondiApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
Labels: client, configurator, v0.11.0

#4800 #4787 Fix broken links in the current docs
  docs/src/user_guide.rst
Labels: docs, v0.11.0

#4803 #4802 [Manager] Invalid date shown in the workspace list and it shoul…
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
Labels: manager, v0.11.0

#4798 #4795 The BINDING_PORT and REMOTE_PORT should be Integer rather than …
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
Labels: client, common, v0.10.0

#4804 #4802 [Manager] Invalid date shown in the workspace list and it shoul…
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
Labels: manager, v0.10.0

#4726 #4722 [Develop Tool] 無法查詢 Pipeline only topic 的資料
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewUtils.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicDetailDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/hooks/devToolHooks.js
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/store/epics/broker/fetchBrokerEpic.js
  ohara-manager/client/src/store/epics/devTool/fetchTopicDataEpic.js
  ohara-manager/client/src/store/epics/devTool/setDevToolTopicQueryParamsEpic.js
  ohara-manager/client/src/store/selectors/topicSelector.js
Labels: manager, v0.11.0

#4814 #4722 [Develop Tool] 無法查詢 Pipeline only topic 的資料
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewUtils.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicDetailDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/hooks/devToolHooks.js
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/store/epics/broker/fetchBrokerEpic.js
  ohara-manager/client/src/store/epics/devTool/fetchTopicDataEpic.js
  ohara-manager/client/src/store/epics/devTool/setDevToolTopicQueryParamsEpic.js
  ohara-manager/client/src/store/selectors/topicSelector.js
Labels: manager, v0.10.0

#4809 #4808 [Manager] Event log is displaying wrong message in its status bar
  ohara-manager/client/src/components/EventLog/EventLog.js
Labels: manager, v0.11.0

#4810 #4808 [Manager] Event log is displaying wrong message in its status bar
  ohara-manager/client/src/components/EventLog/EventLog.js
Labels: manager, v0.10.0

#4828 #4822 [DevTool] Don't show an empty dropdown list when there's no topic available
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
Labels: manager, v0.11.0

#4826 #4818 [Manager] Create a new shared topic shouldn't apply the light red bac…
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeServiceTable.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
Labels: manager, v0.11.0

#4827 #4818 [Manager] Create a new shared topic shouldn't apply the light red bac…
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeServiceTable.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
Labels: manager, v0.10.0

#4830 #4823 [DevTool] When no Shabondi is available in the pipeline, switching to shabondi log panel will throw an error
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/store/epics/devTool/setDevToolLogQueryParamsEpic.js
Labels: manager, v0.11.0

#4829 #4822 [DevTool] Don't show an empty dropdown list when there's no topic available
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
Labels: manager, v0.10.0

#4831 #4823 [DevTool] When no Shabondi is available in the pipeline, switching to shabondi log panel will throw an error
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/store/epics/devTool/setDevToolLogQueryParamsEpic.js
Labels: manager, v0.10.0

#4799 #4775 add reference check to ObjectChecker (#4776)
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestShabondiApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
Labels: client, configurator, v0.10.0

#4832 #4819 [Manager] After restart workspace is successful, worker plugin …
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
Labels: manager, v0.11.0

#4833 #4819 [Manager] After restart workspace is successful, worker plugin …
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
Labels: manager, v0.10.0

#4834 #4739 Add endpoint definition for Shabondi service
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/ShabondiUtils.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
Labels: client, configurator, shabondi, v0.11.0

#4835 #4820 [Manager] The create node button (+ icon) in the Select node di…
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
Labels: manager, v0.11.0

#4837 #4820 [Manager] The create node button (+ icon) in the Select node di…
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
Labels: manager, v0.10.0

#4840 #4817 [Manager] Batch small bug fixes for Paper
  ohara-manager/client/src/components/Layout/Navigator/Outline.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createLink.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/store/epics/__tests__/connector/updateLinkConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/updateStreamEpic.test.js
  ohara-manager/client/src/store/epics/connector/updateLinkConnectorEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamEpic.js
Labels: manager, v0.11.0

#4846 #4817 [Manager] Batch small bug fixes for Paper
  ohara-manager/client/src/components/Layout/Navigator/Outline.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createLink.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/store/epics/__tests__/connector/updateLinkConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/updateStreamEpic.test.js
  ohara-manager/client/src/store/epics/connector/updateLinkConnectorEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamEpic.js
Labels: manager, v0.10.0

#4842 #4739 Add endpoint definition for Shabondi service
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/ShabondiUtils.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
Labels: client, configurator, shabondi, v0.10.0

#4849 #4848 Refactor IT test task to reuse the code from root project
  build.gradle
  ohara-it/build.gradle
Labels: it, others, v0.11.0

#4815 #4813 Update memory offset to recovery for the JDBC source connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskOffset.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
Labels: connector, v0.11.0

#4806 #4805 [Manager] Connector classes should not appear in Toolbox's stre…
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/hooks/fileHooks.js
Labels: manager, v0.11.0

#4807 #4805 [Manager] Connector classes should not appear in Toolbox's stre…
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/hooks/fileHooks.js
Labels: manager, v0.10.0

#4857 #4821 [Manager] After created workspace, the settings of the each services should be backed up to the workspace
  ohara-manager/client/src/store/epics/__tests__/broker/createBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/createWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/createZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/worker/createWorkerEpic.js
  ohara-manager/client/src/store/epics/zookeeper/createZookeeperEpic.js
Labels: manager, v0.11.0

#4860 #4821 [Manager] After created workspace, the settings of the each ser…
  ohara-manager/client/src/store/epics/__tests__/broker/createBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/createWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/createZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/worker/createWorkerEpic.js
  ohara-manager/client/src/store/epics/zookeeper/createZookeeperEpic.js
Labels: manager, v0.10.0

#4839 #4838 [Manager]The close button is sometimes not disabled when restarting and deleting
  ohara-manager/client/src/store/reducers/ui/deleteWorkspace.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
Labels: manager, v0.10.0

#4844 #4843 [Manager]Restart failed and showed an error of "Fetch worker request …
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
Labels: manager, v0.10.0

#4850 #4736 [Manager] Shabondi nodeNames definition use reference setting
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyForm.js
  ohara-manager/client/src/components/common/Definitions/Chooser.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/store/reducers/entities/shabondis.js
Labels: manager, v0.11.0

#4854 #4736 [Manager] Shabondi nodeNames definition use reference setting
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyForm.js
  ohara-manager/client/src/components/common/Definitions/Chooser.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/store/reducers/entities/shabondis.js
Labels: manager, v0.10.0

#4859 #4813 Update memory offset to recovery for the JDBC source connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskOffset.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
Labels: connector, v0.10.0

#4853 #4848 Refactor IT test task to reuse the code from root project (#4849)
  build.gradle
  ohara-it/build.gradle
Labels: it, others, v0.10.0

#4858 #4855 Modify document for the install K8S metrics service
  docs/src/user_guide.rst
Labels: docs, v0.11.0

#4861 #4851 [Manager] Batch small bug fixes for Property dialog
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/store/epics/broker/fetchBrokerEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/reducers/entities/index.js
  ohara-manager/client/src/store/reducers/entities/streams.js
  ohara-manager/client/src/utils/definition.js
Labels: manager, v0.11.0

#4878 #4851 [Manager] Batch small bug fixes for Property dialog
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/store/epics/broker/fetchBrokerEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/reducers/entities/index.js
  ohara-manager/client/src/store/reducers/entities/streams.js
  ohara-manager/client/src/utils/definition.js
Labels: manager, v0.10.0

#4879 #4868 [Manager] Create workspace should throw exception if images not exist
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/workerApi.ts
  ohara-manager/client/src/api/__mocks__/zookeeperApi.ts
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/topic/createTopicEpic.js
  ohara-manager/client/src/store/epics/topic/startTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopTopicEpic.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
Labels: manager, v0.11.0

#4880 #4869 [Manager] Node list should show services
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/workspace/createWorkspaceEpic.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.11.0

#4881 #4868 [Manager] Create workspace should throw exception if images not exist
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/workerApi.ts
  ohara-manager/client/src/api/__mocks__/zookeeperApi.ts
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/topic/createTopicEpic.js
  ohara-manager/client/src/store/epics/topic/startTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopTopicEpic.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
Labels: manager, v0.10.0

#4884 #4869 [Manager] Node list should show services
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/workspace/createWorkspaceEpic.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.10.0

#4876 #4816 Change imageName definition's permission to CREATE_ONLY
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-stream/src/main/java/oharastream/ohara/stream/config/StreamDefUtils.java
Labels: client, configurator, shabondi, stream, v0.11.0

#4856 #4852 The reference check should consider Array type
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
Labels: configurator, v0.11.0

#4841 #4838 [Manager]The close button is sometimes not disabled when restarting and deleting
  ohara-manager/client/src/store/reducers/ui/deleteWorkspace.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
Labels: manager, v0.11.0

#4845 #4843 [Manager]Restart failed and showed an error of "Fetch worker re…
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
Labels: manager, v0.11.0

#4887 #4852 The reference check should consider Array type (#4856)
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
Labels: configurator, v0.10.0

#4885 #4812 [Manager] Manually fetch the node list
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
  ohara-manager/client/src/hooks/workspaceHooks.js
Labels: manager, v0.11.0

#4886 #4812 [Manager] Manually fetch the node list
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
  ohara-manager/client/src/hooks/workspaceHooks.js
Labels: manager, v0.10.0

#4902 #4901 Upgrade gradle from 6.4.0 to 6.4.1
  docker/deps.dockerfile
  docs/src/how_to_build.rst
  gradle/wrapper/gradle-wrapper.properties
Labels: docs, others, v0.11.0

#4906 #4903 [Manager] Move Fullscreen dialog's close button to the right
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
Labels: manager, v0.11.0

#4888 #4816 Change imageName definition's permission to CREATE_ONLY
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-stream/src/main/java/oharastream/ohara/stream/config/StreamDefUtils.java
Labels: client, configurator, shabondi, stream, v0.10.0

#4909 #4901 Upgrade gradle from 6.4.0 to 6.4.1 (#4902)
  docker/deps.dockerfile
  docs/src/how_to_build.rst
  gradle/wrapper/gradle-wrapper.properties
Labels: docs, others, v0.10.0

#4889 #4870 [Manager] The documention of definition should be shown
  ohara-manager/client/src/components/File/FileSelectorDialog.js
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperNodesPage.js
  ohara-manager/client/src/components/common/Table/MuiTable.js
Labels: manager, v0.11.0

#4904 #4870 [Manager] The documention of definition should be shown
  ohara-manager/client/src/components/File/FileSelectorDialog.js
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperNodesPage.js
  ohara-manager/client/src/components/common/Table/MuiTable.js
Labels: manager, v0.10.0

#4897 #482 Enable to configure the timeout of ssh connection
  ohara-agent/src/main/scala/oharastream/ohara/agent/Agent.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestAgent.scala
Labels: agent, v0.11.0

#4900 #4899 add default implementation to ServiceCollie.resources, ServiceC…
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeShabondiCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
Labels: agent, configurator, it, v0.11.0

#4923 #4872 [Manager] Show reasons why files connot be deleted
  ohara-manager/client/src/components/File/Action.js
  ohara-manager/client/src/components/File/Actions.js
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceFilesPage.js
Labels: manager, v0.11.0

#4924 #4872 [Manager] Show reasons why files connot be deleted
  ohara-manager/client/src/components/File/Action.js
  ohara-manager/client/src/components/File/Actions.js
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceFilesPage.js
Labels: manager, v0.10.0

#4862 #4790 [Bug] When the topic is running, the workspace restart will fail
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.10.0

#4907 #4903 [Manager] Move Fullscreen dialog's close button to the right
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
Labels: manager, v0.10.0

#4896 #4895 The default values are NOT added to response of Stream APIs
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/MetricsApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/ConnectorAdmin.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/ClassType.java
  ohara-common/src/main/java/oharastream/ohara/common/setting/WithDefinitions.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestWithDefinitions.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestConnectorRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestStreamRoute.scala
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestRowPartitioner.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/TestConnectorConfigDef.java
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-stream/src/test/java/oharastream/ohara/stream/SimpleApplicationForOharaEnv.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestStream.java
Labels: agent, client, common, configurator, kafka, shabondi, stream, v0.11.0

#4922 #4899 add default implementation to ServiceCollie.resources, ServiceC…
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeShabondiCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
Labels: agent, configurator, it, v0.10.0

#4927 #4926 [Manager] Fix the broken layout of autofill
  ohara-manager/client/src/components/Autofill/AutofillListStyles.js
  ohara-manager/client/src/components/Workspace/Settings/SectionList.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMainStyles.js
Labels: manager, v0.11.0

#4863 #4790 [Bug] When the topic is running, the workspace restart will fail
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.11.0

#4890 #4786 Apply Reference.NODE to all kind services
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-stream/src/main/java/oharastream/ohara/stream/config/StreamDefUtils.java
Labels: client, configurator, shabondi, stream, v0.11.0

#4939 Revert #4708 Change 0.10.0-SNAPSHOT to 0.11.0-SNAPSHOT for master branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/api/__mocks__/workerApi.ts
Labels: manager, others, v0.10.0

#4937 #4936 Missing definition "kind" in Shabondi response
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestShabondiApi.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/WithDefinitions.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiSink.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiSource.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiType.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/BasicShabondiTest.scala
Labels: client, common, configurator, it, shabondi, v0.10.0

#4942 #4286 [Manager] 在 Create Pipeline 時, 若使用重覆的 name, 會在左下角顯示 "Failed to …
  ohara-manager/client/src/components/Layout/Navigator/AddPipelineDialog.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Layout/Navigator/NavigatorStyles.js
  ohara-manager/client/src/components/Layout/Navigator/Outline.js
  ohara-manager/client/src/components/Layout/Navigator/OutlineStyles.js
  ohara-manager/client/src/components/Layout/Navigator/PipelineList.js
  ohara-manager/client/src/components/Layout/Navigator/PipelineListStyles.js
Labels: manager, v0.10.0

#4941 4938 [Manager] Prevent Toolbox from crashing if a given definition se…
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.10.0

#4944 #4883 Display the real error instead of a custom error when retry failed
  ohara-manager/client/src/store/epics/__tests__/broker/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/nodeEpics.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/startTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/startZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/stopZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/connector/deleteConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/nodeEpics.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelineEpic.js
  ohara-manager/client/src/store/epics/shabondi/startShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/stopShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
  ohara-manager/client/src/store/epics/topic/startTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopTopicEpic.js
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/stopWorkerEpic.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/stopZookeeperEpic.js
Labels: manager, v0.10.0

#4948 #4947 [Manager] The selection should be disabled if the node is unavailable
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/components/common/Table/MuiTable.js
Labels: manager, v0.10.0

#4931 #4917 [Manager] Topic actions buttons are not disabled when it's in t…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
Labels: manager, v0.10.0

#4950 #4949 [Manager] Toolbox state is not reset when pipeline is deleted a…
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
Labels: manager, v0.10.0

#4958 #4953 [Manager] Prevent users from using existing name to create a ne…
  ohara-manager/client/src/components/Topic/TopicCreateDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
Labels: manager, v0.10.0

#4957 #4956 [Manager] Remove dead code
  ohara-manager/client/src/components/common/Layout/Container.js
  ohara-manager/client/src/components/common/Layout/index.js
  ohara-manager/client/src/utils/action.js
  ohara-manager/client/src/utils/hooks.js
  ohara-manager/scripts/handleE2eServices.js
  ohara-manager/scripts/runE2eTests.js
Labels: manager, v0.10.0

#4940 #4873 [Manager] Preview the contents of the file
  ohara-manager/client/src/components/File/FileClassInfoDialog.js
  ohara-manager/client/src/components/File/FileTable.js
Labels: manager, v0.10.0

#4955 #4946 TopicAdmin#topicDescriptions tries to seek nonexistent topics w…
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/TopicKey.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestDeleteTopicsConcurrently.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/RowPartitioner.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/TopicAdmin.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/TopicCreator.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/TopicDescription.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestProducerToConsumer.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestTopicAdmin.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestTopicCreator.java
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestKafkaClient.scala
  ohara-stream/src/main/java/oharastream/ohara/stream/OStream.java
  ohara-stream/src/main/java/oharastream/ohara/stream/ostream/OStreamImpl.java
  ohara-stream/src/test/java/oharastream/ohara/stream/StreamTestUtils.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestPageViewRegionExample.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestSumExample.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestWordCountExample.java
  ohara-stream/src/test/java/oharastream/ohara/stream/ostream/TestPurchaseAnalysis.java
  ohara-stream/src/test/java/oharastream/ohara/stream/ostream/TestSimpleStreamCounter.java
Labels: client, common, configurator, it, kafka, shabondi, stream, v0.10.0

#4965 #4961 [Manager] Table sorting is not working in topic in this workspa…
  ohara-manager/client/src/components/Topic/TopicTable.js
Labels: manager, v0.10.0

#4933 #4905 [Manager] File selector should support deletion
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/File/index.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMainStyles.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsStyles.js
  ohara-manager/client/src/components/Workspace/Settings/common/WorkspaceFileSelectorDialog.js
  ohara-manager/client/src/components/Workspace/Settings/common/WorkspaceFileTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceFilesPage.js
Labels: manager, v0.10.0

#4967 #4964 [Manager] Replication factor validation error is not providing …
  ohara-manager/client/src/components/Topic/TopicCreateDialog.js
Labels: manager, v0.10.0

#4968 #4049 Add tests to verify delete workspace works normally
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/cypress/e2e/deleteWorkspace.test.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/src/store/epics/__tests__/worker/fetchWorkerEpic.test.js
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
Labels: manager, v0.10.0

#4975 #4973 [Manager] Outline scrollbar is not showing up when pipeline lis…
  ohara-manager/client/src/components/Layout/Navigator/OutlineStyles.js
Labels: manager, v0.10.0

#4978 #4954 Remove plain string from ConnectorAdmin
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/ConnectorAdmin.scala
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/ConnectorKey.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeConnectorAdmin.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ConnectorTestUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/ConnectorDefUtils.java
Labels: client, common, configurator, connector, it, kafka, v0.10.0

#4976 #4971 [Manager] Using Toolbar to toggle Toolbox panels creates unexpe…
  ohara-manager/client/src/components/Pipeline/Pipeline.js
Labels: manager, v0.10.0

#4966 #4962 [Manager] Newly added topic doesn't contain definitions and so …
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/hooks/topicHooks.js
Labels: manager, v0.10.0

#4952 #4792 Shabondi service document
  docs/src/contrib-docs/quick_example.rst
  docs/src/images/shabondi-pipeline.png
  docs/src/index.rst
  docs/src/shabondi.rst
Labels: docs, v0.10.0

#4980 #4974 [Manager] Zookeeper, broker and worker must select at least one…
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperNodesPage.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Table/Action.js
  ohara-manager/client/src/components/common/Table/Actions.js
  ohara-manager/client/src/components/common/Table/index.js
Labels: manager, v0.10.0

#4986 #4983 [Manager] Clicking on the restart button from the warning messa…
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.10.0

#4985 #4979 [Manager] Event log receives a crazy amount of error messages w…
  ohara-manager/client/src/hooks/connectorHooks.js
  ohara-manager/client/src/hooks/shabondiHooks.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/store/reducers/ui/connector.js
  ohara-manager/client/src/store/reducers/ui/shabondi.js
  ohara-manager/client/src/store/reducers/ui/stream.js
  ohara-manager/client/src/store/selectors/shabondiSelector.js
Labels: manager, v0.10.0

#4991 #4988 [Manager] Prevent users from using an existing name to create new Pape…
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.10.0

#4990 #4705 Integrate scala library into stream image
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-it/build.gradle
  ohara-shabondi/build.gradle
  ohara-stream/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, client, configurator, connector, it, shabondi, stream, testing-util, v0.10.0

#5000 #4998 the format of duration should be "value unit"
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestConnectorRoute.scala
Labels: client, configurator, v0.10.0

#4919 #4874 [Manager]Add a new worker plugin. After restarting the workspac…
  ohara-manager/client/src/components/Workspace/Settings/RestartIndicator.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
Labels: manager, v0.10.0

#4981 #2477 Producer and Consumer should support TopicKey
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSinkConnector.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSinkTask.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/ObjectKey.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestObjectKey.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestInspectTopic.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestMetrics.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSourceTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorDataType.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestMultipleJDBCSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/Consumer.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/RecordMetadata.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/TaskSetting.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestConsumerBuilder.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestProducerSender.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestProducerToConsumer.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/TestRowSourceRecord.java
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/DataGroup.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/QueueProducer.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkConfig.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/TestKit.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestKafkaClient.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestStreamFlow.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkConfig.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkDataGroups.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
  ohara-stream/src/test/java/oharastream/ohara/stream/StreamTestUtils.java
  ohara-stream/src/test/java/oharastream/ohara/stream/ostream/TestPurchaseAnalysis.java
  ohara-stream/src/test/java/oharastream/ohara/stream/ostream/TestSimpleStreamCounter.java
Labels: client, common, configurator, connector, it, kafka, shabondi, stream, v0.10.0

#5005 #3368 Add connection timeout to zookeeper service
  ohara-agent/src/main/scala/oharastream/ohara/agent/ZookeeperCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: agent, client, v0.10.0

#5008 #5007 TestDeleteTopicsConcurrently is too heavy to run on Github action
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestDeleteTopicsConcurrently.scala
Labels: configurator, v0.10.0

#5004 #5002 localConnectorDefinitions tries to get definitions of shabondi
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ReflectionUtils.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestOfficialConnectorsDefinition.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiSink.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiSource.scala
Labels: configurator, shabondi, v0.10.0

#4996 #4963 [Manager ] Delete topic button should be disabled when the topi…
  ohara-manager/client/src/components/Topic/TopicDeleteDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.10.0

#4999 #4997 [Manager] Services table should not appear selection
  ohara-manager/client/src/components/Node/NodeServiceTable.js
Labels: manager, v0.10.0

#5006 #4969 [Manager] Navigator item's active/selected state background col…
  ohara-manager/client/src/components/Layout/Navigator/NavigatorStyles.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
Labels: manager, v0.10.0

#5012 #5011 [Manager] Ensure autofill list is sorted
  ohara-manager/client/src/components/Autofill/AutofillList.js
Labels: manager, v0.10.0

#5014 #5013 [Manager] An arrow is showing up if you hold the link action fr…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.10.0
