Repository oharastream/ohara, pull requests merged in 2020-11, with the labels that each got.

#5721 #5720 Reuse ByteUtils.toString/toBytes to serialize/deserialize Strin…
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/RowSourceTask.java
  ohara-testing-util/src/main/java/oharastream/ohara/testing/service/SshdServer.java
Labels: configurator, kafka, testing-util, v0.12.0

#5736 #5731 [Manager] Replace time consuming cypress commands with API based commands
  ohara-manager/client/cypress/api/nodeApi.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/global.d.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/it/navigator/deleteWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/index.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/utils/generate.ts
Labels: manager, v0.12.0

#5734 #5733 Refactor Volume route to apply RouteUtils
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/VolumeRoute.scala
Labels: agent, configurator, v0.12.0

#5722 #5717 Could not add volumes in quickstart of docker mode
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
Labels: agent, it, v0.12.0

#5743 #5732 add new APIs to increase Volume node at runtime
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/VolumeRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestVolumeRoute.scala
Labels: agent, client, configurator, v0.12.0

#5747 #5746 Remove some overkill IT tests
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestClientApis.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestNode.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestMountVolume.scala
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
Labels: it, v0.12.0

#5741 #5737 [Manager] Could not display boolean value in devTool dialog nor…
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/DevTool/Body/View/__tests__/utils.test.ts
  ohara-manager/client/src/components/DevTool/Body/View/utils.ts
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.12.0

#5751 #5748 Automatically deploy volume to new node which is added by Broke…
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/VolumeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestVolumeRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestZookeeperRoute.scala
Labels: configurator, v0.12.0

#5750 #5745 [Manager] The latest log should be displayed first on devTool
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/src/components/DevTool/Body/View/ViewLog.js
  ohara-manager/client/src/components/common/LogViewer.tsx
Labels: manager, v0.12.0

#5658 #5643 Added the bytes to the Cell for the jdbc source connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/datatype/RDBDataTypeConverter.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/BaseQueryHandler.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/datatype/TestMySQLDataTypeConverter.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/datatype/TestOracleDataTypeConverter.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/datatype/TestPostgresqlDataTypeConverter.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorDataType.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampQueryHandler.scala
Labels: connector, v0.12.0

#5753 #5752 [Manager] Remove unnecessary UI - The zookeeper's volume and br…
  ohara-manager/client/cypress/it/navigator/restartWorkspace.test.ts
  ohara-manager/client/src/components/Volume/VolumeCreateDialog.js
  ohara-manager/client/src/components/Volume/VolumeEditDialog.js
  ohara-manager/client/src/components/Volume/VolumeTable.js
  ohara-manager/client/src/components/Volume/index.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerVolumesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperVolumesPage.js
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/hooks/workspaceHooks.js
Labels: manager, v0.12.0

#5755 #5754 [Manager] Forbid to adjust nodes after creating Zookeeper
  ohara-manager/client/cypress/it/navigator/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/types.ts
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperNodesPage.js
  ohara-manager/client/src/hooks/workspaceHooks.js
Labels: manager, v0.12.0

#5757 #5756 [Manager] Unable to terminate services after running cypress te…
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/scripts/runTests.js
  ohara-manager/yarn.lock
Labels: manager, v0.12.0

#5760 #5759 [Manager] Fix flakey test in createWorkspace spec
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupBrokerForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupNodesForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupVolumeForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkerForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupZookeeperForm.js
Labels: manager, v0.12.0

#5749 #5740 [Manager] Ensure the testMode value can be accessed across all …
  ohara-manager/client/cypress/it/navigator/deleteWorkspace.test.ts
  ohara-manager/client/cypress/plugins/index.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/copyJars.js
  ohara-manager/scripts/runTests.js
  ohara-manager/scripts/scriptsUtils.js
Labels: manager, v0.12.0

#5764 #5763 [Manager] Broker's incremental node
  ohara-manager/client/cypress/it/navigator/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/package.json
  ohara-manager/client/src/api/apiInterface/nodeInterface.ts
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/components/broker/AddBrokerNodeDialog.tsx
  ohara-manager/client/src/components/broker/BrokerNodeTable.tsx
  ohara-manager/client/src/components/broker/BrokerNodes.tsx
  ohara-manager/client/src/components/common/ResourceBarChart.tsx
  ohara-manager/client/src/hooks/useAddBrokerNode.ts
  ohara-manager/client/src/hooks/useBroker.ts
  ohara-manager/client/src/hooks/useNodes.ts
  ohara-manager/client/src/hooks/useWorkspace.ts
  ohara-manager/client/src/hooks/workspaceHooks.js
  ohara-manager/client/src/types.ts
  ohara-manager/client/src/utils/nodeUtils.ts
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5742 #5738 Add Schema field to consoleSink connector
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConsoleSinkConnector.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/console/ConsoleSink.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/console/ConsoleSinkTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/console/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/console/TestConsoleSettingDef.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/console/TestConsoleSinkTask.scala
Labels: configurator, connector, v0.12.0

#5771 #5768 [Manager] Supply a default prefix value for runTest script
  ohara-manager/scripts/checkYarnVersion.js
  ohara-manager/scripts/cleanAllProcesses.js
  ohara-manager/scripts/copyJars.js
  ohara-manager/scripts/mergeReports.js
  ohara-manager/scripts/runTests.js
  ohara-manager/scripts/scriptsUtils.js
  ohara-manager/start.js
  ohara-manager/utils/commonUtils.js
  ohara-manager/utils/configHelpers.js
Labels: manager, v0.12.0

#5777 #5776 remove dependency commons-io
  gradle/dependencies.gradle
  ohara-agent/build.gradle
  ohara-common/build.gradle
  ohara-common/src/main/java/oharastream/ohara/common/util/CommonUtils.java
Labels: agent, common, others, v0.12.0

#5781 #5780 Make maven central have higher priority
  build.gradle
Labels: others, v0.12.0

#5791 #5790 Remove commons-lang3
  gradle/dependencies.gradle
  ohara-client/build.gradle
  ohara-common/build.gradle
  ohara-common/src/main/java/oharastream/ohara/common/data/BasicObject.java
  ohara-common/src/main/java/oharastream/ohara/common/data/Column.java
  ohara-common/src/main/java/oharastream/ohara/common/data/Serializer.java
  ohara-common/src/main/java/oharastream/ohara/common/util/CommonUtils.java
  ohara-common/src/test/java/oharastream/ohara/common/data/TestBasicObject.java
  ohara-shabondi/build.gradle
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-stream/build.gradle
  ohara-stream/src/main/java/oharastream/ohara/stream/data/Poneglyph.java
  ohara-stream/src/main/java/oharastream/ohara/stream/data/Stele.java
  ohara-stream/src/main/java/oharastream/ohara/stream/ostream/OGroupedStreamImpl.java
Labels: client, common, others, shabondi, stream, v0.12.0

#5795 #5794 [Manager] Paper is not taking up the full height when Toolbar i…
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineStyles.js
Labels: manager, v0.12.0

#5758 #5744 Modify hash code of volume name from the ContainerClient to Collie
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerVolume.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/DataChecker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: agent, configurator, it, v0.12.0

#5792 #5783 [Manager] Action icons are not correctly rendered in some tables
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/public/index.html
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/broker/BrokerNodeTable.tsx
  ohara-manager/client/src/components/broker/BrokerVolumeTable.tsx
  ohara-manager/client/src/components/common/Definitions/ObjectKeys.js
  ohara-manager/client/src/components/common/Definitions/Table.js
  ohara-manager/client/src/components/common/Table/MuiTable.js
  ohara-manager/client/src/components/common/Table/MuiTableIcons.js
  ohara-manager/client/src/components/worker/WorkerNodeTable.tsx
Labels: manager, v0.12.0

#5801 #5800 Update gradle from 6.7 to 6.7.1
  gradle/wrapper/gradle-wrapper.properties
Labels: others, v0.12.0

#5789 #5788 Remove commons-net
  gradle/dependencies.gradle
  ohara-client/build.gradle
  ohara-common/build.gradle
Labels: client, common, others, v0.12.0

#5779 #5778 Upgrade Hadoop from 2.7.0 to 2.10.1
  gradle/dependencies.gradle
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvRecordConverter.java
Labels: kafka, others, v0.12.0

#5805 #5804 update the Shabondi ENDPOINT_DEFINITION's documentation
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
Labels: shabondi, v0.12.0

#5799 #5798 Fix flakey can't create the volume
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
Labels: agent, it, v0.12.0

#5797 #5796 [Manager] Save autofill from property will cause clean current data
  ohara-manager/client/cypress/global.d.ts
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/propertyDialog/autofill.test.ts
  ohara-manager/client/cypress/it/propertyDialog/propertyDialog.test.ts
  ohara-manager/client/cypress/it/propertyDialog/schemaTable.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/index.ts
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyForm.js
Labels: manager, v0.12.0

#5808 #5807 Update scala from 2.13.3 to 2.13.4 and scala test from 3.1.1 to…
  gradle/dependencies.gradle
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterInfo.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/DataChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestLogRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/JsonSupport.scala
Labels: client, configurator, it, others, shabondi, v0.12.0
