Repository oharastream/ohara, pull requests merged in 2020-12, with the labels that each got.

#5811 #5810 Increment APIs should validate node name
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestBrokerRoute.scala
Labels: configurator, v0.12.0

#5809 #5806 Fix container can't mount the volume
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerVolume.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
Labels: agent, it, v0.12.0

#5814 #5812 [Manager] Re-enable volume settings spec create workspace test
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
Labels: manager, v0.12.0

#5815 #5540 Change 0.12.0-SNAPSHOT to 0.13.0-SNAPSHOT for master branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.13.0

#5816 #5540 Change 0.12.0-SNAPSHOT to 0.12.0 for 0.12.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: v0.12.0

#5817 #5540 Change 0.12.0 to 0.12.1-SNAPSHOT for 0.12.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.12.1

#5823 #5822 Update Kafka from 2.6.0 to 2.7.0
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/worker.dockerfile
  gradle/dependencies.gradle
Labels: others, v0.13.0
