Repository oharastream/ohara, pull requests merged in 2020-10, with the labels that each got.

#5652 #5434 Modify unit test for the TestJDBCSourceConnectorExactlyOnce
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
Labels: connector, v0.12.0

#5649 #5434 Remove the duplicate code for the TimestampQueryHandler and TimestampIncrementQueryHandler
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/BaseQueryHandler.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/TimestampIncrementQueryHandler.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/TimestampQueryHandler.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampIncrementQueryHandler.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampQueryHandler.scala
Labels: connector, v0.12.0

#5647 #5434 Added jdbc source connector integration test for the increment+timestamp mode
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/datatype/PostgresqlDataTypeConverter.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleTimestampIncrementJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleTimestampJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlTimestampIncrementJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlTimestampJDBCSourceConnector.scala
Labels: connector, it, v0.12.0

#5655 #5654 Add Sleeper class for the ohara connector
  ohara-common/src/main/java/oharastream/ohara/common/util/Sleeper.java
  ohara-common/src/test/java/oharastream/ohara/common/util/TestSleeper.java
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
Labels: common, connector, v0.12.0

#5664 #5663 The cache of CsvSourceTask should be ArrayDeque rather than Blo…
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceTask.java
Labels: kafka, v0.12.0

#5674 #5673 Upgrade gradle from 6.6.1 to 6.7
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: others, v0.12.0

#5668 #5667 [Manager] Fail to restart workspace due to wrong volume data format
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
Labels: manager, v0.12.0

#5659 #5457 [Manager] Add support for Typescript linting
  ohara-manager/.gitignore
  ohara-manager/client/.eslintrc.js
  ohara-manager/client/cypress/api/nodeApi.test.ts
  ohara-manager/client/cypress/api/objectApi.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/global.d.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/plugins/index.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/cypress/support/retryOnFail.js
  ohara-manager/client/cypress/tsconfig.json
  ohara-manager/client/cypress/types.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/cypress/waitUtils.ts
  ohara-manager/client/package.json
  ohara-manager/client/src/api/__mocks__/nodeApi.ts
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/api/utils/apiUtils.ts
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxSearch.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
  ohara-manager/client/src/components/common/Definitions/Table.js
  ohara-manager/client/src/hooks/workspaceHooks.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/utils/__tests__/common.test.js
  ohara-manager/client/tsconfig.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5672 #5669 [Manager] Prevent users from entering a volume path in create w…
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupVolumeForm.js
  ohara-manager/client/src/components/common/Form/ValidateInputField.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5675 #5670 [Manager] Ensure the port field is loaded and displayed in the …
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/src/components/common/Form/InputField.js
Labels: manager, v0.12.0

#5679 #5677 [Manager] Ensure only one cypress version is used in our deps
  ohara-manager/client/cypress/tsconfig.json
  ohara-manager/client/package.json
  ohara-manager/client/tsconfig.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5657 #5656 Modify java data type for the PerfSourceTask result cell
  ohara-connector/src/main/scala/oharastream/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/perf/TestPerfSourceTask.scala
Labels: connector, v0.12.0

#5684 #5683 [Manager] Fix prototype pollution in object-path
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0

#5680 #5671 [Manager] Prevent users from editing the node which contains ru…
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
Labels: manager, v0.12.0

#5686 #5685 [Manager] Volumes used for verification should be deleted
  ohara-manager/client/src/store/epics/volume/validateVolumePath.js
Labels: manager, v0.12.0

#5682 #5681 [Manager] Change the icon of create to be easier to understand
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Volume/VolumeTable.js
Labels: manager, v0.12.0

#5661 #5660 Make sure all tables crated by tests are cleanup
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorDataType.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorTimeRange.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskOffset.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestMultipleJDBCSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampIncrementQueryHandler.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestTimestampQueryHandler.scala
Labels: connector, v0.12.0

#5689 #5688 Refactor CsvSourceTestBase
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSourceTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/smb/TestSmbSource.scala
Labels: connector, it, v0.12.0

#5692 #5378 [Manager] Add validations when adding/editing schema table
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialogStyles.js
  ohara-manager/client/src/components/common/Definitions/Table.js
  ohara-manager/client/src/utils/generate.ts
Labels: manager, v0.12.0

#5695 #5694 [Manager] Add more ESLint rules to TypeScript type components
  ohara-manager/client/.eslintrc.js
Labels: manager, v0.12.0

#5666 #5665 Avoid busy loop from csv connector
  ohara-common/src/main/java/oharastream/ohara/common/util/Sleeper.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/DataReader.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/TestCsvSourceTask.java
Labels: common, kafka, v0.12.0

#5699 #5698 [Manager] Fix nodes rendering in volume table
  ohara-manager/client/src/components/Volume/VolumeEditDialog.js
  ohara-manager/client/src/components/Volume/VolumeTable.js
Labels: manager, v0.12.0

#5690 #5687 Refactor code style for the K8SClient object
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
Labels: agent, v0.12.0

#5697 #5662 [Manager] Add a Git pre-commit hook for running linting and type checking
  build.gradle
  ohara-manager/.gitignore
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, others, v0.12.0

#5706 #5700 [Manager] Fix some bugs about creating volumes
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupVolumeForm.js
  ohara-manager/client/src/components/common/Form/Checkbox.js
  ohara-manager/client/src/components/common/Form/ValidateInputField.js
  ohara-manager/client/src/observables/__tests__/volumes.test.js
  ohara-manager/client/src/observables/utils.ts
  ohara-manager/client/src/observables/volumes.ts
Labels: manager, v0.12.0

#5712 #5711 Ignore TestApiUrl
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestApiUrl.scala
Labels: configurator, v0.12.0

#5715 #5714 [Manager] No need to verify the verified volume path
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupVolumeForm.js
  ohara-manager/client/src/components/common/Form/Checkbox.js
Labels: manager, v0.12.0

#5709 #5708 Remove ConnectorUtils.toSettingDefinitions
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/ConnectorUtils.java
Labels: kafka, v0.12.0

#5707 #5703 Fix flakey tests in createWorkspace spec
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/global.d.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/plugins/index.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/config.js
  ohara-manager/package.json
  ohara-manager/scripts/runTests.js
  ohara-manager/scripts/scriptsUtils.js
Labels: manager, v0.12.0

#5705 #5693 Added hash code for the k8s volume name endwith
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerVolume.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: agent, configurator, it, v0.12.0

#5723 #5716 [Manager] Remove license apply from pre-commit hook
  ohara-manager/package.json
Labels: manager, v0.12.0

#5719 #5703 Refactor and address flakey tests in dangerZone spec
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/global.d.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/deleteWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
Labels: manager, v0.12.0

#5727 #5725 [Manager] Initialize the value of the usedBy field in the create volume dialog
  ohara-manager/client/src/components/Volume/VolumeCreateDialog.js
Labels: manager, v0.12.0

#5710 #5691 [Manager] The edit form of the broker volume should display fie…
  ohara-manager/client/src/components/Volume/VolumeEditDialog.js
Labels: manager, v0.12.0

#5730 #5729 [Manager] Tweak cypress TS config and convert the rest of JS files to TS
  ohara-manager/client/cypress/support/index.ts
  ohara-manager/client/cypress/tsconfig.json
  ohara-manager/client/package.json
  ohara-manager/client/tsconfig.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.12.0
