Repository oharastream/ohara, pull requests merged in 2020-07, with the labels that each got.

#5337 #5215 generate the report file to the same path for UT and IT
  ohara-manager/build.gradle
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/copyJars.js
Labels: manager, v0.11.0

#5350 #5346 [Manager] New log viewer for workspace creation
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/common/FSMStepper/Controller.js
  ohara-manager/client/src/components/common/FSMStepper/LogViewer.js
  ohara-manager/client/src/components/common/FSMStepper/Progress.js
  ohara-manager/client/src/components/common/FSMStepper/Styles.js
  ohara-manager/client/src/components/common/FSMStepper/const.js
  ohara-manager/client/src/components/common/FSMStepper/index.js
  ohara-manager/client/src/components/common/FSMStepper/stepperMachine.js
  ohara-manager/client/src/components/common/FSMStepper/utils.js
Labels: manager, v0.11.0

#5329 #4621 add Volume route - Start and Stop
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/docker/TestContainerCreator.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterInfo.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterRequest.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ZookeeperApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestVolumeApi.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/ObjectKey.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/DataReport.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/VolumeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestVolumeRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestMountVolume.scala
Labels: agent, client, common, configurator, it, v0.11.0

#5343 #5325 [Manager] The state of create workspace is incorrect
  ohara-manager/client/cypress/it/navigator/createWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/src/components/Intro/IntroDialog.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupBrokerForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupNodesForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkerForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupZookeeperForm.js
Labels: manager, v0.11.0

#5352 #5344 Event log unread count is not cleared
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/src/components/EventLog/EventLogHeader.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/hooks/eventLogHooks.js
  ohara-manager/client/src/store/actions/eventLogActions.js
  ohara-manager/client/src/store/epics/__tests__/eventLog/createEventLogEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/eventLog/updateNotificationsEpic.test.js
  ohara-manager/client/src/store/epics/eventLog/createEventLogEpic.js
  ohara-manager/client/src/store/epics/eventLog/updateNotificationsEpic.js
  ohara-manager/client/src/store/reducers/ui/eventLog.js
Labels: manager, v0.11.0

#5354 #5295 [Manager] The APIs used to verify should be called after the ex…
  ohara-manager/client/src/api/__mocks__/workerApi.ts
  ohara-manager/client/src/observables/__tests__/workers.test.js
  ohara-manager/client/src/observables/workers.ts
  ohara-manager/client/src/store/epics/__tests__/worker/createWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/deleteWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
Labels: manager, v0.11.0

#5336 #5153 Add IT tests for Paper
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/api/apiInterface/pipelineInterface.ts
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelineUtils.js
Labels: manager, v0.11.0

#5353 #4621 create/delete volume on/from specify path
  ohara-agent/src/main/scala/oharastream/ohara/agent/RemoteFolderHandler.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestRemoteFolderHandler.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfiguratorMain.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestMountVolume.scala
Labels: agent, configurator, it, v0.11.0

#5359 #5348 [Manager] Tweak checkClientBuildDir function to take a testMode…
  ohara-manager/scripts/runTests.js
  ohara-manager/scripts/scriptsUtils.js
Labels: manager, v0.11.0

#5358 #5357 Updating runtime information should be disallowed
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/JsonRefiner.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestJsonRefiner.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestTopicApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestWorkerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestZookeeperRoute.scala
Labels: client, configurator, v0.11.0

#5356 #5355 [Manager] Creates a component api to get the logs from the FSM …
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/components/Intro/IntroDialog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/common/FSMStepper/index.js
  ohara-manager/client/src/hooks/eventLogHooks.js
Labels: manager, v0.11.0

#5361 #5351 [Manager] Should not allow shared topic from adding into Paper …
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.11.0

#5362 #5153 Add route test for 404 and 501 pages
  ohara-manager/build.gradle
  ohara-manager/client/cypress/e2e/routes.test.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/src/components/ErrorPages/NotImplementedPage.js
Labels: manager, v0.11.0

#5345 #5139 Refactor restart workspace to Finite-state machine
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
  ohara-manager/client/src/hooks/brokerHooks.js
  ohara-manager/client/src/hooks/deleteWorkspaceHooks.js
  ohara-manager/client/src/hooks/index.js
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/hooks/workerHooks.js
  ohara-manager/client/src/hooks/zookeeperHooks.js
  ohara-manager/client/src/observables/topics.ts
  ohara-manager/client/src/store/actions/deleteWorkspaceActions.js
  ohara-manager/client/src/store/actions/index.js
  ohara-manager/client/src/store/actions/restartWorkspaceActions.js
  ohara-manager/client/src/store/actions/topicActions.js
  ohara-manager/client/src/store/actions/workspaceActions.js
  ohara-manager/client/src/store/epics/__tests__/broker/updateBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/updateWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/deleteWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/updateZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/updateBrokerEpic.js
  ohara-manager/client/src/store/epics/topic/index.js
  ohara-manager/client/src/store/epics/topic/startTopicsEpic.js
  ohara-manager/client/src/store/epics/worker/updateWorkerEpic.js
  ohara-manager/client/src/store/epics/workspace/index.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
  ohara-manager/client/src/store/epics/zookeeper/updateZookeeperEpic.js
  ohara-manager/client/src/store/reducers/ui/deleteWorkspace.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
  ohara-manager/client/src/store/selectors/deleteWorkspaceSelector.js
  ohara-manager/client/src/store/selectors/index.js
Labels: manager, v0.11.0

#5363 #5077 [Manager] Errors encountered were not handled correctly when user establish a pipeline
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
Labels: manager, v0.11.0

#5367 #5347 [GRADLE] build task ought to check license header
  build.gradle
Labels: others, v0.11.0

#5366 #5365 [Manager] Highlight the unstable workspace
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/src/api/apiInterface/workspaceInterface.ts
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/hooks/createWorkspaceHooks.js
  ohara-manager/client/src/hooks/workspaceHooks.js
  ohara-manager/client/src/observables/workspaces.ts
  ohara-manager/client/src/store/epics/__tests__/broker/createBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/createWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/updateWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/createZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/worker/createWorkerEpic.js
  ohara-manager/client/src/store/epics/workspace/updateWorkspaceEpic.js
  ohara-manager/client/src/store/epics/zookeeper/createZookeeperEpic.js
  ohara-manager/client/src/utils/workspace.ts
Labels: manager, v0.11.0

#5371 #5370 [Manager] Support build testing jars for copyJar command
  ohara-manager/scripts/copyJars.js
  ohara-manager/scripts/runTests.js
Labels: manager, v0.11.0

#5375 #5373 [Manager] Remove unused observables
  ohara-manager/client/src/observables/index.js
  ohara-manager/client/src/observables/internal/__tests__/retry.test.js
  ohara-manager/client/src/observables/internal/deferApi.ts
  ohara-manager/client/src/observables/internal/retry.ts
  ohara-manager/client/src/observables/internal/strategies.ts
  ohara-manager/client/src/observables/internal/utils.ts
Labels: manager, v0.11.0

#5364 #5249 [Manager] Split the logic of fetching and inspecting worker in …
  ohara-manager/client/src/store/actions/workerActions.js
  ohara-manager/client/src/store/epics/__tests__/worker/fetchWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/inspectWorkerEpic.test.js
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/index.js
  ohara-manager/client/src/store/epics/worker/inspectWorkerEpic.js
Labels: manager, v0.11.0

#5380 #5379 [Manager] Prevent users from refreshing the browser directly be…
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/package.json
  ohara-manager/client/src/components/common/FSMStepper/index.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.11.0

#5376 #5153 Add IT tests of Property dialog
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertySpeedDial.js
  ohara-manager/client/src/components/common/Definitions/Table.js
Labels: manager, v0.11.0

#5386 #5385 [Manager] Prevent users to use the unstable workspace
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/components/Workspace/WorkspaceListStyles.js
  ohara-manager/client/src/store/epics/workspace/switchWorkspaceEpic.js
  ohara-manager/client/src/store/selectors/workspaceSelector.js
  ohara-manager/client/src/utils/workspace.ts
Labels: manager, v0.11.0

#5387 #5384 [Manager] Add threshold of coverage
  ohara-manager/client/package.json
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/api/__mocks__/workerApi.ts
  ohara-manager/package.json
  ohara-manager/scripts/copyJars.js
Labels: manager, v0.11.0

#5383 #5153 Add custom cy commands for creating and connecting Paper elements
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
Labels: manager, v0.11.0

#5391 #5390 Upgrade gradle from 6.5 to 6.5.1
  docker/deps.dockerfile
  gradle/wrapper/gradle-wrapper.properties
Labels: others, v0.11.0

#5400 #5392 Fix failed TestRemoteFolderHandler.testInspectFolder
  ohara-agent/src/main/scala/oharastream/ohara/agent/FolderInfo.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/RemoteFolderHandler.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestRemoteFolderHandler.scala
Labels: agent, v0.11.0

#5393 #5153 Prevent users from deleting a pipeline which has running servic…
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/src/components/common/Dialog/DeleteDialog.js
Labels: manager, v0.11.0

#5407 #5079 Update metrics should not updating unrelated components
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
  ohara-manager/client/src/store/reducers/ui/pipeline.js
Labels: manager, v0.11.0

#5414 #5311 [Manager] The topic api used to verify should be called after the execution
  ohara-manager/client/src/api/__mocks__/topicApi.ts
  ohara-manager/client/src/observables/__tests__/topics.test.js
  ohara-manager/client/src/observables/topics.ts
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/deleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/fetchTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/startTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopTopicsEpic.test.js
  ohara-manager/package.json
Labels: manager, v0.11.0

#5412 #5153 Move E2E tests that are belong to IT tests
  ohara-manager/client/cypress/e2e/deleteWorkspace.test.ts
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/e2e/eventLogDialog.test.ts
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.ts
  ohara-manager/client/cypress/e2e/workspaceQuick.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/it/navigator/createWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
Labels: manager, v0.11.0

#5411 #5409 [Manager] Trigger build it jar task only if not in QA phase
  ohara-manager/scripts/copyJars.js
  ohara-manager/scripts/runTests.js
Labels: manager, v0.11.0

#5410 #5396 [Manager] Message should be precise when docker image doesn't exist
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/zookeeperApi.ts
  ohara-manager/client/src/observables/__tests__/brokers.test.js
  ohara-manager/client/src/observables/__tests__/zookeepers.test.js
  ohara-manager/client/src/observables/brokers.ts
  ohara-manager/client/src/observables/utils.ts
  ohara-manager/client/src/observables/workers.ts
  ohara-manager/client/src/observables/zookeepers.ts
  ohara-manager/client/src/store/epics/__tests__/broker/createBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/deleteBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/createZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/deleteZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/startZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/stopZookeeperEpic.test.js
Labels: manager, v0.11.0

#5413 #5239 Add it with restart workspace more case
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.11.0

#5420 #5153 Add fail and pending test cases for Paper elements
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/cypress/utils.ts
Labels: manager, v0.11.0

#5419 #5398 [Manager] Uncreating the workspace should work normally
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/hooks/workspaceHooks.js
Labels: manager, v0.11.0

#5403 #5397 Remove all singular APIs
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/FileInfoApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/LogApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ValidationApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ZookeeperApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/VolumeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/validation/ValidatorTask.scala
Labels: client, configurator, connector, v0.11.0

#5423 #5422 [Manager] Remove some components that are not in use
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/components/common/Progress/LogPropessStyles.js
  ohara-manager/client/src/components/common/Progress/LogRow.js
  ohara-manager/client/src/components/common/Progress/LogRowStyles.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
  ohara-manager/client/src/components/common/Progress/Progress.js
  ohara-manager/client/src/components/common/Progress/index.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
  ohara-manager/client/src/components/common/Table/SortTable.js
  ohara-manager/client/src/components/common/Table/TableToolbar.js
  ohara-manager/client/src/components/common/Table/index.js
  ohara-manager/client/src/store/epics/index.js
  ohara-manager/client/src/store/epics/logProgress/clearLogProgressEpic.js
  ohara-manager/client/src/store/epics/logProgress/createLogProgressEpic.js
  ohara-manager/client/src/store/epics/logProgress/index.js
Labels: manager, v0.11.0

#5421 #5139 Restart workspace fail need highlight the unstable workspace
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
Labels: manager, v0.11.0

#5360 #4847 Multi task for the jdbc source connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/DBTableDataProvider.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCOffsetCache.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceConnectorConfig.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorConfig.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorDataType.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorTimeRange.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskOffset.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestMultipleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
Labels: connector, it, v0.11.0

#5424 #5404 [Manager] Replace singular resource with plural in inspect api
  ohara-manager/client/cypress/api/inspectApi.test.ts
  ohara-manager/client/src/api/inspectApi.ts
Labels: manager, v0.11.0

#5426 #5425 [Manager] Incorrect restart workspace range of danger zone in s…
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.11.0

#5428 #5427 Change branch versions from master to 0.11.x
  gradle.properties
Labels: others, v0.11.0

#5430 #5429 Change 0.11.0-SNAPSHOT to 0.12.0-SNAPSHOT for master branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.12.0

#5444 #5443 Avoid frequently listing clusters when stopping cluster
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
Labels: configurator, v0.12.0

#5447 #5431 [Manager] Do not allow users to start or stop an illegal Paper …
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/const.ts
Labels: manager, v0.12.0

#5445 #5443 Avoid frequently listing clusters when stopping cluster
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
Labels: configurator, v0.11.0

#5448 #5446 [Manager] Event logs list 裡, message 太長時, 須要截斷
  ohara-manager/client/src/components/EventLog/EventLogRow.js
  ohara-manager/client/src/components/EventLog/EventLogRowStyles.js
Labels: manager, v0.12.0

#5442 #5438 [Manager] Ensure all related states are cleared after a workspa…
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/observables/connectors.ts
  ohara-manager/client/src/observables/files.ts
  ohara-manager/client/src/observables/pipelines.ts
  ohara-manager/client/src/observables/shabondis.ts
  ohara-manager/client/src/observables/streams.ts
  ohara-manager/client/src/observables/topics.ts
  ohara-manager/client/src/store/epics/connector/deleteConnectorsEpic.js
  ohara-manager/client/src/store/epics/file/deleteFilesEpic.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelinesEpic.js
  ohara-manager/client/src/store/epics/shabondi/deleteShabondisEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamsEpic.js
  ohara-manager/client/src/store/epics/topic/deleteTopicsEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/reducers/entities/files.js
  ohara-manager/client/src/store/reducers/entities/index.js
  ohara-manager/client/src/store/reducers/entities/pipelines.js
  ohara-manager/client/src/store/reducers/entities/shabondis.js
  ohara-manager/client/src/store/reducers/entities/streams.js
  ohara-manager/client/src/store/reducers/entities/topics.js
Labels: manager, v0.12.0

#5449 #5438 [Manager] Ensure all related states are cleared after a workspace is deleted
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/observables/connectors.ts
  ohara-manager/client/src/observables/files.ts
  ohara-manager/client/src/observables/pipelines.ts
  ohara-manager/client/src/observables/shabondis.ts
  ohara-manager/client/src/observables/streams.ts
  ohara-manager/client/src/observables/topics.ts
  ohara-manager/client/src/store/epics/connector/deleteConnectorsEpic.js
  ohara-manager/client/src/store/epics/file/deleteFilesEpic.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelinesEpic.js
  ohara-manager/client/src/store/epics/shabondi/deleteShabondisEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamsEpic.js
  ohara-manager/client/src/store/epics/topic/deleteTopicsEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/reducers/entities/files.js
  ohara-manager/client/src/store/reducers/entities/index.js
  ohara-manager/client/src/store/reducers/entities/pipelines.js
  ohara-manager/client/src/store/reducers/entities/shabondis.js
  ohara-manager/client/src/store/reducers/entities/streams.js
  ohara-manager/client/src/store/reducers/entities/topics.js
Labels: manager, v0.11.0

#5450 #5437 [Manager] The error of render tags was not handled properly
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/src/components/common/Definitions/Tags.js
Labels: manager, v0.12.0

#5452 #5451 [Manager] If 'close after finish' is checked in the create work…
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
Labels: manager, v0.12.0

#5465 #5464 [Manager] Refactor Cypress custom commands to speed up the tests
  ohara-manager/client/cypress/it/appBar/createWorkspace.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/navigator/createWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
Labels: manager, v0.12.0

#5466 #5341 [Manager] Convert last modify date from epoch to date in quick …
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
Labels: manager, v0.12.0

#5468 #5467 [Manager] Don't start a Paper element if it doesn't have any co…
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.12.0

#5471 #5470 [Manager] Fix Toolbar not correctly reset opened panels state i…
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
Labels: manager, v0.12.0

#5460 #5453 [Manager] Shabondi shouldn't create more than one link via edit…
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/deleteShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/fetchShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/updateShabondiEpic.test.js
  ohara-manager/client/src/store/epics/connector/updateConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/updateShabondiEpic.js
Labels: manager, v0.12.0

#5462 #5461 [Manager] Property view metrics will not update data
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
Labels: manager, v0.12.0

#5474 #5461 [Manager] Property view metrics will not update data
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
Labels: manager, v0.11.0

#5463 #5455 fix flaky out of memory for the JDBC source task
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorTimeRange.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
Labels: connector, it, v0.12.0

#5475 #5453 [Manager] Shabondi shouldn't create more than one link via edit…
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/deleteShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/fetchShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/updateShabondiEpic.test.js
  ohara-manager/client/src/store/epics/connector/updateConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/updateShabondiEpic.js
Labels: manager, v0.11.0

#5481 #5476 [Manager] The shared topics table field use by pipeline display…
  ohara-manager/client/src/store/selectors/topicSelector.js
Labels: manager, v0.12.0

#5486 #5485 Stream IT jar only contains one custom field
  ohara-it/src/main/scala/oharastream/ohara/it/stream/DumbStream.scala
Labels: it, v0.12.0

#5487 #5485 Stream IT jar only contains one custom field
  ohara-it/src/main/scala/oharastream/ohara/it/stream/DumbStream.scala
Labels: it, v0.11.0

#5488 #5482 [Manager] Fail to update metrics when there are stopped shabond…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
Labels: manager, v0.12.0

#5478 #5455 fix flaky out of memory for the JDBC source task
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorTimeRange.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
Labels: connector, it, v0.11.0

#5490 #5482 [Manager] Fail to update metrics when there are stopped shabond…
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
Labels: manager, v0.11.0

#5477 #5469 Add a lock to avoid threads competition on touching stopping cluster
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/ConnectorAdmin.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/KeyKind.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestDeleteTopicsConcurrently.scala
Labels: client, configurator, v0.12.0

#5494 #5469 Add a lock to avoid threads competition on touching stopping cl…
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/ConnectorAdmin.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/KeyKind.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestDeleteTopicsConcurrently.scala
Labels: client, configurator, v0.11.0

#5484 #5589 [Manager] Migrate dialog state to Redux
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/DevTool/Body/Body.js
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerStyles.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/DevTool/hooks.js
  ohara-manager/client/src/components/EventLog/EventLogContentDialog.js
  ohara-manager/client/src/components/EventLog/EventLogHeader.js
  ohara-manager/client/src/components/EventLog/EventLogList.js
  ohara-manager/client/src/components/Intro/IntroDialog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxBody.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/PipelineOnlyTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/context/devTool/DevToolContext.js
  ohara-manager/client/src/context/devTool/const.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogActions.js
  ohara-manager/client/src/context/dialog/dialogNames.js
  ohara-manager/client/src/context/dialog/dialogReducer.js
  ohara-manager/client/src/context/dialog/dialogRoutines.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/hooks/appHooks.js
  ohara-manager/client/src/hooks/dialogHooks.js
  ohara-manager/client/src/hooks/index.js
  ohara-manager/client/src/hooks/introHooks.js
  ohara-manager/client/src/hooks/settingsHooks.js
  ohara-manager/client/src/store/actions/dialogActions.js
  ohara-manager/client/src/store/actions/index.js
  ohara-manager/client/src/store/actions/introActions.js
  ohara-manager/client/src/store/actions/settingsActions.js
  ohara-manager/client/src/store/reducers/ui/dialog.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/reducers/ui/intro.js
  ohara-manager/client/src/store/reducers/ui/settings.js
Labels: manager, v0.12.0

#5499 #5483 [Manager] Migrate dialog state to Redux
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/DevTool/Body/Body.js
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerStyles.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/DevTool/hooks.js
  ohara-manager/client/src/components/EventLog/EventLogContentDialog.js
  ohara-manager/client/src/components/EventLog/EventLogHeader.js
  ohara-manager/client/src/components/EventLog/EventLogList.js
  ohara-manager/client/src/components/Intro/IntroDialog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxBody.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/PipelineOnlyTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/PluginTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerPluginsPage/SharedJarTable.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/context/devTool/DevToolContext.js
  ohara-manager/client/src/context/devTool/const.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogActions.js
  ohara-manager/client/src/context/dialog/dialogNames.js
  ohara-manager/client/src/context/dialog/dialogReducer.js
  ohara-manager/client/src/context/dialog/dialogRoutines.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/hooks/appHooks.js
  ohara-manager/client/src/hooks/dialogHooks.js
  ohara-manager/client/src/hooks/index.js
  ohara-manager/client/src/hooks/introHooks.js
  ohara-manager/client/src/hooks/settingsHooks.js
  ohara-manager/client/src/store/actions/dialogActions.js
  ohara-manager/client/src/store/actions/index.js
  ohara-manager/client/src/store/actions/introActions.js
  ohara-manager/client/src/store/actions/settingsActions.js
  ohara-manager/client/src/store/reducers/ui/dialog.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/reducers/ui/intro.js
  ohara-manager/client/src/store/reducers/ui/settings.js
Labels: manager, v0.12.0

#5504 #5500 [Manager] Wrong error message for inspect worker definition epic
  ohara-manager/client/src/store/epics/__tests__/worker/inspectWorkerEpic.test.js
  ohara-manager/client/src/store/epics/worker/inspectWorkerEpic.js
Labels: manager, v0.12.0

#5505 #5501 [Manager] Remove illegal element status from Paper
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/const.ts
Labels: manager, v0.12.0

#5508 #5498 [Manager] Clean up unused epic
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/deleteBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/file/deleteFileEpic.js
  ohara-manager/client/src/store/epics/worker/createWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/deleteWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/stopWorkerEpic.js
  ohara-manager/client/src/store/epics/workspace/updateWorkspaceEpic.js
  ohara-manager/client/src/store/epics/zookeeper/createZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/deleteZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/stopZookeeperEpic.js
Labels: manager, v0.12.0

#5509 #5507 [Manager] Ensure Paper elements get the correct status from Connector API
  ohara-manager/client/src/api/__mocks__/connectorApi.ts
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/src/api/utils/apiUtils.ts
  ohara-manager/client/src/hooks/connectorHooks.js
  ohara-manager/client/src/observables/connectors.ts
  ohara-manager/client/src/observables/utils.ts
  ohara-manager/client/src/store/epics/__tests__/connector/createConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/fetchConnectorsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
Labels: manager, v0.12.0

#5512 #5501 [Manager] Remove illegal element status from Paper
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.11.0

#5493 #5489 Mock the metrics data for fake connector and topic
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-metrics/src/main/java/oharastream/ohara/metrics/kafka/TopicMeter.java
  ohara-metrics/src/test/java/oharastream/ohara/metrics/kafka/TestTopicMeter.java
Labels: configurator, metrics, v0.12.0

#5511 #5510 [Manager] Avoid directly closing the DeleteWorkspace dialog
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/DeleteWorkspace.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/store/reducers/ui/dialog.js
Labels: manager, v0.12.0

#5516 #5514 [Manager] Ensure Paper elemenets get the correct status from St…
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/hooks/shabondiHooks.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/observables/connectors.ts
  ohara-manager/client/src/observables/shabondis.ts
  ohara-manager/client/src/observables/streams.ts
  ohara-manager/client/src/store/actions/streamActions.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/createShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/createStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/fetchStreamsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamsEpic.test.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/startShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/stopShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/index.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopAndDeleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
Labels: manager, v0.12.0

#5480 #5479 [Manager] Fix start pipeline action does not load Paper element metrics issue
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.12.0

#5518 #5515 Disable to execute start/stop requests concurrently
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestWorkerRoute.scala
Labels: agent, configurator, v0.12.0

#5513 #5506 [Manager] Ensure Paper elements get the correct status from Bac…
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/deleteShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/connector/createConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/deleteConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/updateConnectorEpic.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelineEpic.js
  ohara-manager/client/src/store/epics/shabondi/createShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/deleteShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/startShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/stopShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/updateShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/createStreamEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.11.0

#5522 #5515 Disable to execute start/stop requests concurrently
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestWorkerRoute.scala
Labels: agent, configurator, v0.11.0

#5520 #5519 [Manager] Do not retry the START/STOP APIs for services
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/observables/__tests__/brokers.test.js
  ohara-manager/client/src/observables/__tests__/topics.test.js
  ohara-manager/client/src/observables/__tests__/workers.test.js
  ohara-manager/client/src/observables/__tests__/zookeepers.test.js
  ohara-manager/client/src/observables/brokers.ts
  ohara-manager/client/src/observables/connectors.ts
  ohara-manager/client/src/observables/shabondis.ts
  ohara-manager/client/src/observables/streams.ts
  ohara-manager/client/src/observables/topics.ts
  ohara-manager/client/src/observables/workers.ts
  ohara-manager/client/src/observables/zookeepers.ts
  ohara-manager/client/src/store/epics/__tests__/broker/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/inspectWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/startZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/stopZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/worker/inspectWorkerEpic.js
Labels: manager, v0.12.0

#5521 #5479 [Manager] Fix start pipeline action does not load Paper element…
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/paper.test.ts
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.11.0

#5524 #5523 [Manager] Manager does not support volume restart workspace, sk…
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.12.0

#5529 #5519 [Manager] Do not retry the START/STOP APIs for services
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/src/api/__mocks__/connectorApi.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/src/api/utils/apiUtils.ts
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/hooks/connectorHooks.js
  ohara-manager/client/src/hooks/shabondiHooks.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/observables/__tests__/brokers.test.js
  ohara-manager/client/src/observables/__tests__/topics.test.js
  ohara-manager/client/src/observables/__tests__/workers.test.js
  ohara-manager/client/src/observables/__tests__/zookeepers.test.js
  ohara-manager/client/src/observables/brokers.ts
  ohara-manager/client/src/observables/connectors.ts
  ohara-manager/client/src/observables/shabondis.ts
  ohara-manager/client/src/observables/streams.ts
  ohara-manager/client/src/observables/topics.ts
  ohara-manager/client/src/observables/utils.ts
  ohara-manager/client/src/observables/workers.ts
  ohara-manager/client/src/observables/zookeepers.ts
  ohara-manager/client/src/store/actions/streamActions.js
  ohara-manager/client/src/store/epics/__tests__/broker/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/createConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/fetchConnectorsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/createShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/createStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/fetchStreamsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/inspectWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/startZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/stopZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/startShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/stopShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/index.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopAndDeleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
  ohara-manager/client/src/store/epics/worker/inspectWorkerEpic.js
Labels: manager, v0.11.0

#5530 #5473 [Manager] Fix force delete topic feature
  ohara-manager/client/cypress/it/paper/elementConnection.test.ts
  ohara-manager/client/cypress/it/paper/elements.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.11.0

#5528 #5523 [Manager] Manager does not support volume restart workspace, sk…
  ohara-manager/client/cypress/it/navigator/dangerZone.test.ts
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.11.0

#5535 #5533 Change 0.11.0-SNAPSHOT to 0.11.0 for 0.11.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.11.0

#5536 #5415 [Manager] Unify the time delay of mock APIs
  ohara-manager/client/src/api/__mocks__/fileApi.ts
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/__mocks__/nodeApi.ts
  ohara-manager/client/src/api/__mocks__/pipelineApi.ts
  ohara-manager/client/src/api/__mocks__/workspaceApi.ts
  ohara-manager/client/src/store/epics/__tests__/app/initializeAppEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/fetchBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/devTool/fetchTopicDataEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/file/createFileEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/file/deleteFileEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/file/fetchFilesEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/nodeEpics.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/createPipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/deletePipelineEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/inspectWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/fetchZookeeperEpic.test.js
Labels: manager, v0.12.0

#5538 #5534 Change 0.11.0 to 0.11.1-SNAPSHOT for 0.11.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, others, v0.11.1

#5539 #5517 [Manager] Ensure Paper elements get the correct status from Top…
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.12.0

#5532 #5456 [Manager] Update Frontend dependencies
  ohara-manager/client/cypress/it/paper/propertyDialog.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Autofill/AutofillSelector.js
  ohara-manager/client/src/components/File/FileDownload.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Layout/Navigator/NavigatorStyles.js
  ohara-manager/client/src/components/Node/NodeEditorDialog.js
  ohara-manager/client/src/components/Node/NodeInfoTable.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialogStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanelStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/NodePanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxBody.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
  ohara-manager/client/src/components/common/FSMStepper/stepperMachine.js
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.12.0
