Repository oharastream/ohara, pull requests merged in 2020-01, with the labels that each got.

#3660 #3621 remove ConnectorInfo.status
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestErrorMessageOfConnector.scala
Labels: client, configurator, v0.9.0

#3666 #3377 [Manager] Prevent to delete the file used by Plugins
  ohara-manager/client/src/components/Workspace/Edit/File/FileActionsMenu.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTableStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginCard.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginList.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginSelector.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginSelectorStyles.js
  ohara-manager/client/src/components/Workspace/Edit/hooks.js
  ohara-manager/client/src/utils/object.js
Labels: manager, v0.9.0

#3663 #3662 [Manager] Display tooltip even if the icon button is disabled
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ResourceItem.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ServiceItem.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
  ohara-manager/client/src/components/common/Tooltip/Tooltip.js
  ohara-manager/client/src/components/common/Tooltip/index.js
Labels: manager, v0.9.0

#3668 #3512 [Manager] Remove a node from workspace nodes
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/NodeCard.js
Labels: manager, v0.9.0

#3670 #3656 [Manager] we should not wait api actions ready if error happened
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/objectApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
Labels: manager, v0.9.0

#3675 #3674 performance 測試程式的 afterStoppingConnector 方法忘了加上 protected
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4SambaSink.scala
Labels: it, v0.9.0

#3667 #3616 [Manager] Fix developer tools new window
  ohara-manager/client/src/App.js
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
Labels: manager, v0.9.0

#3633 #3030 Integration all shell script to start hdfs, oracle database, ftp and smb server
  ohara-it/docker/README.md
  ohara-it/docker/oracle-container.sh
  ohara-it/docker/start-service.sh
  ohara-it/docker/stop-service.sh
Labels: it, v0.9.0

#3680 #3641 [Manager] Filter for the plugin list & the topic list
  ohara-manager/client/src/components/Topic/TopicList.js
  ohara-manager/client/src/components/Topic/TopicListStyles.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/hooks.js
  ohara-manager/client/src/components/Topic/index.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginCard.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginList.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TopicsTab.js
Labels: manager, v0.9.0

#3678 #3674 add arguments to BasicTestPerformance#afterStoppingConnectors s…
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4SambaSink.scala
Labels: it, v0.9.0

#3683 #3671 [Manager] Move the group's hash logic to appContext
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/brokerApi.js
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/fileApi.js
  ohara-manager/client/src/context/api/logApi.js
  ohara-manager/client/src/context/api/pipelineApi.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/api/topicApi.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/api/zookeeperApi.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
Labels: manager, v0.9.0

#3673 #3331 Wire up metrics toggle button API
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/GraphStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/utils/hooks.js
Labels: manager, v0.9.0

#3677 #3676 Remove useless StreamCollie.counters
  ohara-agent/src/main/scala/com/island/ohara/agent/StreamCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeStreamCollie.scala
Labels: agent, configurator, v0.9.0

#3691 #3688 Refactor the afterStoppingConnectors function for TestPerformance4FtpSink, TestPerformance4HdfsSink and TestPerformance4SambaSink
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Samba.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4SambaSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4SambaSource.scala
Labels: it, v0.9.0

#3687 #3649 Connector actions (start, stop, delete, configure)
  ohara-manager/client/package.json
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/SettingDefinitions.js
  ohara-manager/client/src/components/Pipeline/SettingDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinitions.js
  ohara-manager/client/src/context/connector/connectorActions.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3686 #3679 Increase size of input data for performance test
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
Labels: it, v0.9.0

#3692 #3466 Display console warning of API request in development environment only
  ohara-manager/client/src/api/utils/apiUtils.js
Labels: manager, v0.9.0

#3682 #3669 [Manager] Move all constant and symbol to global folder
  ohara-manager/client/cypress/api/fileApi.test.js
  ohara-manager/client/cypress/api/inspectApi.test.js
  ohara-manager/client/cypress/api/pipelineApi.test.js
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/graphUtils.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxSearch.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ServiceSwitch.js
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/const.js
  ohara-manager/client/src/context/api/brokerApi.js
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/fileApi.js
  ohara-manager/client/src/context/api/logApi.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/api/topicApi.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/api/zookeeperApi.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
Labels: manager, v0.9.0

#3697 #3689 [Manager] Hide unfinished features from 0.9 release
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/AppBarStyles.js
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
Labels: manager, v0.9.0

#3700 #3698 [Manager] Fix various minor issues before the 0.9 release
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileUpload.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/components/common/Form/InputField.js
Labels: manager, v0.9.0

#3703 #3695 Create a new testcase "jdbc->topic->stream->topic->hdfs" for 0.9 release
  docs/testcase/pipeline-jdbc-topic-stream-topic-hdfs.md
Labels: docs, v0.9.0

#3702 #3701 fix some pipeline settingDialog defined bugs
  ohara-manager/client/src/api/inspectApi.js
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/Tags.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
Labels: manager, v0.9.0

#3709 #3708 [Manager] Refactor and fix unable to display connector names in Toolbox on initial load
  ohara-manager/client/src/components/Node/AddNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/context/api/workerApi.js
Labels: manager, v0.9.0

#3714 #3711 Update master branch's SNAPSHOT version to 0.10.0-SNAPSHOT
  README.md
  docker/backend.yml
  docker/build.yml
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-workers.rst
  gradle.properties
  images/pipeline_screenshot.jpg
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: agent, configurator, docs, others, v0.10.0

#3721 #3720 [Manager] Do not allow a scrollbar showing up when screen width is greater than 1024
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/src/App.js
Labels: manager, v0.10.0

#3718 #3019 Change branch versions from master to 0.9.x
  README.md
  gradle.properties
  images/pipeline_screenshot.jpg
Labels: others, v0.9.0

#3716 #3707 BasicTestPerformance4Ftp#removeFtpFolder 不能移除空資料夾
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
Labels: it, v0.10.0

#3717 #3665 Before start the connector, await worker http server completed for performance test
  ohara-it/src/test/scala/com/island/ohara/it/WithRemoteWorkers.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
Labels: it, v0.10.0

#3728 #3715 avoid extra conversion between kafka.record and ohara.record
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSourceRecord.java
Labels: kafka, v0.10.0

#3729 #3726 Remove redundant path of url in docs if it meant to be root of url
  README.md
  gradle.properties
Labels: others, v0.10.0

#3727 #3705 [Manager] Unable to get correct group when changing workspace
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Topic/hooks.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/brokerApi.js
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/fileApi.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/api/topicApi.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/api/workspaceApi.js
  ohara-manager/client/src/context/api/zookeeperApi.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/context/broker/BrokerContext.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/file/FileContext.js
  ohara-manager/client/src/context/log/LogContext.js
  ohara-manager/client/src/context/node/NodeContext.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/stream/StreamContext.js
  ohara-manager/client/src/context/topic/TopicContext.js
  ohara-manager/client/src/context/worker/WorkerContext.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/context/zookeeper/ZookeeperContext.js
Labels: manager, v0.10.0

#3725 #3724 [Manager] Add a loading indicator when drag and drop a new connector from Toolbox
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
  ohara-manager/client/src/components/common/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
Labels: manager, v0.10.0

#3722 #3719 The objects field in pipelines API includes unused object which…
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestPipelineRoute.scala
Labels: configurator, v0.10.0

#3737 #3730 rename RowSourceTask._commit to RowSourceTask.commitOffsets
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
Labels: kafka, v0.10.0

#3734 #3732 [Manager] Set metrics display setting to off when a user agent visit our App for the first time
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
Labels: manager, v0.10.0

#3750 #3747 [Manager] Cannot display the connectors, streams in the plugin card
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
Labels: manager, v0.10.0

#3755 #3733 [Manager] Delete a pipeline shouldn't delete the public topics used in it
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.10.0

#3748 #3745 Change the permission of connector.class from EDITABLE to CREAT…
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestWorkerClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, configurator, kafka, streams, v0.10.0

#3757 #3746 [Manager] Early avoid duplicated workspace name when creating a new one
  ohara-manager/client/src/components/Workspace/WorkspaceQuick.js
  ohara-manager/client/src/utils/__tests__/validate.test.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.10.0

#3775 #3768 Configurator log should be able to fetch even if no workspace
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
Labels: manager, v0.10.0

#3759 #3758 [Manager] Ensure the clickable area of Navigator expand button is like the rest of buttons
  ohara-manager/client/src/components/Pipeline/Navigator/Navigator.js
Labels: manager, v0.10.0

#3771 #3770 the sinceSeconds does not work since we calculate the duration …
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/LogRoute.scala
Labels: configurator, v0.10.0

#3764 #3754 [Manager] Stream names are not showing up in Toolbox after uploaded
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/context/api/streamApi.js
Labels: manager, v0.10.0

#3778 #3777 [Manager] Remove the link from UI's Ohara logo
  ohara-manager/client/src/components/Layout/AppBar.js
Labels: manager, v0.10.0

#3762 #3760 Add another required() method with recommanded values into SettingDef
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
Labels: common, configurator, v0.10.0

#3781 #3780 [Manager] Remove the settings button from topic cells
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
Labels: manager, v0.10.0

#3783 #3744 Remove version info for the docs
  docs/src/rest/index.rst
  docs/src/rest/rest-version.rst
Labels: docs, v0.10.0

#3787 #3744 Modify topic api for the docs
  docs/src/rest/rest-topics.rst
Labels: docs, v0.10.0

#3790 #3785 the run-time information of creating node is incorrect - it is …
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookAfterCreation.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/hook/HookAfterUpdating.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestNodeRoute.scala
Labels: configurator, v0.10.0

#3788 #3786 [Manager] Add a hint on the "into the workspace" button
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
Labels: manager, v0.10.0

#3794 #3784 Hostname should not be editable in docker mode
  ohara-manager/client/src/components/Node/EditNodeDialog.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
  ohara-manager/client/src/context/node/nodeReducer.js
Labels: manager, v0.10.0

#3792 #3766 [Manager] Prevent users from adding more topic into the paper w…
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
Labels: manager, v0.10.0

#3806 #3804 rollback master branch to 0.9.0
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-agent/src/test/scala/com/island/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
Labels: agent, configurator, others, v0.9.0

#3799 #3798 Increase the initial size of buffer in serializing row
  ohara-common/src/main/java/com/island/ohara/common/data/ByteArrayOutputStream.java
  ohara-common/src/main/java/com/island/ohara/common/data/Cell.java
  ohara-common/src/main/java/com/island/ohara/common/data/Serializer.java
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSourceTask.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
Labels: common, connector, v0.10.0, v0.9.0

#3800 #3807 Fix incorrect restful api link
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestApiUrl.scala
Labels: configurator, v0.9.0

#3808 #3744 revise Node APIs document
  docs/src/rest/rest-nodes.rst
Labels: docs, v0.9.0

#3805 #3802 [Manager] Could not save settings of connector if absent topic field
  ohara-manager/client/src/components/Pipeline/SettingDialog.js
Labels: manager, v0.9.0

#3767 #3693 Graph updates automatically when connector updates
  ohara-manager/client/src/components/Pipeline/Graph/Connector/ConnectorGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/Graph.js
  ohara-manager/client/src/components/Pipeline/Graph/Topic/TopicGraph.js
  ohara-manager/client/src/components/Pipeline/Graph/graphUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/SettingDialog.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/connector/connectorActions.js
  ohara-manager/client/src/context/topic/TopicContext.js
  ohara-manager/client/src/context/topic/topicActions.js
Labels: manager, v0.10.0, v0.9.0

#3820 #3819 [Manager] Support the splittable layout
  ohara-manager/client/package.json
  ohara-manager/client/src/App.js
  ohara-manager/client/src/components/DevTool/DevToolDialogStyles.js
  ohara-manager/client/src/components/Layout/AppBarStyles.js
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Layout/AppLayoutStyles.js
  ohara-manager/client/src/components/Layout/index.js
  ohara-manager/client/src/components/Pipeline/Navigator/NavigatorStyles.js
  ohara-manager/client/src/theme/muiTheme.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3810 #3744 revise Zookeeper APIs document
  docs/src/rest/rest-zookeepers.rst
Labels: docs, v0.9.0

#3817 #3744 Revise Validation APIs document
  docs/src/rest/rest-validation.rst
Labels: docs, v0.9.0

#3823 #3744 Apply version variable to rest-nodes.rst file
  docs/src/rest/rest-nodes.rst
Labels: docs, v0.9.0

#3822 #3744 revise Broker APIs document
  docs/src/rest/rest-brokers.rst
Labels: docs, v0.9.0

#3818 #3744 Revise Container APIs document
  docs/src/rest/rest-containers.rst
Labels: docs, v0.9.0

#3811 #3744 Revise Pipeline APIs document
  docs/src/rest/rest-pipelines.rst
Labels: docs, v0.9.0

#3825 #3744 revise Worker APIs document
  docs/src/rest/rest-workers.rst
Labels: docs, v0.9.0

#3827 #3826 Update kafka from 2.2.1 to 2.4.0
  docker/broker.dockerfile
  docker/build.yml
  docker/worker.dockerfile
  gradle/dependencies.gradle
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ConnectorTestUtils.scala
Labels: configurator, connector, others, v0.9.0

#3829 #3828 enable to dynamically configure the web site of downloading kaf…
  docker/broker.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.9.0

#3834 #3744 Revise Logs APIs document
  docs/src/rest/rest-logs.rst
Labels: docs, v0.9.0

#3836 #3744 Revise Object APIs document
  docs/src/rest/rest-objects.rst
Labels: docs, v0.9.0

#3833 #3832 remove the null "url" from response of Inspect APIs
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestFileInfoApi.scala
  ohara-manager/client/cypress/api/inspectApi.test.js
Labels: client, manager, v0.9.0

#3838 #3837 the flag "-v" should display the java version as well
  bin/ohara.sh
  docker/broker.sh
  docker/configurator.sh
  docker/manager.sh
  docker/stream.sh
  docker/worker.sh
  docker/zk.sh
Labels: others, v0.9.0

#3830 #3744 Revise Inspect APIs document
  docs/src/rest/rest-inspect.rst
Labels: docs, v0.9.0

#3824 #3744 Revise Files APIs document
  docs/src/rest/rest-files.rst
  docs/src/rest/rest-streams.rst
  docs/src/rest/rest-workers.rst
Labels: docs, v0.9.0

#3841 #3744 Revise Stream APIs document
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-streams.rst
Labels: docs, v0.9.0

#3845 #3744 Fix document write error for the rest api
  docs/src/rest/rest-logs.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-streams.rst
Labels: docs, v0.9.0

#3843 #3842 expose "connector.client.config.override.policy" to enable user…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
Labels: client, v0.9.0

#3844 #3816 [Manager] Implement the event log content dialog and filter event logs
  ohara-manager/client/package.json
  ohara-manager/client/src/components/EventLog/EventLog.js
  ohara-manager/client/src/components/EventLog/EventLogContentDialog.js
  ohara-manager/client/src/components/EventLog/EventLogHeader.js
  ohara-manager/client/src/components/EventLog/EventLogRow.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
  ohara-manager/client/src/components/common/Search/QuickSearch.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogNames.js
  ohara-manager/client/src/context/eventLog/EventLogContext.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3847 #3744 修改 rest api 文件項目數字排版
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-streams.rst
  docs/src/rest/rest-topics.rst
  docs/src/rest/rest-workers.rst
Labels: docs, v0.9.0

#3846 #3394 fix flaky TestJsonInOnDocker
  ohara-connector/src/test/scala/com/island/ohara/connector/ConnectorTestUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonIn.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonOut.scala
Labels: connector, v0.9.0

#3850 #3842 expose "producer.override.partitioner.class" to enable users to…
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-common/src/main/java/com/island/ohara/common/util/CommonUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-testing-util/src/main/java/com/island/ohara/testing/service/Workers.java
Labels: client, common, kafka, testing-util, v0.9.0

#3849 #3694 Replace api with context actions in components
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/api/utils.js
  ohara-manager/client/src/context/stream/streamActions.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
Labels: manager, v0.9.0

#3852 #3842 migrate to new connector function - commitRecord(SourceRecord, …
  ohara-kafka/src/main/java/com/island/ohara/kafka/Producer.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/RecordMetadata.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerSender.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestRowSourceRecord.java
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamFlow.scala
Labels: kafka, shabondi, v0.9.0

#3853 #3812 Paper Connector action with Connector api (create, start, stop, remov…
  ohara-manager/client/src/components/Pipeline/Cells/ConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/PaperUtils/connector.js
  ohara-manager/client/src/components/Pipeline/PaperUtils/index.js
  ohara-manager/client/src/components/Pipeline/PaperUtils/paperUtils.js
  ohara-manager/client/src/components/Pipeline/PaperUtils/stream.js
  ohara-manager/client/src/components/Pipeline/PaperUtils/topic.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/toolboxUtils.js
  ohara-manager/client/src/context/stream/streamActions.js
Labels: manager, v0.9.0

#3859 #3857 [Manager] Remove staging data of stream, connector and topic
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/api/topicApi.js
Labels: manager, v0.9.0

#3860 #3842 Integrate TopicAdmin with BrokerClient
  ohara-agent/src/main/scala/com/island/ohara/agent/BrokerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/TopicAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestTopicAdmin.scala
  ohara-common/src/test/java/com/island/ohara/common/rule/OharaTest.java
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/AdminCleaner.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestAdminCleaner.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestTopicRoute.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonOut.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/BasicTests4Collie.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/BrokerClient.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/PartitionInfo.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/PartitionNode.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicAdmin.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicCreator.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicDescription.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicOption.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestProducerToConsumer.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestTopicAdmin.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestTopicCreator.java
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestKafkaClient.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamFlow.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/source/TestStreamGraph.scala
  ohara-streams/src/main/java/com/island/ohara/streams/ostream/OStreamImpl.java
  ohara-streams/src/test/java/com/island/ohara/streams/StreamTestUtils.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestDataImporter.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestPageViewRegionExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestSumExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/TestWordCountExample.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestPurchaseAnalysis.java
  ohara-streams/src/test/java/com/island/ohara/streams/ostream/TestSimpleStreamCounter.java
Labels: agent, client, common, configurator, connector, it, kafka, shabondi, streams, v0.9.0

#3866 #3864 "connector.client.config.override.policy" is NOT applied to worker
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
Labels: agent, client, v0.9.0

#3870 #3869 align the dependencies with kafka 2.4.0
  gradle/dependencies.gradle
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/datatype/TestMySQLDataTypeConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/datatype/TestOracleDataTypeConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/datatype/TestPostgresqlDataTypeConverter.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTask.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestQueryResultIterator.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestResultSetDataConverter.scala
Labels: configurator, connector, others, v0.9.0

#3873 #3869 update gradle from 5.6.3 to 5.6.4
  docker/build.yml
  docker/deps.dockerfile
Labels: others, v0.9.0

#3874 #3867 fix flaky TestTopicAdmin.testCreate
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicAdmin.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestTopicAdmin.java
Labels: kafka, v0.9.0

#3878 #3877 remove flaky TestDataImporter.testCreateTopics
  ohara-streams/src/test/java/com/island/ohara/streams/TestDataImporter.java
Labels: streams, v0.9.0

#3876 #3875 ohara-kafka should explicitly require guava dependency
  ohara-common/src/main/java/com/island/ohara/common/setting/PropGroup.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestPropGroup.java
  ohara-kafka/build.gradle
  ohara-kafka/src/main/java/com/island/ohara/kafka/TopicAdmin.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/TaskSetting.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorFormatter.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestTaskSetting.java
Labels: common, kafka, v0.9.0

#3865 #3858 add new fields "valueInPerSec" to ohara metrics
  docs/src/rest/rest-connectors.rst
  ohara-agent/src/main/scala/com/island/ohara/agent/Collie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/MetricsApi.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/store/TestMeterCache.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkRecord.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkTask.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceTask.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorProps.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorUtils.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/com/island/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/test/java/com/island/ohara/metrics/basic/TestCounter.java
  ohara-streams/src/main/java/com/island/ohara/streams/metric/MetricFactory.java
Labels: agent, client, configurator, docs, it, kafka, metrics, streams, v0.9.0

#3883 #3812 Paper Topic and Stream action with Topic api and Stream api (cr…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/PaperUtils/index.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/apiHelperUtils.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/index.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/const.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/connectorApi.js
  ohara-manager/client/src/context/api/streamApi.js
  ohara-manager/client/src/context/stream/streamActions.js
  ohara-manager/client/src/context/stream/streamReducer.js
Labels: manager, v0.9.0

#3886 #3884 remove the performance test of Topic (It is replaced by connect…
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Topic.scala
Labels: it, v0.9.0

#3880 #1614 Bump akka dependencies
  gradle/dependencies.gradle
  ohara-agent/build.gradle
  ohara-assembly/build.gradle
  ohara-client/build.gradle
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestShabondiApi.scala
  ohara-common/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-it/build.gradle
  ohara-kafka/build.gradle
  ohara-metrics/build.gradle
  ohara-shabondi/build.gradle
  ohara-streams/build.gradle
  ohara-testing-util/build.gradle
Labels: agent, assembly, client, common, configurator, connector, it, kafka, metrics, others, shabondi, streams, testing-util, v0.9.0

#3868 #3161 Add tests to verify devTool dialog works well
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/cypress/e2e/devToolDialog.test.js
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewLog.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewStyles.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/Pipeline/IntroDialog.js
  ohara-manager/client/src/components/common/Select/Select.js
  ohara-manager/client/src/components/common/Table/Table.js
Labels: manager, v0.9.0

#3888 #3858 record all metrics periodically for performance tests
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/PerformanceReport.scala
Labels: it, v0.9.0

#3885 #3813 Add onChange method in Paper
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.9.0

#3893 #3493 [Manager] Update serialize-javascript to fix GitHub's security warning
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: manager, v0.9.0

#3894 #3813 Allow Paper's getCell method to search a cell by its name
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.9.0

#3896 #3895 [Manager] Use the badge to indicate that a new event log (error) has occurred
  ohara-manager/client/src/components/EventLog/EventLog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
  ohara-manager/client/src/context/broker/BrokerContext.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/eventLog/EventLogContext.js
  ohara-manager/client/src/context/eventLog/eventLogActions.js
  ohara-manager/client/src/context/eventLog/eventLogHooks.js
  ohara-manager/client/src/context/eventLog/eventLogReducer.js
  ohara-manager/client/src/context/eventLog/eventLogRoutines.js
  ohara-manager/client/src/context/file/FileContext.js
  ohara-manager/client/src/context/log/LogContext.js
  ohara-manager/client/src/context/node/NodeContext.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/stream/StreamContext.js
  ohara-manager/client/src/context/topic/TopicContext.js
  ohara-manager/client/src/context/topicData/TopicDataContext.js
  ohara-manager/client/src/context/worker/WorkerContext.js
  ohara-manager/client/src/context/workspace/WorkspaceContext.js
  ohara-manager/client/src/context/zookeeper/ZookeeperContext.js
  ohara-manager/client/src/utils/hooks.js
Labels: manager, v0.9.0

#3900 #3813 Change topic icon color when its status changed
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/apiHelperUtils.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/common/Icon/PipelineOnlyTopicIcon.js
  ohara-manager/client/src/components/common/Icon/SharedTopicIcon.js
Labels: manager, v0.9.0
