Repository oharastream/ohara, pull requests merged in 2020-04, with the labels that each got.

#4480 #4479 Refactor Parameterized tests of IT
  ohara-it/src/test/scala/oharastream/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/PlatformModeInfo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestConfiguratorServiceFromNodeApi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestListNode.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestNodeResource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestQueryConfiguratorLog.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonInOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonOutOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
Labels: it, v0.10.0

#4482 #4481 Refactor WithRemoteConfigurator to reduce number of env variables
  ohara-agent/src/main/scala/oharastream/ohara/agent/DataCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestFileInfoRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/PlatformModeInfo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestConfiguratorServiceFromNodeApi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestListNode.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestNodeResource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestQueryConfiguratorLog.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestListCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLogOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonInOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonOutOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
Labels: agent, configurator, it, v0.10.0

#4485 #4484 Refactor TestLogOnDocker to run on both docker and k8s
  ohara-it/src/test/scala/oharastream/ohara/it/collie/BasicTests4Log.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClientLog.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLogOnDocker.scala
Labels: it, v0.10.0

#4486 #4422 Fix the main class of shabondi does not exist
  bin/start-service.sh
  docker/shabondi.sh
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/Boot.scala
Labels: agent, it, others, shabondi, v0.10.0

#4489 Revert "#4469 [Manager] Use dispatched actions to switch workspace and pipeline
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/hooks/appHooks.js
  ohara-manager/client/src/hooks/brokerHooks.js
  ohara-manager/client/src/hooks/createWorkspaceHooks.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/hooks/workerHooks.js
  ohara-manager/client/src/hooks/workspaceHooks.js
  ohara-manager/client/src/hooks/zookeeperHooks.js
  ohara-manager/client/src/store/epics/app/index.js
  ohara-manager/client/src/store/epics/appEpics.js
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/deleteBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/fetchBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/index.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/updateBrokerEpic.js
  ohara-manager/client/src/store/epics/brokerEpics.js
  ohara-manager/client/src/store/epics/index.js
  ohara-manager/client/src/store/epics/pipeline/switchPipelineEpic.js
  ohara-manager/client/src/store/epics/worker/createWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/deleteWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/index.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/stopWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/updateWorkerEpic.js
  ohara-manager/client/src/store/epics/workerEpics.js
  ohara-manager/client/src/store/epics/workspace/switchWorkspaceEpic.js
  ohara-manager/client/src/store/epics/zookeeper/createZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/deleteZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/fetchZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/index.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/stopZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/updateZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeperEpics.js
  ohara-manager/client/src/store/index.js
  ohara-manager/client/src/store/reducers/ui/brokers.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/reducers/ui/workers.js
  ohara-manager/client/src/store/reducers/ui/workspace.js
  ohara-manager/client/src/store/reducers/ui/zookeepers.js
  ohara-manager/client/src/store/selectors/brokerSelector.js
  ohara-manager/client/src/store/selectors/infoSelector.js
  ohara-manager/client/src/store/selectors/pipelineSelector.js
  ohara-manager/client/src/store/selectors/workerSelector.js
  ohara-manager/client/src/store/selectors/workspaceSelector.js
  ohara-manager/client/src/store/selectors/zookeeperSelector.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.10.0

#4494 #4046 Add shabondi running info into InspectApi
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
Labels: configurator, v0.10.0

#4493 #4491 Update gradle from 5.6.4 to 6.3.0
  build.gradle
  docker/build.yml
  docker/deps.dockerfile
  docs/src/how_to_build.rst
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectCheckException.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JsonOut.scala
Labels: client, configurator, connector, docs, others, v0.10.0

#4496 #4455 [Manager] Apply nodeMetrics
  ohara-manager/client/cypress/api/connectorApi.test.ts
  ohara-manager/client/cypress/api/streamApi.test.ts
  ohara-manager/client/cypress/api/topicApi.test.ts
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/src/api/apiInterface/connectorInterface.ts
  ohara-manager/client/src/api/apiInterface/pipelineInterface.ts
  ohara-manager/client/src/api/apiInterface/topicInterface.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
Labels: manager, v0.10.0

#4501 #4046 Dependency check of Shabondi with Broker and Topic
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
Labels: configurator, it, v0.10.0

#4503 #4502 fix nonexistent dependencies in building ohara-manager
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: manager, v0.10.0

#4488 #4487 ContainerPlatform should support custom mode which accepts an e…
  ohara-agent/src/main/scala/oharastream/ohara/agent/DataCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/InspectApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClientLog.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestListCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteWorkers.scala
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
Labels: agent, client, configurator, it, v0.10.0

#4473 #4253 add "maximum.number.of.lines" to Csv Connector so it can slice …
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonFormat.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonFormatBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonFormat.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestConnectorRoute.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/ftp/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSourceTestBase.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSource.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvConnectorDefinitions.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvDataReader.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvRecordConverter.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/RecordConverter.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/TestCsvSourceTask.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvDataReader.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvRecordConverter.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/TestCsvSourceConfig.java
Labels: client, configurator, connector, it, kafka, v0.10.0

#4516 #4515 Remove JsonIn and JsonOut
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JioData.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JioProps.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JsonInTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JsonOut.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/JsonOutTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/jio/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jio/BasicTestsOfJsonIn.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jio/BasicTestsOfJsonOut.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jio/TestJioData.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jio/TestJioSettings.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jio/TestJsonIn.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jio/TestJsonOut.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonInOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonOutOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JsonOut.scala
  ohara-manager/client/src/api/apiInterface/connectorInterface.ts
Labels: connector, it, manager, v0.10.0

#4511 #4046 Enable Shabondi JMX port and HEAP_OPTS
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
Labels: agent, client, it, shabondi, v0.10.0

#4518 #4505 [Manager] Replace 'gradle' with './gradlew' in npm's prepush script
  ohara-manager/package.json
Labels: manager, v0.10.0

#4517 #4508 writing tests for appEpics
  ohara-manager/client/src/api/__mocks__/pipelineApi.ts
  ohara-manager/client/src/api/__mocks__/workspaceApi.ts
  ohara-manager/client/src/store/epics/__tests__/initializeAppEpic.test.js
Labels: manager, v0.10.0

#4510 #4504 [Manager] Refactor files API and to include the error handling logic
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyForm.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Edit/hooks.js
  ohara-manager/client/src/hooks/fileHooks.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/store/actions/streamActions.js
  ohara-manager/client/src/store/epics/file/createFileEpic.js
  ohara-manager/client/src/store/epics/file/deleteFileEpic.js
  ohara-manager/client/src/store/epics/file/fetchFilesEpic.js
  ohara-manager/client/src/store/epics/stream/createStreamEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/fetchStreamsEpic.js
  ohara-manager/client/src/store/selectors/fileSelector.js
  ohara-manager/client/src/store/selectors/infoSelector.js
  ohara-manager/client/src/store/selectors/streamSelector.js
Labels: manager, v0.10.0

#4514 #4434 remove "metrics" from Stream, Connector, Pipeline and Topic end…
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/TopicApi.scala
Labels: client, v0.10.0

#4535 #4534 Modify typo for the ContainerPlatform object
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
Labels: it, v0.10.0

#4497 #4470 [Manager] Create workspace node list card table icon is broken
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/e2e/topicDialog.test.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/src/components/Node/SelectNodeDialog.js
  ohara-manager/client/src/components/common/Table/MuiTable.js
  ohara-manager/client/src/components/common/Table/index.js
  ohara-manager/client/src/utils/generate.ts
Labels: manager, v0.10.0

#4532 #4460 add volume support to ContainerClient
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClientLog.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
Labels: agent, it, v0.10.0

#4536 #4046 Enable shabondi metrics
  ohara-shabondi/build.gradle
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/DataGroup.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/QueueProducer.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkConfig.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceConfig.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkDataGroups.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
Labels: shabondi, v0.10.0

#4529 #4526 [Manager] Refactor the Files page to use the Material-Table
  ohara-manager/client/src/components/Workspace/Edit/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTableStyles.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileUpload.js
Labels: manager, v0.10.0

#4533 #4528 [Manager] Refactor the Topics page to use the Material-Table
  ohara-manager/client/src/components/Topic/TopicList.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/TopicTableStyles.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Topic/hooks.js
  ohara-manager/client/src/components/Topic/index.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TopicsTab.js
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/store/selectors/topicSelector.js
Labels: manager, v0.10.0

#4537 #4508 writing tests for brokerEpics
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/store/epics/__tests__/createBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/deleteBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/fetchBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/initializeAppEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/updateBrokerEpic.test.js
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/deleteBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/fetchBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/updateBrokerEpic.js
Labels: manager, v0.10.0

#4542 #4508 writing tests for eventLogEpics
  ohara-manager/client/src/store/epics/__tests__/clearEventLogsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/clearNotificationsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/createEventLogEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/deleteEventLogEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/fetchEventLogsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/updateNotificationsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/updateSettingsEpic.test.js
  ohara-manager/client/src/store/epics/eventLog/createEventLogEpic.js
  ohara-manager/client/src/store/epics/eventLog/deleteEventLogsEpic.js
  ohara-manager/client/src/store/epics/eventLog/fetchEventLogsEpic.js
  ohara-manager/client/src/store/epics/eventLog/updateNotificationsEpic.js
Labels: manager, v0.10.0

#4541 #4530 Upgrade kubernetes version to 1.18.1 for the ohara shell script
  docs/src/how_to_build.rst
  docs/testcase/ohara-installation.md
  kubernetes/distribute/k8s-master-install.sh
  kubernetes/distribute/k8s-pre-install.sh
  kubernetes/distribute/k8s-worker-install.sh
Labels: docs, others, v0.10.0

#4540 #4460 ContainerClient#container(String) and ContainerClient#volume(St…
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfiguratorBuilder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
Labels: agent, configurator, it, v0.10.0

#4500 #4457 Add chaos test for jdbc connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/jdbc/source/JDBCSourceTask.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceConnectorExactlyOnce.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestJDBCSourceTaskRecovery.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlJDBCSourceConnector.scala
Labels: connector, it, v0.10.0

#4548 #4546 Modify path for the install k8s metrics-server document
  docs/src/user_guide.rst
  docs/testcase/ohara-installation.md
Labels: docs, v0.10.0

#4553 #4552 Remove topic checking in Shabondi creation phase temporary
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
Labels: configurator, v0.10.0

#4547 #4046 Enable shabondi metrics in configurator route
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/store/MetricsCache.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
Labels: agent, client, configurator, v0.10.0

#4554 #4460 pass ContainerClient rather than K8sClient to Configurator
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfiguratorBuilder.scala
Labels: agent, configurator, v0.10.0

#4557 #4460 move ClusterStatus from Configurator module to Agent module
  ohara-agent/src/main/scala/oharastream/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ClusterKind.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ClusterStatus.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCache.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/docker/TestServiceCache.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeBrokerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeShabondiCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeStreamCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeZookeeperCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
Labels: agent, client, configurator, v0.10.0

#4556 #4460 Add volume support to K8sClient
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SJson.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: agent, it, v0.10.0

#4562 #4460 add ClusterState to both of ClusterInfo and ClusterStatus
  ohara-agent/src/main/scala/oharastream/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ClusterStatus.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceState.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/docker/TestServiceCache.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ClusterInfo.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ClusterState.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestMetrics.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestStreamRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/store/FakeClusterInfo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
Labels: agent, client, configurator, it, v0.10.0

#4558 #4520 writing shabondi APIs
  ohara-manager/client/cypress/api/brokerApi.test.ts
  ohara-manager/client/cypress/api/connectorApi.test.ts
  ohara-manager/client/cypress/api/inspectApi.test.ts
  ohara-manager/client/cypress/api/shabondiApi.test.ts
  ohara-manager/client/cypress/api/streamApi.test.ts
  ohara-manager/client/cypress/api/topicApi.test.ts
  ohara-manager/client/cypress/api/workerApi.test.ts
  ohara-manager/client/cypress/api/zookeeperApi.test.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/api/inspectApi.ts
  ohara-manager/client/src/api/shabondiApi.ts
  ohara-manager/client/src/api/utils/apiUtils.ts
Labels: manager, v0.10.0

#4565 #4460 refactor TestCollie to remove stale test APIs
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
Labels: it, v0.10.0

#4561 #4560 [Manager] fix flaky Autofill
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Autofill/AutofillList.js
  ohara-manager/client/src/hooks/workspaceHooks.js
  ohara-manager/client/src/store/reducers/entities/workspaces.js
Labels: manager, v0.10.0

#4568 #4567 Revert #4252 [Manager] Create workspace setting layout (#4531)
  ohara-manager/client/cypress/e2e/fileTable.test.ts
  ohara-manager/client/cypress/e2e/topicDialog.test.ts
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Workspace/Edit/index.js
  ohara-manager/client/src/components/Workspace/Settings/DeleteConfirmDialogContent.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMainStyles.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMenu.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsStyles.js
  ohara-manager/client/src/components/Workspace/Settings/index.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
  ohara-manager/client/src/const.ts
Labels: manager, v0.10.0

#4566 #4460 add Volume support to collie
  ohara-agent/src/main/scala/oharastream/ohara/agent/ClusterVolume.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerVolume.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/VolumeApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.10.0

#4523 #4522 [Manager] Remove the upload plugin step from the workspace creation
  ohara-manager/client/cypress/e2e/fileTable.test.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupPluginsForm.js
  ohara-manager/client/src/store/epics/workspace/createWorkspaceEpic.js
Labels: manager, v0.10.0

#4579 #4513 [Manager] Add an epic which handles the delete of pipeline itself and the services running on it
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/components/common/Dialog/DeleteDialog.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/store/epics/pipeline/deletePipelineEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/topic/deleteTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopTopicEpic.js
  ohara-manager/client/src/store/reducers/ui/pipeline.js
Labels: manager, v0.10.0

#4577 #4508 writing tests for workspaceEpics
  ohara-manager/client/src/api/__mocks__/workspaceApi.ts
  ohara-manager/client/src/store/epics/__tests__/broker/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/createWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/deleteWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/switchWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/workspace/updateWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/startZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/stopZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/createBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/worker/createWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/stopWorkerEpic.js
  ohara-manager/client/src/store/epics/workspace/createWorkspaceEpic.js
  ohara-manager/client/src/store/epics/workspace/deleteWorkspaceEpic.js
  ohara-manager/client/src/store/epics/workspace/updateWorkspaceEpic.js
  ohara-manager/client/src/store/epics/zookeeper/createZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/stopZookeeperEpic.js
Labels: manager, v0.10.0

#4582 #4581 [Manager] Create worker nodes page
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerNodesPage.js
  ohara-manager/client/src/hooks/nodeHooks.js
  ohara-manager/client/src/store/selectors/nodeSelector.js
  ohara-manager/client/src/store/transforms/__tests__/nodeTransform.test.js
  ohara-manager/client/src/store/transforms/nodeTransform.js
Labels: manager, v0.10.0

#4585 #4584 [Manager] Create topic page for settings
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMainStyles.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsStyles.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPageStyles.js
Labels: manager, v0.10.0

#4512 #4456 [Manager] Make sure the pipeline all function is normal
  ohara-manager/client/src/hooks/connectorHooks.js
  ohara-manager/client/src/hooks/topicHooks.js
  ohara-manager/client/src/store/epics/connector/fetchConnectorsEpic.js
  ohara-manager/client/src/store/reducers/entities/connectors.js
  ohara-manager/client/src/store/schema/index.js
  ohara-manager/client/src/store/selectors/connectorSelector.js
  ohara-manager/client/src/store/selectors/topicSelector.js
Labels: manager, v0.10.0

#4591 #4508 writing tests for snackbarEpics
  ohara-manager/client/src/store/epics/__tests__/snackbarEpics.test.js
  ohara-manager/client/src/store/epics/snackbarEpics.js
Labels: manager, v0.10.0

#4588 #4586 [Manager] Create broker nodes page for settings
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/hooks/nodeHooks.js
Labels: manager, v0.10.0

#4595 #4508 writing tests for nodeEpics
  ohara-manager/client/src/api/__mocks__/nodeApi.ts
  ohara-manager/client/src/api/nodeApi.ts
  ohara-manager/client/src/store/epics/__tests__/broker/startBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/broker/stopBrokerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/nodeEpics.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/startWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/stopWorkerEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/startZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/zookeeper/stopZookeeperEpic.test.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/nodeEpics.js
Labels: manager, v0.10.0

#4594 #951 Shabondi Restful API docs
  docs/src/rest/index.rst
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-shabondi.rst
  docs/src/rest/rest-stream.rst
Labels: docs, v0.10.0

#4597 #4596 [Manager] Create file page for settings
  ohara-manager/client/src/components/File/FileDeleteDialog.js
  ohara-manager/client/src/components/File/FileDownload.js
  ohara-manager/client/src/components/File/FileRemoveDialog.js
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/File/FileUpload.js
  ohara-manager/client/src/components/File/index.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceFilesPage.js
Labels: manager, v0.10.0

#4593 #4580 [Manager] Address several issues in workspace settings's main page
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/components/Workspace/Settings/DeleteConfirmDialogContent.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMainStyles.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMenu.js
Labels: manager, v0.10.0

#4601 #4508 writing tests for fileEpics
  ohara-manager/client/cypress/api/fileApi.test.ts
  ohara-manager/client/src/api/__mocks__/fileApi.ts
  ohara-manager/client/src/api/apiInterface/fileInterface.ts
  ohara-manager/client/src/store/epics/__tests__/file/createFileEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/file/deleteFileEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/file/fetchFilesEpic.test.js
  ohara-manager/client/src/store/epics/file/createFileEpic.js
  ohara-manager/client/src/store/epics/file/deleteFileEpic.js
  ohara-manager/client/src/store/epics/file/fetchFilesEpic.js
Labels: manager, v0.10.0

#4603 #4602 [Manager] Refactor confirm dialog for delete workspace
  ohara-manager/client/src/components/Workspace/Settings/DeleteConfirmDialogContent.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
Labels: manager, v0.10.0

#4571 #4569 Upgrade kafka from 2.4.1 to 2.5.0
  docker/broker.dockerfile
  docker/build.yml
  docker/configurator.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
  gradle/dependencies.gradle
  ohara-agent/build.gradle
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
Labels: agent, others, v0.10.0

#4607 #4606 [Manager] Refactor the NodeTable component
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
Labels: manager, v0.10.0

#4612 #4611 [Manager] Create stream jars page for settings
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
Labels: manager, v0.10.0

#4613 #4610 [Manager] Add Shabondi in toolbox
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/store/epics/worker/fetchWorkerEpic.js
Labels: manager, v0.10.0

#4592 #4590 [Manager] Create autofill page for settings
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Autofill/AutofillList.js
  ohara-manager/client/src/components/Autofill/AutofillListStyles.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/pages/AutofillPage.js
Labels: manager, v0.10.0

#4573 #4572 Upgrade sshd from 2.2.0 to 2.4.0
  gradle/dependencies.gradle
  ohara-agent/build.gradle
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-testing-util/src/main/java/oharastream/ohara/testing/service/SshdServer.java
Labels: agent, others, testing-util, v0.10.0

#4626 #4061 Make the image name of Shabondi service editable
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
Labels: client, configurator, shabondi, v0.10.0

#4616 #4615 [Manager] Refactor the TopicTable component
  ohara-manager/client/src/components/Topic/TopicCreateDialog.js
  ohara-manager/client/src/components/Topic/TopicDeleteDialog.js
  ohara-manager/client/src/components/Topic/TopicDetailDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Topic/index.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/PipelineOnlyTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/index.js
Labels: manager, v0.10.0

#4609 #4608 Remove redundant graph creation in the route handler of Shabondi source
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/StreamGraph.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestStreamGraph.scala
Labels: shabondi, v0.10.0

#4620 #4583 [Manager] Fix e2e error
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/store/epics/topic/stopTopicEpic.js
Labels: manager, v0.10.0

#4632 #4631 [Manager] Refactor the Dialog and DeleteDialog components
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Autofill/AutofillList.js
  ohara-manager/client/src/components/Autofill/AutofillSelector.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/EventLog/EventLogContentDialog.js
  ohara-manager/client/src/components/File/FileDeleteDialog.js
  ohara-manager/client/src/components/File/FileRemoveDialog.js
  ohara-manager/client/src/components/File/FileSelectorDialog.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
  ohara-manager/client/src/components/Node/NodeDeleteDialog.js
  ohara-manager/client/src/components/Node/NodeDetailDialog.js
  ohara-manager/client/src/components/Node/NodeEditorDialog.js
  ohara-manager/client/src/components/Node/NodeRemoveDialog.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/TopicCreateDialog.js
  ohara-manager/client/src/components/Topic/TopicDeleteDialog.js
  ohara-manager/client/src/components/Topic/TopicDetailDialog.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileActionsMenu.js
  ohara-manager/client/src/components/Workspace/Edit/MoreActions.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginCard.js
  ohara-manager/client/src/components/Workspace/Edit/RestartIndicator.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/NodeCard.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
  ohara-manager/client/src/components/Workspace/WorkspaceList.js
  ohara-manager/client/src/components/common/Dialog/DeleteDialog.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
Labels: manager, v0.10.0

#4634 #4619 Rename shabondi source and sink service's classname
  bin/start-service.sh
  docs/src/rest/rest-shabondi.rst
  ohara-common/src/main/java/oharastream/ohara/common/setting/WithDefinitions.java
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/shabondiApi.ts
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiSink.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiSource.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiType.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/AbstractWebServer.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/RouteHandler.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/WebServer.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/WebServer.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/KafkaSupport.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/TestKit.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestKafkaClient.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestRowData.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestStreamFlow.scala
Labels: common, configurator, docs, manager, others, shabondi, v0.10.0

#4639 #4617 [Manager] Prevent deleting the topic that is being used by pipe…
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/PipelineOnlyTopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/store/selectors/topicSelector.js
Labels: manager, v0.10.0

#4642 #4640 fix flaky TestApiUrl
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestApiUrl.scala
Labels: configurator, v0.10.0

#4643 #4641 fix flaky TestTestCases#testListTestClasses
  ohara-it/src/test/scala/oharastream/ohara/it/code/ClassUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/code/TestTestCases.scala
Labels: it, v0.10.0

#4644 #4618 [Manager] Prevent deleting the file that is being used by worke…
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceFilesPage.js
Labels: manager, v0.10.0

#4647 #4628 [Manager] Prevent removing the node from workspace when the nod…
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
Labels: manager, v0.10.0

#4646 #4645 Add nodeNames definition to Shabondi API
  docs/src/rest/rest-shabondi.rst
  docs/src/rest/rest-stream.rst
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
Labels: configurator, docs, shabondi, v0.10.0

#4649 #4508 writing tests for connectorEpics
  ohara-manager/client/src/api/__mocks__/connectorApi.ts
  ohara-manager/client/src/store/epics/__tests__/connector/createConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/fetchConnectorsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/removeSinkLinkEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/removeSourceLinkEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/updateConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/updateLinkConnectorEpic.test.js
  ohara-manager/client/src/store/epics/connector/createConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/deleteConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/fetchConnectorsEpic.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/updateConnectorEpic.js
Labels: manager, v0.10.0

#4654 #4653 [Manager] Refact the MuiTable component
  ohara-manager/client/src/components/File/FileTable.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/common/Table/MuiTable.js
  ohara-manager/client/src/components/common/Table/MuiTableIcons.js
Labels: manager, v0.10.0

#4629 #4460 apply Volume to ZookeeperApi, BrokerApi, WorkerApi and StreamApi
  ohara-agent/src/main/scala/oharastream/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/Collie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/StreamCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ZookeeperCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ClusterCreation.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
Labels: agent, client, common, configurator, it, v0.10.0

#4625 #4574 Modify TestContainerClient#testVolume test code
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: it, v0.10.0

#4662 #4659 [Manager] Hide the settings menu for the upcoming 0.10.0 release
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
Labels: manager, v0.10.0

#4661 #4660 [Manager] Fix flaky FileTable
  ohara-manager/client/src/components/File/FileTable.js
Labels: manager, v0.10.0

#4656 #4636 [Manager] Add Shabondi to pipeline
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/hooks/shabondiHooks.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/fetchShabondisEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/shabondi/fetchShabondisEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
  ohara-manager/client/src/store/reducers/ui/index.js
  ohara-manager/client/src/store/reducers/ui/shabondi.js
  ohara-manager/client/src/store/selectors/shabondiSelector.js
Labels: manager, v0.10.0

#4667 #4624 [Manager] Create workspace restart indicator
  ohara-manager/client/src/components/Workspace/Settings/RestartIndicator.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsMainStyles.js
  ohara-manager/client/src/hooks/workspaceHooks.js
Labels: manager, v0.10.0

#4668 #4664 [Manager] Ensure Paper's state is cleaned when switching between workspaces
  ohara-manager/client/src/components/Layout/Navigator/Outline.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
  ohara-manager/client/src/store/reducers/ui/pipeline.js
Labels: manager, v0.10.0

#4666 #4508 writing tests for streamEpics
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/hooks/streamHooks.js
  ohara-manager/client/src/store/actions/streamActions.js
  ohara-manager/client/src/store/epics/__tests__/stream/createStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/fetchStreamsEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/removeStreamFromLinkEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/removeStreamToLinkEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/updateStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/updateStreamLinkEpic.test.js
  ohara-manager/client/src/store/epics/stream/createStreamEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/fetchStreamsEpic.js
  ohara-manager/client/src/store/epics/stream/index.js
  ohara-manager/client/src/store/epics/stream/removeStreamFromLinkEpic.js
  ohara-manager/client/src/store/epics/stream/removeStreamToLinkEpic.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopAndDeleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamFromLinkEpic.js
  ohara-manager/client/src/store/epics/stream/updateStreamLinkEpic.js
  ohara-manager/client/src/store/reducers/entities/streams.js
Labels: manager, v0.10.0

#4673 #4622 [Manager] Reset the from data when successful topic creation
  ohara-manager/client/src/components/Topic/TopicCreateDialog.js
  ohara-manager/client/src/components/Topic/TopicTable.js
  ohara-manager/client/src/components/Workspace/Settings/pages/TopicPage/SharedTopicTable.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
Labels: manager, v0.10.0

#4674 #4672 [Manager] Fix flaky TopicTable - Cannot to delete topic
  ohara-manager/client/src/store/reducers/entities/topics.js
Labels: manager, v0.10.0

#4679 #4508 re-enable deleteWorkspaceEpic
  ohara-manager/client/src/store/epics/__tests__/workspace/deleteWorkspaceEpic.test.js
Labels: manager, v0.10.0

#4663 #4652 the data order from Inspect is broken if the end offset is not …
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestInspectTopic.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/Consumer.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestConsumerBuilder.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestProducerToConsumer.java
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/DataGroup.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/QueueProducer.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkDataGroups.scala
Labels: configurator, kafka, shabondi, v0.10.0

#4648 #4460 Added validate folder class for the remote node
  ohara-agent/src/main/scala/oharastream/ohara/agent/RemoteFolderHandler.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestRemoteFolderHandler.scala
Labels: agent, it, v0.10.0

#4676 #4671 [Manager] Paper element's metrics should always being displayed when the metrics switch is on
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/NodePanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
Labels: manager, v0.10.0

#4675 #4665 [Manager] Redirect to workspace settings pages from Toolbox's add buttons
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxBody.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxRedirectButton.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/context/dialog/DialogContext.js
  ohara-manager/client/src/context/dialog/dialogNames.js
Labels: manager, v0.10.0

#4683 #4657 [Manager] Connector hooks could not re-fetch after switching pipeline
  ohara-manager/client/src/api/__mocks__/connectorApi.ts
  ohara-manager/client/src/hooks/connectorHooks.js
  ohara-manager/client/src/store/epics/__tests__/connector/fetchConnectorsEpic.test.js
  ohara-manager/client/src/store/epics/connector/fetchConnectorsEpic.js
Labels: manager, v0.10.0

#4686 #4670 Update the Shabondi source and sink path segment
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/DataGroup.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkDataGroups.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
Labels: shabondi, v0.10.0

#4688 #4687 [Manager] Update jQuery to fix security issue
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.10.0

#4680 #4623 [Manager] Reset the form data after successful node creation
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/hooks/nodeHooks.js
  ohara-manager/client/src/store/epics/__tests__/nodeEpics.test.js
  ohara-manager/client/src/store/epics/nodeEpics.js
Labels: manager, v0.10.0

#4694 #4693 [Manager] Display pagination when the size of data in the table…
  ohara-manager/client/src/components/common/Table/MuiTable.js
Labels: manager, v0.10.0

#4695 #4692 [Maanger] Add a prompt to add more selectable nodes in the zook…
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperNodesPage.js
Labels: manager, v0.10.0

#4697 #4696 [Manager] Remove redundant code
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspaceStyles.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileActionsMenu.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileDownload.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileTable.js
  ohara-manager/client/src/components/Workspace/Edit/File/FileUpload.js
  ohara-manager/client/src/components/Workspace/Edit/File/index.js
  ohara-manager/client/src/components/Workspace/Edit/MoreActions.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/AddPluginCard.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/AddPluginCardStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginCard.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginCardStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginList.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginListStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginSelector.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/PluginSelectorStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Plugin/index.js
  ohara-manager/client/src/components/Workspace/Edit/RestartIndicator.js
  ohara-manager/client/src/components/Workspace/Edit/RestartIndicatorStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/AddNodeCard.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/NodeCard.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/NodeCardStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/Nodes.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ResourceItem.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ServiceItem.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/ServiceSwitch.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/index.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/SettingsMenu.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/SettingsMenuStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/index.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/FilesTab.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/SettingsTab.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TabPanel.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TopicsTab.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/TopicsTabStyles.js
  ohara-manager/client/src/components/Workspace/Edit/Tabs/index.js
  ohara-manager/client/src/components/Workspace/Edit/hooks.js
  ohara-manager/client/src/components/Workspace/Edit/index.js
  ohara-manager/client/src/components/Workspace/index.js
Labels: manager, v0.10.0

#4691 #4690 [Manager] Regenerate yarn.lock files in both manager and client to get rid of cached audit report
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: manager, v0.10.0

#4702 #4559 Shabondi testing improvement
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestPipelineRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
Labels: configurator, v0.10.0
