Repository oharastream/ohara, pull requests merged in 2020-02, with the labels that each got.

#3901 #3493 Fix yarn.lock file being updated by running yarn install
  ohara-manager/.yarnrc
Labels: manager, v0.9.0

#3908 #3898 [Manager] Show the number of event logs in the status bar
  ohara-manager/client/src/components/DevTool/DevToolDialog.js
  ohara-manager/client/src/components/DevTool/DevToolDialogStyles.js
  ohara-manager/client/src/components/DevTool/StatusBar/StatusBar.js
  ohara-manager/client/src/components/DevTool/hooks.js
  ohara-manager/client/src/components/EventLog/EventLog.js
  ohara-manager/client/src/components/common/StatusBar/StatusBar.js
  ohara-manager/client/src/components/common/StatusBar/index.js
Labels: manager, v0.9.0

#3906 #3904 move the configurator assembly to ohara-configurator
  docker/configurator.dockerfile
  ohara-assembly/build.gradle
  ohara-configurator/build.gradle
  ohara-configurator/src/main/resources/application.conf
  ohara-configurator/src/main/resources/log4j.properties
Labels: assembly, configurator, others, v0.9.0

#3890 #3812 Paper disconnect action
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/apiHelperUtils.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/index.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/const.js
Labels: manager, v0.9.0

#3891 #3161 Add a test to verify all routes are working as expected
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/cypress/plugins/index.js
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
Labels: manager, v0.9.0

#3917 #3904 move the manager assembly to ohara-manager
  bin/start-service.sh
  bin/stop-service.sh
  docker/manager.dockerfile
  ohara-assembly/build.gradle
  ohara-manager/build.gradle
Labels: assembly, manager, others, v0.9.0

#3922 #3904 remove the debug code in ohara-manager/build.gradle (introduced …
  ohara-manager/build.gradle
Labels: manager, v0.9.0

#3919 #3914 Fail to update Stream with empty node names
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
Labels: client, v0.9.0

#3923 #3904 remove ohara-assembly
  build.gradle
  docs/src/how_to_build.rst
  docs/src/manager_dev_guide.rst
  ohara-agent/build.gradle
  ohara-assembly/build.gradle
  ohara-assembly/src/test/resources/log4j.properties
  ohara-assembly/src/test/scala/com/island/ohara/assembly/ListTestCases.scala
  ohara-client/build.gradle
  ohara-common/src/test/java/com/island/ohara/common/rule/OharaTest.java
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/code/ClassUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/code/TestCodePattern.scala
  ohara-it/src/test/scala/com/island/ohara/it/code/TestSettingDefinitionsOfDumbConnector.scala
  ohara-it/src/test/scala/com/island/ohara/it/code/TestTestCases.scala
  ohara-kafka/build.gradle
  ohara-metrics/build.gradle
  ohara-shabondi/build.gradle
  ohara-streams/build.gradle
  settings.gradle
Labels: agent, assembly, client, common, configurator, connector, docs, it, kafka, metrics, others, shabondi, streams, v0.9.0

#3910 #3907 Fix wrong topic name used within Shabondi
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/sink/SinkDataGroups.scala
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/source/StreamGraph.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/BasicShabondiTest.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/TestStreamFlow.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestSinkDataGroups.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/com/island/ohara/shabondi/source/TestStreamGraph.scala
Labels: shabondi, v0.9.0

#3915 #3812 Paper config action with Connector and Stream api
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropetyDialog.js
  ohara-manager/client/src/components/common/Definitions/ArrayDef.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
  ohara-manager/client/src/context/connector/connectorActions.js
Labels: manager, v0.9.0

#3921 #3920 [Manager] Ensure yarn add command is able to modify yarn.lock file
  ohara-manager/.yarnrc
  ohara-manager/client/package.json
  ohara-manager/package.json
Labels: manager, v0.9.0

#3912 #3813 Add metrics related methods in Paper
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
Labels: manager, v0.9.0

#3925 #3924 Stream definition's jarKey should be internal
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
Labels: client, streams, v0.9.0

#3929 #3842 rename WorkerClient to ConnectorAdmin
  ohara-agent/src/main/scala/com/island/ohara/agent/WorkerCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/kafka/ConnectorAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/MyConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/Test873.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorCreator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorValidator.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/package.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeConnectorAdmin.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeWorkerCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestFakeConnectorAdmin.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ConnectorTestUtils.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/CsvSourceTestBase.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtp2Ftp.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDataType.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorRecovery.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestMultipleJDBCSourceConnector.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonIn.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/BasicTestsOfJsonOut.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJsonIn.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJsonOut.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSource.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfSourceMetrics.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/BasicTests4Collie.scala
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnDocker.scala
  ohara-it/src/test/scala/com/island/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnK8s.scala
Labels: agent, client, configurator, connector, it, v0.9.0

#3928 #3813 Add a highlight method in Paper
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.9.0

#3930 #3897 [Manager] After viewing the details of the event log, keep the original display position of the event log
  ohara-manager/client/src/components/EventLog/EventLog.js
  ohara-manager/client/src/components/EventLog/EventLogList.js
  ohara-manager/client/src/components/EventLog/EventLogRow.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
Labels: manager, v0.9.0

#3936 #3161 Bumping cypress to the newest version
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#3934 #3933 remove OPTIONAL_WITH_DEFAULT since it duplicates to defaultValue
  docs/src/setting_definition.rst
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-manager/client/src/api/utils/definitionsUtils.js
Labels: common, connector, docs, manager, v0.9.0

#3926 #3813 Tweak onChange sub event types
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
Labels: manager, v0.9.0

#3932 #3931 fix flaky TestControlConnector.testNormalCase
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestControlConnector.scala
Labels: configurator, v0.9.0

#3941 #3933 rename OPTIONAL_WITH_RANDOM_DEFAULT to RANDOM_DEFAULT
  docs/src/rest/rest-inspect.rst
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-manager/client/src/api/utils/definitionsUtils.js
Labels: client, common, docs, kafka, manager, v0.9.0

#3946 #3945 [Manager] the gradle script should not change the yarn.lock file
  ohara-manager/build.gradle
Labels: v0.9.0

#3944 #3943 [Manager] Reverse the order of the buttons in create workspace page
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
Labels: v0.9.0

#3927 #3909 Performance test code key move to PerformanceTestingUtils object
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Jdbc.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Samba.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/PerformanceTestingUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4HdfsSink.scala
Labels: it, v0.9.0

#3935 #3161 Add a test to verify a workspace can be created via quick mode
  ohara-manager/client/cypress/e2e/devToolDialog.test.js
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/cypress/e2e/workspaceQuick.test.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Node/ViewNodeDialog.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
Labels: manager, v0.9.0

#3948 #3947 enable developer to add prefix for RANDOM_DEFAULT
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
Labels: client, common, v0.9.0

#3942 #3161 Add a test to verify the node dialog
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/utils.js
Labels: manager, v0.9.0

#3951 #3950 [Manager] Refine the style of the edit properties page
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialogStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropetyDialog.js
Labels: manager, v0.9.0

#3957 #3956 support to retry the flaky by test-retry-gradle-plugin
  .github/workflows/PostCommit.yml
  build.gradle
Labels: others, v0.9.0

#3955 #3813 Refactor element structure and fix metrics scaling issue
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.9.0

#3958 #3813 Add an onLoad method in Paper for loading data from backend
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
Labels: manager, v0.9.0

#3937 #3913 Added volume argument to running docker container for expose host path
  ohara-it/docker/datanode.dockerfile
  ohara-it/docker/datanode.sh
  ohara-it/docker/ftp-container.sh
  ohara-it/docker/ftp.sh
  ohara-it/docker/hdfs-container.sh
  ohara-it/docker/namenode.dockerfile
  ohara-it/docker/namenode.sh
  ohara-it/docker/oracle-container.sh
  ohara-it/docker/samba-container.sh
  ohara-it/docker/samba.sh
  ohara-it/docker/start-service.sh
  ohara-it/docker/stop-service.sh
Labels: it, v0.9.0

#3959 #3813 Disable action buttons when a Paper element is in the pending state
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
Labels: manager, v0.9.0

#3963 #3962 [Manager] Beautify the topic data view on DevTool
  ohara-manager/client/src/components/DevTool/Body/View/ViewStyles.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/EventLog/EventLogRowStyles.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
Labels: manager, v0.9.0

#3954 #3952 Use jackson-datatype-jdk8 to eliminate the null from json string
  gradle/dependencies.gradle
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-common/build.gradle
  ohara-common/src/main/java/com/island/ohara/common/json/JsonUtils.java
  ohara-common/src/main/java/com/island/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestConnectorKey.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestObjectKey.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestSettingDef.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestTopicKey.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCreation.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingInfo.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestSettingValue.java
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
Labels: client, common, configurator, kafka, manager, others, v0.9.0

#3961 #3812 Initialize paper data with pipeline api and check all cells (co…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropetyDialog.js
Labels: manager, v0.9.0

#3960 #3161 Add a test to verify toolbox of pipeline can be worked normally
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/e2e/workspaceQuick.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/cypress/utils.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.9.0

#3965 #3813 Fix Paper elements status not persistent after a page refresh issue
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
Labels: manager, v0.9.0

#3971 #3813 Refactor Paper for adapting better element event handler binding structure
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
Labels: manager, v0.9.0

#3970 #3969 [Manager] Add eye-catching icons to error event logs
  ohara-manager/client/src/components/EventLog/EventLog.js
  ohara-manager/client/src/components/EventLog/EventLogHeader.js
  ohara-manager/client/src/components/EventLog/EventLogRowStyles.js
  ohara-manager/client/src/components/Layout/AppLayout.js
Labels: manager, v0.9.0

#3972 #3968 [Manager] Shorten the prefix of default workspace name
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/components/Workspace/Create/hooks.js
Labels: manager, v0.9.0

#3974 #3812 Paper Metrics update with pipeline API
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
  ohara-manager/client/src/context/pipeline/pipelineActions.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
  ohara-manager/client/src/context/pipeline/pipelineRoutines.js
Labels: manager, v0.9.0

#3967 #3966 fix flaky oracle-container.sh
  ohara-it/docker/oracle-container.sh
Labels: it, v0.9.0

#3977 #3940 [Manager] fix flaky test of connectorApi
  ohara-manager/client/cypress/configs/cypress.api.json
Labels: manager, v0.9.0

#3976 #3161 Add a test to verify the topic dialog
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/e2e/topicDialog.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/context/worker/workerActions.js
  ohara-manager/client/src/context/zookeeper/zookeeperActions.js
Labels: manager, v0.9.0

#3982 #3975 [Manager] Update paper cells property with onInit event
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
Labels: manager, v0.9.0

#3918 #3881 Add generator data function to sleepUntilEnd function for performance test
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Jdbc.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Samba.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/PerformanceTestingUtils.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4FtpSourceToHDFSSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4JDBCSourceToHDFSSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4JsonOut.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4Oracle.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4SambaSink.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/TestPerformance4SambaSource.scala
Labels: it, v0.9.0

#3964 #3842 Introduce Ohara's partitioner
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/TopicKey.java
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestConnectorRoute.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/Cluster.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/PartitionInfo.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/RowPartitioner.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/TestRowPartitioner.java
Labels: client, common, configurator, kafka, v0.9.0

#3973 #3591 Integrate Shabondi with Configurator
  bin/start-service.sh
  ohara-agent/build.gradle
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/ShabondiCollie.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/docker/ServiceCollieImpl.scala
  ohara-agent/src/main/scala/com/island/ohara/agent/k8s/K8SServiceCollieImpl.scala
  ohara-client/build.gradle
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ClusterStatus.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestShabondiApi.scala
  ohara-configurator/build.gradle
  ohara-configurator/src/main/scala/com/island/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/fake/FakeShabondiCollie.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ObjectChecker.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/route/TestShabondiRoute.scala
  ohara-it/build.gradle
  ohara-it/src/test/scala/com/island/ohara/it/shabondi/TestShabondiK8S.scala
  ohara-shabondi/build.gradle
  ohara-shabondi/src/main/scala/com/island/ohara/shabondi/Config.scala
Labels: agent, client, configurator, it, others, shabondi, v0.9.0

#3988 #3987 [Manager] Cannot get the connector list on initial page load
  ohara-manager/client/src/context/worker/workerActions.js
Labels: manager, v0.9.0

#3980 #3966 fix flaky oracle-container.sh
  ohara-it/docker/oracle-container.sh
Labels: it, v0.9.0

#3997 #3992 [Manager] DevTools use log change to topic fail
  ohara-manager/client/src/components/DevTool/Header/Header.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/const.js
Labels: manager, v0.9.0

#3985 #3983 [Manager] Reset Workspace
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropetyDialog.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/Workspace/Edit/MoreActions.js
  ohara-manager/client/src/components/common/Definitions/Reference.js
Labels: manager, v0.9.0

#3984 #3979 [Manager] Change Paper element layout
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
Labels: manager, v0.9.0

#3998 #3994 [Manager] Topic element force delete
  ohara-manager/client/src/components/Pipeline/Pipeline.js
Labels: manager, v0.9.0

#4003 #3999 [Manager] Using another way to assert the worker is running
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/api/waitApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/worker/workerActions.js
Labels: manager, v0.9.0

#3981 #3161 Add a test to verify the files dialog
  ohara-manager/client/cypress/e2e/fileDialog.test.js
  ohara-manager/client/cypress/e2e/topicDialog.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
Labels: manager, v0.9.0

#4008 #4007 Encourage all to use gradlew rather than gradle
  .github/workflows/PostCommit.yml
  .gitignore
  docker/backend.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docs/src/contributing.rst
  docs/src/how_to_build.rst
  docs/src/manager_dev_guide.rst
  docs/testcase/pipeline-ftp-topic-stream-hdfs.md
  docs/testcase/pipeline-jdbc-topic-stream-topic-hdfs.md
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  ohara-it/src/test/scala/com/island/ohara/it/collie/TestDockerClient.scala
Labels: docs, it, others, v0.9.0

#3996 #3990 Integrate ConnectorVersion with WithDefinition
  docs/src/custom_connector.rst
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/WithDefinitions.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ReflectionUtils.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonOut.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSource.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorVersion.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorVersion.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/SinkWithNullableSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/SourceWithNullableSetting.java
Labels: client, common, configurator, connector, docs, kafka, v0.9.0

#4004 #4002 [Manager] Update pipeline start and stop action buttons to use new Paper APIs
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.9.0

#4006 #4001 In the workspace quick create should be random freePort
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropetyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/SettingDefinitions.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/components/common/Definitions/BindingPort.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinitions.js
Labels: manager, v0.9.0

#4009 #4000 Paper should be stream to stream auto create
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/apiHelperUtils.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.9.0

#4012 #4011 [Manager] Toolbox upload multiple stream some time are failed
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/common/Definitions/ArrayDef.js
Labels: manager, v0.9.0

#4013 #4010 [Manager] Paper element is still being created, the menu should…
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.9.0

#4017 #3815 [Manager] Prevent the user from dropping new cells to Paper when their mouse are hovering on Toolbox
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.9.0

#4019 #4018 [Manager] Don't create a new link when the changes are saved on property dialog close
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.9.0

#4021 #4020 [Manager] Shared topic is not aligned properly with the rest of items in the Toolbox
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.9.0

#3993 #3991 Performance 測試程式 wholeTimeout 需要用 duration time 設定
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/com/island/ohara/it/performance/BasicTestPerformance4Jdbc.scala
Labels: it, v0.9.0

#4028 #4027 [Manager] Shared topic is not saved in the backend
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
Labels: manager, v0.9.0

#4031 #4025 Stream should extend WithDefinitions
  ohara-agent/src/main/scala/com/island/ohara/agent/ServiceCollie.scala
  ohara-client/src/main/scala/com/island/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/configurator/v0/TestStreamApi.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/MyConnector.scala
  ohara-client/src/test/scala/com/island/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-common/src/main/java/com/island/ohara/common/setting/WithDefinitions.java
  ohara-common/src/test/java/com/island/ohara/common/setting/TestWithDefinitions.java
  ohara-configurator/src/main/scala/com/island/ohara/configurator/ReflectionUtils.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/com/island/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/com/island/ohara/configurator/TestOfficialConnectorsDefinition.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/console/ConsoleSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/FtpSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/ftp/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/HDFSSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/hdfs/sink/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jdbc/source/JDBCSourceConnector.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonIn.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/JsonOut.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/jio/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/PerfSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/perf/package.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSink.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/SmbSource.scala
  ohara-connector/src/main/scala/com/island/ohara/connector/smb/package.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/console/TestConsoleSink.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/hdfs/sink/TestHDFSSinkDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jdbc/source/TestJDBCSourceConnectorDefinition.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/jio/TestJioSettings.scala
  ohara-connector/src/test/scala/com/island/ohara/connector/perf/TestPerfDefinition.scala
  ohara-it/src/main/scala/com/island/ohara/it/connector/DumbSinkConnector.scala
  ohara-it/src/main/scala/com/island/ohara/it/connector/DumbSourceConnector.scala
  ohara-it/src/main/scala/com/island/ohara/it/connector/package.scala
  ohara-it/src/test/scala/com/island/ohara/it/code/TestSettingDefinitionsOfDumbConnector.scala
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/ConnectorUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/RowSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/main/java/com/island/ohara/kafka/connector/json/SettingInfo.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/TestConnectorConfigDef.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/SinkWithNullableSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/SourceWithNullableSetting.java
  ohara-kafka/src/test/java/com/island/ohara/kafka/connector/json/TestCoreDefinitions.java
  ohara-streams/src/main/java/com/island/ohara/streams/Stream.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamDefUtils.java
  ohara-streams/src/main/java/com/island/ohara/streams/config/StreamSetting.java
  ohara-streams/src/test/java/com/island/ohara/streams/examples/PageViewRegionExample.java
Labels: agent, client, common, configurator, connector, it, kafka, streams, v0.9.0

#4024 #3797 [Manager] Paper element name should be unique
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.9.0

#4033 #3161 Add a test to verify links of connector and topic can be worked normally
  ohara-manager/client/cypress/e2e/devToolDialog.test.js
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxAddGraphDialog.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
Labels: manager, v0.9.0

#4042 #3161 Add a test to verify the eventLog dialog
  ohara-manager/client/cypress/e2e/eventLogDialog.test.js
  ohara-manager/client/src/components/EventLog/EventLog.js
Labels: manager, v0.9.0

#4030 #3491 [Manager] Add outline section in the Navigator
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Layout/Navigator/NavigatorStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
  ohara-manager/client/src/components/common/Icon/AddSharedTopicIcon.js
  ohara-manager/client/src/const.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#4048 #4047 [Manager] Ensure Paper element's displayed status text is consistent
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
Labels: manager, v0.9.0

#4050 #4035 [Manager] Enable autocomplete for Autofill "key" field
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Autofill/autofillHooks.js
  ohara-manager/client/src/components/Autofill/autofillUtils.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertySpeedDial.js
  ohara-manager/client/src/components/common/Form/AutoComplete.js
  ohara-manager/client/src/components/common/Form/index.js
Labels: manager, v0.9.0

#4052 #3019 change 0.9.0-SNAPSHOT to 0.10.0-SNAPSHOT for master branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
Labels: others, v0.10.0

#4045 #4049 Add a test to verify links of stream, connector and topic can be worked normally
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/e2e/topicDialog.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
Labels: manager, v0.10.0

#4044 #4058 [Manager] Fix Paper center method's wrong position calculation
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
Labels: manager, v0.10.0

#4055 #3995 [Manager] Don't trigger mouseleave event on Paper element's action buttons
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.10.0

#4060 #4016 Added setup data time limit and input data thread for the Performance test
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Jdbc.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Samba.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSourceToHDFSSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JDBCSourceToHDFSSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JsonOut.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4Oracle.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSource.scala
Labels: it, v0.10.0

#4065 #4049 Add a test to verify auto-add topic can be worked normally
  ohara-manager/client/cypress/e2e/devToolDialog.test.js
  ohara-manager/client/cypress/e2e/eventLogDialog.test.js
  ohara-manager/client/cypress/e2e/fileTable.test.js
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/e2e/topicDialog.test.js
  ohara-manager/client/cypress/e2e/workspaceQuick.test.js
Labels: manager, v0.10.0

#4068 #4067 [Manager] Remove the x-axis scrollbar in Toolbox during expanding/collapsing a section
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxStyles.js
Labels: manager, v0.10.0

#4070 #4069 [Manager] fix flaky e2e test of pipeline
  ohara-manager/client/cypress/e2e/pipeline.test.js
Labels: manager, v0.9.0

#4076 #4075 [Manager] cannot start stream in pipeline
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
Labels: manager, v0.10.0

#4056 #3995 [Manager] Don't trigger mouseleave event on Paper element's action bu…
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.9.0

#4074 #4073 change the group of version, revision and author from "common" …
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/main/java/oharastream/ohara/common/setting/WithDefinitions.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestWithDefinitions.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: client, common, kafka, v0.10.0

#4081 #4073 change the group of version, revision and author from "common" …
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/main/java/oharastream/ohara/common/setting/WithDefinitions.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestWithDefinitions.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/json/TestCoreDefinitions.java
Labels: client, common, kafka, v0.9.0

#4059 #4058 [Manager] Fix Paper center method's wrong position calculation
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
Labels: manager, v0.9.0

#4082 #4080 [Manager] Disable the action buttons on the target element when user is attempting to create a new link
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.10.0

#4077 #4075 [Manager] cannot start stream in pipeline
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
Labels: manager, v0.9.0

#4072 #3813 Reset pipeline state when switching between different pipelines
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/connector/connectorReducer.js
  ohara-manager/client/src/context/connector/connectorRoutines.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/stream/StreamContext.js
  ohara-manager/client/src/context/stream/streamReducer.js
  ohara-manager/client/src/context/stream/streamRoutines.js
Labels: manager, v0.10.0

#4086 #4085 [Manager] Creating a workspace fails too frequently
  ohara-manager/client/src/api/utils/waitUtils.js
  ohara-manager/client/src/api/waitApi.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/eventLog/eventLogHooks.js
Labels: manager, v0.10.0

#4089 #4085 [Manager] Creating a workspace fails too frequently
  ohara-manager/client/src/api/utils/waitUtils.js
  ohara-manager/client/src/api/waitApi.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/context/api/workerApi.js
  ohara-manager/client/src/context/eventLog/eventLogHooks.js
Labels: manager, v0.9.0

#4093 #4092 Display more details of error in parsing column type
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.10.0

#4096 #4092 Display more details of error in parsing column type
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestConnectorApi.scala
Labels: client, v0.9.0

#4084 #3813 Reset pipeline state when switching between different pipelines
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineHooks.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/connector/connectorReducer.js
  ohara-manager/client/src/context/connector/connectorRoutines.js
  ohara-manager/client/src/context/pipeline/PipelineContext.js
  ohara-manager/client/src/context/stream/StreamContext.js
  ohara-manager/client/src/context/stream/streamReducer.js
  ohara-manager/client/src/context/stream/streamRoutines.js
Labels: manager, v0.9.0

#4095 #3731 [Manager] Paper cell hover effect is overlapping
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
Labels: manager, v0.10.0

#4104 #4101 Cannot control the stream component after stopping
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.10.0

#4106 #4101 Cannot control the stream component after stopping
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.9.0

#4115 #4113 the source codes of ohara-metrics are placed at incorrect path
  ohara-metrics/src/main/java/oharastream/ohara/metrics/BeanChannel.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/BeanObject.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/kafka/TopicMeter.java
Labels: metrics, v0.10.0

#4114 #4113 the source codes of ohara-metrics are placed at incorrect path
  ohara-metrics/src/main/java/oharastream/ohara/metrics/BeanChannel.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/BeanObject.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/basic/Counter.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/basic/CounterMBean.java
  ohara-metrics/src/main/java/oharastream/ohara/metrics/kafka/TopicMeter.java
Labels: metrics, v0.9.0

#4102 #4091 Manager crashed by an infinite loop
  ohara-manager/client/cypress/e2e/devToolDialog.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
Labels: manager, v0.10.0

#4066 #4015 Added input data number and size for the performance test
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Jdbc.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Samba.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceDataMetricsFile.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSourceToHDFSSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JDBCSourceToHDFSSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JsonOut.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4Oracle.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSource.scala
Labels: it, v0.10.0

#4054 #3949 Pipeline page element property view (render with settings)
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewField.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewFieldStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewUtils.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/index.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.10.0

#4127 #4124 [Manager] Failed to add new key for Autofill
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
Labels: manager, v0.10.0

#4108 #4091 Manager crashed by an infinite loop
  ohara-manager/client/cypress/e2e/devToolDialog.test.js
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
Labels: manager, v0.9.0

#4103 #4105 OBJECT_KEYS and TABLE save has some strange behavior
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/common/Definitions/Table.js
Labels: manager, v0.10.0

#4118 #4107 Reset pipeline state when switching between different pipelines
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/stream/StreamContext.js
Labels: manager, v0.10.0

#4128 #4087 [Manager] Un-added shared topic will be removed after reload page
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
Labels: manager, v0.10.0

#4132 #4107 Reset pipeline state when switching between different pipelines
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/context/connector/ConnectorContext.js
  ohara-manager/client/src/context/stream/StreamContext.js
Labels: manager, v0.9.0

#4130 #4087 [Manager] Un-added shared topic will be removed after reload page
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
Labels: manager, v0.9.0

#4129 #4105 OBJECT_KEYS and TABLE save has some strange behavior
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/common/Definitions/Table.js
Labels: manager, v0.9.0

#4145 #4144 enable to change the default version of services used by Config…
  docker/build.yml
  docker/configurator.dockerfile
  ohara-common/build.gradle
Labels: common, others, v0.10.0

#4150 #4144 enable to change the default version of services used by Configurator image
  docker/build.yml
  docker/configurator.dockerfile
  ohara-common/build.gradle
Labels: common, others, v0.9.0

#4111 #4098 [Manager] Default value of Duration is not displayed in the edit conn…
  ohara-manager/client/src/components/common/Definitions/Duration.js
Labels: manager, v0.10.0

#4136 #4097 [Manager] Tweak the same name warning message if users attempt to create a connector, stream or topic where its name is already taken
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.10.0

#4154 #4139 Failed to inspect topic info after delete topic
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
Labels: manager, v0.10.0

#4133 #3949 Pipeline page element property view (render with settings)
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewField.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewFieldStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewStyles.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewUtils.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/index.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.9.0

#4161 #4139 Failed to inspect topic info after delete topic
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
Labels: manager, v0.9.0

#4126 #4110 Change naming of Type.PORT to Type.REMOTE_PORT in settingDef
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
  ohara-connector/src/main/scala/oharastream/ohara/connector/ftp/package.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/smb/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/common/Definitions/RemotePort.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
Labels: client, common, connector, docs, kafka, manager, v0.9.0

#4120 #4110 Change naming of Type.PORT to Type.REMOTE_PORT in settingDef
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
  ohara-connector/src/main/scala/oharastream/ohara/connector/ftp/package.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/smb/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSinkDefinitions.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSourceDefinitions.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/common/Definitions/RemotePort.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
Labels: client, common, connector, docs, kafka, manager, v0.10.0

#4141 #4099 Connector start failed but status always pending
  ohara-manager/client/src/api/brokerApi.js
  ohara-manager/client/src/api/connectorApi.js
  ohara-manager/client/src/api/streamApi.js
  ohara-manager/client/src/api/topicApi.js
  ohara-manager/client/src/api/utils/waitUtils.js
  ohara-manager/client/src/api/waitApi.js
  ohara-manager/client/src/api/workerApi.js
  ohara-manager/client/src/api/zookeeperApi.js
Labels: manager, v0.9.0

#4160 #4122 [Manager] Metrics data update resets Toolbox's scroll position
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
Labels: manager, v0.10.0

#4167 #4148 [Manager] Multiple pipeline running problem
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
Labels: manager, v0.10.0

#4169 #4164 [Manager] Stop a Paper element action doesn't update element's …
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.10.0

#4134 #4124 [Manager] Failed to add new key for Autofill
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
Labels: manager, v0.9.0

#4157 #4155 [Manager] Pipeline cannot be completely removed with "Delete this pipeline" menu from Toolbar
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.10.0

#4171 #4152 Delete a Paper element should be confirmed
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/common/Dialog/DeleteDialog.js
Labels: manager, v0.10.0

#4117 #4098 [Manager] Default value of Duration is not displayed in the edit conn…
  ohara-manager/client/src/components/common/Definitions/Duration.js
Labels: manager, v0.9.0

#4137 #4097 [Manager] Tweak the same name warning message if users attempt to create a connector, stream or topic where its name is already taken
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.9.0

#4158 #4155 [Manager] Pipeline cannot be completely removed with "Delete this pipeline" menu from Toolbar
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.9.0

#4174 #4138 Ftp source connector create incorrect completed directory after…
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/FileFilter.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/FileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/hdfs/TestHdfsFileSystem.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ConnectorTestUtils.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSourceTestBase.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/storage/FileSystem.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/storage/FileType.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/LocalFileSystem.java
Labels: client, connector, kafka, v0.10.0

#4182 #4180 [Manager] Failed to inspect stream log
  ohara-manager/client/src/api/logApi.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
Labels: manager, v0.10.0

#4183 #4180 [Manager] Failed to inspect stream log
  ohara-manager/client/src/api/logApi.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Header.js
Labels: manager, v0.9.0

#4186 #4138 Ftp source connector create incorrect completed directory after…
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/FileFilter.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/FileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/hdfs/TestHdfsFileSystem.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ConnectorTestUtils.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSinkTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSourceTestBase.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSinkConnector.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/storage/FileSystem.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/storage/FileType.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/LocalFileSystem.java
Labels: client, connector, kafka, v0.9.0

#4184 #4181 [Manager] Prevent workspace creation when no nodes are selected
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
Labels: manager, v0.10.0

#4193 #4109 Failed to inspect topic Info when open new window
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
Labels: manager, v0.10.0

#4194 #4109 Failed to inspect topic Info when open new window
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
Labels: manager, v0.9.0

#4192 #4191 Added sinceSeconds setting to get docker container log for the test
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
Labels: it, v0.10.0
