Repository oharastream/ohara, pull requests merged in 2020-06, with the labels that each got.

#5127 #5125 fix flaky TestAgent#testJaveVersion
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestAgent.scala
Labels: agent, v0.10.0

#5133 #5131 Remove the override arguments from docker-compose build (#5132)
  docker/build.yml
Labels: others, v0.10.0

#5115 #5086 [Manager] Don't treat pipeline component start action failure a…
  ohara-manager/client/src/store/epics/__tests__/connector/startConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/connector/stopConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/startShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/stopShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/startStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopAndDeleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/stopStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/shabondi/startShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/stopShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.11.0

#5136 #5096 Add tests to verify delete workspace works normally
  ohara-manager/client/src/store/epics/__tests__/workspace/deleteWorkspaceEpic.test.js
Labels: manager, v0.11.0

#5129 #5128 ReflectionUtils does not work on Java 11
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ReflectionUtils.scala
Labels: configurator, v0.11.0

#5116 #5078 [Manager] The dragging icon of component in toolbox display inc…
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
Labels: manager, v0.11.0

#5135 #5128 ReflectionUtils does not work on Java 11
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ReflectionUtils.scala
Labels: configurator, v0.10.0

#5124 #5117 Change 0.10.0-SNAPSHOT to 0.10.0 for 0.10.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
  ohara-manager/client/src/api/__mocks__/brokerApi.ts
  ohara-manager/client/src/api/__mocks__/connectorApi.ts
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/__mocks__/shabondiApi.ts
  ohara-manager/client/src/api/__mocks__/streamApi.ts
  ohara-manager/client/src/api/__mocks__/workerApi.ts
  ohara-manager/client/src/api/__mocks__/zookeeperApi.ts
Labels: manager, others, v0.10.0

#5144 #5096 Reviewed skipped e2e tests
  ohara-manager/client/cypress/e2e/fileTable.test.ts
  ohara-manager/client/cypress/e2e/topicDialog.test.ts
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.ts
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
Labels: manager, v0.11.0

#5141 #5140 [Manager] Creates a component to appear count of re-render
  ohara-manager/client/src/components/common/RenderCount.js
Labels: manager, v0.11.0

#5137 #5111 Add some simple filter logic for the testing purpose stream jar
  ohara-it/src/main/scala/oharastream/ohara/it/stream/DumbStream.scala
Labels: it, v0.11.0

#5142 #4026 Drop JDK 8 support and migrate to JDK 11
  build.gradle
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/deps.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
  docs/src/how_to_build.rst
  docs/src/integration_test.rst
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-it/docker/datanode.dockerfile
  ohara-it/docker/ftp.dockerfile
  ohara-it/docker/namenode.dockerfile
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
Labels: agent, docs, it, others, v0.11.0

#5157 #5156 Upgrade gradle from 6.4.1 to 6.5
  docker/deps.dockerfile
  docs/src/how_to_build.rst
  gradle/wrapper/gradle-wrapper.properties
Labels: docs, others, v0.11.0

#5152 #5143 [QA] Add a new task for tests of UI flow
  ohara-manager/build.gradle
  ohara-manager/client/cypress/configs/cypress.it.json
  ohara-manager/client/cypress/it/helloworld.test.ts
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/runApiTests.js
  ohara-manager/scripts/runTests.js
Labels: manager, v0.11.0

#5168 #5167 fix javadoc error of CommonUtils
  ohara-common/src/main/java/oharastream/ohara/common/util/CommonUtils.java
Labels: common, v0.11.0

#5148 #5139 Restart workspace should refer to the backend data at each step
  ohara-manager/client/src/components/Workspace/Settings/DangerZone/RestartWorkspace.js
  ohara-manager/client/src/components/common/Progress/LogProgress.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.11.0

#5165 #5114 Remove the TopicAdmin#topicDescriptions
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeTopicAdmin.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/TopicAdmin.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestTopicAdmin.java
Labels: configurator, kafka, v0.11.0

#5166 #4555 Rename Reference.ZOOKEEPER_CLUSTER to Reference.ZOOKEEPER, Refe…
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectChecker.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/json/TestConnectorDefUtils.java
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-stream/src/main/java/oharastream/ohara/stream/config/StreamDefUtils.java
Labels: client, common, configurator, docs, kafka, manager, shabondi, stream, v0.11.0

#5154 #5106 Bump Manager client dependencies
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/e2e/eventLogDialog.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/e2e/routes.test.ts
  ohara-manager/client/cypress/e2e/workspaceQuick.test.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/package.json
  ohara-manager/client/public/index.html
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Workspace/Card/FileCard.js
  ohara-manager/client/src/components/Workspace/Card/WorkspaceCard.js
  ohara-manager/client/src/components/common/Loader/TableLoader.js
  ohara-manager/client/src/theme/globalStyle.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.11.0

#5170 #5083 [Manager] Retry logic should wrap the action also
  ohara-manager/client/src/store/epics/__tests__/connector/deleteConnectorEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/shabondi/deleteShabondiEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/stream/deleteStreamEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/worker/deleteWorkerEpic.test.js
  ohara-manager/client/src/store/epics/broker/startBrokerEpic.js
  ohara-manager/client/src/store/epics/broker/stopBrokerEpic.js
  ohara-manager/client/src/store/epics/connector/deleteConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/startConnectorEpic.js
  ohara-manager/client/src/store/epics/connector/stopConnectorEpic.js
  ohara-manager/client/src/store/epics/nodeEpics.js
  ohara-manager/client/src/store/epics/shabondi/deleteShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/startShabondiEpic.js
  ohara-manager/client/src/store/epics/shabondi/stopShabondiEpic.js
  ohara-manager/client/src/store/epics/stream/deleteStreamEpic.js
  ohara-manager/client/src/store/epics/stream/startStreamEpic.js
  ohara-manager/client/src/store/epics/stream/stopStreamEpic.js
  ohara-manager/client/src/store/epics/topic/startTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopTopicEpic.js
  ohara-manager/client/src/store/epics/worker/deleteWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/startWorkerEpic.js
  ohara-manager/client/src/store/epics/worker/stopWorkerEpic.js
  ohara-manager/client/src/store/epics/zookeeper/startZookeeperEpic.js
  ohara-manager/client/src/store/epics/zookeeper/stopZookeeperEpic.js
Labels: manager, v0.11.0

#5175 #5139 Support small scale restart workspace
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/const.ts
  ohara-manager/client/src/hooks/restartWorkspaceHooks.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
  ohara-manager/client/src/store/reducers/ui/restartWorkspace.js
Labels: manager, v0.11.0

#5184 #5172 [Manager] Require node information such as username and password in k8s mode
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeCreateDialog.js
  ohara-manager/client/src/components/Node/NodeDetailDialog.js
  ohara-manager/client/src/components/Node/NodeEditorDialog.js
  ohara-manager/client/src/components/Node/NodeInfoTable.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
Labels: manager, v0.11.0

#5178 #4555 Support to GET/DELETE object according to Reference
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ClusterAccess.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ContainerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/FileInfoApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/LogApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ValidationApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ContainerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/LogRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/RouteBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/validation/ValidatorTask.scala
Labels: client, common, configurator, connector, v0.11.0

#5169 #5153 Introduce code coverage to our manager code base
  ohara-manager/.gitignore
  ohara-manager/client/cypress/api/brokerApi.test.ts
  ohara-manager/client/cypress/api/connectorApi.test.ts
  ohara-manager/client/cypress/api/fileApi.test.ts
  ohara-manager/client/cypress/api/inspectApi.test.ts
  ohara-manager/client/cypress/api/logApi.test.ts
  ohara-manager/client/cypress/api/nodeApi.test.ts
  ohara-manager/client/cypress/api/objectApi.test.ts
  ohara-manager/client/cypress/api/pipelineApi.test.ts
  ohara-manager/client/cypress/api/shabondiApi.test.ts
  ohara-manager/client/cypress/api/streamApi.test.ts
  ohara-manager/client/cypress/api/topicApi.test.ts
  ohara-manager/client/cypress/api/validateApi.test.ts
  ohara-manager/client/cypress/api/workerApi.test.ts
  ohara-manager/client/cypress/api/zookeeperApi.test.ts
  ohara-manager/client/cypress/e2e/deleteWorkspace.test.ts
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/e2e/eventLogDialog.test.ts
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/e2e/routes.test.ts
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.ts
  ohara-manager/client/cypress/e2e/workspaceQuick.test.ts
  ohara-manager/client/cypress/plugins/index.js
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/cypress/support/e2eCommands.ts
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/cypress/tsconfig.json
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/cypress/waitUtils.ts
  ohara-manager/client/cypress/webpack.config.js
  ohara-manager/client/package.json
  ohara-manager/client/src/api/brokerApi.ts
  ohara-manager/client/src/api/connectorApi.ts
  ohara-manager/client/src/api/fileApi.ts
  ohara-manager/client/src/api/inspectApi.ts
  ohara-manager/client/src/api/logApi.ts
  ohara-manager/client/src/api/nodeApi.ts
  ohara-manager/client/src/api/objectApi.ts
  ohara-manager/client/src/api/pipelineApi.ts
  ohara-manager/client/src/api/shabondiApi.ts
  ohara-manager/client/src/api/streamApi.ts
  ohara-manager/client/src/api/topicApi.ts
  ohara-manager/client/src/api/utils/apiUtils.ts
  ohara-manager/client/src/api/validateApi.ts
  ohara-manager/client/src/api/workerApi.ts
  ohara-manager/client/src/api/zookeeperApi.ts
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
  ohara-manager/client/src/components/DevTool/hooks.js
  ohara-manager/client/tsconfig.json
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.11.0

#5179 #5171 [Manager] Run Prettier against TypeScript files as well
  ohara-manager/package.json
Labels: manager, v0.11.0

#5183 #5079 [Manager] Tweak pipeline metrics update logic
  ohara-manager/client/src/api/__mocks__/pipelineApi.ts
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
  ohara-manager/client/src/store/reducers/ui/pipeline.js
Labels: manager, v0.11.0

#5185 #5106 Bump NodeJS and Yarn versions
  docker/deps.dockerfile
  docker/manager.dockerfile
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, others, v0.11.0

#5195 #5194 [Manager] Support nested JSON format of topic data in developer…
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
Labels: manager, v0.11.0

#5199 #5106 Fix wrong yarn version in docker files
  docker/deps.dockerfile
  docker/manager.dockerfile
Labels: others, v0.11.0

#5189 #5173 Require to add nodes to Configurator manually instead of seeking nodes automaically
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConfigurator.scala
Labels: configurator, v0.11.0

#5192 #5191 Add nodes parsed from docker arguments to k8s IT envs
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
Labels: it, v0.11.0

#5203 #5197 Use Future.onComplete to replace AdminCleaner
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/AdminCleaner.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/DataChecker.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/PipelineRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ValidationRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
Labels: configurator, v0.11.0

#5201 #5190 [Manager] Remove checking of configurator mode in e2e tests
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/utils.ts
Labels: manager, v0.11.0

#5209 #5079 Fix metrics not correctly handle error issue
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: manager, v0.11.0

#5210 #5153 add UI tests of AppBar
  ohara-manager/client/cypress/e2e/eventLogDialog.test.ts
  ohara-manager/client/cypress/it/appBar.test.ts
  ohara-manager/client/cypress/it/helloworld.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/package.json
  ohara-manager/client/src/api/apiInterface/nodeInterface.ts
  ohara-manager/client/src/components/EventLog/EventLog.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/AppLayout.js
  ohara-manager/client/src/components/Node/NodeTable.js
Labels: manager, v0.11.0

#5214 #5213 Simplify TestCollie to reduce the cluster instances
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
Labels: it, v0.11.0

#5211 #5139 Keep all error messages from API in Event log during restarting workspace
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.11.0

#5146 #5145 [Manager] Add a column to indicate the availability of the stre…
  ohara-manager/client/src/components/Workspace/Settings/pages/StreamJarsPage.js
  ohara-manager/client/src/components/common/Icon/IconWrapper.js
  ohara-manager/client/src/components/common/Icon/index.js
Labels: manager, v0.11.0

#5219 #5217 Remove TestConfiguratorServiceFromNodeApi as it is duplicate to…
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestConfiguratorServiceFromNodeApi.scala
Labels: it, v0.11.0

#5212 #5207 [Configurator] Fake mode should support to inspect topic
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/fake/FakeServiceCollie.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestInspectRoute.scala
Labels: configurator, v0.11.0

#5222 #5079 Recover the metrics update mechanism from HTTP request errors
  ohara-manager/client/src/store/epics/__tests__/pipeline/updatePipelineMetricsEpic.test.js
  ohara-manager/client/src/store/epics/pipeline/updatePipelineMetricsEpic.js
Labels: manager, v0.11.0

#5218 #5216 Remove TestGetNodeWithRunningCluster and TestCollie is responsi…
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestGetNodeWithRunningCluster.scala
Labels: it, v0.11.0

#5220 #5096 Fix skipped pipeline e2e tests
  ohara-manager/.gitignore
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/fixtures/example.json
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/index.js
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/scripts/copyJars.js
Labels: manager, v0.11.0

#5225 #5205 rename K8s.masterUrl to K8s.coordinatorUrl
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/fake/FakeK8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/InspectApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
Labels: agent, client, configurator, it, v0.11.0

#5230 #5205 rename blackList to denyList
  docs/src/rest/rest-files.rst
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-validation.rst
  docs/src/setting_definition.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
  ohara-manager/client/src/api/__mocks__/inspectApi.ts
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/utils/validate.js
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-stream/src/main/java/oharastream/ohara/stream/config/StreamDefUtils.java
Labels: client, common, docs, manager, shabondi, stream, v0.11.0

#5206 #5174 Change the type of password and type of user from Option[String…
  ohara-agent/src/main/scala/oharastream/ohara/agent/RemoteFolderHandler.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/docker/TestVerifyNode.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClientVerify.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SServiceCollieImpl.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/NodeApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestNodeApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/NodeRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestBrokerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestClusterNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestContainerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestNodeNameUpperCaseRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestWorkerRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestZookeeperRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ContainerPlatform.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestRemoteFolderHandler.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteWorkers.scala
Labels: agent, client, configurator, it, v0.11.0

#5236 #5235 Merge TestDockerClient into TestContainerClient
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestDockerClient.scala
Labels: it, v0.11.0

#5240 #5234 Fix flaky TestContainerClient.testVolume (k8s mode)
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SJson.scala
Labels: agent, v0.11.0

#5239 #5238 [Manager] Remove dead code from scriptUtils.js
  ohara-manager/scripts/scriptsUtils.js
Labels: manager, v0.11.0

#5233 #5232 [Manager] Include license header check for TypeScript in Gradle…
  build.gradle
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/src/api/apiInterface/connectorInterface.ts
  ohara-manager/client/src/api/apiInterface/topicInterface.ts
  ohara-manager/client/src/react-app-env.d.ts
Labels: manager, others, v0.11.0

#5229 #5228 [Manager] Create some helpful Observables
  ohara-manager/client/src/observables/__tests__/workers.test.js
  ohara-manager/client/src/observables/index.js
  ohara-manager/client/src/observables/internal/__tests__/retry.test.js
  ohara-manager/client/src/observables/internal/deferApi.ts
  ohara-manager/client/src/observables/internal/retry.ts
  ohara-manager/client/src/observables/internal/strategies.ts
  ohara-manager/client/src/observables/internal/utils.ts
  ohara-manager/client/src/observables/utils.ts
  ohara-manager/client/src/observables/workers.ts
Labels: manager, v0.11.0

#5242 #5241 Rewrite TestShabondi#testCheckBrokerDependencies and TestShabon…
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-it/src/test/scala/oharastream/ohara/it/shabondi/TestShabondi.scala
Labels: configurator, it, v0.11.0

#5244 #5243 [Manager] Fix flaky pipeline e2e tests
  ohara-manager/client/cypress/e2e/deleteWorkspace.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
Labels: manager, v0.11.0

#5245 #5215 fix uncompleted coverage files generated
  ohara-manager/build.gradle
  ohara-manager/client/package.json
  ohara-manager/package.json
  ohara-manager/scripts/runTests.js
Labels: manager, v0.11.0

#5231 #5153 Add IT tests for pipeline list, outline and new pipeline dialog
  ohara-manager/client/cypress/it/navigator.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Layout/Navigator/Outline.js
  ohara-manager/client/src/components/Layout/Navigator/PipelineList.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/common/Dialog/Dialog.js
Labels: manager, v0.11.0

#5237 #5223 [Manager] Refactor copyJar script
  ohara-manager/client/cypress/api/fileApi.test.ts
  ohara-manager/client/cypress/api/inspectApi.test.ts
  ohara-manager/client/cypress/api/logApi.test.ts
  ohara-manager/client/cypress/api/streamApi.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/scripts/copyJars.js
Labels: manager, v0.11.0

#5253 #5252 Inspect topic should be able to present java.sql.Timestamp
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestInspectTopic.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/JsonSupport.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/sink/SinkRouteHandler.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceRouteHandler.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestJsonSupport.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/common/TestRowData.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/sink/TestSinkRoute.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/source/TestSourceRoute.scala
Labels: client, configurator, shabondi, v0.11.0

#5255 #5153 Add general IT tests for settings dialog
  ohara-manager/client/cypress/configs/cypress.it.json
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/cypress/tsconfig.json
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Layout/AppBar.js
  ohara-manager/client/src/components/Layout/Navigator/AddPipelineDialog.js
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxBody.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Topic/index.js
  ohara-manager/client/src/components/common/Form/Checkbox.js
  ohara-manager/package.json
Labels: manager, v0.11.0

#5227 #5139 In any case can enter the setting page to use restart workspace
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
Labels: manager, v0.11.0

#4564 #4563 Retry the connection to remote node when it fails due to tempor…
  ohara-agent/src/main/scala/oharastream/ohara/agent/Agent.scala
  ohara-it/src/test/scala/oharastream/ohara/it/ServiceKeyHolder.scala
Labels: agent, it, v0.11.0

#5261 #5139 Settings restartIndicator automatically determines the restart …
  ohara-manager/client/src/components/Workspace/Settings/SettingsMain.js
Labels: manager, v0.11.0

#5263 #5153 add UI tests for complex devTool operations
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/DevTool/Body/DataWindow.js
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerLog.js
  ohara-manager/client/src/components/DevTool/Header/Controller/ControllerTopic.js
Labels: manager, v0.11.0

#5259 #5153 Add IT tests for Toolbox
  ohara-manager/client/cypress/configs/cypress.e2e.json
  ohara-manager/client/cypress/configs/cypress.it.json
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/navigator/outline.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/PaperStyles.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxBody.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxSearch.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxUtils.js
  ohara-manager/client/src/components/Topic/TopicDetailDialog.js
  ohara-manager/client/src/components/Workspace/Settings/Settings.js
  ohara-manager/client/src/components/common/Form/Button.js
Labels: manager, v0.11.0

#5271 #5270 Add a helper class to collect definitions to build zookeeper, b…
  ohara-agent/src/main/scala/oharastream/ohara/agent/BrokerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/WorkerCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/ZookeeperCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/DefinitionCollector.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestTopicApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestWorkerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.11.0

#5273 #5267 All user-defined fields which are duplicate to runtime fields s…
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefiner.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ZookeeperApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestZookeeperRoute.scala
Labels: client, configurator, v0.11.0

#5278 #5153 Add IT tests for Toolbar
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
Labels: manager, v0.11.0

#5275 #5274 fix flaky RemoteFolderHandler#exist catch exception message
  ohara-agent/src/main/scala/oharastream/ohara/agent/Agent.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/RemoteFolderHandler.scala
Labels: agent, v0.11.0

#5283 #5265 [Manager] Delete node should wait for node actually removed before close dialog
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/src/components/Layout/NodeListDialog.js
  ohara-manager/client/src/components/Node/NodeDeleteDialog.js
  ohara-manager/client/src/components/Node/NodeRemoveDialog.js
  ohara-manager/client/src/components/Node/NodeTable.js
  ohara-manager/client/src/components/Node/index.js
  ohara-manager/client/src/components/Workspace/Settings/pages/BrokerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkerNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/WorkspaceNodesPage.js
  ohara-manager/client/src/components/Workspace/Settings/pages/ZookeeperNodesPage.js
  ohara-manager/client/src/hooks/nodeHooks.js
  ohara-manager/client/src/store/epics/__tests__/nodeEpics.test.js
  ohara-manager/client/src/store/epics/nodeEpics.js
Labels: manager, v0.11.0

#5287 #5163 remove doc dependencies from deps image
  .github/workflows/PostCommit.yml
  docker/deps.dockerfile
Labels: others, v0.11.0

#5264 #5258 [Manager]Support same name file upload to workspace
  ohara-manager/client/src/api/__mocks__/fileApi.ts
  ohara-manager/client/src/store/epics/__tests__/file/createFileEpic.test.js
  ohara-manager/client/src/store/epics/broker/updateBrokerEpic.js
  ohara-manager/client/src/store/epics/file/createFileEpic.js
  ohara-manager/client/src/store/epics/worker/updateWorkerEpic.js
  ohara-manager/client/src/store/epics/workspace/restartWorkspaceEpic.js
  ohara-manager/client/src/store/epics/workspace/updateWorkspaceEpic.js
  ohara-manager/client/src/store/epics/zookeeper/updateZookeeperEpic.js
Labels: manager, v0.11.0

#5277 #5161 [Manager] Fix delete workspace progress dialog showing up during restarting workspace
  ohara-manager/client/cypress/e2e/deleteWorkspace.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
  ohara-manager/client/src/store/actions/deleteWorkspaceActions.js
  ohara-manager/client/src/store/epics/__tests__/workspace/deleteWorkspaceEpic.test.js
  ohara-manager/client/src/store/epics/workspace/deleteWorkspaceEpic.js
  ohara-manager/client/src/store/reducers/ui/deleteWorkspace.js
Labels: manager, v0.11.0

#4575 #4460 Added mount volume to create pod for the K8SClient and DockerClient
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/BasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/docker/DockerClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SBasicCollieImpl.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/docker/TestContainerCreator.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestContainerClient.scala
Labels: agent, it, v0.11.0

#5286 #5284 BasicCreation ought to offer default implementation for each me…
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/StreamCollie.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestBrokerCreator.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestStreamCreator.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestWorkerCreator.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/TestZookeeperCreator.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BasicCreation.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterCreation.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterInfo.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ZookeeperApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestNodeApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestPipelineApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestTopicApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestWorkerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestZookeeperApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/FileInfoRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestTopicRoute.scala
Labels: agent, client, configurator, v0.11.0

#5288 #5163 remove docs folder
  .readthedocs.yml
  docs/Makefile
  docs/README.md
  docs/requirements.txt
  docs/src/conf.py
  docs/src/contrib-docs/_include/RowSourceConnector.java
  docs/src/contrib-docs/_include/sample.json
  docs/src/contrib-docs/build_docs.rst
  docs/src/contrib-docs/index.rst
  docs/src/contrib-docs/quick_example.rst
  docs/src/contributing.rst
  docs/src/custom_connector.rst
  docs/src/custom_stream.rst
  docs/src/docker.rst
  docs/src/how_to_build.rst
  docs/src/images/configurator_arch.jpg
  docs/src/images/csv_sink_connector_arch.png
  docs/src/images/nodes.png
  docs/src/images/ohara-logo.png
  docs/src/images/pipelines.png
  docs/src/images/pipelines_new.png
  docs/src/images/shabondi-pipeline.png
  docs/src/images/workspaces.png
  docs/src/images/workspaces_nodes.png
  docs/src/images/workspaces_overview.png
  docs/src/images/workspaces_stream_jars.png
  docs/src/images/workspaces_topics.png
  docs/src/index.rst
  docs/src/integration_test.rst
  docs/src/manager_dev_guide.rst
  docs/src/rest/index.rst
  docs/src/rest/rest-brokers.rst
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-containers.rst
  docs/src/rest/rest-files.rst
  docs/src/rest/rest-inspect.rst
  docs/src/rest/rest-logs.rst
  docs/src/rest/rest-nodes.rst
  docs/src/rest/rest-objects.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-shabondi.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-topics.rst
  docs/src/rest/rest-validation.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  docs/src/setting_definition.rst
  docs/src/shabondi.rst
  docs/src/user_guide.rst
  docs/testcase/ohara-installation.md
  docs/testcase/pipeline-ftp-topic-stream-hdfs.md
  docs/testcase/pipeline-jdbc-topic-ftp.md
  docs/testcase/pipeline-jdbc-topic-stream-topic-hdfs.md
Labels: others, v0.11.0

#5296 #5290 add unit test to confirm that deleted object should not be read…
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestConcurrentAccess.scala
Labels: configurator, v0.11.0

#5300 #5299 Remove "rejectEmptyString" from JsonRefinerBuilder as empty str…
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestJsonRefiner.scala
Labels: client, v0.11.0

#5298 #5297 Move the default implementation from ClusterInfo To Data
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterInfo.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/FileInfoApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ZookeeperApi.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/store/FakeClusterInfo.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/store/SimpleData.scala
Labels: client, configurator, v0.11.0

#5293 #5266 [Manager] Remove node should be disabled if there was service on it
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/defaultCommands.ts
  ohara-manager/client/src/components/Layout/NodeListDialog.js
Labels: manager, v0.11.0

#5304 #5291 Create a special API to delete all objects with the same group
  ohara-client/src/main/scala/oharastream/ohara/client/HttpExecutor.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PrivateApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/Configurator.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/ConfiguratorBuilder.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/store/DataStore.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/store/RocksDataStore.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestNodeRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestPrivateRoute.scala
Labels: client, configurator, v0.11.0

#5294 #5282 Update docs site related content
  .github/pull_request_template.md
  README.md
  images/pipeline_screenshot.jpg
  kubernetes/README.md
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestApiUrl.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/common/ShabondiUtils.scala
Labels: configurator, others, shabondi, v0.11.0

#5305 #5153 Add IT test for danger zone of settings dialog
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/src/components/Node/NodeSelectorDialog.js
  ohara-manager/client/src/components/Workspace/Settings/SettingsHooks.js
Labels: manager, v0.11.0

#5307 #5306 Add BasicUpdating to carry all common methods for all updating …
  ohara-agent/src/main/scala/oharastream/ohara/agent/ShabondiCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SJson.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BasicUpdating.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterUpdating.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ContainerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/FileInfoApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/NodeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/PipelineApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ValidationApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ZookeeperApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/package.scala
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/ConnectorAdmin.scala
  ohara-client/src/main/scala/oharastream/ohara/client/kafka/WorkerJson.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestBrokerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestFileInfoApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestInspectApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestNodeApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestShabondiApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestStreamApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestTopicApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestWorkerApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestWorkerJson.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/BrokerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ObjectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/StreamRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/TopicRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/WorkerRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ZookeeperRoute.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/validation/ValidatorTask.scala
Labels: agent, client, configurator, connector, v0.11.0

#5303 #5302 Remove ArrayRestriction and rejectEmptyArray()
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestJsonRefiner.scala
Labels: client, v0.11.0

#5309 #5308 Remove package.noJsNull as it is covered by json refiner
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BasicCreation.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BasicUpdating.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/BrokerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterCreation.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterInfo.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ClusterUpdating.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ConnectorApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/Data.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/FileInfoApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/JsonRefiner.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/JsonRefinerBuilder.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ObjectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ShabondiApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/StreamApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/TopicApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/WorkerApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/ZookeeperApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestInspectRoute.scala
Labels: client, configurator, v0.11.0

#5317 #5316 Upgrade scala from 2.13.2 to 2.13.3
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  gradle/dependencies.gradle
  ohara-agent/src/main/scala/oharastream/ohara/agent/DataCollie.scala
  ohara-agent/src/main/scala/oharastream/ohara/agent/k8s/K8SClient.scala
  ohara-agent/src/test/scala/oharastream/ohara/agent/k8s/TestK8SClient.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/DataChecker.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/store/TestRocksDataStore.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/jdbc/source/TestDBTableDataProvider.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/TestKit.scala
Labels: agent, configurator, connector, it, others, shabondi, v0.11.0

#5319 #5318 Fix broken link in README.md
  README.md
Labels: others, v0.11.0

#5292 #5153 Add IT tests for Property view
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/propertyView.test.ts
  ohara-manager/client/cypress/it/paper/toolbar.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/utils.ts
  ohara-manager/client/src/api/apiInterface/connectorInterface.ts
  ohara-manager/client/src/api/apiInterface/topicInterface.ts
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/MetricsPanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/NodePanel.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/SettingsPanel.js
  ohara-manager/client/src/components/common/Snackbar/Snackbar.js
Labels: manager, v0.11.0

#5313 #5221 [Manager] Delete the fail topic when creating a new topic on Pa…
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/store/epics/__tests__/topic/createAndStartTopicEpic.test.js
  ohara-manager/client/src/store/epics/__tests__/topic/stopAndDeleteTopicEpic.test.js
  ohara-manager/client/src/store/epics/topic/createAndStartTopicEpic.js
  ohara-manager/client/src/store/epics/topic/startTopicEpic.js
  ohara-manager/client/src/store/epics/topic/stopAndDeleteTopicEpic.js
Labels: manager, v0.11.0

#5312 #5289 [Manager] Use all uppercase for buttons and tabs text
  ohara-manager/client/cypress/e2e/deleteWorkspace.test.ts
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/e2e/eventLogDialog.test.ts
  ohara-manager/client/cypress/e2e/nodeDialog.test.ts
  ohara-manager/client/cypress/e2e/pipeline.test.ts
  ohara-manager/client/cypress/e2e/restartWorkspace.test.ts
  ohara-manager/client/cypress/e2e/routes.test.ts
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.ts
  ohara-manager/client/cypress/e2e/workspaceQuick.test.ts
  ohara-manager/client/cypress/it/appBar/appBar.test.ts
  ohara-manager/client/cypress/it/appBar/devTool.test.ts
  ohara-manager/client/cypress/it/appBar/eventLog.test.ts
  ohara-manager/client/cypress/it/appBar/nodeList.test.ts
  ohara-manager/client/cypress/it/navigator/pipelineList.test.ts
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/it/paper/toolbox.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
  ohara-manager/client/cypress/support/pipelineCommands.ts
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Autofill/AutofillList.js
  ohara-manager/client/src/components/EventLog/EventLogSettings.js
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/ReviewForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupBrokerForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupNodesForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkerForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/SetupZookeeperForm.js
  ohara-manager/client/src/components/Workspace/Settings/RestartIndicator.js
  ohara-manager/client/src/components/Workspace/Settings/common/WorkspaceFileSelectorDialog.js
  ohara-manager/client/src/context/devTool/const.js
Labels: manager, v0.11.0

#5323 #4621 add Volume route - Get, List, Delete And Update
  ohara-agent/src/main/scala/oharastream/ohara/agent/ServiceCollie.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/VolumeApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestVolumeApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/VolumeRoute.scala
Labels: agent, client, configurator, v0.11.0

#5326 #5153 Add IT tests for files of settings dialog
  ohara-manager/client/cypress/it/navigator/settings.test.ts
  ohara-manager/client/cypress/support/customCommands.ts
Labels: manager, v0.11.0

#5324 #5301 add the testing report type of json-summary to QA
  ohara-manager/client/package.json
Labels: manager, v0.11.0

#5332 #5331 Simplify PR checklist
  .github/pull_request_template.md
  README.md
Labels: others, v0.11.0

#5338 #5330 [Manager] Fix Element menu not showing up during the mouse over…
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.11.0

#5340 #5339 Remove TopicKey#toJsonString and TopicKey#toTopicKey
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/TestConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/MyConnectorTask.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSinkConnector.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSinkTask.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSourceConnector.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/SimpleRowSourceTask.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/Test873.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestConnectorAdmin.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/TestDataTransmissionOnCluster.scala
  ohara-client/src/test/scala/oharastream/ohara/client/kafka/package.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/TopicKey.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestTopicKey.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/TaskSetting.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestPageViewRegionExample.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestSumExample.java
  ohara-stream/src/test/java/oharastream/ohara/stream/TestWordCountExample.java
Labels: client, common, kafka, stream, v0.11.0
