Repository oharastream/ohara, pull requests merged in 2020-03, with the labels that each got.

#4188 #4123 [Manager] Tweak Paper's zoom levels
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.10.0

#4163 #4122 [Manager] Metrics data update resets Toolbox's scroll position
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
Labels: manager, v0.9.0

#4170 #4164 [Manager] Stop a Paper element action doesn't update element's …
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
Labels: manager, v0.9.0

#4185 #4181 [Manager] Prevent workspace creation when no nodes are selected
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
Labels: manager, v0.9.0

#4189 #4123 [Manager] Tweak Paper's zoom levels
  ohara-manager/client/src/components/Pipeline/Toolbar/Toolbar.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
Labels: manager, v0.9.0

#4205 #4204 Minor: a vertical line in the TOPICS tab
  ohara-manager/client/src/components/common/Table/Table.js
Labels: manager, v0.10.0

#4197 #4173 [Manager] Disable certain action buttons for different Paper element state
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewStyles.js
  ohara-manager/client/src/components/Pipeline/PipelineStyles.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.10.0

#4206 #4204 Minor: a vertical line in the TOPICS tab
  ohara-manager/client/src/components/common/Table/Table.js
Labels: manager, v0.9.0

#4201 #4173 [Manager] Disable certain action buttons for different Paper element state
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createConnectorCell.js
  ohara-manager/client/src/components/Pipeline/Paper/cell/createTopicCell.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/connector.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/stream.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewStyles.js
  ohara-manager/client/src/components/Pipeline/PipelineStyles.js
  ohara-manager/client/src/theme/muiTheme.js
Labels: manager, v0.9.0

#4210 #4209 [Manager] Prevent Paper's dragging event interfering with Toolbox
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.10.0

#4207 #4199 [Manager] Hide the upload button in source and sink panels from Toolbox
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
Labels: manager, v0.10.0

#4200 #4187 [Manager] Convert to correct type of settings in pipeline component
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/common/Definitions/ObjectKey.js
  ohara-manager/client/src/components/common/Definitions/ObjectKeys.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/Tags.js
Labels: manager, v0.10.0

#4208 #4199 [Manager] Hide the upload button in source and sink panels from Toolbox
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/Toolbox.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
Labels: manager, v0.9.0

#4211 #4209 [Manager] Prevent Paper's dragging event interfering with Toolbox
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
Labels: manager, v0.9.0

#4231 #4226 Change the log level of TopicPartitionWriter#rotateOnTime from INFO to DEBUG
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/sink/TopicPartitionWriter.java
Labels: kafka, v0.10.0

#4233 #4226 Change the log level of TopicPartitionWriter#rotateOnTime from INFO to DEBUG
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/sink/TopicPartitionWriter.java
Labels: kafka, v0.9.0

#4230 #4228 [Manager] Fix create workspace button title
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
Labels: manager, v0.9.0

#4214 #4176 [Manager] Topics not added to the Pipeline should not appear in the edit properties
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
Labels: manager, v0.10.0

#4195 #4165 [Manager] Property view's metrics and node name info are not sh…
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/context/connector/connectorReducer.js
  ohara-manager/client/src/context/stream/streamReducer.js
Labels: manager, v0.10.0

#4229 #4228 [Manager] Fix create workspace button title
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/cypress/e2e/routes.test.js
  ohara-manager/client/cypress/support/defaultCommands.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
Labels: manager, v0.10.0

#4168 #4148 [Manager] Multiple pipeline running problem
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
  ohara-manager/client/src/context/pipeline/pipelineReducer.js
Labels: manager, v0.9.0

#4172 #4152 Delete a Paper element should be confirmed
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/common/Dialog/DeleteDialog.js
Labels: manager, v0.9.0

#4196 #4165 [Manager] Property view's metrics and node name info are not sh…
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/context/connector/connectorReducer.js
  ohara-manager/client/src/context/stream/streamReducer.js
Labels: manager, v0.9.0

#4220 #4175 [Manager] Failed to start topic when there are not enough brokers
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/utils/__tests__/validate.test.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.10.0

#4234 #4175 [Manager] Failed to start topic when there are not enough brokers
  ohara-manager/client/src/components/Layout/Navigator/Navigator.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/components/Topic/AddTopicDialog.js
  ohara-manager/client/src/components/Workspace/Create/WorkspaceQuick.js
  ohara-manager/client/src/context/broker/brokerActions.js
  ohara-manager/client/src/utils/__tests__/validate.test.js
  ohara-manager/client/src/utils/validate.js
Labels: manager, v0.9.0

#4215 #4176 [Manager] Topics not added to the Pipeline should not appear in the edit properties
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
Labels: manager, v0.9.0

#4202 #4187 [Manager] Convert to correct type of settings in pipeline component
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/common/Definitions/ObjectKey.js
  ohara-manager/client/src/components/common/Definitions/ObjectKeys.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
  ohara-manager/client/src/components/common/Definitions/Tags.js
Labels: manager, v0.9.0

#4242 #4236 [Manager] Paper elements' start button should be disabled if it's already running
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
Labels: manager, v0.10.0

#4239 #4125 Performance test 在 connector 設定多個 tasks，metrics data 會被覆寫
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceReport.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformanceReport.scala
Labels: it, v0.9.0

#4244 #4236 [Manager] Paper elements' start button should be disabled if it's already running
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
Labels: manager, v0.9.0

#4212 #4125 Performance test 在 connector 設定多個 tasks，metrics data 會被覆寫
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceReport.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformanceReport.scala
Labels: it, v0.10.0

#4238 #4227 [Manager] Remove the cleanup mechanism from Paper's init function
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/waitApi.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/utils/__tests__/common.test.js
  ohara-manager/client/src/utils/common.js
Labels: manager, v0.10.0

#4250 #4248 Throwing IllegalArgumentException instead of NoSuchElementExcep…
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ConnectorTestUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Ftp.scala
Labels: client, connector, it, v0.10.0

#4241 #4227 [Manager] Remove the cleanup mechanism from Paper's init function
  ohara-manager/client/cypress/support/e2eCommands.js
  ohara-manager/client/src/api/utils/apiUtils.js
  ohara-manager/client/src/api/waitApi.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/pipeline.js
  ohara-manager/client/src/components/Pipeline/Toolbar/ToolbarHooks.js
  ohara-manager/client/src/utils/__tests__/common.test.js
  ohara-manager/client/src/utils/common.js
Labels: manager, v0.9.0

#4245 #4237 [Manager] Disable the delete button in topic's detail view if it's already used in a pipeline
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.js
  ohara-manager/client/src/components/Topic/TopicList.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
Labels: manager, v0.10.0

#4258 #4248 Throwing IllegalArgumentException instead of NoSuchElementExcep…
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ConnectorTestUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Ftp.scala
Labels: client, connector, it, v0.9.0

#4249 #4190 [Manager] Hide the group info from Property view
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewField.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewUtils.js
Labels: manager, v0.10.0

#4243 #4219 Cache the file paths to reduce the count of expensive LIST operations
  ohara-connector/src/main/scala/oharastream/ohara/connector/ftp/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSourceConnector.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvConnectorDefinitions.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceConnector.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/source/CsvSourceConfig.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/TestCsvSourceTask.java
Labels: connector, kafka, v0.10.0

#4264 #4190 [Manager] Hide the group info from Property view
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/Pipeline.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewField.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyViewUtils.js
Labels: manager, v0.9.0

#4246 #4237 [Manager] Disable the delete button in topic's detail view if it's already used in a pipeline
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/cypress/e2e/workpsaceSettings.test.js
  ohara-manager/client/src/components/Topic/TopicList.js
  ohara-manager/client/src/components/Topic/ViewTopicDialog.js
  ohara-manager/client/src/components/Workspace/Edit/EditWorkspace.js
  ohara-manager/client/src/components/common/Dialog/FullScreenDialog.js
Labels: manager, v0.9.0

#4272 #4267 [Manager] Toolbox被log畫面擋住，沒有卷軸可以使用
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/PipelineStyles.js
Labels: manager, v0.10.0

#4270 #4269 the helper scripts used to create containers on remote node alw…
  ohara-it/docker/ftp-container.sh
  ohara-it/docker/oracle-container.sh
  ohara-it/docker/samba-container.sh
Labels: it, v0.10.0

#4273 #4267 [Manager] Toolbox被log畫面擋住，沒有卷軸可以使用
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/PipelineStyles.js
Labels: manager, v0.9.0

#4275 #4268 [Manager] Move snackbar displaying position to screen's top right-hand corner
  ohara-manager/client/src/context/SnackbarContext.js
Labels: manager, v0.10.0

#4271 #4263 Node list columns display incorrect when node is dead
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
Labels: manager, v0.10.0

#4259 #4251 [Manager] Nodes page need display node state
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
Labels: manager, v0.10.0

#4284 #4283 TopicPartition should implement toString()
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/TopicPartition.java
Labels: kafka, v0.10.0

#4285 #4269 the helper scripts used to create containers on remote node alw…
  ohara-it/docker/ftp-container.sh
  ohara-it/docker/oracle-container.sh
  ohara-it/docker/samba-container.sh
Labels: it, v0.9.0

#4277 #4274 [Manager] Create two topics at the same time in Paper will break the UI
  ohara-manager/client/src/components/Pipeline/PipelineApiHelper/topic.js
Labels: manager, v0.9.0

#4290 #4289 Remove hdfs package object for the HDFS sink connector
  ohara-connector/src/main/scala/oharastream/ohara/connector/hdfs/hdfs.scala
Labels: connector, v0.10.0

#4279 #4251 [Manager] Nodes page need display node state
  ohara-manager/client/cypress/e2e/nodeDialog.test.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/common/Table/SelectTable.js
Labels: manager, v0.9.0

#4282 #4261 HDFS Sink Connector 需要設定副本的參數
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/hdfs/sink/HDFSSink.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/hdfs/sink/HDFSSinkProps.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/hdfs/sink/HDFSSinkTask.scala
  ohara-connector/src/main/scala/oharastream/ohara/connector/hdfs/sink/package.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/hdfs/sink/TestHDFSSinkConfig.scala
Labels: client, connector, v0.10.0

#4291 #4283 TopicPartition should implement toString() (#4284)
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/TopicPartition.java
Labels: kafka, v0.9.0

#4293 #4292 fix flaky TestProducerToConsumer#testOffset
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestProducerToConsumer.java
Labels: kafka, v0.10.0

#4280 #4263 Node list columns display incorrect when node is dead
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
Labels: manager, v0.9.0

#4302 #4292 fix flaky TestProducerToConsumer#testOffset (#4293)
  ohara-kafka/src/test/java/oharastream/ohara/kafka/TestProducerToConsumer.java
Labels: kafka, v0.9.0

#4276 #4268 [Manager] Move snackbar displaying position to screen's top right-hand corner
  ohara-manager/client/src/context/SnackbarContext.js
Labels: manager, v0.9.0

#4295 #4262 [Manager] Fix scroll bar position is being reset when scrolling upward in Developer tools' log panel
  ohara-manager/client/src/components/DevTool/Body/View/ViewLog.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
Labels: manager, v0.10.0

#4287 #4278 [Manager] 如果現在UI嚴格限制只能1-to-1的話，那在連線後就應該把"連線"的按鈕遮掉
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
Labels: manager, v0.10.0

#4300 #4294 the data from inspecting topic should be in descending order
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestInspectTopic.scala
Labels: configurator, v0.10.0

#4307 #4294 the data from inspecting topic should be in descending order (#…
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestInspectTopic.scala
Labels: configurator, v0.9.0

#4308 #4306 [Manager] Ensure the alignment is correct in DevTools' topic panel
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
Labels: manager, v0.10.0

#4309 #4306 [Manager] Ensure the alignment is correct in DevTools' topic panel
  ohara-manager/client/src/components/DevTool/Body/View/ViewTopic.js
Labels: manager, v0.9.0

#4305 #4304 Return error message if fetch request is failed
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/FallibleSink.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/FallibleSinkTask.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestErrorMessageOfConnector.scala
Labels: configurator, v0.10.0

#4317 #4304 Return error message if fetch request is failed
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/FallibleSink.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/FallibleSinkTask.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestErrorMessageOfConnector.scala
Labels: configurator, v0.9.0

#4299 #4262 [Manager] Fix scroll bar position is being reset when scrolling upward in Developer tools' log panel
  ohara-manager/client/src/components/DevTool/Body/View/ViewLog.js
  ohara-manager/client/src/components/common/List/VirtualizedList.js
Labels: manager, v0.9.0

#4315 #4312 the fields in settings should NOT override runtime information
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
Labels: client, configurator, v0.10.0

#4321 #4310 Add the aliveNodes to ConnectorInfo to show the nodes hosting e…
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
Labels: client, configurator, docs, v0.10.0

#4260 #4257 Enable to configure the hdfs replica in performance test
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Ftp.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance4Samba.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSourceToHDFSSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4HdfsSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JDBCSourceToHDFSSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4JsonOut.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4Oracle.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4PerfSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSink.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformanceReport.scala
Labels: it, v0.10.0

#4288 #4278 [Manager] 如果現在UI嚴格限制只能1-to-1的話，那在連線後就應該把"連線"的按鈕遮掉
  ohara-manager/client/cypress/e2e/pipeline.test.js
  ohara-manager/client/src/components/Pipeline/Paper/Paper.js
  ohara-manager/client/src/components/Pipeline/Paper/PaperUtils.js
Labels: manager, v0.9.0

#4327 #4323 [Docs] Add the missing instruction for installing python dependencies
  docs/src/contrib-docs/build_docs.rst
  docs/src/index.rst
Labels: docs, v0.10.0

#4328 #4323 [Docs] Add the missing instruction for installing python dependencies
  docs/src/contrib-docs/build_docs.rst
  docs/src/index.rst
Labels: docs, v0.9.0

#4311 #4281 Fix file doesn't exist for the ftp source connector
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpClient.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/ftp/FtpFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/hdfs/HdfsFileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-common/src/main/java/oharastream/ohara/common/exception/NoSuchFileException.java
  ohara-connector/src/test/scala/oharastream/ohara/connector/ConnectorTestUtils.scala
  ohara-connector/src/test/scala/oharastream/ohara/connector/ftp/TestFtpSourceTask.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/csv/CsvSourceTask.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/LocalFileSystem.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/TestCsvSourceTask.java
Labels: client, common, connector, kafka, v0.10.0

#4324 #4312 the fields in settings should NOT override runtime information …
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
Labels: client, configurator, v0.9.0

#4325 #4310 Add the "aliveNodes" to ConnectorInfo to show the nodes hosting…
  docs/src/rest/rest-connectors.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestConnectorApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ConnectorRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/TestControlConnector.scala
Labels: client, configurator, docs, v0.9.0

#4336 #4335 Introduce maven-plugin
  build.gradle
Labels: others, v0.10.0

#4338 #4049 Add missing e2e tests
  ohara-manager/client/cypress/e2e/devToolDialog.test.ts
  ohara-manager/client/cypress/e2e/eventLogDialog.test.ts
  ohara-manager/client/cypress/support/e2eCommands.ts
  ohara-manager/client/src/api/inspectApi.ts
  ohara-manager/client/src/api/utils/apiUtils.ts
  ohara-manager/client/src/context/api/topicApi.js
Labels: manager, v0.10.0

#4319 #4318 Remove prefix name for the OharaException implement
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/FileSystem.scala
  ohara-client/src/main/scala/oharastream/ohara/client/filesystem/smb/SmbFileSystem.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/FileSystemTestBase.scala
  ohara-client/src/test/scala/oharastream/ohara/client/filesystem/hdfs/TestHdfsFileSystem.scala
  ohara-common/src/main/java/oharastream/ohara/common/exception/ConfigException.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/Exception.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/ExceptionHandler.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/ExecutionException.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/FileAlreadyExistsException.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/FileSystemException.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/InterruptedException.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/NoSuchFileException.java
  ohara-common/src/main/java/oharastream/ohara/common/exception/TimeoutException.java
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/exception/TestExceptionHandler.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
  ohara-it/src/test/scala/oharastream/ohara/it/collie/BasicTests4Collie.scala
  ohara-kafka/src/main/java/oharastream/ohara/kafka/connector/json/ConnectorDefUtils.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/LocalFileSystem.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/WithMockStorage.java
  ohara-kafka/src/test/java/oharastream/ohara/kafka/connector/csv/source/WithFakeStorage.java
  ohara-streams/src/main/java/oharastream/ohara/streams/Stream.java
Labels: client, common, it, kafka, streams, v0.10.0

#4337 #4332 [Manager]Incorrect node items
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
Labels: manager, v0.9.0

#4316 #4313 [Manager] Unavailable nodes should NOT be selectable
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
Labels: manager, v0.9.0

#4314 #4313 [Manager] Unavailable nodes should NOT be selectable
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/common/Progress/Percentage.js
Labels: manager, v0.10.0

#4345 #4340 [Manager] Adjust taskStatus structure of connector from API
  ohara-manager/client/cypress/api/connectorApi.test.ts
  ohara-manager/client/src/api/apiInterface/connectorInterface.ts
Labels: manager, v0.10.0

#4344 #4342 auto-compile both .js and .ts source code file
  ohara-manager/client/tsconfig.json
  ohara-manager/package.json
  ohara-manager/yarn.lock
Labels: manager, v0.10.0

#4352 #4320 remove nodeName from ConnectorInfo
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ConnectorApi.scala
Labels: client, v0.10.0

#4356 #4355 remove duplicate code of uploading binary
  ohara-metrics/build.gradle
Labels: metrics, v0.10.0

#4359 #4341 [Manager] Address several security issues
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: manager, v0.9.0

#4361 #4341 [Manager] Address several security issues
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: manager, v0.10.0

#4354 #4353 update scala from 2.12.10 to 2.12.11
  gradle/dependencies.gradle
Labels: others, v0.10.0

#4365 #4364 add label to intermediate image used by multi-stage build to en…
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.10.0

#4366 #4364 add label to intermediate image used by multi-stage build to enable jenkins to remove the unused images precisely
  docker/backend.dockerfile
  docker/broker.dockerfile
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/shabondi.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  docker/zookeeper.dockerfile
Labels: others, v0.9.0

#4360 #4320 [Manager] fix failed connector tests
  ohara-manager/client/cypress/api/connectorApi.test.ts
Labels: manager, v0.10.0

#4362 #4355 remove duplicate code of uploading binary
  ohara-metrics/build.gradle
Labels: metrics, v0.9.0

#4357 #4351 [Manager] Use the correct definition from stream to render Property dialog
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/context/api/streamApi.js
Labels: manager, v0.10.0

#4358 #4351 [Manager] Use the correct definition from stream to render Property dialog
  ohara-manager/client/src/components/Pipeline/Toolbox/ToolboxHooks.js
  ohara-manager/client/src/context/api/streamApi.js
Labels: manager, v0.9.0

#4369 #4350 [Manager] Cannot fetch manager info from API in container
  bin/start-service.sh
  docker/manager.dockerfile
Labels: others, v0.10.0

#4367 #4363 update kafka from 2.4.0 to 2.4.1
  docker/broker.dockerfile
  docker/build.yml
  docker/configurator.dockerfile
  docker/worker.dockerfile
  gradle/dependencies.gradle
Labels: others, v0.10.0

#4370 #3019 change 0.9.0-SNAPSHOT to 0.9.0 for 0.9.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
Labels: others, v0.9.0

#4374 #4372 replace gradle-5.6.4-bin.zip by gradle-5.6.4-all.zip to include…
  gradle/wrapper/gradle-wrapper.properties
Labels: others, v0.9.0

#4373 #4372 replace gradle-5.6.4-bin.zip by gradle-5.6.4-all.zip to include…
  gradle/wrapper/gradle-wrapper.properties
Labels: v0.10.0

#4376 #4342 remove duplicated Typescript library in client
  ohara-manager/client/package.json
  ohara-manager/client/src/api/apiInterface/clusterInterface.ts
  ohara-manager/client/tsconfig.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.10.0

#4380 #4378 TestWithDefinitions does not extend OharaTest
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestWithDefinitions.java
  ohara-it/src/test/scala/oharastream/ohara/it/code/TestTestCases.scala
Labels: common, it, v0.9.0

#4381 #4378 TestWithDefinitions does not extend OharaTest
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestWithDefinitions.java
  ohara-it/src/test/scala/oharastream/ohara/it/code/TestTestCases.scala
Labels: common, it, v0.10.0

#4379 #4377 Substitute com.jfrog.bintray for com.novoda:bintray-release
  build.gradle
  docs/src/how_to_build.rst
Labels: docs, others, v0.9.0

#4385 #4377 Substitute com.jfrog.bintray for com.novoda:bintray-release
  build.gradle
  docs/src/how_to_build.rst
Labels: docs, others, v0.10.0

#4387 #3019 change "branch" to 0.9.0 for gradle.properties
  gradle.properties
Labels: others, v0.9.0

#4389 #4388 Display version and branch in the footer of document
  docs/src/conf.py
Labels: docs, v0.9.0

#4390 #4388 Display version and branch in the footer of document
  docs/src/conf.py
Labels: docs, v0.10.0

#4394 #4391 Fix cypress is not able to be downloaded issue
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.9.0

#4392 #4391 Fix cypress is not able to be downloaded issue
  ohara-manager/client/package.json
  ohara-manager/client/yarn.lock
Labels: manager, v0.10.0

#4399 #4384 [Manager] Introduce Redux-Form instead of Final-Form
  ohara-manager/client/package.json
  ohara-manager/client/src/store/reducers/index.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.10.0

#4402 #3019 change "branch" to 0.9.x for build.yml
  docker/build.yml
Labels: others, v0.9.0

#4411 #4406 Added fileNameCacheSize parameter for the performance test
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/PerformanceTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4FtpSource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/TestPerformance4SambaSource.scala
Labels: it, v0.10.0

#4413 #4404 The version file is not existent from ohara-manager.tar
  bin/ohara.sh
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  ohara-common/build.gradle
  ohara-connector/build.gradle
  ohara-manager/build.gradle
Labels: common, connector, manager, others, v0.10.0

#4408 #4404 The version file is not existent from ohara-manager.tar
  bin/ohara.sh
  docker/configurator.dockerfile
  docker/manager.dockerfile
  docker/stream.dockerfile
  docker/worker.dockerfile
  ohara-common/build.gradle
  ohara-connector/build.gradle
  ohara-manager/build.gradle
Labels: common, connector, manager, others, v0.9.0

#4418 #4386 change 0.9.0 to 0.9.1-SNAPSHOT for 0.9.x branch
  docker/backend.yml
  docker/build.yml
  gradle.properties
Labels: others, v0.9.1

#4420 #4419 [Manager] Introduce react-redux instead of redux-react-hook
  ohara-manager/client/package.json
  ohara-manager/client/src/components/Autofill/AutofillEditor.js
  ohara-manager/client/src/components/Autofill/AutofillList.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspace.js
  ohara-manager/client/src/context/StoreContext.js
  ohara-manager/client/src/context/app/AppContext.js
  ohara-manager/client/src/hooks/appHooks.js
  ohara-manager/client/src/hooks/brokerHooks.js
  ohara-manager/client/src/hooks/createWorkspaceHooks.js
  ohara-manager/client/src/hooks/introHooks.js
  ohara-manager/client/src/hooks/pipelineHooks.js
  ohara-manager/client/src/hooks/workerHooks.js
  ohara-manager/client/src/hooks/workspaceHooks.js
  ohara-manager/client/src/hooks/zookeeperHooks.js
  ohara-manager/client/yarn.lock
Labels: manager, v0.10.0

#4423 #4417 Shabondi image ought to show the ohara version by entering command "-v"
  bin/start-service.sh
  docker/shabondi.dockerfile
  docker/shabondi.sh
Labels: others, v0.10.0

#4426 #4425 add IT to confirm that all ohara images support "-v"
  ohara-agent/src/main/scala/oharastream/ohara/agent/container/ContainerClient.scala
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
Labels: agent, it, v0.10.0

#4432 #4431 [GRADLE] test task should NOT depend on source jar and doc jar
  build.gradle
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-it/build.gradle
  ohara-it/src/test/scala/oharastream/ohara/it/code/TestTestCases.scala
  ohara-kafka/build.gradle
  ohara-metrics/build.gradle
  ohara-shabondi/build.gradle
  ohara-stream/build.gradle
Labels: agent, client, configurator, connector, it, kafka, metrics, others, shabondi, stream, v0.10.0

#4433 #4431 [GRADLE] test task should NOT depend on source jar and doc jar
  build.gradle
  ohara-agent/build.gradle
  ohara-client/build.gradle
  ohara-configurator/build.gradle
  ohara-connector/build.gradle
  ohara-it/build.gradle
  ohara-it/src/test/scala/oharastream/ohara/it/code/TestTestCases.scala
  ohara-kafka/build.gradle
  ohara-metrics/build.gradle
  ohara-shabondi/build.gradle
  ohara-stream/build.gradle
Labels: agent, client, configurator, connector, it, kafka, metrics, others, shabondi, stream, v0.9.1

#4437 #4342 Use enum with static functions to refine the project
  ohara-manager/client/src/api/apiInterface/definitionInterface.ts
  ohara-manager/client/src/api/utils/definitionsUtils.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyDialog/PipelinePropertyDialog.js
  ohara-manager/client/src/components/Pipeline/PipelinePropertyView/PipelinePropertyView.js
  ohara-manager/client/src/components/common/Definitions/RenderDefinition.js
Labels: manager, v0.10.0

#4444 #4443 [GRADLE] the command build should invoke compile task for test …
  build.gradle
Labels: others, v0.10.0

#4445 #4443 [GRADLE] the command build should invoke compile task for test…
  build.gradle
Labels: others, v0.9.1

#4446 #4425 TestVersionFile should check the format instead of revision
  ohara-it/src/test/scala/oharastream/ohara/it/script/TestVersionFile.scala
Labels: it, v0.10.0

#4371 #4329 Added K8S mode for the performance test
  ohara-it/src/test/scala/oharastream/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteWorkers.scala
Labels: it, v0.10.0

#4447 #4435 remove unused tools in backend image
  docker/backend.dockerfile
Labels: others, v0.10.0

#4448 #4429 [STREAM] Rename "className" to "stream.class"
  docs/src/rest/rest-stream.rst
  ohara-stream/src/main/java/oharastream/ohara/stream/config/StreamDefUtils.java
Labels: docs, stream, v0.10.0

#4449 #4441 the acceptable characters for group and name should be number, lowercase alphanumeric characters, or ‘.’
  docs/src/rest/rest-connectors.rst
  docs/src/rest/rest-files.rst
  docs/src/rest/rest-nodes.rst
  docs/src/rest/rest-objects.rst
  docs/src/rest/rest-pipelines.rst
  docs/src/rest/rest-stream.rst
  docs/src/rest/rest-topics.rst
  docs/src/rest/rest-workers.rst
  docs/src/rest/rest-zookeepers.rst
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/package.scala
  ohara-client/src/test/scala/oharastream/ohara/client/configurator/v0/TestJsonRefiner.scala
  ohara-common/src/main/java/oharastream/ohara/common/setting/SettingDef.java
  ohara-common/src/test/java/oharastream/ohara/common/setting/TestSettingDef.java
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestWorkerRoute.scala
  ohara-manager/client/yarn.lock
  ohara-manager/yarn.lock
Labels: client, common, configurator, docs, manager, v0.10.0

#4458 #4457 add exactly-once test for csv connector (ftp, smb and hdfs)
  ohara-connector/src/test/scala/oharastream/ohara/connector/CsvSourceTestBase.scala
Labels: connector, v0.10.0

#4451 #4438 Encapsulate Axios as observers that rxjs can use
  ohara-manager/client/src/AppProviders.js
  ohara-manager/client/src/components/Node/NodeDialog.js
  ohara-manager/client/src/components/Workspace/Edit/Settings/Nodes/NodeCard.js
  ohara-manager/client/src/context/api/ApiContext.js
  ohara-manager/client/src/context/api/nodeApi.js
  ohara-manager/client/src/context/index.js
  ohara-manager/client/src/context/node/NodeContext.js
  ohara-manager/client/src/context/node/nodeActions.js
  ohara-manager/client/src/context/node/nodeReducer.js
  ohara-manager/client/src/context/node/nodeRoutines.js
  ohara-manager/client/src/context/workspace/EditWorkspaceContext.js
  ohara-manager/client/src/hooks/nodeHooks.js
  ohara-manager/client/src/store/epics/nodeEpics.js
  ohara-manager/client/src/store/reducers/ui/node.js
Labels: manager, v0.10.0

#4464 #4463 [Manager] Fix flaky NodesField 'useNodeState' is not exported from 'context'
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
  ohara-manager/client/src/hooks/nodeHooks.js
  ohara-manager/client/src/store/reducers/ui/node.js
Labels: manager, v0.10.0

#4461 #4046 Add shabondi info into InspectApi
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/InspectApi.scala
  ohara-client/src/main/scala/oharastream/ohara/client/configurator/v0/ShabondiApi.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/InspectRoute.scala
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestInspectRoute.scala
  ohara-configurator/src/test/scala/oharastream/ohara/configurator/route/TestShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/source/SourceConfig.scala
  ohara-shabondi/src/test/scala/oharastream/ohara/shabondi/BasicShabondiTest.scala
Labels: client, configurator, shabondi, v0.10.0

#4466 #4465 [Manager] Fix the React warnings for createWorkspace
  ohara-manager/client/src/components/Workspace/Card/SelectCard.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/CreateWorkspaceForm.js
  ohara-manager/client/src/components/Workspace/CreateWorkspace/NodesField.js
Labels: manager, v0.10.0

#4454 #4439 Added junit parameter to run K8S and docker integration test
  ohara-it/src/test/scala/oharastream/ohara/it/EnvTestingUtils.scala
  ohara-it/src/test/scala/oharastream/ohara/it/WithRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/WithRemoteWorkers.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestConfiguratorServiceFromNodeApi.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestListNode.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestNodeOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestNodeOnK8S.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestNodeResource.scala
  ohara-it/src/test/scala/oharastream/ohara/it/client/TestQueryConfiguratorLog.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollieOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestCollieOnK8s.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestGetNodeWithRunningCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/collie/TestLoadCustomJarToWorkerCluster.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/BasicTestConnectorCollie.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleSourceConnectorOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestOracleSourceConnectorOnK8s.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgreSQLSourceConnectorOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgreSQLSourceConnectorOnK8s.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jdbc/TestPostgresqlJDBCSourceConnector.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIo.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/BasicIntegrationTestsOfJsonIoOnK8s.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonInOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonInOnK8s.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonOutOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/connector/jio/TestJsonOutOnK8s.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/BasicTestPerformance.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteConfigurator.scala
  ohara-it/src/test/scala/oharastream/ohara/it/performance/WithPerformanceRemoteWorkers.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStream.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStreamOnDocker.scala
  ohara-it/src/test/scala/oharastream/ohara/it/stream/TestStreamOnK8s.scala
Labels: it, v0.10.0

#4475 #4046 Shabondi minor refactor
  ohara-configurator/src/main/scala/oharastream/ohara/configurator/route/ShabondiRoute.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiDefinitions.scala
  ohara-shabondi/src/main/scala/oharastream/ohara/shabondi/ShabondiType.scala
Labels: configurator, shabondi, v0.10.0
